{
  "metadata": {
    "apiVersion": "v1",
    "endpointPrefix": "hatoba",
    "protocol": "rest-json",
    "serviceAbbreviation": "hatoba",
    "serviceFullName": "NIFCLOUD Kubernetes Service Hatoba",
    "serviceId": "hatoba",
    "signatureVersion": "v4",
    "uid": "hatoba-2019-03-27"
  },
  "operations": {
    "AuthorizeFirewallGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/v1/firewallGroups/{FirewallGroupName}/rules",
        "responseCode": 201
      },
      "input": {
        "shape": "AuthorizeFirewallGroupRequest"
      },
      "name": "AuthorizeFirewallGroup",
      "output": {
        "shape": "AuthorizeFirewallGroupResult"
      }
    },
    "CreateCluster": {
      "http": {
        "method": "POST",
        "requestUri": "/v1/clusters",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateClusterRequest"
      },
      "name": "CreateCluster",
      "output": {
        "shape": "CreateClusterResult"
      }
    },
    "CreateFirewallGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/v1/firewallGroups",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateFirewallGroupRequest"
      },
      "name": "CreateFirewallGroup",
      "output": {
        "shape": "CreateFirewallGroupResult"
      }
    },
    "CreateNodePool": {
      "http": {
        "method": "POST",
        "requestUri": "/v1/clusters/{ClusterName}/nodePools",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateNodePoolRequest"
      },
      "name": "CreateNodePool",
      "output": {
        "shape": "CreateNodePoolResult"
      }
    },
    "CreateSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/v1/snapshots",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSnapshotRequest"
      },
      "name": "CreateSnapshot",
      "output": {
        "shape": "CreateSnapshotResult"
      }
    },
    "DeleteCluster": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/clusters/{ClusterName}"
      },
      "input": {
        "shape": "DeleteClusterRequest"
      },
      "name": "DeleteCluster",
      "output": {
        "shape": "DeleteClusterResult"
      }
    },
    "DeleteClusters": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/clusters"
      },
      "input": {
        "shape": "DeleteClustersRequest"
      },
      "name": "DeleteClusters",
      "output": {
        "shape": "DeleteClustersResult"
      }
    },
    "DeleteFirewallGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/firewallGroups/{FirewallGroupName}"
      },
      "input": {
        "shape": "DeleteFirewallGroupRequest"
      },
      "name": "DeleteFirewallGroup",
      "output": {
        "shape": "DeleteFirewallGroupResult"
      }
    },
    "DeleteFirewallGroups": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/firewallGroups"
      },
      "input": {
        "shape": "DeleteFirewallGroupsRequest"
      },
      "name": "DeleteFirewallGroups",
      "output": {
        "shape": "DeleteFirewallGroupsResult"
      }
    },
    "DeleteNodePool": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/clusters/{ClusterName}/nodePools/{NodePoolName}"
      },
      "input": {
        "shape": "DeleteNodePoolRequest"
      },
      "name": "DeleteNodePool",
      "output": {
        "shape": "DeleteNodePoolResult"
      }
    },
    "DeleteNodePools": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/clusters/{ClusterName}/nodePools"
      },
      "input": {
        "shape": "DeleteNodePoolsRequest"
      },
      "name": "DeleteNodePools",
      "output": {
        "shape": "DeleteNodePoolsResult"
      }
    },
    "DeleteSnapshot": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/snapshots/{SnapshotName}"
      },
      "input": {
        "shape": "DeleteSnapshotRequest"
      },
      "name": "DeleteSnapshot",
      "output": {
        "shape": "DeleteSnapshotResult"
      }
    },
    "DeleteSnapshots": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/snapshots"
      },
      "input": {
        "shape": "DeleteSnapshotsRequest"
      },
      "name": "DeleteSnapshots",
      "output": {
        "shape": "DeleteSnapshotsResult"
      }
    },
    "GetCluster": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{ClusterName}"
      },
      "input": {
        "shape": "GetClusterRequest"
      },
      "name": "GetCluster",
      "output": {
        "shape": "GetClusterResult"
      }
    },
    "GetClusterCredentials": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{ClusterName}/credentials"
      },
      "input": {
        "shape": "GetClusterCredentialsRequest"
      },
      "name": "GetClusterCredentials",
      "output": {
        "shape": "GetClusterCredentialsResult"
      }
    },
    "GetFirewallGroup": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/firewallGroups/{FirewallGroupName}"
      },
      "input": {
        "shape": "GetFirewallGroupRequest"
      },
      "name": "GetFirewallGroup",
      "output": {
        "shape": "GetFirewallGroupResult"
      }
    },
    "GetLoadBalancer": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/loadBalancers/{LoadBalancerName}"
      },
      "input": {
        "shape": "GetLoadBalancerRequest"
      },
      "name": "GetLoadBalancer",
      "output": {
        "shape": "GetLoadBalancerResult"
      }
    },
    "GetNodePool": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{ClusterName}/nodePools/{NodePoolName}"
      },
      "input": {
        "shape": "GetNodePoolRequest"
      },
      "name": "GetNodePool",
      "output": {
        "shape": "GetNodePoolResult"
      }
    },
    "GetServerConfig": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/serverConfig"
      },
      "input": {
        "shape": "GetServerConfigRequest"
      },
      "name": "GetServerConfig",
      "output": {
        "shape": "GetServerConfigResult"
      }
    },
    "GetSnapshot": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/snapshots/{SnapshotName}"
      },
      "input": {
        "shape": "GetSnapshotRequest"
      },
      "name": "GetSnapshot",
      "output": {
        "shape": "GetSnapshotResult"
      }
    },
    "ListClusters": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters"
      },
      "input": {
        "shape": "ListClustersRequest"
      },
      "name": "ListClusters",
      "output": {
        "shape": "ListClustersResult"
      }
    },
    "ListFirewallGroups": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/firewallGroups"
      },
      "input": {
        "shape": "ListFirewallGroupsRequest"
      },
      "name": "ListFirewallGroups",
      "output": {
        "shape": "ListFirewallGroupsResult"
      }
    },
    "ListLoadBalancers": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/loadBalancers"
      },
      "input": {
        "shape": "ListLoadBalancersRequest"
      },
      "name": "ListLoadBalancers",
      "output": {
        "shape": "ListLoadBalancersResult"
      }
    },
    "ListNodePools": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{ClusterName}/nodePools"
      },
      "input": {
        "shape": "ListNodePoolsRequest"
      },
      "name": "ListNodePools",
      "output": {
        "shape": "ListNodePoolsResult"
      }
    },
    "ListSnapshots": {
      "http": {
        "method": "GET",
        "requestUri": "/v1/snapshots"
      },
      "input": {
        "shape": "ListSnapshotsRequest"
      },
      "name": "ListSnapshots",
      "output": {
        "shape": "ListSnapshotsResult"
      }
    },
    "RestoreClusterFromSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/v1/snapshots/{SnapshotName}:restore",
        "responseCode": 201
      },
      "input": {
        "shape": "RestoreClusterFromSnapshotRequest"
      },
      "name": "RestoreClusterFromSnapshot",
      "output": {
        "shape": "RestoreClusterFromSnapshotResult"
      }
    },
    "RevokeFirewallGroup": {
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/firewallGroups/{FirewallGroupName}/rules"
      },
      "input": {
        "shape": "RevokeFirewallGroupRequest"
      },
      "name": "RevokeFirewallGroup",
      "output": {
        "shape": "RevokeFirewallGroupResult"
      }
    },
    "SetNodePoolSize": {
      "http": {
        "method": "POST",
        "requestUri": "/v1/clusters/{ClusterName}/nodePools/{NodePoolName}:setSize",
        "responseCode": 201
      },
      "input": {
        "shape": "SetNodePoolSizeRequest"
      },
      "name": "SetNodePoolSize",
      "output": {
        "shape": "SetNodePoolSizeResult"
      }
    },
    "UpdateCluster": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{ClusterName}"
      },
      "input": {
        "shape": "UpdateClusterRequest"
      },
      "name": "UpdateCluster",
      "output": {
        "shape": "UpdateClusterResult"
      }
    },
    "UpdateFirewallGroup": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/firewallGroups/{FirewallGroupName}"
      },
      "input": {
        "shape": "UpdateFirewallGroupRequest"
      },
      "name": "UpdateFirewallGroup",
      "output": {
        "shape": "UpdateFirewallGroupResult"
      }
    },
    "UpdateSnapshot": {
      "http": {
        "method": "PUT",
        "requestUri": "/v1/snapshots/{SnapshotName}"
      },
      "input": {
        "shape": "UpdateSnapshotRequest"
      },
      "name": "UpdateSnapshot",
      "output": {
        "shape": "UpdateSnapshotResult"
      }
    }
  },
  "shapes": {
    "AddonsConfig": {
      "members": {
        "HttpLoadBalancing": {
          "locationName": "httpLoadBalancing",
          "shape": "HttpLoadBalancing"
        }
      },
      "name": "AddonsConfig",
      "type": "structure"
    },
    "AuthorizeFirewallGroupRequest": {
      "members": {
        "FirewallGroupName": {
          "location": "uri",
          "locationName": "FirewallGroupName",
          "shape": "String"
        },
        "Rules": {
          "locationName": "rules",
          "shape": "ListOfRequestRules"
        }
      },
      "name": "AuthorizeFirewallGroupRequest",
      "required": [
        "FirewallGroupName",
        "Rules"
      ],
      "type": "structure"
    },
    "AuthorizeFirewallGroupResult": {
      "members": {
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "FirewallGroup"
        }
      },
      "name": "AuthorizeFirewallGroupResult",
      "type": "structure"
    },
    "Boolean": {
      "name": "Boolean",
      "type": "boolean"
    },
    "Cluster": {
      "members": {
        "AddonsConfig": {
          "locationName": "addonsConfig",
          "shape": "AddonsConfig"
        },
        "CreateTime": {
          "locationName": "createTime",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "String"
        },
        "InitialKubernetesVersion": {
          "locationName": "initialKubernetesVersion",
          "shape": "String"
        },
        "InitialNodeCount": {
          "locationName": "initialNodeCount",
          "shape": "Integer"
        },
        "KubernetesVersion": {
          "locationName": "kubernetesVersion",
          "shape": "String"
        },
        "Locations": {
          "locationName": "locations",
          "shape": "ListOfLocations"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NetworkConfig": {
          "locationName": "networkConfig",
          "shape": "NetworkConfig"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        },
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePools"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "Cluster",
      "type": "structure"
    },
    "ClusterOfCreateSnapshot": {
      "members": {
        "KubernetesVersion": {
          "locationName": "kubernetesVersion",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePoolsOfCreateSnapshot"
        }
      },
      "name": "ClusterOfCreateSnapshot",
      "type": "structure"
    },
    "ClusterOfDeleteSnapshot": {
      "members": {
        "KubernetesVersion": {
          "locationName": "kubernetesVersion",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePoolsOfDeleteSnapshot"
        }
      },
      "name": "ClusterOfDeleteSnapshot",
      "type": "structure"
    },
    "ClusterOfDeleteSnapshots": {
      "members": {
        "KubernetesVersion": {
          "locationName": "kubernetesVersion",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePoolsOfDeleteSnapshots"
        }
      },
      "name": "ClusterOfDeleteSnapshots",
      "type": "structure"
    },
    "ClusterOfGetSnapshot": {
      "members": {
        "KubernetesVersion": {
          "locationName": "kubernetesVersion",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePoolsOfGetSnapshot"
        }
      },
      "name": "ClusterOfGetSnapshot",
      "type": "structure"
    },
    "ClusterOfListSnapshots": {
      "members": {
        "KubernetesVersion": {
          "locationName": "kubernetesVersion",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePoolsOfListSnapshots"
        }
      },
      "name": "ClusterOfListSnapshots",
      "type": "structure"
    },
    "ClusterOfUpdateSnapshot": {
      "members": {
        "KubernetesVersion": {
          "locationName": "kubernetesVersion",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePoolsOfUpdateSnapshot"
        }
      },
      "name": "ClusterOfUpdateSnapshot",
      "type": "structure"
    },
    "Clusters": {
      "members": {
        "AddonsConfig": {
          "locationName": "addonsConfig",
          "shape": "AddonsConfig"
        },
        "CreateTime": {
          "locationName": "createTime",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "String"
        },
        "InitialKubernetesVersion": {
          "locationName": "initialKubernetesVersion",
          "shape": "String"
        },
        "InitialNodeCount": {
          "locationName": "initialNodeCount",
          "shape": "Integer"
        },
        "KubernetesVersion": {
          "locationName": "kubernetesVersion",
          "shape": "String"
        },
        "Locations": {
          "locationName": "locations",
          "shape": "ListOfLocations"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NetworkConfig": {
          "locationName": "networkConfig",
          "shape": "NetworkConfig"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        },
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePools"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "Clusters",
      "type": "structure"
    },
    "ClustersOfGetLoadBalancer": {
      "members": {
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePoolsOfGetLoadBalancer"
        }
      },
      "name": "ClustersOfGetLoadBalancer",
      "type": "structure"
    },
    "ClustersOfListLoadBalancers": {
      "members": {
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePoolsOfListLoadBalancers"
        }
      },
      "name": "ClustersOfListLoadBalancers",
      "type": "structure"
    },
    "CreateClusterRequest": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "RequestCluster"
        }
      },
      "name": "CreateClusterRequest",
      "required": [
        "Cluster"
      ],
      "type": "structure"
    },
    "CreateClusterResult": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "Cluster"
        }
      },
      "name": "CreateClusterResult",
      "type": "structure"
    },
    "CreateFirewallGroupRequest": {
      "members": {
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "RequestFirewallGroup"
        }
      },
      "name": "CreateFirewallGroupRequest",
      "required": [
        "FirewallGroup"
      ],
      "type": "structure"
    },
    "CreateFirewallGroupResult": {
      "members": {
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "FirewallGroup"
        }
      },
      "name": "CreateFirewallGroupResult",
      "type": "structure"
    },
    "CreateNodePoolRequest": {
      "members": {
        "ClusterName": {
          "location": "uri",
          "locationName": "ClusterName",
          "shape": "String"
        },
        "NodePool": {
          "locationName": "nodePool",
          "shape": "RequestNodePool"
        }
      },
      "name": "CreateNodePoolRequest",
      "required": [
        "ClusterName",
        "NodePool"
      ],
      "type": "structure"
    },
    "CreateNodePoolResult": {
      "members": {
        "NodePool": {
          "locationName": "nodePool",
          "shape": "NodePool"
        }
      },
      "name": "CreateNodePoolResult",
      "type": "structure"
    },
    "CreateSnapshotRequest": {
      "members": {
        "Snapshot": {
          "locationName": "snapshot",
          "shape": "RequestSnapshot"
        }
      },
      "name": "CreateSnapshotRequest",
      "required": [
        "Snapshot"
      ],
      "type": "structure"
    },
    "CreateSnapshotResult": {
      "members": {
        "Snapshot": {
          "locationName": "snapshot",
          "shape": "SnapshotOfCreateSnapshot"
        }
      },
      "name": "CreateSnapshotResult",
      "type": "structure"
    },
    "DeleteClusterRequest": {
      "members": {
        "ClusterName": {
          "location": "uri",
          "locationName": "ClusterName",
          "shape": "String"
        }
      },
      "name": "DeleteClusterRequest",
      "required": [
        "ClusterName"
      ],
      "type": "structure"
    },
    "DeleteClusterResult": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "Cluster"
        }
      },
      "name": "DeleteClusterResult",
      "type": "structure"
    },
    "DeleteClustersRequest": {
      "members": {
        "Names": {
          "location": "querystring",
          "locationName": "names",
          "shape": "String"
        }
      },
      "name": "DeleteClustersRequest",
      "required": [
        "Names"
      ],
      "type": "structure"
    },
    "DeleteClustersResult": {
      "members": {
        "Clusters": {
          "locationName": "clusters",
          "shape": "ListOfClusters"
        }
      },
      "name": "DeleteClustersResult",
      "type": "structure"
    },
    "DeleteFirewallGroupRequest": {
      "members": {
        "FirewallGroupName": {
          "location": "uri",
          "locationName": "FirewallGroupName",
          "shape": "String"
        }
      },
      "name": "DeleteFirewallGroupRequest",
      "required": [
        "FirewallGroupName"
      ],
      "type": "structure"
    },
    "DeleteFirewallGroupResult": {
      "members": {
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "FirewallGroup"
        }
      },
      "name": "DeleteFirewallGroupResult",
      "type": "structure"
    },
    "DeleteFirewallGroupsRequest": {
      "members": {
        "Names": {
          "location": "querystring",
          "locationName": "names",
          "shape": "String"
        }
      },
      "name": "DeleteFirewallGroupsRequest",
      "type": "structure"
    },
    "DeleteFirewallGroupsResult": {
      "members": {
        "FirewallGroups": {
          "locationName": "firewallGroups",
          "shape": "ListOfFirewallGroups"
        }
      },
      "name": "DeleteFirewallGroupsResult",
      "type": "structure"
    },
    "DeleteNodePoolRequest": {
      "members": {
        "ClusterName": {
          "location": "uri",
          "locationName": "ClusterName",
          "shape": "String"
        },
        "NodePoolName": {
          "location": "uri",
          "locationName": "NodePoolName",
          "shape": "String"
        }
      },
      "name": "DeleteNodePoolRequest",
      "required": [
        "ClusterName",
        "NodePoolName"
      ],
      "type": "structure"
    },
    "DeleteNodePoolResult": {
      "members": {
        "NodePool": {
          "locationName": "nodePool",
          "shape": "NodePool"
        }
      },
      "name": "DeleteNodePoolResult",
      "type": "structure"
    },
    "DeleteNodePoolsRequest": {
      "members": {
        "ClusterName": {
          "location": "uri",
          "locationName": "ClusterName",
          "shape": "String"
        },
        "Names": {
          "location": "querystring",
          "locationName": "names",
          "shape": "String"
        }
      },
      "name": "DeleteNodePoolsRequest",
      "required": [
        "ClusterName",
        "Names"
      ],
      "type": "structure"
    },
    "DeleteNodePoolsResult": {
      "members": {
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePools"
        }
      },
      "name": "DeleteNodePoolsResult",
      "type": "structure"
    },
    "DeleteSnapshotRequest": {
      "members": {
        "SnapshotName": {
          "location": "uri",
          "locationName": "SnapshotName",
          "shape": "String"
        }
      },
      "name": "DeleteSnapshotRequest",
      "required": [
        "SnapshotName"
      ],
      "type": "structure"
    },
    "DeleteSnapshotResult": {
      "members": {
        "Snapshot": {
          "locationName": "snapshot",
          "shape": "SnapshotOfDeleteSnapshot"
        }
      },
      "name": "DeleteSnapshotResult",
      "type": "structure"
    },
    "DeleteSnapshotsRequest": {
      "members": {
        "Names": {
          "location": "querystring",
          "locationName": "names",
          "shape": "String"
        }
      },
      "name": "DeleteSnapshotsRequest",
      "type": "structure"
    },
    "DeleteSnapshotsResult": {
      "members": {
        "Snapshots": {
          "locationName": "snapshots",
          "shape": "ListOfSnapshotsOfDeleteSnapshots"
        }
      },
      "name": "DeleteSnapshotsResult",
      "type": "structure"
    },
    "DirectionOfrulesForAuthorizeFirewallGroup": {
      "enum": [
        "IN",
        "OUT"
      ],
      "name": "DirectionOfrulesForAuthorizeFirewallGroup",
      "type": "string"
    },
    "Double": {
      "name": "Double",
      "type": "double"
    },
    "Filter": {
      "members": {
        "FilterType": {
          "locationName": "filterType",
          "shape": "String"
        },
        "IpAddresses": {
          "locationName": "ipAddresses",
          "shape": "String"
        }
      },
      "name": "Filter",
      "type": "structure"
    },
    "FirewallGroup": {
      "members": {
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "Rules": {
          "locationName": "rules",
          "shape": "ListOfRules"
        }
      },
      "name": "FirewallGroup",
      "type": "structure"
    },
    "FirewallGroups": {
      "members": {
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "Rules": {
          "locationName": "rules",
          "shape": "ListOfRules"
        }
      },
      "name": "FirewallGroups",
      "type": "structure"
    },
    "GetClusterCredentialsRequest": {
      "members": {
        "ClusterName": {
          "location": "uri",
          "locationName": "ClusterName",
          "shape": "String"
        }
      },
      "name": "GetClusterCredentialsRequest",
      "required": [
        "ClusterName"
      ],
      "type": "structure"
    },
    "GetClusterCredentialsResult": {
      "members": {
        "Credentials": {
          "locationName": "credentials",
          "shape": "String"
        }
      },
      "name": "GetClusterCredentialsResult",
      "type": "structure"
    },
    "GetClusterRequest": {
      "members": {
        "ClusterName": {
          "location": "uri",
          "locationName": "ClusterName",
          "shape": "String"
        }
      },
      "name": "GetClusterRequest",
      "required": [
        "ClusterName"
      ],
      "type": "structure"
    },
    "GetClusterResult": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "Cluster"
        }
      },
      "name": "GetClusterResult",
      "type": "structure"
    },
    "GetFirewallGroupRequest": {
      "members": {
        "FirewallGroupName": {
          "location": "uri",
          "locationName": "FirewallGroupName",
          "shape": "String"
        }
      },
      "name": "GetFirewallGroupRequest",
      "required": [
        "FirewallGroupName"
      ],
      "type": "structure"
    },
    "GetFirewallGroupResult": {
      "members": {
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "FirewallGroup"
        }
      },
      "name": "GetFirewallGroupResult",
      "type": "structure"
    },
    "GetLoadBalancerRequest": {
      "members": {
        "InstancePort": {
          "location": "querystring",
          "locationName": "instancePort",
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "location": "uri",
          "locationName": "LoadBalancerName",
          "shape": "String"
        },
        "LoadBalancerPort": {
          "location": "querystring",
          "locationName": "loadBalancerPort",
          "shape": "Integer"
        }
      },
      "name": "GetLoadBalancerRequest",
      "required": [
        "InstancePort",
        "LoadBalancerName",
        "LoadBalancerPort"
      ],
      "type": "structure"
    },
    "GetLoadBalancerResult": {
      "members": {
        "LoadBalancers": {
          "locationName": "loadBalancers",
          "shape": "LoadBalancers"
        }
      },
      "name": "GetLoadBalancerResult",
      "type": "structure"
    },
    "GetNodePoolRequest": {
      "members": {
        "ClusterName": {
          "location": "uri",
          "locationName": "ClusterName",
          "shape": "String"
        },
        "NodePoolName": {
          "location": "uri",
          "locationName": "NodePoolName",
          "shape": "String"
        }
      },
      "name": "GetNodePoolRequest",
      "required": [
        "ClusterName",
        "NodePoolName"
      ],
      "type": "structure"
    },
    "GetNodePoolResult": {
      "members": {
        "NodePool": {
          "locationName": "nodePool",
          "shape": "NodePool"
        }
      },
      "name": "GetNodePoolResult",
      "type": "structure"
    },
    "GetServerConfigRequest": {
      "members": {},
      "name": "GetServerConfigRequest",
      "type": "structure"
    },
    "GetServerConfigResult": {
      "members": {
        "ServerConfig": {
          "locationName": "serverConfig",
          "shape": "ServerConfig"
        }
      },
      "name": "GetServerConfigResult",
      "type": "structure"
    },
    "GetSnapshotRequest": {
      "members": {
        "SnapshotName": {
          "location": "uri",
          "locationName": "SnapshotName",
          "shape": "String"
        }
      },
      "name": "GetSnapshotRequest",
      "required": [
        "SnapshotName"
      ],
      "type": "structure"
    },
    "GetSnapshotResult": {
      "members": {
        "Snapshot": {
          "locationName": "snapshot",
          "shape": "Snapshot"
        }
      },
      "name": "GetSnapshotResult",
      "type": "structure"
    },
    "HealthCheck": {
      "members": {
        "HealthyThreshold": {
          "locationName": "healthyThreshold",
          "shape": "Integer"
        },
        "Interval": {
          "locationName": "interval",
          "shape": "Integer"
        },
        "Target": {
          "locationName": "target",
          "shape": "String"
        },
        "Timeout": {
          "locationName": "timeout",
          "shape": "Integer"
        },
        "UnhealthyThreshold": {
          "locationName": "unhealthyThreshold",
          "shape": "Integer"
        }
      },
      "name": "HealthCheck",
      "type": "structure"
    },
    "HttpLoadBalancing": {
      "members": {
        "Disabled": {
          "locationName": "disabled",
          "shape": "Boolean"
        }
      },
      "name": "HttpLoadBalancing",
      "type": "structure"
    },
    "InstanceTypeOfclusterForCreateCluster": {
      "enum": [
        "c-medium",
        "e-medium",
        "medium",
        "c-medium4",
        "e-medium4",
        "medium4",
        "c-medium8",
        "e-medium8",
        "medium8",
        "e-medium16",
        "medium16",
        "e-medium24",
        "medium24",
        "c-large",
        "e-large",
        "large",
        "c-large8",
        "e-large8",
        "large8",
        "e-large16",
        "large16",
        "e-large24",
        "large24",
        "e-large32",
        "large32",
        "e-extra-large8",
        "extra-large8",
        "e-extra-large16",
        "extra-large16",
        "e-extra-large24",
        "extra-large24",
        "e-extra-large32",
        "extra-large32",
        "e-extra-large48",
        "extra-large48",
        "e-double-large16",
        "double-large16",
        "e-double-large24",
        "double-large24",
        "e-double-large32",
        "double-large32",
        "e-double-large48",
        "double-large48",
        "e-double-large64",
        "double-large64",
        "e-double-large96",
        "double-large96"
      ],
      "name": "InstanceTypeOfclusterForCreateCluster",
      "type": "string"
    },
    "InstanceTypeOfnodePoolForCreateNodePool": {
      "enum": [
        "c-medium",
        "e-medium",
        "medium",
        "c-medium4",
        "e-medium4",
        "medium4",
        "c-medium8",
        "e-medium8",
        "medium8",
        "e-medium16",
        "medium16",
        "e-medium24",
        "medium24",
        "c-large",
        "e-large",
        "large",
        "c-large8",
        "e-large8",
        "large8",
        "e-large16",
        "large16",
        "e-large24",
        "large24",
        "e-large32",
        "large32",
        "e-extra-large8",
        "extra-large8",
        "e-extra-large16",
        "extra-large16",
        "e-extra-large24",
        "extra-large24",
        "e-extra-large32",
        "extra-large32",
        "e-extra-large48",
        "extra-large48",
        "e-double-large16",
        "double-large16",
        "e-double-large24",
        "double-large24",
        "e-double-large32",
        "double-large32",
        "e-double-large48",
        "double-large48",
        "e-double-large64",
        "double-large64",
        "e-double-large96",
        "double-large96"
      ],
      "name": "InstanceTypeOfnodePoolForCreateNodePool",
      "type": "string"
    },
    "Integer": {
      "name": "Integer",
      "type": "integer"
    },
    "KubernetesVersionOfclusterForCreateCluster": {
      "enum": [
        "v1.19.6",
        "v1.19.11",
        "v1.19.15",
        "v1.20.1",
        "v1.20.7",
        "v1.20.11",
        "v1.21.1",
        "v1.21.5",
        "v1.22.2"
      ],
      "name": "KubernetesVersionOfclusterForCreateCluster",
      "type": "string"
    },
    "KubernetesVersionOfclusterForUpdateCluster": {
      "enum": [
        "v1.19.6",
        "v1.19.11",
        "v1.19.15",
        "v1.20.1",
        "v1.20.7",
        "v1.20.11",
        "v1.21.1",
        "v1.21.5",
        "v1.22.2"
      ],
      "name": "KubernetesVersionOfclusterForUpdateCluster",
      "type": "string"
    },
    "ListClustersRequest": {
      "members": {},
      "name": "ListClustersRequest",
      "type": "structure"
    },
    "ListClustersResult": {
      "members": {
        "Clusters": {
          "locationName": "clusters",
          "shape": "ListOfClusters"
        }
      },
      "name": "ListClustersResult",
      "type": "structure"
    },
    "ListFirewallGroupsRequest": {
      "members": {},
      "name": "ListFirewallGroupsRequest",
      "type": "structure"
    },
    "ListFirewallGroupsResult": {
      "members": {
        "FirewallGroups": {
          "locationName": "firewallGroups",
          "shape": "ListOfFirewallGroups"
        }
      },
      "name": "ListFirewallGroupsResult",
      "type": "structure"
    },
    "ListLoadBalancersRequest": {
      "members": {},
      "name": "ListLoadBalancersRequest",
      "type": "structure"
    },
    "ListLoadBalancersResult": {
      "members": {
        "LoadBalancers": {
          "locationName": "loadBalancers",
          "shape": "ListOfLoadBalancersOfListLoadBalancers"
        }
      },
      "name": "ListLoadBalancersResult",
      "type": "structure"
    },
    "ListNodePoolsRequest": {
      "members": {
        "ClusterName": {
          "location": "uri",
          "locationName": "ClusterName",
          "shape": "String"
        }
      },
      "name": "ListNodePoolsRequest",
      "required": [
        "ClusterName"
      ],
      "type": "structure"
    },
    "ListNodePoolsResult": {
      "members": {
        "NodePools": {
          "locationName": "nodePools",
          "shape": "ListOfNodePools"
        }
      },
      "name": "ListNodePoolsResult",
      "type": "structure"
    },
    "ListOfAvailabilityZones": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfAvailabilityZones",
      "type": "list"
    },
    "ListOfClusters": {
      "member": {
        "shape": "Clusters"
      },
      "name": "ListOfClusters",
      "type": "list"
    },
    "ListOfClustersOfGetLoadBalancer": {
      "member": {
        "shape": "ClustersOfGetLoadBalancer"
      },
      "name": "ListOfClustersOfGetLoadBalancer",
      "type": "list"
    },
    "ListOfClustersOfListLoadBalancers": {
      "member": {
        "shape": "ClustersOfListLoadBalancers"
      },
      "name": "ListOfClustersOfListLoadBalancers",
      "type": "list"
    },
    "ListOfFirewallGroups": {
      "member": {
        "shape": "FirewallGroups"
      },
      "name": "ListOfFirewallGroups",
      "type": "list"
    },
    "ListOfListenerDescriptions": {
      "member": {
        "shape": "ListenerDescriptions"
      },
      "name": "ListOfListenerDescriptions",
      "type": "list"
    },
    "ListOfLoadBalancersOfListLoadBalancers": {
      "member": {
        "shape": "LoadBalancersOfListLoadBalancers"
      },
      "name": "ListOfLoadBalancersOfListLoadBalancers",
      "type": "list"
    },
    "ListOfLocations": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfLocations",
      "type": "list"
    },
    "ListOfNodePools": {
      "member": {
        "shape": "NodePools"
      },
      "name": "ListOfNodePools",
      "type": "list"
    },
    "ListOfNodePoolsOfCreateSnapshot": {
      "member": {
        "shape": "NodePoolsOfCreateSnapshot"
      },
      "name": "ListOfNodePoolsOfCreateSnapshot",
      "type": "list"
    },
    "ListOfNodePoolsOfDeleteSnapshot": {
      "member": {
        "shape": "NodePoolsOfDeleteSnapshot"
      },
      "name": "ListOfNodePoolsOfDeleteSnapshot",
      "type": "list"
    },
    "ListOfNodePoolsOfDeleteSnapshots": {
      "member": {
        "shape": "NodePoolsOfDeleteSnapshots"
      },
      "name": "ListOfNodePoolsOfDeleteSnapshots",
      "type": "list"
    },
    "ListOfNodePoolsOfGetLoadBalancer": {
      "member": {
        "shape": "NodePoolsOfGetLoadBalancer"
      },
      "name": "ListOfNodePoolsOfGetLoadBalancer",
      "type": "list"
    },
    "ListOfNodePoolsOfGetSnapshot": {
      "member": {
        "shape": "NodePoolsOfGetSnapshot"
      },
      "name": "ListOfNodePoolsOfGetSnapshot",
      "type": "list"
    },
    "ListOfNodePoolsOfListLoadBalancers": {
      "member": {
        "shape": "NodePoolsOfListLoadBalancers"
      },
      "name": "ListOfNodePoolsOfListLoadBalancers",
      "type": "list"
    },
    "ListOfNodePoolsOfListSnapshots": {
      "member": {
        "shape": "NodePoolsOfListSnapshots"
      },
      "name": "ListOfNodePoolsOfListSnapshots",
      "type": "list"
    },
    "ListOfNodePoolsOfUpdateSnapshot": {
      "member": {
        "shape": "NodePoolsOfUpdateSnapshot"
      },
      "name": "ListOfNodePoolsOfUpdateSnapshot",
      "type": "list"
    },
    "ListOfNodes": {
      "member": {
        "shape": "Nodes"
      },
      "name": "ListOfNodes",
      "type": "list"
    },
    "ListOfNodesOfGetLoadBalancer": {
      "member": {
        "shape": "NodesOfGetLoadBalancer"
      },
      "name": "ListOfNodesOfGetLoadBalancer",
      "type": "list"
    },
    "ListOfNodesOfListLoadBalancers": {
      "member": {
        "shape": "NodesOfListLoadBalancers"
      },
      "name": "ListOfNodesOfListLoadBalancers",
      "type": "list"
    },
    "ListOfRequestLocations": {
      "member": {
        "shape": "String"
      },
      "name": "ListOfRequestLocations",
      "type": "list"
    },
    "ListOfRequestNodePools": {
      "member": {
        "shape": "RequestNodePools"
      },
      "name": "ListOfRequestNodePools",
      "type": "list"
    },
    "ListOfRequestRules": {
      "member": {
        "shape": "RequestRules"
      },
      "name": "ListOfRequestRules",
      "type": "list"
    },
    "ListOfRules": {
      "member": {
        "shape": "Rules"
      },
      "name": "ListOfRules",
      "type": "list"
    },
    "ListOfSnapshots": {
      "member": {
        "shape": "Snapshots"
      },
      "name": "ListOfSnapshots",
      "type": "list"
    },
    "ListOfSnapshotsOfDeleteSnapshots": {
      "member": {
        "shape": "SnapshotsOfDeleteSnapshots"
      },
      "name": "ListOfSnapshotsOfDeleteSnapshots",
      "type": "list"
    },
    "ListOfValidKubernetesVersions": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfValidKubernetesVersions",
      "type": "list"
    },
    "ListSnapshotsRequest": {
      "members": {},
      "name": "ListSnapshotsRequest",
      "type": "structure"
    },
    "ListSnapshotsResult": {
      "members": {
        "Snapshots": {
          "locationName": "snapshots",
          "shape": "ListOfSnapshots"
        }
      },
      "name": "ListSnapshotsResult",
      "type": "structure"
    },
    "Listener": {
      "members": {
        "BalancingType": {
          "locationName": "balancingType",
          "shape": "String"
        },
        "InstancePort": {
          "locationName": "instancePort",
          "shape": "String"
        },
        "LoadBalancerPort": {
          "locationName": "loadBalancerPort",
          "shape": "String"
        },
        "Protocol": {
          "locationName": "protocol",
          "shape": "String"
        },
        "SslCertificateId": {
          "locationName": "sslCertificateId",
          "shape": "String"
        }
      },
      "name": "Listener",
      "type": "structure"
    },
    "ListenerDescriptions": {
      "members": {
        "Listener": {
          "locationName": "listener",
          "shape": "Listener"
        }
      },
      "name": "ListenerDescriptions",
      "type": "structure"
    },
    "LoadBalancers": {
      "members": {
        "AccountingType": {
          "locationName": "accountingType",
          "shape": "Integer"
        },
        "AvailabilityZones": {
          "locationName": "availabilityZones",
          "shape": "ListOfAvailabilityZones"
        },
        "Clusters": {
          "locationName": "clusters",
          "shape": "ListOfClustersOfGetLoadBalancer"
        },
        "CreatedTime": {
          "locationName": "createdTime",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "DnsName": {
          "locationName": "dnsName",
          "shape": "String"
        },
        "Filter": {
          "locationName": "filter",
          "shape": "Filter"
        },
        "HealthCheck": {
          "locationName": "healthCheck",
          "shape": "HealthCheck"
        },
        "ListenerDescriptions": {
          "locationName": "listenerDescriptions",
          "shape": "ListOfListenerDescriptions"
        },
        "LoadBalancerName": {
          "locationName": "loadBalancerName",
          "shape": "String"
        },
        "NetworkVolume": {
          "locationName": "networkVolume",
          "shape": "String"
        },
        "NextMonthAccountingType": {
          "locationName": "nextMonthAccountingType",
          "shape": "Integer"
        },
        "Option": {
          "locationName": "option",
          "shape": "Option"
        },
        "PolicyType": {
          "locationName": "policyType",
          "shape": "String"
        }
      },
      "name": "LoadBalancers",
      "type": "structure"
    },
    "LoadBalancersOfListLoadBalancers": {
      "members": {
        "AccountingType": {
          "locationName": "accountingType",
          "shape": "Integer"
        },
        "AvailabilityZones": {
          "locationName": "availabilityZones",
          "shape": "ListOfAvailabilityZones"
        },
        "Clusters": {
          "locationName": "clusters",
          "shape": "ListOfClustersOfListLoadBalancers"
        },
        "CreatedTime": {
          "locationName": "createdTime",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "DnsName": {
          "locationName": "dnsName",
          "shape": "String"
        },
        "Filter": {
          "locationName": "filter",
          "shape": "Filter"
        },
        "HealthCheck": {
          "locationName": "healthCheck",
          "shape": "HealthCheck"
        },
        "ListenerDescriptions": {
          "locationName": "listenerDescriptions",
          "shape": "ListOfListenerDescriptions"
        },
        "LoadBalancerName": {
          "locationName": "loadBalancerName",
          "shape": "String"
        },
        "NetworkVolume": {
          "locationName": "networkVolume",
          "shape": "String"
        },
        "NextMonthAccountingType": {
          "locationName": "nextMonthAccountingType",
          "shape": "Integer"
        },
        "Option": {
          "locationName": "option",
          "shape": "Option"
        },
        "PolicyType": {
          "locationName": "policyType",
          "shape": "String"
        }
      },
      "name": "LoadBalancersOfListLoadBalancers",
      "type": "structure"
    },
    "Long": {
      "name": "Long",
      "type": "long"
    },
    "NetworkConfig": {
      "members": {
        "NetworkId": {
          "locationName": "networkId",
          "shape": "String"
        }
      },
      "name": "NetworkConfig",
      "type": "structure"
    },
    "NodePool": {
      "members": {
        "InitialNodeCount": {
          "locationName": "initialNodeCount",
          "shape": "Integer"
        },
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        },
        "Nodes": {
          "locationName": "nodes",
          "shape": "ListOfNodes"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "NodePool",
      "type": "structure"
    },
    "NodePools": {
      "members": {
        "InitialNodeCount": {
          "locationName": "initialNodeCount",
          "shape": "Integer"
        },
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        },
        "Nodes": {
          "locationName": "nodes",
          "shape": "ListOfNodes"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "NodePools",
      "type": "structure"
    },
    "NodePoolsOfCreateSnapshot": {
      "members": {
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        }
      },
      "name": "NodePoolsOfCreateSnapshot",
      "type": "structure"
    },
    "NodePoolsOfDeleteSnapshot": {
      "members": {
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        }
      },
      "name": "NodePoolsOfDeleteSnapshot",
      "type": "structure"
    },
    "NodePoolsOfDeleteSnapshots": {
      "members": {
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        }
      },
      "name": "NodePoolsOfDeleteSnapshots",
      "type": "structure"
    },
    "NodePoolsOfGetLoadBalancer": {
      "members": {
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        },
        "Nodes": {
          "locationName": "nodes",
          "shape": "ListOfNodesOfGetLoadBalancer"
        }
      },
      "name": "NodePoolsOfGetLoadBalancer",
      "type": "structure"
    },
    "NodePoolsOfGetSnapshot": {
      "members": {
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        }
      },
      "name": "NodePoolsOfGetSnapshot",
      "type": "structure"
    },
    "NodePoolsOfListLoadBalancers": {
      "members": {
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        },
        "Nodes": {
          "locationName": "nodes",
          "shape": "ListOfNodesOfListLoadBalancers"
        }
      },
      "name": "NodePoolsOfListLoadBalancers",
      "type": "structure"
    },
    "NodePoolsOfListSnapshots": {
      "members": {
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        }
      },
      "name": "NodePoolsOfListSnapshots",
      "type": "structure"
    },
    "NodePoolsOfUpdateSnapshot": {
      "members": {
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        }
      },
      "name": "NodePoolsOfUpdateSnapshot",
      "type": "structure"
    },
    "Nodes": {
      "members": {
        "AvailabilityZone": {
          "locationName": "availabilityZone",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "PrivateIpAddress": {
          "locationName": "privateIpAddress",
          "shape": "String"
        },
        "PublicIpAddress": {
          "locationName": "publicIpAddress",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "Nodes",
      "type": "structure"
    },
    "NodesOfGetLoadBalancer": {
      "members": {
        "AvailabilityZone": {
          "locationName": "availabilityZone",
          "shape": "String"
        },
        "HealthCheckState": {
          "locationName": "healthCheckState",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "PublicIpAddress": {
          "locationName": "publicIpAddress",
          "shape": "String"
        }
      },
      "name": "NodesOfGetLoadBalancer",
      "type": "structure"
    },
    "NodesOfListLoadBalancers": {
      "members": {
        "AvailabilityZone": {
          "locationName": "availabilityZone",
          "shape": "String"
        },
        "HealthCheckState": {
          "locationName": "healthCheckState",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "PublicIpAddress": {
          "locationName": "publicIpAddress",
          "shape": "String"
        }
      },
      "name": "NodesOfListLoadBalancers",
      "type": "structure"
    },
    "Option": {
      "members": {
        "SessionStickinessPolicy": {
          "locationName": "sessionStickinessPolicy",
          "shape": "SessionStickinessPolicy"
        },
        "SorryPage": {
          "locationName": "sorryPage",
          "shape": "SorryPage"
        }
      },
      "name": "Option",
      "type": "structure"
    },
    "ProtocolOfrulesForAuthorizeFirewallGroup": {
      "enum": [
        "ANY",
        "TCP",
        "UDP",
        "ICMP",
        "SSH",
        "HTTP",
        "HTTPS",
        "RDP",
        "GRE",
        "ESP",
        "AH",
        "VRRP",
        "L2TP"
      ],
      "name": "ProtocolOfrulesForAuthorizeFirewallGroup",
      "type": "string"
    },
    "RequestAddonsConfig": {
      "members": {
        "RequestHttpLoadBalancing": {
          "locationName": "httpLoadBalancing",
          "shape": "RequestHttpLoadBalancing"
        }
      },
      "name": "RequestAddonsConfig",
      "type": "structure"
    },
    "RequestCluster": {
      "members": {
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "String"
        },
        "KubernetesVersion": {
          "locationName": "kubernetesVersion",
          "shape": "KubernetesVersionOfclusterForCreateCluster"
        },
        "ListOfRequestLocations": {
          "locationName": "locations",
          "shape": "ListOfRequestLocations"
        },
        "ListOfRequestNodePools": {
          "locationName": "nodePools",
          "shape": "ListOfRequestNodePools"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "RequestAddonsConfig": {
          "locationName": "addonsConfig",
          "shape": "RequestAddonsConfig"
        },
        "RequestNetworkConfig": {
          "locationName": "networkConfig",
          "shape": "RequestNetworkConfig"
        }
      },
      "name": "RequestCluster",
      "required": [
        "FirewallGroup",
        "ListOfRequestLocations",
        "ListOfRequestNodePools",
        "Name"
      ],
      "type": "structure"
    },
    "RequestClusterOfCreateSnapshot": {
      "members": {
        "Name": {
          "locationName": "name",
          "shape": "String"
        }
      },
      "name": "RequestClusterOfCreateSnapshot",
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "RequestClusterOfRestoreClusterFromSnapshot": {
      "members": {
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "String"
        },
        "ListOfRequestLocations": {
          "locationName": "locations",
          "shape": "ListOfRequestLocations"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "RequestAddonsConfig": {
          "locationName": "addonsConfig",
          "shape": "RequestAddonsConfig"
        },
        "RequestNetworkConfig": {
          "locationName": "networkConfig",
          "shape": "RequestNetworkConfig"
        }
      },
      "name": "RequestClusterOfRestoreClusterFromSnapshot",
      "required": [
        "FirewallGroup",
        "ListOfRequestLocations",
        "Name"
      ],
      "type": "structure"
    },
    "RequestClusterOfUpdateCluster": {
      "members": {
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "KubernetesVersion": {
          "locationName": "kubernetesVersion",
          "shape": "KubernetesVersionOfclusterForUpdateCluster"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "RequestAddonsConfig": {
          "locationName": "addonsConfig",
          "shape": "RequestAddonsConfig"
        }
      },
      "name": "RequestClusterOfUpdateCluster",
      "type": "structure"
    },
    "RequestFirewallGroup": {
      "members": {
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        }
      },
      "name": "RequestFirewallGroup",
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "RequestFirewallGroupOfUpdateFirewallGroup": {
      "members": {
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        }
      },
      "name": "RequestFirewallGroupOfUpdateFirewallGroup",
      "type": "structure"
    },
    "RequestHttpLoadBalancing": {
      "members": {
        "Disabled": {
          "locationName": "disabled",
          "shape": "Boolean"
        }
      },
      "name": "RequestHttpLoadBalancing",
      "type": "structure"
    },
    "RequestNetworkConfig": {
      "members": {
        "NetworkId": {
          "locationName": "networkId",
          "shape": "String"
        }
      },
      "name": "RequestNetworkConfig",
      "type": "structure"
    },
    "RequestNodePool": {
      "members": {
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "InstanceTypeOfnodePoolForCreateNodePool"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        }
      },
      "name": "RequestNodePool",
      "required": [
        "InstanceType",
        "Name"
      ],
      "type": "structure"
    },
    "RequestNodePools": {
      "members": {
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "InstanceTypeOfclusterForCreateCluster"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        }
      },
      "name": "RequestNodePools",
      "required": [
        "InstanceType",
        "Name"
      ],
      "type": "structure"
    },
    "RequestRules": {
      "members": {
        "CidrIp": {
          "locationName": "cidrIp",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "Direction": {
          "locationName": "direction",
          "shape": "DirectionOfrulesForAuthorizeFirewallGroup"
        },
        "FromPort": {
          "locationName": "fromPort",
          "shape": "Integer"
        },
        "Protocol": {
          "locationName": "protocol",
          "shape": "ProtocolOfrulesForAuthorizeFirewallGroup"
        },
        "ToPort": {
          "locationName": "toPort",
          "shape": "Integer"
        }
      },
      "name": "RequestRules",
      "required": [
        "CidrIp"
      ],
      "type": "structure"
    },
    "RequestSnapshot": {
      "members": {
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "ExpirationTime": {
          "locationName": "expirationTime",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "RequestCluster": {
          "locationName": "cluster",
          "shape": "RequestClusterOfCreateSnapshot"
        }
      },
      "name": "RequestSnapshot",
      "required": [
        "Name",
        "RequestCluster"
      ],
      "type": "structure"
    },
    "RequestSnapshotOfUpdateSnapshot": {
      "members": {
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "ExpirationTime": {
          "locationName": "expirationTime",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        }
      },
      "name": "RequestSnapshotOfUpdateSnapshot",
      "type": "structure"
    },
    "RestoreClusterFromSnapshotRequest": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "RequestClusterOfRestoreClusterFromSnapshot"
        },
        "SnapshotName": {
          "location": "uri",
          "locationName": "SnapshotName",
          "shape": "String"
        }
      },
      "name": "RestoreClusterFromSnapshotRequest",
      "required": [
        "Cluster",
        "SnapshotName"
      ],
      "type": "structure"
    },
    "RestoreClusterFromSnapshotResult": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "Cluster"
        }
      },
      "name": "RestoreClusterFromSnapshotResult",
      "type": "structure"
    },
    "RevokeFirewallGroupRequest": {
      "members": {
        "FirewallGroupName": {
          "location": "uri",
          "locationName": "FirewallGroupName",
          "shape": "String"
        },
        "Ids": {
          "location": "querystring",
          "locationName": "ids",
          "shape": "String"
        }
      },
      "name": "RevokeFirewallGroupRequest",
      "required": [
        "FirewallGroupName"
      ],
      "type": "structure"
    },
    "RevokeFirewallGroupResult": {
      "members": {
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "FirewallGroup"
        }
      },
      "name": "RevokeFirewallGroupResult",
      "type": "structure"
    },
    "Rules": {
      "members": {
        "CidrIp": {
          "locationName": "cidrIp",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "Direction": {
          "locationName": "direction",
          "shape": "String"
        },
        "FromPort": {
          "locationName": "fromPort",
          "shape": "Integer"
        },
        "Id": {
          "locationName": "id",
          "shape": "String"
        },
        "Protocol": {
          "locationName": "protocol",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        },
        "ToPort": {
          "locationName": "toPort",
          "shape": "Integer"
        }
      },
      "name": "Rules",
      "type": "structure"
    },
    "ServerConfig": {
      "members": {
        "DefaultKubernetesVersion": {
          "locationName": "defaultKubernetesVersion",
          "shape": "String"
        },
        "ValidKubernetesVersions": {
          "locationName": "validKubernetesVersions",
          "shape": "ListOfValidKubernetesVersions"
        }
      },
      "name": "ServerConfig",
      "type": "structure"
    },
    "SessionStickinessPolicy": {
      "members": {
        "Enabled": {
          "locationName": "enabled",
          "shape": "Boolean"
        },
        "ExpirationPeriod": {
          "locationName": "expirationPeriod",
          "shape": "Integer"
        }
      },
      "name": "SessionStickinessPolicy",
      "type": "structure"
    },
    "SetNodePoolSizeRequest": {
      "members": {
        "ClusterName": {
          "location": "uri",
          "locationName": "ClusterName",
          "shape": "String"
        },
        "NodeCount": {
          "locationName": "nodeCount",
          "shape": "Integer"
        },
        "NodePoolName": {
          "location": "uri",
          "locationName": "NodePoolName",
          "shape": "String"
        }
      },
      "name": "SetNodePoolSizeRequest",
      "required": [
        "ClusterName",
        "NodeCount",
        "NodePoolName"
      ],
      "type": "structure"
    },
    "SetNodePoolSizeResult": {
      "members": {
        "NodePool": {
          "locationName": "nodePool",
          "shape": "NodePool"
        }
      },
      "name": "SetNodePoolSizeResult",
      "type": "structure"
    },
    "Snapshot": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "ClusterOfGetSnapshot"
        },
        "CreateTime": {
          "locationName": "createTime",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "ExpirationTime": {
          "locationName": "expirationTime",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "ResourceVersion": {
          "locationName": "resourceVersion",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "Snapshot",
      "type": "structure"
    },
    "SnapshotOfCreateSnapshot": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "ClusterOfCreateSnapshot"
        },
        "CreateTime": {
          "locationName": "createTime",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "ExpirationTime": {
          "locationName": "expirationTime",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "ResourceVersion": {
          "locationName": "resourceVersion",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "SnapshotOfCreateSnapshot",
      "type": "structure"
    },
    "SnapshotOfDeleteSnapshot": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "ClusterOfDeleteSnapshot"
        },
        "CreateTime": {
          "locationName": "createTime",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "ExpirationTime": {
          "locationName": "expirationTime",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "ResourceVersion": {
          "locationName": "resourceVersion",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "SnapshotOfDeleteSnapshot",
      "type": "structure"
    },
    "SnapshotOfUpdateSnapshot": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "ClusterOfUpdateSnapshot"
        },
        "CreateTime": {
          "locationName": "createTime",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "ExpirationTime": {
          "locationName": "expirationTime",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "ResourceVersion": {
          "locationName": "resourceVersion",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "SnapshotOfUpdateSnapshot",
      "type": "structure"
    },
    "Snapshots": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "ClusterOfListSnapshots"
        },
        "CreateTime": {
          "locationName": "createTime",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "ExpirationTime": {
          "locationName": "expirationTime",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "ResourceVersion": {
          "locationName": "resourceVersion",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "Snapshots",
      "type": "structure"
    },
    "SnapshotsOfDeleteSnapshots": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "ClusterOfDeleteSnapshots"
        },
        "CreateTime": {
          "locationName": "createTime",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "ExpirationTime": {
          "locationName": "expirationTime",
          "shape": "String"
        },
        "Name": {
          "locationName": "name",
          "shape": "String"
        },
        "ResourceVersion": {
          "locationName": "resourceVersion",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "SnapshotsOfDeleteSnapshots",
      "type": "structure"
    },
    "SorryPage": {
      "members": {
        "Enabled": {
          "locationName": "enabled",
          "shape": "Boolean"
        },
        "StatusCode": {
          "locationName": "statusCode",
          "shape": "Integer"
        }
      },
      "name": "SorryPage",
      "type": "structure"
    },
    "String": {
      "name": "String",
      "type": "string"
    },
    "TStamp": {
      "name": "TStamp",
      "type": "timestamp"
    },
    "UpdateClusterRequest": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "RequestClusterOfUpdateCluster"
        },
        "ClusterName": {
          "location": "uri",
          "locationName": "ClusterName",
          "shape": "String"
        }
      },
      "name": "UpdateClusterRequest",
      "required": [
        "ClusterName"
      ],
      "type": "structure"
    },
    "UpdateClusterResult": {
      "members": {
        "Cluster": {
          "locationName": "cluster",
          "shape": "Cluster"
        }
      },
      "name": "UpdateClusterResult",
      "type": "structure"
    },
    "UpdateFirewallGroupRequest": {
      "members": {
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "RequestFirewallGroupOfUpdateFirewallGroup"
        },
        "FirewallGroupName": {
          "location": "uri",
          "locationName": "FirewallGroupName",
          "shape": "String"
        }
      },
      "name": "UpdateFirewallGroupRequest",
      "required": [
        "FirewallGroupName"
      ],
      "type": "structure"
    },
    "UpdateFirewallGroupResult": {
      "members": {
        "FirewallGroup": {
          "locationName": "firewallGroup",
          "shape": "FirewallGroup"
        }
      },
      "name": "UpdateFirewallGroupResult",
      "type": "structure"
    },
    "UpdateSnapshotRequest": {
      "members": {
        "Snapshot": {
          "locationName": "snapshot",
          "shape": "RequestSnapshotOfUpdateSnapshot"
        },
        "SnapshotName": {
          "location": "uri",
          "locationName": "SnapshotName",
          "shape": "String"
        }
      },
      "name": "UpdateSnapshotRequest",
      "required": [
        "SnapshotName"
      ],
      "type": "structure"
    },
    "UpdateSnapshotResult": {
      "members": {
        "Snapshot": {
          "locationName": "snapshot",
          "shape": "SnapshotOfUpdateSnapshot"
        }
      },
      "name": "UpdateSnapshotResult",
      "type": "structure"
    }
  },
  "version": "2.0"
}