[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botocore = "*"

[dev-packages]
isort = "*"
"flake8" = "*"
pytest = "*"
requests = "*"
awscli = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[scripts]
isort = "isort"
lint = "/bin/bash -c 'flake8 scripts/* .'"
test = "pytest --capture=sys"
