[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botocore = "==1.37.10"

[dev-packages]
isort = "*"
"flake8" = "*"
pytest = "*"
requests = "*"
sphinx = "==5.3.0"
sphinx-rtd-theme = "*"

[scripts]
isort = "isort"
lint = "/bin/bash -c 'flake8 .'"
test = "pytest --capture=sys"
unittest = "pytest tests/unit --capture=sys"
