[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
botocore = "==1.12.134"

[dev-packages]
isort = "*"
"flake8" = "*"
pytest = "*"
requests = "*"
awscli = "==1.19.14"
sphinx = "==1.8.1"
sphinx-rtd-theme = "*"

[scripts]
isort = "isort"
lint = "/bin/bash -c 'flake8 scripts/* .'"
test = "pytest --capture=sys"
