{
  "metadata": {
    "apiVersion": "2013-05-15N2013-12-16",
    "endpointPrefix": "rdb",
    "protocol": "rdb",
    "serviceAbbreviation": "rdb",
    "serviceFullName": "NIFCLOUD RDB",
    "serviceId": "rdb",
    "signatureVersion": "v4",
    "uid": "rdb-2013-05-15N2013-12-16",
    "xmlNamespace": "https://rdb.api.nifcloud.com/"
  },
  "operations": {
    "AddSourceIdentifierToSubscription": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddSourceIdentifierToSubscriptionRequest"
      },
      "name": "AddSourceIdentifierToSubscription",
      "output": {
        "resultWrapper": "AddSourceIdentifierToSubscriptionResult",
        "shape": "AddSourceIdentifierToSubscriptionResult"
      }
    },
    "AuthorizeDBSecurityGroupIngress": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AuthorizeDBSecurityGroupIngressRequest"
      },
      "name": "AuthorizeDBSecurityGroupIngress",
      "output": {
        "resultWrapper": "AuthorizeDBSecurityGroupIngressResult",
        "shape": "AuthorizeDBSecurityGroupIngressResult"
      }
    },
    "CopyDBSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyDBSnapshotRequest"
      },
      "name": "CopyDBSnapshot",
      "output": {
        "resultWrapper": "CopyDBSnapshotResult",
        "shape": "CopyDBSnapshotResult"
      }
    },
    "CreateDBInstance": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBInstanceRequest"
      },
      "name": "CreateDBInstance",
      "output": {
        "resultWrapper": "CreateDBInstanceResult",
        "shape": "CreateDBInstanceResult"
      }
    },
    "CreateDBInstanceReadReplica": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBInstanceReadReplicaRequest"
      },
      "name": "CreateDBInstanceReadReplica",
      "output": {
        "resultWrapper": "CreateDBInstanceReadReplicaResult",
        "shape": "CreateDBInstanceReadReplicaResult"
      }
    },
    "CreateDBParameterGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBParameterGroupRequest"
      },
      "name": "CreateDBParameterGroup",
      "output": {
        "resultWrapper": "CreateDBParameterGroupResult",
        "shape": "CreateDBParameterGroupResult"
      }
    },
    "CreateDBSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBSecurityGroupRequest"
      },
      "name": "CreateDBSecurityGroup",
      "output": {
        "resultWrapper": "CreateDBSecurityGroupResult",
        "shape": "CreateDBSecurityGroupResult"
      }
    },
    "CreateDBSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBSnapshotRequest"
      },
      "name": "CreateDBSnapshot",
      "output": {
        "resultWrapper": "CreateDBSnapshotResult",
        "shape": "CreateDBSnapshotResult"
      }
    },
    "CreateEventSubscription": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEventSubscriptionRequest"
      },
      "name": "CreateEventSubscription",
      "output": {
        "resultWrapper": "CreateEventSubscriptionResult",
        "shape": "CreateEventSubscriptionResult"
      }
    },
    "DeleteDBInstance": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBInstanceRequest"
      },
      "name": "DeleteDBInstance",
      "output": {
        "resultWrapper": "DeleteDBInstanceResult",
        "shape": "DeleteDBInstanceResult"
      }
    },
    "DeleteDBParameterGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBParameterGroupRequest"
      },
      "name": "DeleteDBParameterGroup",
      "output": {
        "shape": "DeleteDBParameterGroupResult"
      }
    },
    "DeleteDBSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBSecurityGroupRequest"
      },
      "name": "DeleteDBSecurityGroup",
      "output": {
        "shape": "DeleteDBSecurityGroupResult"
      }
    },
    "DeleteDBSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBSnapshotRequest"
      },
      "name": "DeleteDBSnapshot",
      "output": {
        "resultWrapper": "DeleteDBSnapshotResult",
        "shape": "DeleteDBSnapshotResult"
      }
    },
    "DeleteEventSubscription": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEventSubscriptionRequest"
      },
      "name": "DeleteEventSubscription",
      "output": {
        "resultWrapper": "DeleteEventSubscriptionResult",
        "shape": "DeleteEventSubscriptionResult"
      }
    },
    "DescribeCertificates": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCertificatesRequest"
      },
      "name": "DescribeCertificates",
      "output": {
        "resultWrapper": "DescribeCertificatesResult",
        "shape": "DescribeCertificatesResult"
      }
    },
    "DescribeDBEngineVersions": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBEngineVersionsRequest"
      },
      "name": "DescribeDBEngineVersions",
      "output": {
        "resultWrapper": "DescribeDBEngineVersionsResult",
        "shape": "DescribeDBEngineVersionsResult"
      }
    },
    "DescribeDBInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBInstancesRequest"
      },
      "name": "DescribeDBInstances",
      "output": {
        "resultWrapper": "DescribeDBInstancesResult",
        "shape": "DescribeDBInstancesResult"
      }
    },
    "DescribeDBLogFiles": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBLogFilesRequest"
      },
      "name": "DescribeDBLogFiles",
      "output": {
        "resultWrapper": "DescribeDBLogFilesResult",
        "shape": "DescribeDBLogFilesResult"
      }
    },
    "DescribeDBParameterGroups": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBParameterGroupsRequest"
      },
      "name": "DescribeDBParameterGroups",
      "output": {
        "resultWrapper": "DescribeDBParameterGroupsResult",
        "shape": "DescribeDBParameterGroupsResult"
      }
    },
    "DescribeDBParameters": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBParametersRequest"
      },
      "name": "DescribeDBParameters",
      "output": {
        "resultWrapper": "DescribeDBParametersResult",
        "shape": "DescribeDBParametersResult"
      }
    },
    "DescribeDBSecurityGroups": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBSecurityGroupsRequest"
      },
      "name": "DescribeDBSecurityGroups",
      "output": {
        "resultWrapper": "DescribeDBSecurityGroupsResult",
        "shape": "DescribeDBSecurityGroupsResult"
      }
    },
    "DescribeDBSnapshots": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBSnapshotsRequest"
      },
      "name": "DescribeDBSnapshots",
      "output": {
        "resultWrapper": "DescribeDBSnapshotsResult",
        "shape": "DescribeDBSnapshotsResult"
      }
    },
    "DescribeEngineDefaultParameters": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEngineDefaultParametersRequest"
      },
      "name": "DescribeEngineDefaultParameters",
      "output": {
        "resultWrapper": "DescribeEngineDefaultParametersResult",
        "shape": "DescribeEngineDefaultParametersResult"
      }
    },
    "DescribeEventCategories": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventCategoriesRequest"
      },
      "name": "DescribeEventCategories",
      "output": {
        "resultWrapper": "DescribeEventCategoriesResult",
        "shape": "DescribeEventCategoriesResult"
      }
    },
    "DescribeEventSubscriptions": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventSubscriptionsRequest"
      },
      "name": "DescribeEventSubscriptions",
      "output": {
        "resultWrapper": "DescribeEventSubscriptionsResult",
        "shape": "DescribeEventSubscriptionsResult"
      }
    },
    "DescribeEvents": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventsRequest"
      },
      "name": "DescribeEvents",
      "output": {
        "resultWrapper": "DescribeEventsResult",
        "shape": "DescribeEventsResult"
      }
    },
    "DescribeOrderableDBInstanceOptions": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOrderableDBInstanceOptionsRequest"
      },
      "name": "DescribeOrderableDBInstanceOptions",
      "output": {
        "resultWrapper": "DescribeOrderableDBInstanceOptionsResult",
        "shape": "DescribeOrderableDBInstanceOptionsResult"
      }
    },
    "DownloadDBLogFilePortion": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DownloadDBLogFilePortionRequest"
      },
      "name": "DownloadDBLogFilePortion",
      "output": {
        "resultWrapper": "DownloadDBLogFilePortionResult",
        "shape": "DownloadDBLogFilePortionResult"
      }
    },
    "ModifyDBInstance": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBInstanceRequest"
      },
      "name": "ModifyDBInstance",
      "output": {
        "resultWrapper": "ModifyDBInstanceResult",
        "shape": "ModifyDBInstanceResult"
      }
    },
    "ModifyDBInstanceNetwork": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBInstanceNetworkRequest"
      },
      "name": "ModifyDBInstanceNetwork",
      "output": {
        "resultWrapper": "ModifyDBInstanceNetworkResult",
        "shape": "ModifyDBInstanceNetworkResult"
      }
    },
    "ModifyDBParameterGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBParameterGroupRequest"
      },
      "name": "ModifyDBParameterGroup",
      "output": {
        "resultWrapper": "ModifyDBParameterGroupResult",
        "shape": "ModifyDBParameterGroupResult"
      }
    },
    "ModifyEventSubscription": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyEventSubscriptionRequest"
      },
      "name": "ModifyEventSubscription",
      "output": {
        "resultWrapper": "ModifyEventSubscriptionResult",
        "shape": "ModifyEventSubscriptionResult"
      }
    },
    "NiftyFailoverDBInstance": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "NiftyFailoverDBInstanceRequest"
      },
      "name": "NiftyFailoverDBInstance",
      "output": {
        "resultWrapper": "NiftyFailoverDBInstanceResult",
        "shape": "NiftyFailoverDBInstanceResult"
      }
    },
    "NiftyGetMetricStatistics": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "NiftyGetMetricStatisticsRequest"
      },
      "name": "NiftyGetMetricStatistics",
      "output": {
        "resultWrapper": "NiftyGetMetricStatisticsResult",
        "shape": "NiftyGetMetricStatisticsResult"
      }
    },
    "RebootDBInstance": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebootDBInstanceRequest"
      },
      "name": "RebootDBInstance",
      "output": {
        "resultWrapper": "RebootDBInstanceResult",
        "shape": "RebootDBInstanceResult"
      }
    },
    "RemoveSourceIdentifierFromSubscription": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveSourceIdentifierFromSubscriptionRequest"
      },
      "name": "RemoveSourceIdentifierFromSubscription",
      "output": {
        "resultWrapper": "RemoveSourceIdentifierFromSubscriptionResult",
        "shape": "RemoveSourceIdentifierFromSubscriptionResult"
      }
    },
    "ResetDBParameterGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResetDBParameterGroupRequest"
      },
      "name": "ResetDBParameterGroup",
      "output": {
        "resultWrapper": "ResetDBParameterGroupResult",
        "shape": "ResetDBParameterGroupResult"
      }
    },
    "ResetExternalMaster": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResetExternalMasterRequest"
      },
      "name": "ResetExternalMaster",
      "output": {
        "resultWrapper": "ResetExternalMasterResult",
        "shape": "ResetExternalMasterResult"
      }
    },
    "RestoreDBInstanceFromDBSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreDBInstanceFromDBSnapshotRequest"
      },
      "name": "RestoreDBInstanceFromDBSnapshot",
      "output": {
        "resultWrapper": "RestoreDBInstanceFromDBSnapshotResult",
        "shape": "RestoreDBInstanceFromDBSnapshotResult"
      }
    },
    "RestoreDBInstanceToPointInTime": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreDBInstanceToPointInTimeRequest"
      },
      "name": "RestoreDBInstanceToPointInTime",
      "output": {
        "resultWrapper": "RestoreDBInstanceToPointInTimeResult",
        "shape": "RestoreDBInstanceToPointInTimeResult"
      }
    },
    "RevokeDBSecurityGroupIngress": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeDBSecurityGroupIngressRequest"
      },
      "name": "RevokeDBSecurityGroupIngress",
      "output": {
        "resultWrapper": "RevokeDBSecurityGroupIngressResult",
        "shape": "RevokeDBSecurityGroupIngressResult"
      }
    },
    "SetExternalMaster": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetExternalMasterRequest"
      },
      "name": "SetExternalMaster",
      "output": {
        "resultWrapper": "SetExternalMasterResult",
        "shape": "SetExternalMasterResult"
      }
    },
    "StartReplication": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartReplicationRequest"
      },
      "name": "StartReplication",
      "output": {
        "resultWrapper": "StartReplicationResult",
        "shape": "StartReplicationResult"
      }
    },
    "StopReplication": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopReplicationRequest"
      },
      "name": "StopReplication",
      "output": {
        "resultWrapper": "StopReplicationResult",
        "shape": "StopReplicationResult"
      }
    },
    "UpgradeDBEngineVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpgradeDBEngineVersionRequest"
      },
      "name": "UpgradeDBEngineVersion",
      "output": {
        "resultWrapper": "UpgradeDBEngineVersionResult",
        "shape": "UpgradeDBEngineVersionResult"
      }
    }
  },
  "shapes": {
    "AccountingTypeOfCreateDBInstanceReadReplicaRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfCreateDBInstanceReadReplicaRequest",
      "type": "string"
    },
    "AccountingTypeOfCreateDBInstanceRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfCreateDBInstanceRequest",
      "type": "string"
    },
    "AccountingTypeOfModifyDBInstanceRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfModifyDBInstanceRequest",
      "type": "string"
    },
    "AccountingTypeOfRestoreDBInstanceFromDBSnapshotRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfRestoreDBInstanceFromDBSnapshotRequest",
      "type": "string"
    },
    "AccountingTypeOfRestoreDBInstanceToPointInTimeRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfRestoreDBInstanceToPointInTimeRequest",
      "type": "string"
    },
    "AddSourceIdentifierToSubscriptionRequest": {
      "members": {
        "SourceIdentifier": {
          "locationName": "SourceIdentifier",
          "shape": "String"
        },
        "SubscriptionName": {
          "locationName": "SubscriptionName",
          "shape": "String"
        }
      },
      "name": "AddSourceIdentifierToSubscriptionRequest",
      "required": [
        "SourceIdentifier",
        "SubscriptionName"
      ],
      "type": "structure"
    },
    "AddSourceIdentifierToSubscriptionResult": {
      "members": {
        "EventSubscription": {
          "locationName": "EventSubscription",
          "shape": "EventSubscription"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "AddSourceIdentifierToSubscriptionResult",
      "type": "structure"
    },
    "ApplyMethodOfParametersForModifyDBParameterGroup": {
      "enum": [
        "immediate",
        "pending-reboot"
      ],
      "name": "ApplyMethodOfParametersForModifyDBParameterGroup",
      "type": "string"
    },
    "ApplyMethodOfParametersForResetDBParameterGroup": {
      "enum": [
        "immediate",
        "pending-reboot"
      ],
      "name": "ApplyMethodOfParametersForResetDBParameterGroup",
      "type": "string"
    },
    "AuthorizeDBSecurityGroupIngressRequest": {
      "members": {
        "CIDRIP": {
          "locationName": "CIDRIP",
          "shape": "String"
        },
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "EC2SecurityGroupId": {
          "locationName": "EC2SecurityGroupId",
          "shape": "String"
        },
        "EC2SecurityGroupName": {
          "locationName": "EC2SecurityGroupName",
          "shape": "String"
        },
        "EC2SecurityGroupOwnerId": {
          "locationName": "EC2SecurityGroupOwnerId",
          "shape": "String"
        }
      },
      "name": "AuthorizeDBSecurityGroupIngressRequest",
      "required": [
        "DBSecurityGroupName"
      ],
      "type": "structure"
    },
    "AuthorizeDBSecurityGroupIngressResult": {
      "members": {
        "DBSecurityGroup": {
          "locationName": "DBSecurityGroup",
          "shape": "DBSecurityGroup"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "AuthorizeDBSecurityGroupIngressResult",
      "type": "structure"
    },
    "AvailabilityZones": {
      "members": {
        "Name": {
          "locationName": "Name",
          "shape": "String"
        },
        "NiftyStorageTypes": {
          "locationName": "NiftyStorageTypes",
          "shape": "ListOfNiftyStorageTypes"
        },
        "ProvisionedIopsCapable": {
          "locationName": "ProvisionedIopsCapable",
          "shape": "Boolean"
        }
      },
      "name": "AvailabilityZones",
      "type": "structure"
    },
    "Blob": {
      "name": "Blob",
      "type": "blob"
    },
    "Boolean": {
      "name": "Boolean",
      "type": "boolean"
    },
    "Certificates": {
      "members": {
        "CertificateIdentifier": {
          "locationName": "CertificateIdentifier",
          "shape": "String"
        },
        "CertificateType": {
          "locationName": "CertificateType",
          "shape": "String"
        },
        "Thumbprint": {
          "locationName": "Thumbprint",
          "shape": "String"
        },
        "ValidFrom": {
          "locationName": "ValidFrom",
          "shape": "TStamp"
        },
        "ValidTill": {
          "locationName": "ValidTill",
          "shape": "TStamp"
        }
      },
      "name": "Certificates",
      "type": "structure"
    },
    "CopyDBSnapshotRequest": {
      "members": {
        "SourceDBSnapshotIdentifier": {
          "locationName": "SourceDBSnapshotIdentifier",
          "shape": "String"
        },
        "TargetDBSnapshotIdentifier": {
          "locationName": "TargetDBSnapshotIdentifier",
          "shape": "String"
        }
      },
      "name": "CopyDBSnapshotRequest",
      "required": [
        "SourceDBSnapshotIdentifier",
        "TargetDBSnapshotIdentifier"
      ],
      "type": "structure"
    },
    "CopyDBSnapshotResult": {
      "members": {
        "DBSnapshot": {
          "locationName": "DBSnapshot",
          "shape": "DBSnapshot"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CopyDBSnapshotResult",
      "type": "structure"
    },
    "CreateDBInstanceReadReplicaRequest": {
      "members": {
        "AccountingType": {
          "locationName": "AccountingType",
          "shape": "AccountingTypeOfCreateDBInstanceReadReplicaRequest"
        },
        "AutoMinorVersionUpgrade": {
          "locationName": "AutoMinorVersionUpgrade",
          "shape": "Boolean"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "DBInstanceClass": {
          "locationName": "DBInstanceClass",
          "shape": "DBInstanceClassOfCreateDBInstanceReadReplicaRequest"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "Iops": {
          "locationName": "Iops",
          "shape": "Integer"
        },
        "NiftyReadReplicaPrivateAddress": {
          "locationName": "NiftyReadReplicaPrivateAddress",
          "shape": "String"
        },
        "NiftyStorageType": {
          "locationName": "NiftyStorageType",
          "shape": "Integer"
        },
        "OptionGroupName": {
          "locationName": "OptionGroupName",
          "shape": "String"
        },
        "Port": {
          "locationName": "Port",
          "shape": "Integer"
        },
        "PubliclyAccessible": {
          "locationName": "PubliclyAccessible",
          "shape": "Boolean"
        },
        "SourceDBInstanceIdentifier": {
          "locationName": "SourceDBInstanceIdentifier",
          "shape": "String"
        }
      },
      "name": "CreateDBInstanceReadReplicaRequest",
      "required": [
        "DBInstanceIdentifier",
        "SourceDBInstanceIdentifier"
      ],
      "type": "structure"
    },
    "CreateDBInstanceReadReplicaResult": {
      "members": {
        "DBInstance": {
          "locationName": "DBInstance",
          "shape": "DBInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateDBInstanceReadReplicaResult",
      "type": "structure"
    },
    "CreateDBInstanceRequest": {
      "members": {
        "AccountingType": {
          "locationName": "AccountingType",
          "shape": "AccountingTypeOfCreateDBInstanceRequest"
        },
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AutoMinorVersionUpgrade": {
          "locationName": "AutoMinorVersionUpgrade",
          "shape": "Boolean"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "BackupRetentionPeriod": {
          "locationName": "BackupRetentionPeriod",
          "shape": "Integer"
        },
        "CharacterSetName": {
          "locationName": "CharacterSetName",
          "shape": "String"
        },
        "DBInstanceClass": {
          "locationName": "DBInstanceClass",
          "shape": "DBInstanceClassOfCreateDBInstanceRequest"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBName": {
          "locationName": "DBName",
          "shape": "String"
        },
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "DBSecurityGroups": {
          "locationName": "DBSecurityGroups",
          "shape": "ListOfRequestDBSecurityGroups"
        },
        "DBSubnetGroupName": {
          "locationName": "DBSubnetGroupName",
          "shape": "String"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "EngineOfCreateDBInstanceRequest"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "Iops": {
          "locationName": "Iops",
          "shape": "Integer"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "MasterUserPassword": {
          "locationName": "MasterUserPassword",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "MultiAZ": {
          "locationName": "MultiAZ",
          "shape": "Boolean"
        },
        "NiftyMasterPrivateAddress": {
          "locationName": "NiftyMasterPrivateAddress",
          "shape": "String"
        },
        "NiftyMultiAZType": {
          "locationName": "NiftyMultiAZType",
          "shape": "Integer"
        },
        "NiftyNetworkId": {
          "locationName": "NiftyNetworkId",
          "shape": "String"
        },
        "NiftySlavePrivateAddress": {
          "locationName": "NiftySlavePrivateAddress",
          "shape": "String"
        },
        "NiftyStorageType": {
          "locationName": "NiftyStorageType",
          "shape": "Integer"
        },
        "NiftyVirtualPrivateAddress": {
          "locationName": "NiftyVirtualPrivateAddress",
          "shape": "String"
        },
        "OptionGroupName": {
          "locationName": "OptionGroupName",
          "shape": "String"
        },
        "Port": {
          "locationName": "Port",
          "shape": "Integer"
        },
        "PreferredBackupWindow": {
          "locationName": "PreferredBackupWindow",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "locationName": "PreferredMaintenanceWindow",
          "shape": "String"
        },
        "PubliclyAccessible": {
          "locationName": "PubliclyAccessible",
          "shape": "Boolean"
        },
        "VpcSecurityGroupIds": {
          "locationName": "VpcSecurityGroupIds",
          "shape": "ListOfRequestVpcSecurityGroupIds"
        }
      },
      "name": "CreateDBInstanceRequest",
      "required": [
        "AllocatedStorage",
        "DBInstanceClass",
        "DBInstanceIdentifier",
        "Engine",
        "MasterUserPassword",
        "MasterUsername"
      ],
      "type": "structure"
    },
    "CreateDBInstanceResult": {
      "members": {
        "DBInstance": {
          "locationName": "DBInstance",
          "shape": "DBInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateDBInstanceResult",
      "type": "structure"
    },
    "CreateDBParameterGroupRequest": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "Description": {
          "locationName": "Description",
          "shape": "String"
        }
      },
      "name": "CreateDBParameterGroupRequest",
      "required": [
        "DBParameterGroupFamily",
        "DBParameterGroupName",
        "Description"
      ],
      "type": "structure"
    },
    "CreateDBParameterGroupResult": {
      "members": {
        "DBParameterGroup": {
          "locationName": "DBParameterGroup",
          "shape": "DBParameterGroup"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateDBParameterGroupResult",
      "type": "structure"
    },
    "CreateDBSecurityGroupRequest": {
      "members": {
        "DBSecurityGroupDescription": {
          "locationName": "DBSecurityGroupDescription",
          "shape": "String"
        },
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "NiftyAvailabilityZone": {
          "locationName": "NiftyAvailabilityZone",
          "shape": "String"
        }
      },
      "name": "CreateDBSecurityGroupRequest",
      "required": [
        "DBSecurityGroupDescription",
        "DBSecurityGroupName",
        "NiftyAvailabilityZone"
      ],
      "type": "structure"
    },
    "CreateDBSecurityGroupResult": {
      "members": {
        "DBSecurityGroup": {
          "locationName": "DBSecurityGroup",
          "shape": "DBSecurityGroup"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateDBSecurityGroupResult",
      "type": "structure"
    },
    "CreateDBSnapshotRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBSnapshotIdentifier": {
          "locationName": "DBSnapshotIdentifier",
          "shape": "String"
        }
      },
      "name": "CreateDBSnapshotRequest",
      "required": [
        "DBInstanceIdentifier",
        "DBSnapshotIdentifier"
      ],
      "type": "structure"
    },
    "CreateDBSnapshotResult": {
      "members": {
        "DBSnapshot": {
          "locationName": "DBSnapshot",
          "shape": "DBSnapshot"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateDBSnapshotResult",
      "type": "structure"
    },
    "CreateEventSubscriptionRequest": {
      "members": {
        "Enabled": {
          "locationName": "Enabled",
          "shape": "Boolean"
        },
        "EventCategories": {
          "locationName": "EventCategories",
          "shape": "ListOfRequestEventCategories"
        },
        "NiftyDescription": {
          "locationName": "NiftyDescription",
          "shape": "String"
        },
        "NiftyEmailAddresses": {
          "locationName": "NiftyEmailAddresses",
          "shape": "ListOfRequestNiftyEmailAddresses"
        },
        "SourceIds": {
          "locationName": "SourceIds",
          "shape": "ListOfRequestSourceIds"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "SourceTypeOfCreateEventSubscriptionRequest"
        },
        "SubscriptionName": {
          "locationName": "SubscriptionName",
          "shape": "String"
        }
      },
      "name": "CreateEventSubscriptionRequest",
      "required": [
        "NiftyEmailAddresses",
        "SubscriptionName"
      ],
      "type": "structure"
    },
    "CreateEventSubscriptionResult": {
      "members": {
        "EventSubscription": {
          "locationName": "EventSubscription",
          "shape": "EventSubscription"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateEventSubscriptionResult",
      "type": "structure"
    },
    "DBEngineVersions": {
      "members": {
        "DBEngineDescription": {
          "locationName": "DBEngineDescription",
          "shape": "String"
        },
        "DBEngineVersionDescription": {
          "locationName": "DBEngineVersionDescription",
          "shape": "String"
        },
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "String"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        },
        "ValidUpgradeTarget": {
          "locationName": "ValidUpgradeTarget",
          "shape": "ListOfValidUpgradeTarget"
        }
      },
      "name": "DBEngineVersions",
      "type": "structure"
    },
    "DBInstance": {
      "members": {
        "AccountingType": {
          "locationName": "AccountingType",
          "shape": "String"
        },
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AutoMinorVersionUpgrade": {
          "locationName": "AutoMinorVersionUpgrade",
          "shape": "Boolean"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "BackupRetentionPeriod": {
          "locationName": "BackupRetentionPeriod",
          "shape": "Integer"
        },
        "BinlogRetentionPeriod": {
          "locationName": "BinlogRetentionPeriod",
          "shape": "Integer"
        },
        "CACertificateIdentifier": {
          "locationName": "CACertificateIdentifier",
          "shape": "String"
        },
        "DBInstanceClass": {
          "locationName": "DBInstanceClass",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBInstanceStatus": {
          "locationName": "DBInstanceStatus",
          "shape": "String"
        },
        "DBName": {
          "locationName": "DBName",
          "shape": "String"
        },
        "DBParameterGroups": {
          "locationName": "DBParameterGroups",
          "shape": "ListOfDBParameterGroups"
        },
        "DBSecurityGroups": {
          "locationName": "DBSecurityGroups",
          "shape": "ListOfDBSecurityGroups"
        },
        "Endpoint": {
          "locationName": "Endpoint",
          "shape": "Endpoint"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "String"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "ExternalReplicationInfo": {
          "locationName": "ExternalReplicationInfo",
          "shape": "ExternalReplicationInfo"
        },
        "InstanceCreateTime": {
          "locationName": "InstanceCreateTime",
          "shape": "TStamp"
        },
        "LatestRestorableTime": {
          "locationName": "LatestRestorableTime",
          "shape": "TStamp"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "MultiAZ": {
          "locationName": "MultiAZ",
          "shape": "Boolean"
        },
        "NextMonthAccountingType": {
          "locationName": "NextMonthAccountingType",
          "shape": "String"
        },
        "NiftyMasterPrivateAddress": {
          "locationName": "NiftyMasterPrivateAddress",
          "shape": "String"
        },
        "NiftyMultiAZType": {
          "locationName": "NiftyMultiAZType",
          "shape": "String"
        },
        "NiftyNetworkId": {
          "locationName": "NiftyNetworkId",
          "shape": "String"
        },
        "NiftySlavePrivateAddress": {
          "locationName": "NiftySlavePrivateAddress",
          "shape": "String"
        },
        "NiftyStorageType": {
          "locationName": "NiftyStorageType",
          "shape": "Integer"
        },
        "OptionGroupMemberships": {
          "locationName": "OptionGroupMemberships",
          "shape": "ListOfOptionGroupMemberships"
        },
        "PendingModifiedValues": {
          "locationName": "PendingModifiedValues",
          "shape": "PendingModifiedValues"
        },
        "PreferredBackupWindow": {
          "locationName": "PreferredBackupWindow",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "locationName": "PreferredMaintenanceWindow",
          "shape": "String"
        },
        "PubliclyAccessible": {
          "locationName": "PubliclyAccessible",
          "shape": "Boolean"
        },
        "ReadReplicaDBInstanceIdentifiers": {
          "locationName": "ReadReplicaDBInstanceIdentifiers",
          "shape": "ListOfReadReplicaDBInstanceIdentifiers"
        },
        "ReadReplicaSourceDBInstanceIdentifier": {
          "locationName": "ReadReplicaSourceDBInstanceIdentifier",
          "shape": "String"
        },
        "SecondaryAvailabilityZone": {
          "locationName": "SecondaryAvailabilityZone",
          "shape": "String"
        },
        "StatusInfos": {
          "locationName": "StatusInfos",
          "shape": "ListOfStatusInfos"
        },
        "VpcSecurityGroups": {
          "locationName": "VpcSecurityGroups",
          "shape": "String"
        }
      },
      "name": "DBInstance",
      "type": "structure"
    },
    "DBInstanceClassOfCreateDBInstanceReadReplicaRequest": {
      "enum": [
        "db.mini",
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfCreateDBInstanceReadReplicaRequest",
      "type": "string"
    },
    "DBInstanceClassOfCreateDBInstanceRequest": {
      "enum": [
        "db.mini",
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfCreateDBInstanceRequest",
      "type": "string"
    },
    "DBInstanceClassOfDescribeOrderableDBInstanceOptionsRequest": {
      "enum": [
        "db.mini",
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfDescribeOrderableDBInstanceOptionsRequest",
      "type": "string"
    },
    "DBInstanceClassOfModifyDBInstanceRequest": {
      "enum": [
        "db.mini",
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfModifyDBInstanceRequest",
      "type": "string"
    },
    "DBInstanceClassOfRestoreDBInstanceFromDBSnapshotRequest": {
      "enum": [
        "db.mini",
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfRestoreDBInstanceFromDBSnapshotRequest",
      "type": "string"
    },
    "DBInstanceClassOfRestoreDBInstanceToPointInTimeRequest": {
      "enum": [
        "db.mini",
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfRestoreDBInstanceToPointInTimeRequest",
      "type": "string"
    },
    "DBInstances": {
      "members": {
        "AccountingType": {
          "locationName": "AccountingType",
          "shape": "String"
        },
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AutoMinorVersionUpgrade": {
          "locationName": "AutoMinorVersionUpgrade",
          "shape": "Boolean"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "BackupRetentionPeriod": {
          "locationName": "BackupRetentionPeriod",
          "shape": "Integer"
        },
        "BinlogRetentionPeriod": {
          "locationName": "BinlogRetentionPeriod",
          "shape": "Integer"
        },
        "CACertificateIdentifier": {
          "locationName": "CACertificateIdentifier",
          "shape": "String"
        },
        "DBInstanceClass": {
          "locationName": "DBInstanceClass",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBInstanceStatus": {
          "locationName": "DBInstanceStatus",
          "shape": "String"
        },
        "DBName": {
          "locationName": "DBName",
          "shape": "String"
        },
        "DBParameterGroups": {
          "locationName": "DBParameterGroups",
          "shape": "ListOfDBParameterGroups"
        },
        "DBSecurityGroups": {
          "locationName": "DBSecurityGroups",
          "shape": "ListOfDBSecurityGroups"
        },
        "Endpoint": {
          "locationName": "Endpoint",
          "shape": "Endpoint"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "String"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "ExternalReplicationInfo": {
          "locationName": "ExternalReplicationInfo",
          "shape": "ExternalReplicationInfo"
        },
        "InstanceCreateTime": {
          "locationName": "InstanceCreateTime",
          "shape": "TStamp"
        },
        "LatestRestorableTime": {
          "locationName": "LatestRestorableTime",
          "shape": "TStamp"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "MultiAZ": {
          "locationName": "MultiAZ",
          "shape": "Boolean"
        },
        "NextMonthAccountingType": {
          "locationName": "NextMonthAccountingType",
          "shape": "String"
        },
        "NiftyMasterPrivateAddress": {
          "locationName": "NiftyMasterPrivateAddress",
          "shape": "String"
        },
        "NiftyMultiAZType": {
          "locationName": "NiftyMultiAZType",
          "shape": "String"
        },
        "NiftyNetworkId": {
          "locationName": "NiftyNetworkId",
          "shape": "String"
        },
        "NiftySlavePrivateAddress": {
          "locationName": "NiftySlavePrivateAddress",
          "shape": "String"
        },
        "NiftyStorageType": {
          "locationName": "NiftyStorageType",
          "shape": "Integer"
        },
        "OptionGroupMemberships": {
          "locationName": "OptionGroupMemberships",
          "shape": "ListOfOptionGroupMemberships"
        },
        "PendingModifiedValues": {
          "locationName": "PendingModifiedValues",
          "shape": "PendingModifiedValues"
        },
        "PreferredBackupWindow": {
          "locationName": "PreferredBackupWindow",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "locationName": "PreferredMaintenanceWindow",
          "shape": "String"
        },
        "PubliclyAccessible": {
          "locationName": "PubliclyAccessible",
          "shape": "Boolean"
        },
        "ReadReplicaDBInstanceIdentifiers": {
          "locationName": "ReadReplicaDBInstanceIdentifiers",
          "shape": "ListOfReadReplicaDBInstanceIdentifiers"
        },
        "ReadReplicaSourceDBInstanceIdentifier": {
          "locationName": "ReadReplicaSourceDBInstanceIdentifier",
          "shape": "String"
        },
        "SecondaryAvailabilityZone": {
          "locationName": "SecondaryAvailabilityZone",
          "shape": "String"
        },
        "StatusInfos": {
          "locationName": "StatusInfos",
          "shape": "ListOfStatusInfos"
        },
        "VpcSecurityGroups": {
          "locationName": "VpcSecurityGroups",
          "shape": "String"
        }
      },
      "name": "DBInstances",
      "type": "structure"
    },
    "DBParameterGroup": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "Description": {
          "locationName": "Description",
          "shape": "String"
        }
      },
      "name": "DBParameterGroup",
      "type": "structure"
    },
    "DBParameterGroupFamilyOfDescribeDBEngineVersionsRequest": {
      "enum": [
        "mysql5.6",
        "mysql5.7",
        "postgres9.3",
        "postgres9.6",
        "postgres11",
        "mariadb10.1"
      ],
      "name": "DBParameterGroupFamilyOfDescribeDBEngineVersionsRequest",
      "type": "string"
    },
    "DBParameterGroups": {
      "members": {
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "ParameterApplyStatus": {
          "locationName": "ParameterApplyStatus",
          "shape": "String"
        }
      },
      "name": "DBParameterGroups",
      "type": "structure"
    },
    "DBParameterGroupsOfDescribeDBParameterGroups": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "Description": {
          "locationName": "Description",
          "shape": "String"
        }
      },
      "name": "DBParameterGroupsOfDescribeDBParameterGroups",
      "type": "structure"
    },
    "DBSecurityGroup": {
      "members": {
        "DBSecurityGroupDescription": {
          "locationName": "DBSecurityGroupDescription",
          "shape": "String"
        },
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "EC2SecurityGroups": {
          "locationName": "EC2SecurityGroups",
          "shape": "ListOfEC2SecurityGroups"
        },
        "IPRanges": {
          "locationName": "IPRanges",
          "shape": "ListOfIPRanges"
        },
        "NiftyAvailabilityZone": {
          "locationName": "NiftyAvailabilityZone",
          "shape": "String"
        },
        "OwnerId": {
          "locationName": "OwnerId",
          "shape": "String"
        }
      },
      "name": "DBSecurityGroup",
      "type": "structure"
    },
    "DBSecurityGroups": {
      "members": {
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "DBSecurityGroups",
      "type": "structure"
    },
    "DBSecurityGroupsOfDescribeDBSecurityGroups": {
      "members": {
        "DBSecurityGroupDescription": {
          "locationName": "DBSecurityGroupDescription",
          "shape": "String"
        },
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "EC2SecurityGroups": {
          "locationName": "EC2SecurityGroups",
          "shape": "ListOfEC2SecurityGroups"
        },
        "IPRanges": {
          "locationName": "IPRanges",
          "shape": "ListOfIPRanges"
        },
        "NiftyAvailabilityZone": {
          "locationName": "NiftyAvailabilityZone",
          "shape": "String"
        },
        "OwnerId": {
          "locationName": "OwnerId",
          "shape": "String"
        }
      },
      "name": "DBSecurityGroupsOfDescribeDBSecurityGroups",
      "type": "structure"
    },
    "DBSnapshot": {
      "members": {
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBSnapshotIdentifier": {
          "locationName": "DBSnapshotIdentifier",
          "shape": "String"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "String"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "InstanceCreateTime": {
          "locationName": "InstanceCreateTime",
          "shape": "TStamp"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "OptionGroupName": {
          "locationName": "OptionGroupName",
          "shape": "String"
        },
        "Port": {
          "locationName": "Port",
          "shape": "Integer"
        },
        "SnapshotCreateTime": {
          "locationName": "SnapshotCreateTime",
          "shape": "TStamp"
        },
        "SnapshotType": {
          "locationName": "SnapshotType",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "DBSnapshot",
      "type": "structure"
    },
    "DBSnapshots": {
      "members": {
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBSnapshotIdentifier": {
          "locationName": "DBSnapshotIdentifier",
          "shape": "String"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "String"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "InstanceCreateTime": {
          "locationName": "InstanceCreateTime",
          "shape": "TStamp"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "OptionGroupName": {
          "locationName": "OptionGroupName",
          "shape": "String"
        },
        "Port": {
          "locationName": "Port",
          "shape": "Integer"
        },
        "SnapshotCreateTime": {
          "locationName": "SnapshotCreateTime",
          "shape": "TStamp"
        },
        "SnapshotType": {
          "locationName": "SnapshotType",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "DBSnapshots",
      "type": "structure"
    },
    "Datapoints": {
      "members": {
        "NiftyTargetName": {
          "locationName": "NiftyTargetName",
          "shape": "String"
        },
        "SampleCount": {
          "locationName": "SampleCount",
          "shape": "Integer"
        },
        "Sum": {
          "locationName": "Sum",
          "shape": "Double"
        },
        "Timestamp": {
          "locationName": "Timestamp",
          "shape": "TStamp"
        }
      },
      "name": "Datapoints",
      "type": "structure"
    },
    "DeleteDBInstanceRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "FinalDBSnapshotIdentifier": {
          "locationName": "FinalDBSnapshotIdentifier",
          "shape": "String"
        },
        "SkipFinalSnapshot": {
          "locationName": "SkipFinalSnapshot",
          "shape": "Boolean"
        }
      },
      "name": "DeleteDBInstanceRequest",
      "required": [
        "DBInstanceIdentifier"
      ],
      "type": "structure"
    },
    "DeleteDBInstanceResult": {
      "members": {
        "DBInstance": {
          "locationName": "DBInstance",
          "shape": "DBInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteDBInstanceResult",
      "type": "structure"
    },
    "DeleteDBParameterGroupRequest": {
      "members": {
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        }
      },
      "name": "DeleteDBParameterGroupRequest",
      "required": [
        "DBParameterGroupName"
      ],
      "type": "structure"
    },
    "DeleteDBParameterGroupResult": {
      "members": {
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteDBParameterGroupResult",
      "type": "structure"
    },
    "DeleteDBSecurityGroupRequest": {
      "members": {
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        }
      },
      "name": "DeleteDBSecurityGroupRequest",
      "required": [
        "DBSecurityGroupName"
      ],
      "type": "structure"
    },
    "DeleteDBSecurityGroupResult": {
      "members": {
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteDBSecurityGroupResult",
      "type": "structure"
    },
    "DeleteDBSnapshotRequest": {
      "members": {
        "DBSnapshotIdentifier": {
          "locationName": "DBSnapshotIdentifier",
          "shape": "String"
        }
      },
      "name": "DeleteDBSnapshotRequest",
      "required": [
        "DBSnapshotIdentifier"
      ],
      "type": "structure"
    },
    "DeleteDBSnapshotResult": {
      "members": {
        "DBSnapshot": {
          "locationName": "DBSnapshot",
          "shape": "DBSnapshot"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteDBSnapshotResult",
      "type": "structure"
    },
    "DeleteEventSubscriptionRequest": {
      "members": {
        "SubscriptionName": {
          "locationName": "SubscriptionName",
          "shape": "String"
        }
      },
      "name": "DeleteEventSubscriptionRequest",
      "required": [
        "SubscriptionName"
      ],
      "type": "structure"
    },
    "DeleteEventSubscriptionResult": {
      "members": {
        "EventSubscription": {
          "locationName": "EventSubscription",
          "shape": "EventSubscription"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteEventSubscriptionResult",
      "type": "structure"
    },
    "DescribeCertificatesRequest": {
      "members": {
        "CertificateIdentifier": {
          "locationName": "CertificateIdentifier",
          "shape": "String"
        },
        "Filter": {
          "locationName": "Filter",
          "shape": "String"
        },
        "FilterName": {
          "locationName": "FilterName",
          "shape": "String"
        },
        "FilterValue": {
          "locationName": "FilterValue",
          "shape": "String"
        },
        "Filters": {
          "locationName": "Filters",
          "shape": "ListOfRequestFilters"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeCertificatesRequest",
      "type": "structure"
    },
    "DescribeCertificatesResult": {
      "members": {
        "Certificates": {
          "locationName": "Certificates",
          "shape": "ListOfCertificates"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeCertificatesResult",
      "type": "structure"
    },
    "DescribeDBEngineVersionsRequest": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "DBParameterGroupFamilyOfDescribeDBEngineVersionsRequest"
        },
        "DefaultOnly": {
          "locationName": "DefaultOnly",
          "shape": "Boolean"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "EngineOfDescribeDBEngineVersionsRequest"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "IncludeAll": {
          "locationName": "IncludeAll",
          "shape": "Boolean"
        },
        "ListSupportedCharacterSets": {
          "locationName": "ListSupportedCharacterSets",
          "shape": "Boolean"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeDBEngineVersionsRequest",
      "type": "structure"
    },
    "DescribeDBEngineVersionsResult": {
      "members": {
        "DBEngineVersions": {
          "locationName": "DBEngineVersions",
          "shape": "ListOfDBEngineVersions"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBEngineVersionsResult",
      "type": "structure"
    },
    "DescribeDBInstancesRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "Filter": {
          "locationName": "Filter",
          "shape": "String"
        },
        "FilterName": {
          "locationName": "FilterName",
          "shape": "String"
        },
        "FilterValue": {
          "locationName": "FilterValue",
          "shape": "String"
        },
        "Filters": {
          "locationName": "Filters",
          "shape": "ListOfRequestFilters"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeDBInstancesRequest",
      "type": "structure"
    },
    "DescribeDBInstancesResult": {
      "members": {
        "DBInstances": {
          "locationName": "DBInstances",
          "shape": "ListOfDBInstances"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBInstancesResult",
      "type": "structure"
    },
    "DescribeDBLogFiles": {
      "members": {
        "LastWritten": {
          "locationName": "LastWritten",
          "shape": "Long"
        },
        "LogFileName": {
          "locationName": "LogFileName",
          "shape": "String"
        },
        "Size": {
          "locationName": "Size",
          "shape": "Long"
        }
      },
      "name": "DescribeDBLogFiles",
      "type": "structure"
    },
    "DescribeDBLogFilesRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "FileLastWritten": {
          "locationName": "FileLastWritten",
          "shape": "Long"
        },
        "FileSize": {
          "locationName": "FileSize",
          "shape": "Long"
        },
        "FilenameContains": {
          "locationName": "FilenameContains",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeDBLogFilesRequest",
      "required": [
        "DBInstanceIdentifier"
      ],
      "type": "structure"
    },
    "DescribeDBLogFilesResult": {
      "members": {
        "DescribeDBLogFiles": {
          "locationName": "DescribeDBLogFiles",
          "shape": "ListOfDescribeDBLogFiles"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBLogFilesResult",
      "type": "structure"
    },
    "DescribeDBParameterGroupsRequest": {
      "members": {
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "Filter": {
          "locationName": "Filter",
          "shape": "String"
        },
        "FilterName": {
          "locationName": "FilterName",
          "shape": "String"
        },
        "FilterValue": {
          "locationName": "FilterValue",
          "shape": "String"
        },
        "Filters": {
          "locationName": "Filters",
          "shape": "ListOfRequestFilters"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeDBParameterGroupsRequest",
      "type": "structure"
    },
    "DescribeDBParameterGroupsResult": {
      "members": {
        "DBParameterGroups": {
          "locationName": "DBParameterGroups",
          "shape": "ListOfDBParameterGroupsOfDescribeDBParameterGroups"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBParameterGroupsResult",
      "type": "structure"
    },
    "DescribeDBParametersRequest": {
      "members": {
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        },
        "Source": {
          "locationName": "Source",
          "shape": "SourceOfDescribeDBParametersRequest"
        }
      },
      "name": "DescribeDBParametersRequest",
      "required": [
        "DBParameterGroupName"
      ],
      "type": "structure"
    },
    "DescribeDBParametersResult": {
      "members": {
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "Parameters": {
          "locationName": "Parameters",
          "shape": "ListOfParameters"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBParametersResult",
      "type": "structure"
    },
    "DescribeDBSecurityGroupsRequest": {
      "members": {
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "Filter": {
          "locationName": "Filter",
          "shape": "String"
        },
        "FilterName": {
          "locationName": "FilterName",
          "shape": "String"
        },
        "FilterValue": {
          "locationName": "FilterValue",
          "shape": "String"
        },
        "Filters": {
          "locationName": "Filters",
          "shape": "ListOfRequestFilters"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeDBSecurityGroupsRequest",
      "type": "structure"
    },
    "DescribeDBSecurityGroupsResult": {
      "members": {
        "DBSecurityGroups": {
          "locationName": "DBSecurityGroups",
          "shape": "ListOfDBSecurityGroupsOfDescribeDBSecurityGroups"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBSecurityGroupsResult",
      "type": "structure"
    },
    "DescribeDBSnapshotsRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBSnapshotIdentifier": {
          "locationName": "DBSnapshotIdentifier",
          "shape": "String"
        },
        "Filter": {
          "locationName": "Filter",
          "shape": "String"
        },
        "FilterName": {
          "locationName": "FilterName",
          "shape": "String"
        },
        "FilterValue": {
          "locationName": "FilterValue",
          "shape": "String"
        },
        "Filters": {
          "locationName": "Filters",
          "shape": "ListOfRequestFilters"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        },
        "SnapshotType": {
          "locationName": "SnapshotType",
          "shape": "SnapshotTypeOfDescribeDBSnapshotsRequest"
        }
      },
      "name": "DescribeDBSnapshotsRequest",
      "type": "structure"
    },
    "DescribeDBSnapshotsResult": {
      "members": {
        "DBSnapshots": {
          "locationName": "DBSnapshots",
          "shape": "ListOfDBSnapshots"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBSnapshotsResult",
      "type": "structure"
    },
    "DescribeEngineDefaultParametersRequest": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeEngineDefaultParametersRequest",
      "required": [
        "DBParameterGroupFamily"
      ],
      "type": "structure"
    },
    "DescribeEngineDefaultParametersResult": {
      "members": {
        "EngineDefaults": {
          "locationName": "EngineDefaults",
          "shape": "EngineDefaults"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeEngineDefaultParametersResult",
      "type": "structure"
    },
    "DescribeEventCategoriesRequest": {
      "members": {
        "SourceType": {
          "locationName": "SourceType",
          "shape": "SourceTypeOfDescribeEventCategoriesRequest"
        }
      },
      "name": "DescribeEventCategoriesRequest",
      "type": "structure"
    },
    "DescribeEventCategoriesResult": {
      "members": {
        "EventCategoriesMapList": {
          "locationName": "EventCategoriesMapList",
          "shape": "ListOfEventCategoriesMapList"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeEventCategoriesResult",
      "type": "structure"
    },
    "DescribeEventSubscriptionsRequest": {
      "members": {
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        },
        "NIftySortKey": {
          "locationName": "NIftySortKey",
          "shape": "NIftySortKeyOfDescribeEventSubscriptionsRequest"
        },
        "NiftyFilters": {
          "locationName": "NiftyFilters",
          "shape": "RequestNiftyFilters"
        },
        "NiftySortDesc": {
          "locationName": "NiftySortDesc",
          "shape": "Integer"
        },
        "SubscriptionName": {
          "locationName": "SubscriptionName",
          "shape": "String"
        }
      },
      "name": "DescribeEventSubscriptionsRequest",
      "type": "structure"
    },
    "DescribeEventSubscriptionsResult": {
      "members": {
        "EventSubscriptionsList": {
          "locationName": "EventSubscriptionsList",
          "shape": "ListOfEventSubscriptionsList"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeEventSubscriptionsResult",
      "type": "structure"
    },
    "DescribeEventsRequest": {
      "members": {
        "Duration": {
          "locationName": "Duration",
          "shape": "Integer"
        },
        "EndTime": {
          "locationName": "EndTime",
          "shape": "TStamp"
        },
        "EventCategories": {
          "locationName": "EventCategories",
          "shape": "ListOfRequestEventCategories"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        },
        "SourceIdentifier": {
          "locationName": "SourceIdentifier",
          "shape": "String"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "SourceTypeOfDescribeEventsRequest"
        },
        "StartTime": {
          "locationName": "StartTime",
          "shape": "TStamp"
        }
      },
      "name": "DescribeEventsRequest",
      "type": "structure"
    },
    "DescribeEventsResult": {
      "members": {
        "Events": {
          "locationName": "Events",
          "shape": "ListOfEvents"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeEventsResult",
      "type": "structure"
    },
    "DescribeOrderableDBInstanceOptionsRequest": {
      "members": {
        "DBInstanceClass": {
          "locationName": "DBInstanceClass",
          "shape": "DBInstanceClassOfDescribeOrderableDBInstanceOptionsRequest"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "EngineOfDescribeOrderableDBInstanceOptionsRequest"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        },
        "Vpc": {
          "locationName": "Vpc",
          "shape": "Boolean"
        }
      },
      "name": "DescribeOrderableDBInstanceOptionsRequest",
      "type": "structure"
    },
    "DescribeOrderableDBInstanceOptionsResult": {
      "members": {
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "OrderableDBInstanceOptions": {
          "locationName": "OrderableDBInstanceOptions",
          "shape": "ListOfOrderableDBInstanceOptions"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeOrderableDBInstanceOptionsResult",
      "type": "structure"
    },
    "Double": {
      "name": "Double",
      "type": "double"
    },
    "DownloadDBLogFilePortionRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "LogFileName": {
          "locationName": "LogFileName",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "NumberOfLines": {
          "locationName": "NumberOfLines",
          "shape": "Integer"
        }
      },
      "name": "DownloadDBLogFilePortionRequest",
      "required": [
        "DBInstanceIdentifier"
      ],
      "type": "structure"
    },
    "DownloadDBLogFilePortionResult": {
      "members": {
        "AdditionalDataPending": {
          "locationName": "AdditionalDataPending",
          "shape": "Boolean"
        },
        "LogFileData": {
          "locationName": "LogFileData",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DownloadDBLogFilePortionResult",
      "type": "structure"
    },
    "EC2SecurityGroups": {
      "members": {
        "EC2SecurityGroupName": {
          "locationName": "EC2SecurityGroupName",
          "shape": "String"
        },
        "EC2SecurityGroupOwnerId": {
          "locationName": "EC2SecurityGroupOwnerId",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "EC2SecurityGroups",
      "type": "structure"
    },
    "Endpoint": {
      "members": {
        "Address": {
          "locationName": "Address",
          "shape": "String"
        },
        "NiftyPrivateAddress": {
          "locationName": "NiftyPrivateAddress",
          "shape": "String"
        },
        "Port": {
          "locationName": "Port",
          "shape": "Integer"
        }
      },
      "name": "Endpoint",
      "type": "structure"
    },
    "EngineDefaults": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "Parameters": {
          "locationName": "Parameters",
          "shape": "ListOfParameters"
        }
      },
      "name": "EngineDefaults",
      "type": "structure"
    },
    "EngineOfCreateDBInstanceRequest": {
      "enum": [
        "MySQL",
        "postgres"
      ],
      "name": "EngineOfCreateDBInstanceRequest",
      "type": "string"
    },
    "EngineOfDescribeDBEngineVersionsRequest": {
      "enum": [
        "MySQL",
        "postgres",
        "MariaDB"
      ],
      "name": "EngineOfDescribeDBEngineVersionsRequest",
      "type": "string"
    },
    "EngineOfDescribeOrderableDBInstanceOptionsRequest": {
      "enum": [
        "MySQL",
        "postgres",
        "MariaDB"
      ],
      "name": "EngineOfDescribeOrderableDBInstanceOptionsRequest",
      "type": "string"
    },
    "EventCategoriesMapList": {
      "members": {
        "EventCategories": {
          "locationName": "EventCategories",
          "shape": "ListOfEventCategories"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "String"
        }
      },
      "name": "EventCategoriesMapList",
      "type": "structure"
    },
    "EventSubscription": {
      "members": {
        "CustSubscriptionId": {
          "locationName": "CustSubscriptionId",
          "shape": "String"
        },
        "Enabled": {
          "locationName": "Enabled",
          "shape": "Boolean"
        },
        "EventCategoriesList": {
          "locationName": "EventCategoriesList",
          "shape": "ListOfEventCategoriesList"
        },
        "NiftyDescription": {
          "locationName": "NiftyDescription",
          "shape": "String"
        },
        "NiftyEmailAddressesList": {
          "locationName": "NiftyEmailAddressesList",
          "shape": "ListOfNiftyEmailAddressesList"
        },
        "SourceIdsList": {
          "locationName": "SourceIdsList",
          "shape": "ListOfSourceIdsList"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        },
        "SubscriptionCreationTime": {
          "locationName": "SubscriptionCreationTime",
          "shape": "String"
        }
      },
      "name": "EventSubscription",
      "type": "structure"
    },
    "EventSubscriptionsList": {
      "members": {
        "CustSubscriptionId": {
          "locationName": "CustSubscriptionId",
          "shape": "String"
        },
        "Enabled": {
          "locationName": "Enabled",
          "shape": "Boolean"
        },
        "EventCategoriesList": {
          "locationName": "EventCategoriesList",
          "shape": "ListOfEventCategoriesList"
        },
        "NiftyDescription": {
          "locationName": "NiftyDescription",
          "shape": "String"
        },
        "NiftyEmailAddressesList": {
          "locationName": "NiftyEmailAddressesList",
          "shape": "ListOfNiftyEmailAddressesList"
        },
        "SourceIdsList": {
          "locationName": "SourceIdsList",
          "shape": "ListOfSourceIdsList"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        },
        "SubscriptionCreationTime": {
          "locationName": "SubscriptionCreationTime",
          "shape": "String"
        }
      },
      "name": "EventSubscriptionsList",
      "type": "structure"
    },
    "Events": {
      "members": {
        "Date": {
          "locationName": "Date",
          "shape": "TStamp"
        },
        "EventCategories": {
          "locationName": "EventCategories",
          "shape": "ListOfEventCategories"
        },
        "Message": {
          "locationName": "Message",
          "shape": "String"
        },
        "SourceIdentifier": {
          "locationName": "SourceIdentifier",
          "shape": "String"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "String"
        }
      },
      "name": "Events",
      "type": "structure"
    },
    "ExternalReplicationInfo": {
      "members": {
        "ExternalMasterAddress": {
          "locationName": "ExternalMasterAddress",
          "shape": "String"
        },
        "ExternalReplicationMessage": {
          "locationName": "ExternalReplicationMessage",
          "shape": "String"
        },
        "ExternalReplicationStatus": {
          "locationName": "ExternalReplicationStatus",
          "shape": "String"
        },
        "ReplicationAddresses": {
          "locationName": "ReplicationAddresses",
          "shape": "ListOfReplicationAddresses"
        },
        "ReplicationPrivateAddresses": {
          "locationName": "ReplicationPrivateAddresses",
          "shape": "ListOfReplicationPrivateAddresses"
        }
      },
      "name": "ExternalReplicationInfo",
      "type": "structure"
    },
    "FilterNameOfNiftyFiltersForDescribeEventSubscriptions": {
      "enum": [
        "SubscriptionName",
        "SourceType",
        "Enabled",
        "NiftyDescription"
      ],
      "name": "FilterNameOfNiftyFiltersForDescribeEventSubscriptions",
      "type": "string"
    },
    "IPRanges": {
      "members": {
        "CIDRIP": {
          "locationName": "CIDRIP",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "IPRanges",
      "type": "structure"
    },
    "Integer": {
      "name": "Integer",
      "type": "integer"
    },
    "ListOfAvailabilityZones": {
      "member": {
        "locationName": "AvailabilityZone",
        "shape": "AvailabilityZones"
      },
      "name": "ListOfAvailabilityZones",
      "type": "list"
    },
    "ListOfCertificates": {
      "member": {
        "locationName": "Certificate",
        "shape": "Certificates"
      },
      "name": "ListOfCertificates",
      "type": "list"
    },
    "ListOfDBEngineVersions": {
      "member": {
        "locationName": "DBEngineVersion",
        "shape": "DBEngineVersions"
      },
      "name": "ListOfDBEngineVersions",
      "type": "list"
    },
    "ListOfDBInstances": {
      "member": {
        "locationName": "DBInstance",
        "shape": "DBInstances"
      },
      "name": "ListOfDBInstances",
      "type": "list"
    },
    "ListOfDBParameterGroups": {
      "member": {
        "locationName": "DBParameterGroup",
        "shape": "DBParameterGroups"
      },
      "name": "ListOfDBParameterGroups",
      "type": "list"
    },
    "ListOfDBParameterGroupsOfDescribeDBParameterGroups": {
      "member": {
        "locationName": "DBParameterGroup",
        "shape": "DBParameterGroupsOfDescribeDBParameterGroups"
      },
      "name": "ListOfDBParameterGroupsOfDescribeDBParameterGroups",
      "type": "list"
    },
    "ListOfDBSecurityGroups": {
      "member": {
        "locationName": "DBSecurityGroup",
        "shape": "DBSecurityGroups"
      },
      "name": "ListOfDBSecurityGroups",
      "type": "list"
    },
    "ListOfDBSecurityGroupsOfDescribeDBSecurityGroups": {
      "member": {
        "locationName": "DBSecurityGroup",
        "shape": "DBSecurityGroupsOfDescribeDBSecurityGroups"
      },
      "name": "ListOfDBSecurityGroupsOfDescribeDBSecurityGroups",
      "type": "list"
    },
    "ListOfDBSnapshots": {
      "member": {
        "locationName": "DBSnapshot",
        "shape": "DBSnapshots"
      },
      "name": "ListOfDBSnapshots",
      "type": "list"
    },
    "ListOfDatapoints": {
      "member": {
        "locationName": "member",
        "shape": "Datapoints"
      },
      "name": "ListOfDatapoints",
      "type": "list"
    },
    "ListOfDescribeDBLogFiles": {
      "member": {
        "locationName": "DescribeDBLogFilesDetails",
        "shape": "DescribeDBLogFiles"
      },
      "name": "ListOfDescribeDBLogFiles",
      "type": "list"
    },
    "ListOfEC2SecurityGroups": {
      "member": {
        "locationName": "EC2SecurityGroup",
        "shape": "EC2SecurityGroups"
      },
      "name": "ListOfEC2SecurityGroups",
      "type": "list"
    },
    "ListOfEventCategories": {
      "member": {
        "locationName": "EventCategory",
        "shape": "String"
      },
      "name": "ListOfEventCategories",
      "type": "list"
    },
    "ListOfEventCategoriesList": {
      "member": {
        "locationName": "EventCategory",
        "shape": "String"
      },
      "name": "ListOfEventCategoriesList",
      "type": "list"
    },
    "ListOfEventCategoriesMapList": {
      "member": {
        "locationName": "EventCategoriesMap",
        "shape": "EventCategoriesMapList"
      },
      "name": "ListOfEventCategoriesMapList",
      "type": "list"
    },
    "ListOfEventSubscriptionsList": {
      "member": {
        "locationName": "EventSubscription",
        "shape": "EventSubscriptionsList"
      },
      "name": "ListOfEventSubscriptionsList",
      "type": "list"
    },
    "ListOfEvents": {
      "member": {
        "locationName": "Event",
        "shape": "Events"
      },
      "name": "ListOfEvents",
      "type": "list"
    },
    "ListOfIPRanges": {
      "member": {
        "locationName": "IPRange",
        "shape": "IPRanges"
      },
      "name": "ListOfIPRanges",
      "type": "list"
    },
    "ListOfNiftyEmailAddressesList": {
      "member": {
        "locationName": "NiftyEmailAddress",
        "shape": "String"
      },
      "name": "ListOfNiftyEmailAddressesList",
      "type": "list"
    },
    "ListOfNiftyStorageTypes": {
      "member": {
        "locationName": "NiftyStorageType",
        "shape": "Integer"
      },
      "name": "ListOfNiftyStorageTypes",
      "type": "list"
    },
    "ListOfOptionGroupMemberships": {
      "member": {
        "locationName": "OptionGroupMembership",
        "shape": "OptionGroupMemberships"
      },
      "name": "ListOfOptionGroupMemberships",
      "type": "list"
    },
    "ListOfOrderableDBInstanceOptions": {
      "member": {
        "locationName": "OrderableDBInstanceOption",
        "shape": "OrderableDBInstanceOptions"
      },
      "name": "ListOfOrderableDBInstanceOptions",
      "type": "list"
    },
    "ListOfParameters": {
      "member": {
        "locationName": "Parameter",
        "shape": "Parameters"
      },
      "name": "ListOfParameters",
      "type": "list"
    },
    "ListOfReadReplicaDBInstanceIdentifiers": {
      "member": {
        "locationName": "ReadReplicaDBInstanceIdentifier",
        "shape": "String"
      },
      "name": "ListOfReadReplicaDBInstanceIdentifiers",
      "type": "list"
    },
    "ListOfReplicationAddresses": {
      "member": {
        "locationName": "ReplicationAddress",
        "shape": "String"
      },
      "name": "ListOfReplicationAddresses",
      "type": "list"
    },
    "ListOfReplicationPrivateAddresses": {
      "member": {
        "locationName": "ReplicationPrivateAddress",
        "shape": "String"
      },
      "name": "ListOfReplicationPrivateAddresses",
      "type": "list"
    },
    "ListOfRequestDBSecurityGroups": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfRequestDBSecurityGroups",
      "type": "list"
    },
    "ListOfRequestDimensions": {
      "member": {
        "locationName": "member",
        "shape": "RequestDimensions"
      },
      "name": "ListOfRequestDimensions",
      "type": "list"
    },
    "ListOfRequestEventCategories": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfRequestEventCategories",
      "type": "list"
    },
    "ListOfRequestFilter": {
      "member": {
        "shape": "RequestFilter"
      },
      "name": "ListOfRequestFilter",
      "type": "list"
    },
    "ListOfRequestFilters": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfRequestFilters",
      "type": "list"
    },
    "ListOfRequestNiftyDBSecurityGroups": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfRequestNiftyDBSecurityGroups",
      "type": "list"
    },
    "ListOfRequestNiftyEmailAddresses": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfRequestNiftyEmailAddresses",
      "type": "list"
    },
    "ListOfRequestNiftySourceIds": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfRequestNiftySourceIds",
      "type": "list"
    },
    "ListOfRequestParameters": {
      "member": {
        "locationName": "member",
        "shape": "RequestParameters"
      },
      "name": "ListOfRequestParameters",
      "type": "list"
    },
    "ListOfRequestParametersOfResetDBParameterGroup": {
      "member": {
        "locationName": "member",
        "shape": "RequestParametersOfResetDBParameterGroup"
      },
      "name": "ListOfRequestParametersOfResetDBParameterGroup",
      "type": "list"
    },
    "ListOfRequestSourceIds": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfRequestSourceIds",
      "type": "list"
    },
    "ListOfRequestVpcSecurityGroupIds": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfRequestVpcSecurityGroupIds",
      "type": "list"
    },
    "ListOfSourceIdsList": {
      "member": {
        "locationName": "SourceId",
        "shape": "String"
      },
      "name": "ListOfSourceIdsList",
      "type": "list"
    },
    "ListOfStatusInfos": {
      "member": {
        "locationName": "DBInstanceStatusInfo",
        "shape": "StatusInfos"
      },
      "name": "ListOfStatusInfos",
      "type": "list"
    },
    "ListOfValidUpgradeTarget": {
      "member": {
        "locationName": "UpgradeTarget",
        "shape": "ValidUpgradeTarget"
      },
      "name": "ListOfValidUpgradeTarget",
      "type": "list"
    },
    "Long": {
      "name": "Long",
      "type": "long"
    },
[...]
