{
  "metadata": {
    "apiVersion": "2013-05-15N2013-12-16",
    "endpointPrefix": "rdb",
    "protocol": "rdb",
    "serviceAbbreviation": "rdb",
    "serviceFullName": "NIFCLOUD RDB",
    "serviceId": "rdb",
    "signatureVersion": "v4",
    "uid": "rdb-2013-05-15N2013-12-16",
    "xmlNamespace": "https://rdb.api.nifcloud.com/"
  },
  "operations": {
    "AddSourceIdentifierToSubscription": {
      "documentation": "<p>イベントサブスクリプションにリソースIDを追加します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddSourceIdentifierToSubscriptionRequest"
      },
      "name": "AddSourceIdentifierToSubscription",
      "output": {
        "resultWrapper": "AddSourceIdentifierToSubscriptionResult",
        "shape": "AddSourceIdentifierToSubscriptionResult"
      }
    },
    "AuthorizeDBSecurityGroupIngress": {
      "documentation": "<p>下記どちらかの方法でDBファイアウォールグループへの接続を許可します。</p> <ul> <li><p>ニフクラのサーバーからのプライベートネットワーク経由でDBサーバーへアクセスしたい場合、ニフクラのファイアウォールグループからの接続を許可できます。</p></li> <li><p>インターネット経由でDBサーバーへアクセスしたい場合、特定のIP帯からの接続を許可できます。</p></li> </ul> <p>DBファイアウォールグループに対して、同一ゾーンのニフクラのファイアウォールグループからの接続許可は可能ですが、別ゾーンのニフクラのファイアウォールグループからの接続許可はできません。</p><p>このAPIアクションではCIDRIP（IP範囲）またはEC2SecurityGroupName（ニフクラのファイアウォールグループ名）を必ず指定する必要があります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AuthorizeDBSecurityGroupIngressRequest"
      },
      "name": "AuthorizeDBSecurityGroupIngress",
      "output": {
        "resultWrapper": "AuthorizeDBSecurityGroupIngressResult",
        "shape": "AuthorizeDBSecurityGroupIngressResult"
      }
    },
    "CancelDBInstanceForUpgrade": {
      "documentation": "<p>DBサーバーの基盤アップグレードをキャンセルします。</p><p>基盤アップグレードステータスが「アップグレード可能」または「アップグレード不可」の場合のみ実行可能です。</p><p>マスターDBサーバーのみ指定可能でリードレプリカを持つ場合は、同時にリードレプリカの基盤アップグレードキャンセルを行います。</p><p>キャンセル完了後、基盤アップグレードステータスは「アップグレードが必要」になります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelDBInstanceForUpgradeRequest"
      },
      "name": "CancelDBInstanceForUpgrade",
      "output": {
        "resultWrapper": "CancelDBInstanceForUpgradeResult",
        "shape": "CancelDBInstanceForUpgradeResult"
      }
    },
    "CopyDBSnapshot": {
      "documentation": "<p>DBスナップショットをコピーします。</p><p>コピー元のDBスナップショットはステータスが”available”でなければなりません。</p><p>自動バックアップ機能で作成されたDBスナップショットのみコピーすることができます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyDBSnapshotRequest"
      },
      "name": "CopyDBSnapshot",
      "output": {
        "resultWrapper": "CopyDBSnapshotResult",
        "shape": "CopyDBSnapshotResult"
      }
    },
    "CreateDBInstance": {
      "documentation": "<p>DBサーバーを新規作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBInstanceRequest"
      },
      "name": "CreateDBInstance",
      "output": {
        "resultWrapper": "CreateDBInstanceResult",
        "shape": "CreateDBInstanceResult"
      }
    },
    "CreateDBInstanceReadReplica": {
      "documentation": "<p>DBサーバーからリードレプリカを作成します。</p><p>すべてのリードレプリカは冗長化機能無効・自動バックアップ無効で作成されます。</p><p>リクエストパラメーターで指定したもの以外の属性は、作成元のDBサーバーから継承されます。</p><p>[重要]</p><p>作成元のDBサーバーは自動バックアップが有効でなければなりません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBInstanceReadReplicaRequest"
      },
      "name": "CreateDBInstanceReadReplica",
      "output": {
        "resultWrapper": "CreateDBInstanceReadReplicaResult",
        "shape": "CreateDBInstanceReadReplicaResult"
      }
    },
    "CreateDBParameterGroup": {
      "documentation": "<p>DBパラメーターグループを作成します。</p><p>パラメーターの値をカスタマイズしたい場合には、ModifyDBParameterGroupを使います。</p><p>起動しているDBサーバーへ新しいDBパラメーターグループを適用したい場合には、DBサーバーの再起動が必要になります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBParameterGroupRequest"
      },
      "name": "CreateDBParameterGroup",
      "output": {
        "resultWrapper": "CreateDBParameterGroupResult",
        "shape": "CreateDBParameterGroupResult"
      }
    },
    "CreateDBSecurityGroup": {
      "documentation": "<p>DBファイアウォールグループを作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBSecurityGroupRequest"
      },
      "name": "CreateDBSecurityGroup",
      "output": {
        "resultWrapper": "CreateDBSecurityGroupResult",
        "shape": "CreateDBSecurityGroupResult"
      }
    },
    "CreateDBSnapshot": {
      "documentation": "<p>DBスナップショットを作成します。</p><p>作成元となるDBサーバーのステータスは”available”でなければなりません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBSnapshotRequest"
      },
      "name": "CreateDBSnapshot",
      "output": {
        "resultWrapper": "CreateDBSnapshotResult",
        "shape": "CreateDBSnapshotResult"
      }
    },
    "CreateEventSubscription": {
      "documentation": "<p>イベントサブスクリプションを新規作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEventSubscriptionRequest"
      },
      "name": "CreateEventSubscription",
      "output": {
        "resultWrapper": "CreateEventSubscriptionResult",
        "shape": "CreateEventSubscriptionResult"
      }
    },
    "DeleteDBInstance": {
      "documentation": "<p>DBサーバーを削除します。</p><p>成功したレスポンスはリクエストが正しく受け取られたことを表します。</p><p>DBサーバーを削除すると、自動バックアップ機能で作成されたバックアップも削除され復元することができなくなります。</p><p>手動で作成したDBスナップショットは削除されません。</p><p>削除前に最後のDBスナップショットを作成することを指定した場合、DBスナップショットが作成されるまでDBサーバーのステータスはdeleting(削除中)になります。</p><p>この操作の進捗状況を確認するにはDescribeDBInstanceアクションを利用してください。</p><p>このアクションは一度送信するとキャンセル・取り消しを行うことはできません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBInstanceRequest"
      },
      "name": "DeleteDBInstance",
      "output": {
        "resultWrapper": "DeleteDBInstanceResult",
        "shape": "DeleteDBInstanceResult"
      }
    },
    "DeleteDBParameterGroup": {
      "documentation": "<p>DBパラメーターグループを削除します。</p><p>DBサーバーに紐づいているDBパラメーターグループを削除することはできません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBParameterGroupRequest"
      },
      "name": "DeleteDBParameterGroup",
      "output": {
        "shape": "DeleteDBParameterGroupResult"
      }
    },
    "DeleteDBSecurityGroup": {
      "documentation": "<p>DBファイアウォールグループを削除します。</p><p>DBサーバーに適用された状態のDBファイアウォールグループを削除することはできません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBSecurityGroupRequest"
      },
      "name": "DeleteDBSecurityGroup",
      "output": {
        "shape": "DeleteDBSecurityGroupResult"
      }
    },
    "DeleteDBSnapshot": {
      "documentation": "<p>DBスナップショットを削除します。</p><p>手動作成したDBスナップショットのみ削除することができます。</p><p>さらに、DBスナップショットのステータスは”available”または”failed”でなければなりません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBSnapshotRequest"
      },
      "name": "DeleteDBSnapshot",
      "output": {
        "resultWrapper": "DeleteDBSnapshotResult",
        "shape": "DeleteDBSnapshotResult"
      }
    },
    "DeleteEventSubscription": {
      "documentation": "<p>イベントサブスクリプションを削除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEventSubscriptionRequest"
      },
      "name": "DeleteEventSubscription",
      "output": {
        "resultWrapper": "DeleteEventSubscriptionResult",
        "shape": "DeleteEventSubscriptionResult"
      }
    },
    "DescribeCertificates": {
      "documentation": "<p>DBサーバーに適用できるCA証明書情報を取得します。</p><p>このAPIアクションはページネートをサポートしています。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCertificatesRequest"
      },
      "name": "DescribeCertificates",
      "output": {
        "resultWrapper": "DescribeCertificatesResult",
        "shape": "DescribeCertificatesResult"
      }
    },
    "DescribeDBEngineVersions": {
      "documentation": "<p>データベースエンジンのバージョン情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBEngineVersionsRequest"
      },
      "name": "DescribeDBEngineVersions",
      "output": {
        "resultWrapper": "DescribeDBEngineVersionsResult",
        "shape": "DescribeDBEngineVersionsResult"
      }
    },
    "DescribeDBInstances": {
      "documentation": "<p>DBサーバーの情報を取得します。</p><p>このAPIアクションはページネートをサポートしています。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBInstancesRequest"
      },
      "name": "DescribeDBInstances",
      "output": {
        "resultWrapper": "DescribeDBInstancesResult",
        "shape": "DescribeDBInstancesResult"
      }
    },
    "DescribeDBLogFiles": {
      "documentation": "<p>DBサーバー内のログファイルの一覧を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBLogFilesRequest"
      },
      "name": "DescribeDBLogFiles",
      "output": {
        "resultWrapper": "DescribeDBLogFilesResult",
        "shape": "DescribeDBLogFilesResult"
      }
    },
    "DescribeDBParameterGroups": {
      "documentation": "<p>DBパラメーターグループの情報を取得します。</p><p>DBParameterGroupName(DBパラメーターグループ名)を指定した場合には、該当するDBパラメーターグループの情報のみが返却されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBParameterGroupsRequest"
      },
      "name": "DescribeDBParameterGroups",
      "output": {
        "resultWrapper": "DescribeDBParameterGroupsResult",
        "shape": "DescribeDBParameterGroupsResult"
      }
    },
    "DescribeDBParameters": {
      "documentation": "<p>DBパラメーターグループからパラメーターの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBParametersRequest"
      },
      "name": "DescribeDBParameters",
      "output": {
        "resultWrapper": "DescribeDBParametersResult",
        "shape": "DescribeDBParametersResult"
      }
    },
    "DescribeDBSecurityGroups": {
      "documentation": "<p>DBファイアウォールグループの情報を取得します。</p><p>DBSecurityGroupName(DBファイアウォールグループ名)が指定された場合は該当するDBファイアウォールグループの情報のみが返却されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBSecurityGroupsRequest"
      },
      "name": "DescribeDBSecurityGroups",
      "output": {
        "resultWrapper": "DescribeDBSecurityGroupsResult",
        "shape": "DescribeDBSecurityGroupsResult"
      }
    },
    "DescribeDBSnapshots": {
      "documentation": "<p>DBスナップショットの情報を取得します。</p><p>このAPIアクションはページネートをサポートしています。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBSnapshotsRequest"
      },
      "name": "DescribeDBSnapshots",
      "output": {
        "resultWrapper": "DescribeDBSnapshotsResult",
        "shape": "DescribeDBSnapshotsResult"
      }
    },
    "DescribeEngineDefaultParameters": {
      "documentation": "<p>指定したDBエンジンのデフォルトパラメーターの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEngineDefaultParametersRequest"
      },
      "name": "DescribeEngineDefaultParameters",
      "output": {
        "resultWrapper": "DescribeEngineDefaultParametersResult",
        "shape": "DescribeEngineDefaultParametersResult"
      }
    },
    "DescribeEventCategories": {
      "documentation": "<p>各リソースタイプに対するイベントカテゴリの一覧を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventCategoriesRequest"
      },
      "name": "DescribeEventCategories",
      "output": {
        "resultWrapper": "DescribeEventCategoriesResult",
        "shape": "DescribeEventCategoriesResult"
      }
    },
    "DescribeEventSubscriptions": {
      "documentation": "<p>イベントサブスクリプションの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventSubscriptionsRequest"
      },
      "name": "DescribeEventSubscriptions",
      "output": {
        "resultWrapper": "DescribeEventSubscriptionsResult",
        "shape": "DescribeEventSubscriptionsResult"
      }
    },
    "DescribeEvents": {
      "documentation": "<p>過去14日のDBサーバー・DBファイアウォールグループ・DBスナップショット・DBパラメーターグループに関するイベントの情報を取得します。</p><p>特定のリソースについてのイベント情報を取得するには対象のSourceIdentifier(リソース名)とSourceType(リソースタイプ)を指定してください。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventsRequest"
      },
      "name": "DescribeEvents",
      "output": {
        "resultWrapper": "DescribeEventsResult",
        "shape": "DescribeEventsResult"
      }
    },
    "DescribeOrderableDBInstanceOptions": {
      "documentation": "<p>特定のエンジンに紐づくDBサーバーオプションの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOrderableDBInstanceOptionsRequest"
      },
      "name": "DescribeOrderableDBInstanceOptions",
      "output": {
        "resultWrapper": "DescribeOrderableDBInstanceOptionsResult",
        "shape": "DescribeOrderableDBInstanceOptionsResult"
      }
    },
    "DownloadDBLogFilePortion": {
      "documentation": "<p>特定のログファイルの最新行を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DownloadDBLogFilePortionRequest"
      },
      "name": "DownloadDBLogFilePortion",
      "output": {
        "resultWrapper": "DownloadDBLogFilePortionResult",
        "shape": "DownloadDBLogFilePortionResult"
      }
    },
    "ModifyDBInstance": {
      "documentation": "<p>DBサーバーの設定を変更します。</p><p>一度に複数のDB設定を変更することができます。</p><p>一部のパラメーターは、ApplyImmediatelyをfalseに指定しても「今すぐ」適用されることにご注意ください。</p><p>また、設定変更内容によってはIO性能低下・DBサーバー停止・DBサービス停止を伴うことがあります。</p><p>詳しくはユーザガイドとRDB技術仕様/制限値を参照してください。</p> <ul> <li><a href=\"https://docs.nifcloud.com/rdb/guide/server_change.htm\">DBサーバーの設定変更</a></li> <li><a href=\"https://docs.nifcloud.com/rdb/spec/server_maintenance.htm\">メンテナンス</a></li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBInstanceRequest"
      },
      "name": "ModifyDBInstance",
      "output": {
        "resultWrapper": "ModifyDBInstanceResult",
        "shape": "ModifyDBInstanceResult"
      }
    },
    "ModifyDBInstanceNetwork": {
      "documentation": "<p>DBサーバーのプライベートLAN・プライベートIPアドレスを変更します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBInstanceNetworkRequest"
      },
      "name": "ModifyDBInstanceNetwork",
      "output": {
        "resultWrapper": "ModifyDBInstanceNetworkResult",
        "shape": "ModifyDBInstanceNetworkResult"
      }
    },
    "ModifyDBParameterGroup": {
      "documentation": "<p>DBパラメーターグループのパラメーターを更新します。</p><p>最大20個のDBパラメーターを1回のリクエストで変更できます。</p><p>適用方法にはapply-immediate(今すぐ)とpending-reboot(再起動待ち)の2種類があります。</p><p>apply-immediateはdynamicパラメーターにのみ利用できます。</p><p>pending-rebootはMySQL、PostgreSQLエンジンの場合はdynamic・static両方のパラメーターに利用できます。</p><p>PostgreSQL エンジンの場合、pending-rebootを指定しても、dynamicパラメーターは即時反映（apply-immediateと同じ動作）になります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBParameterGroupRequest"
      },
      "name": "ModifyDBParameterGroup",
      "output": {
        "resultWrapper": "ModifyDBParameterGroupResult",
        "shape": "ModifyDBParameterGroupResult"
      }
    },
    "ModifyEventSubscription": {
      "documentation": "<p>イベントサブスクリプションを更新します。</p><p>このAPIでは、リソースIDの変更はできません。</p><p>リソースIDの変更を行うには AddSourceIdentifierToSubscription、RemoveSourceIdentifierFromSubscriptionを使用してください。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyEventSubscriptionRequest"
      },
      "name": "ModifyEventSubscription",
      "output": {
        "resultWrapper": "ModifyEventSubscriptionResult",
        "shape": "ModifyEventSubscriptionResult"
      }
    },
    "NiftyGetMetricStatistics": {
      "documentation": "<p>RDBサービスのモニタリング情報を取得します。</p><p>モニタリング要素について、詳しくは下記ヘルプページをご確認ください。</p><p><a href=\"https://docs.nifcloud.com/rdb/help/monitoring.htm\">ヘルプ：RDB : モニタリング</a></p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "NiftyGetMetricStatisticsRequest"
      },
      "name": "NiftyGetMetricStatistics",
      "output": {
        "resultWrapper": "NiftyGetMetricStatisticsResult",
        "shape": "NiftyGetMetricStatisticsResult"
      }
    },
    "PrepareDBInstanceForUpgrade": {
      "documentation": "<p>DBサーバーの基盤アップグレードを準備します。</p><p>基盤アップグレードステータスが「アップグレードが必要」な場合のみ実行可能です。</p><p>マスターDBサーバーのみ指定可能でリードレプリカを持つ場合は、同時にリードレプリカの基盤アップグレード準備を行います。</p><p>準備完了後、基盤アップグレードステータスは「アップグレード可能」になります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PrepareDBInstanceForUpgradeRequest"
      },
      "name": "PrepareDBInstanceForUpgrade",
      "output": {
        "resultWrapper": "PrepareDBInstanceForUpgradeResult",
        "shape": "PrepareDBInstanceForUpgradeResult"
      }
    },
    "RebootDBInstance": {
      "documentation": "<p>DBサーバーを再起動します。</p><p>このAPIアクションはDBサーバーに適用されているDBパラメーターグループの中で、ApplyStatus(適用状況)がpending-reboot(再起動待ち)となっているパラメーターを更新します。</p><p>DBサーバーを再起動すると少しの間DBサーバーは機能停止し、その間ステータスはrebooting(再起動中)となります。</p><p>DBサーバーの冗長化機能が有効の場合には、強制的にフェイルオーバーさせることができます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebootDBInstanceRequest"
      },
      "name": "RebootDBInstance",
      "output": {
        "resultWrapper": "RebootDBInstanceResult",
        "shape": "RebootDBInstanceResult"
      }
    },
    "RemoveSourceIdentifierFromSubscription": {
      "documentation": "<p>イベントサブスクリプションからリソースIDを削除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveSourceIdentifierFromSubscriptionRequest"
      },
      "name": "RemoveSourceIdentifierFromSubscription",
      "output": {
        "resultWrapper": "RemoveSourceIdentifierFromSubscriptionResult",
        "shape": "RemoveSourceIdentifierFromSubscriptionResult"
      }
    },
    "ResetDBParameterGroup": {
      "documentation": "<p>DBパラメーターグループのパラメーターをデフォルト値にリセットします。</p><p>特定のパラメーターをリセットするにはParameterName(パラメーター名)とApplyMethod(適用方法)を指定します。</p><p>すべてのパラメーターをリセットするには、DBParameterGroupName(DBパラメーターグループ名)とResetAllParameters(すべてのパラメータをリセットするフラグ)を指定します。</p><p>すべてのパラメーターをリセットする場合、dynamicパラメーターはただちに適用されますが、staticパラメーターはステータスがpending-reboot(再起動待ち)に変わり、DBサーバーが再起動されるかRebootInstanceアクションが呼び出されたときに適用が行われます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResetDBParameterGroupRequest"
      },
      "name": "ResetDBParameterGroup",
      "output": {
        "resultWrapper": "ResetDBParameterGroupResult",
        "shape": "ResetDBParameterGroupResult"
      }
    },
    "ResetExternalMaster": {
      "documentation": "<p>外部レプリケーションを解除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResetExternalMasterRequest"
      },
      "name": "ResetExternalMaster",
      "output": {
        "resultWrapper": "ResetExternalMasterResult",
        "shape": "ResetExternalMasterResult"
      }
    },
    "RestoreDBInstanceFromDBSnapshot": {
      "documentation": "<p>DBスナップショットから新しいDBサーバーを作成します。</p><p>元のDBサーバーとほぼ同じ設定でDBサーバーが作成されますが、異なる設定を適用することもできます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreDBInstanceFromDBSnapshotRequest"
      },
      "name": "RestoreDBInstanceFromDBSnapshot",
      "output": {
        "resultWrapper": "RestoreDBInstanceFromDBSnapshotResult",
        "shape": "RestoreDBInstanceFromDBSnapshotResult"
      }
    },
    "RestoreDBInstanceToPointInTime": {
      "documentation": "<p>既存のDBサーバーのある日時の状態から新しいDBサーバーを作成します。</p><p>最新のリストア可能時間からバックアップ保持期間までの状態にリストアすることができます。</p><p>元のDBサーバーとほぼ同じ設定でDBサーバーが作成されますが、異なる設定を適用することもできます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreDBInstanceToPointInTimeRequest"
      },
      "name": "RestoreDBInstanceToPointInTime",
      "output": {
        "resultWrapper": "RestoreDBInstanceToPointInTimeResult",
        "shape": "RestoreDBInstanceToPointInTimeResult"
      }
    },
    "RevokeDBSecurityGroupIngress": {
      "documentation": "<p>接続を許可したIP範囲またはニフクラのファイアウォールグループ名の設定を取り消します。</p><p>このAPIアクションではCIDRIP（IP帯）またはEC2SecurityGroupName（ニフクラのファイアウォールグループ名）を必ず指定する必要があります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeDBSecurityGroupIngressRequest"
      },
      "name": "RevokeDBSecurityGroupIngress",
      "output": {
        "resultWrapper": "RevokeDBSecurityGroupIngressResult",
        "shape": "RevokeDBSecurityGroupIngressResult"
      }
    },
    "SetExternalMaster": {
      "documentation": "<p>外部レプリケーションの設定を行います。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetExternalMasterRequest"
      },
      "name": "SetExternalMaster",
      "output": {
        "resultWrapper": "SetExternalMasterResult",
        "shape": "SetExternalMasterResult"
      }
    },
    "StartReplication": {
      "documentation": "<p>外部レプリケーションを開始します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartReplicationRequest"
      },
      "name": "StartReplication",
      "output": {
        "resultWrapper": "StartReplicationResult",
        "shape": "StartReplicationResult"
      }
    },
    "StopReplication": {
      "documentation": "<p>外部レプリケーションを停止します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopReplicationRequest"
      },
      "name": "StopReplication",
      "output": {
        "resultWrapper": "StopReplicationResult",
        "shape": "StopReplicationResult"
      }
    },
    "UpgradeDBEngineVersion": {
      "documentation": "<p>DBサーバーのデータベースエンジンのバージョンをアップグレードします。</p><p>アップグレード可能なバージョンはDescribeDBEngineVersions APIから取得できます。</p><p>MySQLの場合、かつ、リードレプリカが存在する場合は、マスターより先に全てのリードレプリカをアップグレードする必要があります。</p><p>アップグレードが成功した場合、元のバージョンに戻すことはできません。</p><p>必要に応じてPreUpgradeDBSnapshotIdentifierを指定し、アップグレード前のDBスナップショットを作成してください。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpgradeDBEngineVersionRequest"
      },
      "name": "UpgradeDBEngineVersion",
      "output": {
        "resultWrapper": "UpgradeDBEngineVersionResult",
        "shape": "UpgradeDBEngineVersionResult"
      }
    },
    "UpgradeDBInstance": {
      "documentation": "<p>DBサーバーの基盤アップグレードを実行します。</p><p>基盤アップグレードステータスが「アップグレード可能」な場合のみ実行可能です。</p><p>マスターDBサーバーのみ指定可能でリードレプリカを持つ場合は、同時にリードレプリカの基盤アップグレードを行います。</p><p>基盤アップグレード完了後、基盤アップグレードステータスは「最新」になります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpgradeDBInstanceRequest"
      },
      "name": "UpgradeDBInstance",
      "output": {
        "resultWrapper": "UpgradeDBInstanceResult",
        "shape": "UpgradeDBInstanceResult"
      }
    }
  },
  "shapes": {
    "AccountingTypeOfCreateDBInstanceReadReplicaRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfCreateDBInstanceReadReplicaRequest",
      "type": "string"
    },
    "AccountingTypeOfCreateDBInstanceRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfCreateDBInstanceRequest",
      "type": "string"
    },
    "AccountingTypeOfModifyDBInstanceRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfModifyDBInstanceRequest",
      "type": "string"
    },
    "AccountingTypeOfRestoreDBInstanceFromDBSnapshotRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfRestoreDBInstanceFromDBSnapshotRequest",
      "type": "string"
    },
    "AccountingTypeOfRestoreDBInstanceToPointInTimeRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfRestoreDBInstanceToPointInTimeRequest",
      "type": "string"
    },
    "AddSourceIdentifierToSubscriptionRequest": {
      "members": {
        "SourceIdentifier": {
          "locationName": "SourceIdentifier",
          "shape": "String"
        },
        "SubscriptionName": {
          "locationName": "SubscriptionName",
          "shape": "String"
        }
      },
      "name": "AddSourceIdentifierToSubscriptionRequest",
      "required": [
        "SourceIdentifier",
        "SubscriptionName"
      ],
      "type": "structure"
    },
    "AddSourceIdentifierToSubscriptionResult": {
      "members": {
        "EventSubscription": {
          "locationName": "EventSubscription",
          "shape": "EventSubscription"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "AddSourceIdentifierToSubscriptionResult",
      "type": "structure"
    },
    "ApplyMethodOfParametersForModifyDBParameterGroup": {
      "enum": [
        "immediate",
        "pending-reboot"
      ],
      "name": "ApplyMethodOfParametersForModifyDBParameterGroup",
      "type": "string"
    },
    "ApplyMethodOfParametersForResetDBParameterGroup": {
      "enum": [
        "immediate",
        "pending-reboot"
      ],
      "name": "ApplyMethodOfParametersForResetDBParameterGroup",
      "type": "string"
    },
    "AuthorizeDBSecurityGroupIngressRequest": {
      "members": {
        "CIDRIP": {
          "locationName": "CIDRIP",
          "shape": "String"
        },
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "EC2SecurityGroupId": {
          "locationName": "EC2SecurityGroupId",
          "shape": "String"
        },
        "EC2SecurityGroupName": {
          "locationName": "EC2SecurityGroupName",
          "shape": "String"
        },
        "EC2SecurityGroupOwnerId": {
          "locationName": "EC2SecurityGroupOwnerId",
          "shape": "String"
        }
      },
      "name": "AuthorizeDBSecurityGroupIngressRequest",
      "required": [
        "DBSecurityGroupName"
      ],
      "type": "structure"
    },
    "AuthorizeDBSecurityGroupIngressResult": {
      "members": {
        "DBSecurityGroup": {
          "locationName": "DBSecurityGroup",
          "shape": "DBSecurityGroup"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "AuthorizeDBSecurityGroupIngressResult",
      "type": "structure"
    },
    "AvailabilityZones": {
      "members": {
        "Name": {
          "locationName": "Name",
          "shape": "String"
        },
        "NiftyStorageTypes": {
          "locationName": "NiftyStorageTypes",
          "shape": "ListOfNiftyStorageTypes"
        },
        "ProvisionedIopsCapable": {
          "locationName": "ProvisionedIopsCapable",
          "shape": "Boolean"
        }
      },
      "name": "AvailabilityZones",
      "type": "structure"
    },
    "Blob": {
      "name": "Blob",
      "type": "blob"
    },
    "Boolean": {
      "name": "Boolean",
      "type": "boolean"
    },
    "CancelDBInstanceForUpgradeRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        }
      },
      "name": "CancelDBInstanceForUpgradeRequest",
      "required": [
        "DBInstanceIdentifier"
      ],
      "type": "structure"
    },
    "CancelDBInstanceForUpgradeResult": {
      "members": {
        "DBInstance": {
          "locationName": "DBInstance",
          "shape": "DBInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CancelDBInstanceForUpgradeResult",
      "type": "structure"
    },
    "Certificates": {
      "members": {
        "CertificateIdentifier": {
          "locationName": "CertificateIdentifier",
          "shape": "String"
        },
        "CertificateType": {
          "locationName": "CertificateType",
          "shape": "String"
        },
        "Thumbprint": {
          "locationName": "Thumbprint",
          "shape": "String"
        },
        "ValidFrom": {
          "locationName": "ValidFrom",
          "shape": "TStamp"
        },
        "ValidTill": {
          "locationName": "ValidTill",
          "shape": "TStamp"
        }
      },
      "name": "Certificates",
      "type": "structure"
    },
    "CopyDBSnapshotRequest": {
      "members": {
        "SourceDBSnapshotIdentifier": {
          "locationName": "SourceDBSnapshotIdentifier",
          "shape": "String"
        },
        "TargetDBSnapshotIdentifier": {
          "locationName": "TargetDBSnapshotIdentifier",
          "shape": "String"
        }
      },
      "name": "CopyDBSnapshotRequest",
      "required": [
        "SourceDBSnapshotIdentifier",
        "TargetDBSnapshotIdentifier"
      ],
      "type": "structure"
    },
    "CopyDBSnapshotResult": {
      "members": {
        "DBSnapshot": {
          "locationName": "DBSnapshot",
          "shape": "DBSnapshot"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CopyDBSnapshotResult",
      "type": "structure"
    },
    "CreateDBInstanceReadReplicaRequest": {
      "members": {
        "AccountingType": {
          "locationName": "AccountingType",
          "shape": "AccountingTypeOfCreateDBInstanceReadReplicaRequest"
        },
        "AutoMinorVersionUpgrade": {
          "locationName": "AutoMinorVersionUpgrade",
          "shape": "Boolean"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "DBInstanceClass": {
          "locationName": "DBInstanceClass",
          "shape": "DBInstanceClassOfCreateDBInstanceReadReplicaRequest"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "Iops": {
          "locationName": "Iops",
          "shape": "Integer"
        },
        "NiftyReadReplicaPrivateAddress": {
          "locationName": "NiftyReadReplicaPrivateAddress",
          "shape": "String"
        },
        "NiftyStorageType": {
          "locationName": "NiftyStorageType",
          "shape": "Integer"
        },
        "OptionGroupName": {
          "locationName": "OptionGroupName",
          "shape": "String"
        },
        "Port": {
          "locationName": "Port",
          "shape": "Integer"
        },
        "PubliclyAccessible": {
          "locationName": "PubliclyAccessible",
          "shape": "Boolean"
        },
        "SourceDBInstanceIdentifier": {
          "locationName": "SourceDBInstanceIdentifier",
          "shape": "String"
        }
      },
      "name": "CreateDBInstanceReadReplicaRequest",
      "required": [
        "DBInstanceIdentifier",
        "SourceDBInstanceIdentifier"
      ],
      "type": "structure"
    },
    "CreateDBInstanceReadReplicaResult": {
      "members": {
        "DBInstance": {
          "locationName": "DBInstance",
          "shape": "DBInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateDBInstanceReadReplicaResult",
      "type": "structure"
    },
    "CreateDBInstanceRequest": {
      "members": {
        "AccountingType": {
          "locationName": "AccountingType",
          "shape": "AccountingTypeOfCreateDBInstanceRequest"
        },
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AutoMinorVersionUpgrade": {
          "locationName": "AutoMinorVersionUpgrade",
          "shape": "Boolean"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "BackupRetentionPeriod": {
          "locationName": "BackupRetentionPeriod",
          "shape": "Integer"
        },
        "CharacterSetName": {
          "locationName": "CharacterSetName",
          "shape": "String"
        },
        "DBInstanceClass": {
          "locationName": "DBInstanceClass",
          "shape": "DBInstanceClassOfCreateDBInstanceRequest"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBName": {
          "locationName": "DBName",
          "shape": "String"
        },
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "DBSecurityGroups": {
          "locationName": "DBSecurityGroups",
          "shape": "ListOfRequestDBSecurityGroups"
        },
        "DBSubnetGroupName": {
          "locationName": "DBSubnetGroupName",
          "shape": "String"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "EngineOfCreateDBInstanceRequest"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "Iops": {
          "locationName": "Iops",
          "shape": "Integer"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "MasterUserPassword": {
          "locationName": "MasterUserPassword",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "MultiAZ": {
          "locationName": "MultiAZ",
          "shape": "Boolean"
        },
        "NiftyMasterPrivateAddress": {
          "locationName": "NiftyMasterPrivateAddress",
          "shape": "String"
        },
        "NiftyNetworkId": {
          "locationName": "NiftyNetworkId",
          "shape": "String"
        },
        "NiftySlavePrivateAddress": {
          "locationName": "NiftySlavePrivateAddress",
          "shape": "String"
        },
        "NiftyStorageType": {
          "locationName": "NiftyStorageType",
          "shape": "Integer"
        },
        "NiftyVirtualPrivateAddress": {
          "locationName": "NiftyVirtualPrivateAddress",
          "shape": "String"
        },
        "OptionGroupName": {
          "locationName": "OptionGroupName",
          "shape": "String"
        },
        "Port": {
          "locationName": "Port",
          "shape": "Integer"
        },
        "PreferredBackupWindow": {
          "locationName": "PreferredBackupWindow",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "locationName": "PreferredMaintenanceWindow",
          "shape": "String"
        },
        "PubliclyAccessible": {
          "locationName": "PubliclyAccessible",
          "shape": "Boolean"
        },
        "VpcSecurityGroupIds": {
          "locationName": "VpcSecurityGroupIds",
          "shape": "ListOfRequestVpcSecurityGroupIds"
        }
      },
      "name": "CreateDBInstanceRequest",
      "required": [
        "AllocatedStorage",
        "DBInstanceClass",
        "DBInstanceIdentifier",
        "Engine",
        "MasterUserPassword",
        "MasterUsername"
      ],
      "type": "structure"
    },
    "CreateDBInstanceResult": {
      "members": {
        "DBInstance": {
          "locationName": "DBInstance",
          "shape": "DBInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateDBInstanceResult",
      "type": "structure"
    },
    "CreateDBParameterGroupRequest": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "Description": {
          "locationName": "Description",
          "shape": "String"
        }
      },
      "name": "CreateDBParameterGroupRequest",
      "required": [
        "DBParameterGroupFamily",
        "DBParameterGroupName",
        "Description"
      ],
      "type": "structure"
    },
    "CreateDBParameterGroupResult": {
      "members": {
        "DBParameterGroup": {
          "locationName": "DBParameterGroup",
          "shape": "DBParameterGroup"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateDBParameterGroupResult",
      "type": "structure"
    },
    "CreateDBSecurityGroupRequest": {
      "members": {
        "DBSecurityGroupDescription": {
          "locationName": "DBSecurityGroupDescription",
          "shape": "String"
        },
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "NiftyAvailabilityZone": {
          "locationName": "NiftyAvailabilityZone",
          "shape": "String"
        }
      },
      "name": "CreateDBSecurityGroupRequest",
      "required": [
        "DBSecurityGroupDescription",
        "DBSecurityGroupName",
        "NiftyAvailabilityZone"
      ],
      "type": "structure"
    },
    "CreateDBSecurityGroupResult": {
      "members": {
        "DBSecurityGroup": {
          "locationName": "DBSecurityGroup",
          "shape": "DBSecurityGroup"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateDBSecurityGroupResult",
      "type": "structure"
    },
    "CreateDBSnapshotRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBSnapshotIdentifier": {
          "locationName": "DBSnapshotIdentifier",
          "shape": "String"
        }
      },
      "name": "CreateDBSnapshotRequest",
      "required": [
        "DBInstanceIdentifier",
        "DBSnapshotIdentifier"
      ],
      "type": "structure"
    },
    "CreateDBSnapshotResult": {
      "members": {
        "DBSnapshot": {
          "locationName": "DBSnapshot",
          "shape": "DBSnapshot"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateDBSnapshotResult",
      "type": "structure"
    },
    "CreateEventSubscriptionRequest": {
      "members": {
        "Enabled": {
          "locationName": "Enabled",
          "shape": "Boolean"
        },
        "EventCategories": {
          "locationName": "EventCategories",
          "shape": "ListOfRequestEventCategories"
        },
        "NiftyDescription": {
          "locationName": "NiftyDescription",
          "shape": "String"
        },
        "NiftyEmailAddresses": {
          "locationName": "NiftyEmailAddresses",
          "shape": "ListOfRequestNiftyEmailAddresses"
        },
        "SourceIds": {
          "locationName": "SourceIds",
          "shape": "ListOfRequestSourceIds"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "SourceTypeOfCreateEventSubscriptionRequest"
        },
        "SubscriptionName": {
          "locationName": "SubscriptionName",
          "shape": "String"
        }
      },
      "name": "CreateEventSubscriptionRequest",
      "required": [
        "NiftyEmailAddresses",
        "SubscriptionName"
      ],
      "type": "structure"
    },
    "CreateEventSubscriptionResult": {
      "members": {
        "EventSubscription": {
          "locationName": "EventSubscription",
          "shape": "EventSubscription"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateEventSubscriptionResult",
      "type": "structure"
    },
    "DBEngineVersions": {
      "members": {
        "DBEngineDescription": {
          "locationName": "DBEngineDescription",
          "shape": "String"
        },
        "DBEngineVersionDescription": {
          "locationName": "DBEngineVersionDescription",
          "shape": "String"
        },
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "String"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        },
        "ValidUpgradeTarget": {
          "locationName": "ValidUpgradeTarget",
          "shape": "ListOfValidUpgradeTarget"
        }
      },
      "name": "DBEngineVersions",
      "type": "structure"
    },
    "DBInstance": {
      "members": {
        "AccountingType": {
          "locationName": "AccountingType",
          "shape": "String"
        },
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AutoMinorVersionUpgrade": {
          "locationName": "AutoMinorVersionUpgrade",
          "shape": "Boolean"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "BackupRetentionPeriod": {
          "locationName": "BackupRetentionPeriod",
          "shape": "Integer"
        },
        "BinlogRetentionPeriod": {
          "locationName": "BinlogRetentionPeriod",
          "shape": "Integer"
        },
        "CACertificateIdentifier": {
          "locationName": "CACertificateIdentifier",
          "shape": "String"
        },
        "DBInstanceClass": {
          "locationName": "DBInstanceClass",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBInstanceStatus": {
          "locationName": "DBInstanceStatus",
          "shape": "String"
        },
        "DBInstanceUpgradeStatus": {
          "locationName": "DBInstanceUpgradeStatus",
          "shape": "String"
        },
        "DBName": {
          "locationName": "DBName",
          "shape": "String"
        },
        "DBParameterGroups": {
          "locationName": "DBParameterGroups",
          "shape": "ListOfDBParameterGroups"
        },
        "DBSecurityGroups": {
          "locationName": "DBSecurityGroups",
          "shape": "ListOfDBSecurityGroups"
        },
        "Endpoint": {
          "locationName": "Endpoint",
          "shape": "Endpoint"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "String"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "ExternalReplicationInfo": {
          "locationName": "ExternalReplicationInfo",
          "shape": "ExternalReplicationInfo"
        },
        "InstanceCreateTime": {
          "locationName": "InstanceCreateTime",
          "shape": "TStamp"
        },
        "LatestRestorableTime": {
          "locationName": "LatestRestorableTime",
          "shape": "TStamp"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "MultiAZ": {
          "locationName": "MultiAZ",
          "shape": "Boolean"
        },
        "NextMonthAccountingType": {
          "locationName": "NextMonthAccountingType",
          "shape": "String"
        },
        "NiftyMasterPrivateAddress": {
          "locationName": "NiftyMasterPrivateAddress",
          "shape": "String"
        },
        "NiftyMultiAZType": {
          "locationName": "NiftyMultiAZType",
          "shape": "String"
        },
        "NiftyNetworkId": {
          "locationName": "NiftyNetworkId",
          "shape": "String"
        },
        "NiftySlavePrivateAddress": {
          "locationName": "NiftySlavePrivateAddress",
          "shape": "String"
        },
        "NiftyStorageType": {
          "locationName": "NiftyStorageType",
          "shape": "Integer"
        },
        "OptionGroupMemberships": {
          "locationName": "OptionGroupMemberships",
          "shape": "ListOfOptionGroupMemberships"
        },
        "PendingModifiedValues": {
          "locationName": "PendingModifiedValues",
          "shape": "PendingModifiedValues"
        },
        "PreferredBackupWindow": {
          "locationName": "PreferredBackupWindow",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "locationName": "PreferredMaintenanceWindow",
          "shape": "String"
        },
        "PubliclyAccessible": {
          "locationName": "PubliclyAccessible",
          "shape": "Boolean"
        },
        "ReadReplicaDBInstanceIdentifiers": {
          "locationName": "ReadReplicaDBInstanceIdentifiers",
          "shape": "ListOfReadReplicaDBInstanceIdentifiers"
        },
        "ReadReplicaSourceDBInstanceIdentifier": {
          "locationName": "ReadReplicaSourceDBInstanceIdentifier",
          "shape": "String"
        },
        "SecondaryAvailabilityZone": {
          "locationName": "SecondaryAvailabilityZone",
          "shape": "String"
        },
        "StatusInfos": {
          "locationName": "StatusInfos",
          "shape": "ListOfStatusInfos"
        },
        "VpcSecurityGroups": {
          "locationName": "VpcSecurityGroups",
          "shape": "String"
        }
      },
      "name": "DBInstance",
      "type": "structure"
    },
    "DBInstanceClassOfCreateDBInstanceReadReplicaRequest": {
      "enum": [
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfCreateDBInstanceReadReplicaRequest",
      "type": "string"
    },
    "DBInstanceClassOfCreateDBInstanceRequest": {
      "enum": [
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfCreateDBInstanceRequest",
      "type": "string"
    },
    "DBInstanceClassOfDescribeOrderableDBInstanceOptionsRequest": {
      "enum": [
        "db.mini",
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfDescribeOrderableDBInstanceOptionsRequest",
      "type": "string"
    },
    "DBInstanceClassOfModifyDBInstanceRequest": {
      "enum": [
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfModifyDBInstanceRequest",
      "type": "string"
    },
    "DBInstanceClassOfRestoreDBInstanceFromDBSnapshotRequest": {
      "enum": [
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfRestoreDBInstanceFromDBSnapshotRequest",
      "type": "string"
    },
    "DBInstanceClassOfRestoreDBInstanceToPointInTimeRequest": {
      "enum": [
        "db.e-small",
        "db.small",
        "db.e-small2",
        "db.small2",
        "db.e-small4",
        "db.small4",
        "db.e-small8",
        "db.small8",
        "db.e-small16",
        "db.small16",
        "db.e-medium",
        "db.medium",
        "db.e-medium4",
        "db.medium4",
        "db.e-medium8",
        "db.medium8",
        "db.e-medium16",
        "db.medium16",
        "db.e-medium24",
        "db.medium24",
        "db.e-large",
        "db.large",
        "db.e-large8",
        "db.large8",
        "db.e-large16",
        "db.large16",
        "db.e-large24",
        "db.large24",
        "db.e-large32",
        "db.large32",
        "db.e-extra-large8",
        "db.extra-large8",
        "db.e-extra-large16",
        "db.extra-large16",
        "db.e-extra-large24",
        "db.extra-large24",
        "db.e-extra-large32",
        "db.extra-large32",
        "db.e-extra-large48",
        "db.extra-large48",
        "db.e-double-large16",
        "db.double-large16",
        "db.e-double-large24",
        "db.double-large24",
        "db.e-double-large32",
        "db.double-large32",
        "db.e-double-large48",
        "db.double-large48",
        "db.e-double-large64",
        "db.double-large64",
        "db.e-double-large96",
        "db.double-large96",
        "db.triple-large32",
        "db.triple-large48",
        "db.triple-large64",
        "db.triple-large96",
        "db.triple-large128",
        "db.quad-large64",
        "db.quad-large96",
        "db.quad-large128",
        "db.septa-large128"
      ],
      "name": "DBInstanceClassOfRestoreDBInstanceToPointInTimeRequest",
      "type": "string"
    },
    "DBInstances": {
      "members": {
        "AccountingType": {
          "locationName": "AccountingType",
          "shape": "String"
        },
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AutoMinorVersionUpgrade": {
          "locationName": "AutoMinorVersionUpgrade",
          "shape": "Boolean"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "BackupRetentionPeriod": {
          "locationName": "BackupRetentionPeriod",
          "shape": "Integer"
        },
        "BinlogRetentionPeriod": {
          "locationName": "BinlogRetentionPeriod",
          "shape": "Integer"
        },
        "CACertificateIdentifier": {
          "locationName": "CACertificateIdentifier",
          "shape": "String"
        },
        "DBInstanceClass": {
          "locationName": "DBInstanceClass",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBInstanceStatus": {
          "locationName": "DBInstanceStatus",
          "shape": "String"
        },
        "DBInstanceUpgradeStatus": {
          "locationName": "DBInstanceUpgradeStatus",
          "shape": "String"
        },
        "DBName": {
          "locationName": "DBName",
          "shape": "String"
        },
        "DBParameterGroups": {
          "locationName": "DBParameterGroups",
          "shape": "ListOfDBParameterGroups"
        },
        "DBSecurityGroups": {
          "locationName": "DBSecurityGroups",
          "shape": "ListOfDBSecurityGroups"
        },
        "Endpoint": {
          "locationName": "Endpoint",
          "shape": "Endpoint"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "String"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "ExternalReplicationInfo": {
          "locationName": "ExternalReplicationInfo",
          "shape": "ExternalReplicationInfo"
        },
        "InstanceCreateTime": {
          "locationName": "InstanceCreateTime",
          "shape": "TStamp"
        },
        "LatestRestorableTime": {
          "locationName": "LatestRestorableTime",
          "shape": "TStamp"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "MultiAZ": {
          "locationName": "MultiAZ",
          "shape": "Boolean"
        },
        "NextMonthAccountingType": {
          "locationName": "NextMonthAccountingType",
          "shape": "String"
        },
        "NiftyMasterPrivateAddress": {
          "locationName": "NiftyMasterPrivateAddress",
          "shape": "String"
        },
        "NiftyMultiAZType": {
          "locationName": "NiftyMultiAZType",
          "shape": "String"
        },
        "NiftyNetworkId": {
          "locationName": "NiftyNetworkId",
          "shape": "String"
        },
        "NiftySlavePrivateAddress": {
          "locationName": "NiftySlavePrivateAddress",
          "shape": "String"
        },
        "NiftyStorageType": {
          "locationName": "NiftyStorageType",
          "shape": "Integer"
        },
        "OptionGroupMemberships": {
          "locationName": "OptionGroupMemberships",
          "shape": "ListOfOptionGroupMemberships"
        },
        "PendingModifiedValues": {
          "locationName": "PendingModifiedValues",
          "shape": "PendingModifiedValues"
        },
        "PreferredBackupWindow": {
          "locationName": "PreferredBackupWindow",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "locationName": "PreferredMaintenanceWindow",
          "shape": "String"
        },
        "PubliclyAccessible": {
          "locationName": "PubliclyAccessible",
          "shape": "Boolean"
        },
        "ReadReplicaDBInstanceIdentifiers": {
          "locationName": "ReadReplicaDBInstanceIdentifiers",
          "shape": "ListOfReadReplicaDBInstanceIdentifiers"
        },
        "ReadReplicaSourceDBInstanceIdentifier": {
          "locationName": "ReadReplicaSourceDBInstanceIdentifier",
          "shape": "String"
        },
        "SecondaryAvailabilityZone": {
          "locationName": "SecondaryAvailabilityZone",
          "shape": "String"
        },
        "StatusInfos": {
          "locationName": "StatusInfos",
          "shape": "ListOfStatusInfos"
        },
        "VpcSecurityGroups": {
          "locationName": "VpcSecurityGroups",
          "shape": "String"
        }
      },
      "name": "DBInstances",
      "type": "structure"
    },
    "DBParameterGroup": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "Description": {
          "locationName": "Description",
          "shape": "String"
        }
      },
      "name": "DBParameterGroup",
      "type": "structure"
    },
    "DBParameterGroupFamilyOfDescribeDBEngineVersionsRequest": {
      "enum": [
        "mysql5.6",
        "mysql5.7",
        "postgres9.3",
        "postgres9.6",
        "postgres11",
        "postgres13"
      ],
      "name": "DBParameterGroupFamilyOfDescribeDBEngineVersionsRequest",
      "type": "string"
    },
    "DBParameterGroups": {
      "members": {
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "ParameterApplyStatus": {
          "locationName": "ParameterApplyStatus",
          "shape": "String"
        }
      },
      "name": "DBParameterGroups",
      "type": "structure"
    },
    "DBParameterGroupsOfDescribeDBParameterGroups": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "Description": {
          "locationName": "Description",
          "shape": "String"
        }
      },
      "name": "DBParameterGroupsOfDescribeDBParameterGroups",
      "type": "structure"
    },
    "DBSecurityGroup": {
      "members": {
        "DBSecurityGroupDescription": {
          "locationName": "DBSecurityGroupDescription",
          "shape": "String"
        },
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "EC2SecurityGroups": {
          "locationName": "EC2SecurityGroups",
          "shape": "ListOfEC2SecurityGroups"
        },
        "IPRanges": {
          "locationName": "IPRanges",
          "shape": "ListOfIPRanges"
        },
        "NiftyAvailabilityZone": {
          "locationName": "NiftyAvailabilityZone",
          "shape": "String"
        },
        "OwnerId": {
          "locationName": "OwnerId",
          "shape": "String"
        }
      },
      "name": "DBSecurityGroup",
      "type": "structure"
    },
    "DBSecurityGroups": {
      "members": {
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "DBSecurityGroups",
      "type": "structure"
    },
    "DBSecurityGroupsOfDescribeDBSecurityGroups": {
      "members": {
        "DBSecurityGroupDescription": {
          "locationName": "DBSecurityGroupDescription",
          "shape": "String"
        },
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "EC2SecurityGroups": {
          "locationName": "EC2SecurityGroups",
          "shape": "ListOfEC2SecurityGroups"
        },
        "IPRanges": {
          "locationName": "IPRanges",
          "shape": "ListOfIPRanges"
        },
        "NiftyAvailabilityZone": {
          "locationName": "NiftyAvailabilityZone",
          "shape": "String"
        },
        "OwnerId": {
          "locationName": "OwnerId",
          "shape": "String"
        }
      },
      "name": "DBSecurityGroupsOfDescribeDBSecurityGroups",
      "type": "structure"
    },
    "DBSnapshot": {
      "members": {
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBSnapshotIdentifier": {
          "locationName": "DBSnapshotIdentifier",
          "shape": "String"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "String"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "InstanceCreateTime": {
          "locationName": "InstanceCreateTime",
          "shape": "TStamp"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "OptionGroupName": {
          "locationName": "OptionGroupName",
          "shape": "String"
        },
        "Port": {
          "locationName": "Port",
          "shape": "Integer"
        },
        "SnapshotCreateTime": {
          "locationName": "SnapshotCreateTime",
          "shape": "TStamp"
        },
        "SnapshotType": {
          "locationName": "SnapshotType",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "DBSnapshot",
      "type": "structure"
    },
    "DBSnapshots": {
      "members": {
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBSnapshotIdentifier": {
          "locationName": "DBSnapshotIdentifier",
          "shape": "String"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "String"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "InstanceCreateTime": {
          "locationName": "InstanceCreateTime",
          "shape": "TStamp"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "OptionGroupName": {
          "locationName": "OptionGroupName",
          "shape": "String"
        },
        "Port": {
          "locationName": "Port",
          "shape": "Integer"
        },
        "SnapshotCreateTime": {
          "locationName": "SnapshotCreateTime",
          "shape": "TStamp"
        },
        "SnapshotType": {
          "locationName": "SnapshotType",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "DBSnapshots",
      "type": "structure"
    },
    "Datapoints": {
      "members": {
        "NiftyTargetName": {
          "locationName": "NiftyTargetName",
          "shape": "String"
        },
        "SampleCount": {
          "locationName": "SampleCount",
          "shape": "Integer"
        },
        "Sum": {
          "locationName": "Sum",
          "shape": "Double"
        },
        "Timestamp": {
          "locationName": "Timestamp",
          "shape": "TStamp"
        }
      },
      "name": "Datapoints",
      "type": "structure"
    },
    "DeleteDBInstanceRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "FinalDBSnapshotIdentifier": {
          "locationName": "FinalDBSnapshotIdentifier",
          "shape": "String"
        },
        "SkipFinalSnapshot": {
          "locationName": "SkipFinalSnapshot",
          "shape": "Boolean"
        }
      },
      "name": "DeleteDBInstanceRequest",
      "required": [
        "DBInstanceIdentifier"
      ],
      "type": "structure"
    },
    "DeleteDBInstanceResult": {
      "members": {
        "DBInstance": {
          "locationName": "DBInstance",
          "shape": "DBInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteDBInstanceResult",
      "type": "structure"
    },
    "DeleteDBParameterGroupRequest": {
      "members": {
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        }
      },
      "name": "DeleteDBParameterGroupRequest",
      "required": [
        "DBParameterGroupName"
      ],
      "type": "structure"
    },
    "DeleteDBParameterGroupResult": {
      "members": {
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteDBParameterGroupResult",
      "type": "structure"
    },
    "DeleteDBSecurityGroupRequest": {
      "members": {
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        }
      },
      "name": "DeleteDBSecurityGroupRequest",
      "required": [
        "DBSecurityGroupName"
      ],
      "type": "structure"
    },
    "DeleteDBSecurityGroupResult": {
      "members": {
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteDBSecurityGroupResult",
      "type": "structure"
    },
    "DeleteDBSnapshotRequest": {
      "members": {
        "DBSnapshotIdentifier": {
          "locationName": "DBSnapshotIdentifier",
          "shape": "String"
        }
      },
      "name": "DeleteDBSnapshotRequest",
      "required": [
        "DBSnapshotIdentifier"
      ],
      "type": "structure"
    },
    "DeleteDBSnapshotResult": {
      "members": {
        "DBSnapshot": {
          "locationName": "DBSnapshot",
          "shape": "DBSnapshot"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteDBSnapshotResult",
      "type": "structure"
    },
    "DeleteEventSubscriptionRequest": {
      "members": {
        "SubscriptionName": {
          "locationName": "SubscriptionName",
          "shape": "String"
        }
      },
      "name": "DeleteEventSubscriptionRequest",
      "required": [
        "SubscriptionName"
      ],
      "type": "structure"
    },
    "DeleteEventSubscriptionResult": {
      "members": {
        "EventSubscription": {
          "locationName": "EventSubscription",
          "shape": "EventSubscription"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteEventSubscriptionResult",
      "type": "structure"
    },
    "DescribeCertificatesRequest": {
      "members": {
        "CertificateIdentifier": {
          "locationName": "CertificateIdentifier",
          "shape": "String"
        },
        "Filter": {
          "locationName": "Filter",
          "shape": "String"
        },
        "FilterName": {
          "locationName": "FilterName",
          "shape": "String"
        },
        "FilterValue": {
          "locationName": "FilterValue",
          "shape": "String"
        },
        "Filters": {
          "locationName": "Filters",
          "shape": "ListOfRequestFilters"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeCertificatesRequest",
      "type": "structure"
    },
    "DescribeCertificatesResult": {
      "members": {
        "Certificates": {
          "locationName": "Certificates",
          "shape": "ListOfCertificates"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeCertificatesResult",
      "type": "structure"
    },
    "DescribeDBEngineVersionsRequest": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "DBParameterGroupFamilyOfDescribeDBEngineVersionsRequest"
        },
        "DefaultOnly": {
          "locationName": "DefaultOnly",
          "shape": "Boolean"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "EngineOfDescribeDBEngineVersionsRequest"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "IncludeAll": {
          "locationName": "IncludeAll",
          "shape": "Boolean"
        },
        "ListSupportedCharacterSets": {
          "locationName": "ListSupportedCharacterSets",
          "shape": "Boolean"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeDBEngineVersionsRequest",
      "type": "structure"
    },
    "DescribeDBEngineVersionsResult": {
      "members": {
        "DBEngineVersions": {
          "locationName": "DBEngineVersions",
          "shape": "ListOfDBEngineVersions"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBEngineVersionsResult",
      "type": "structure"
    },
    "DescribeDBInstancesRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "Filter": {
          "locationName": "Filter",
          "shape": "String"
        },
        "FilterName": {
          "locationName": "FilterName",
          "shape": "String"
        },
        "FilterValue": {
          "locationName": "FilterValue",
          "shape": "String"
        },
        "Filters": {
          "locationName": "Filters",
          "shape": "ListOfRequestFilters"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeDBInstancesRequest",
      "type": "structure"
    },
    "DescribeDBInstancesResult": {
      "members": {
        "DBInstances": {
          "locationName": "DBInstances",
          "shape": "ListOfDBInstances"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBInstancesResult",
      "type": "structure"
    },
    "DescribeDBLogFiles": {
      "members": {
        "LastWritten": {
          "locationName": "LastWritten",
          "shape": "Long"
        },
        "LogFileName": {
          "locationName": "LogFileName",
          "shape": "String"
        },
        "Size": {
          "locationName": "Size",
          "shape": "Long"
        }
      },
      "name": "DescribeDBLogFiles",
      "type": "structure"
    },
    "DescribeDBLogFilesRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "FileLastWritten": {
          "locationName": "FileLastWritten",
          "shape": "Long"
        },
        "FileSize": {
          "locationName": "FileSize",
          "shape": "Long"
        },
        "FilenameContains": {
          "locationName": "FilenameContains",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeDBLogFilesRequest",
      "required": [
        "DBInstanceIdentifier"
      ],
      "type": "structure"
    },
    "DescribeDBLogFilesResult": {
      "members": {
        "DescribeDBLogFiles": {
          "locationName": "DescribeDBLogFiles",
          "shape": "ListOfDescribeDBLogFiles"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBLogFilesResult",
      "type": "structure"
    },
    "DescribeDBParameterGroupsRequest": {
      "members": {
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "Filter": {
          "locationName": "Filter",
          "shape": "String"
        },
        "FilterName": {
          "locationName": "FilterName",
          "shape": "String"
        },
        "FilterValue": {
          "locationName": "FilterValue",
          "shape": "String"
        },
        "Filters": {
          "locationName": "Filters",
          "shape": "ListOfRequestFilters"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeDBParameterGroupsRequest",
      "type": "structure"
    },
    "DescribeDBParameterGroupsResult": {
      "members": {
        "DBParameterGroups": {
          "locationName": "DBParameterGroups",
          "shape": "ListOfDBParameterGroupsOfDescribeDBParameterGroups"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBParameterGroupsResult",
      "type": "structure"
    },
    "DescribeDBParametersRequest": {
      "members": {
        "DBParameterGroupName": {
          "locationName": "DBParameterGroupName",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        },
        "Source": {
          "locationName": "Source",
          "shape": "SourceOfDescribeDBParametersRequest"
        }
      },
      "name": "DescribeDBParametersRequest",
      "required": [
        "DBParameterGroupName"
      ],
      "type": "structure"
    },
    "DescribeDBParametersResult": {
      "members": {
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "Parameters": {
          "locationName": "Parameters",
          "shape": "ListOfParameters"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBParametersResult",
      "type": "structure"
    },
    "DescribeDBSecurityGroupsRequest": {
      "members": {
        "DBSecurityGroupName": {
          "locationName": "DBSecurityGroupName",
          "shape": "String"
        },
        "Filter": {
          "locationName": "Filter",
          "shape": "String"
        },
        "FilterName": {
          "locationName": "FilterName",
          "shape": "String"
        },
        "FilterValue": {
          "locationName": "FilterValue",
          "shape": "String"
        },
        "Filters": {
          "locationName": "Filters",
          "shape": "ListOfRequestFilters"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeDBSecurityGroupsRequest",
      "type": "structure"
    },
    "DescribeDBSecurityGroupsResult": {
      "members": {
        "DBSecurityGroups": {
          "locationName": "DBSecurityGroups",
          "shape": "ListOfDBSecurityGroupsOfDescribeDBSecurityGroups"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBSecurityGroupsResult",
      "type": "structure"
    },
    "DescribeDBSnapshotsRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "DBSnapshotIdentifier": {
          "locationName": "DBSnapshotIdentifier",
          "shape": "String"
        },
        "Filter": {
          "locationName": "Filter",
          "shape": "String"
        },
        "FilterName": {
          "locationName": "FilterName",
          "shape": "String"
        },
        "FilterValue": {
          "locationName": "FilterValue",
          "shape": "String"
        },
        "Filters": {
          "locationName": "Filters",
          "shape": "ListOfRequestFilters"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        },
        "SnapshotType": {
          "locationName": "SnapshotType",
          "shape": "SnapshotTypeOfDescribeDBSnapshotsRequest"
        }
      },
      "name": "DescribeDBSnapshotsRequest",
      "type": "structure"
    },
    "DescribeDBSnapshotsResult": {
      "members": {
        "DBSnapshots": {
          "locationName": "DBSnapshots",
          "shape": "ListOfDBSnapshots"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeDBSnapshotsResult",
      "type": "structure"
    },
    "DescribeEngineDefaultParametersRequest": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        }
      },
      "name": "DescribeEngineDefaultParametersRequest",
      "required": [
        "DBParameterGroupFamily"
      ],
      "type": "structure"
    },
    "DescribeEngineDefaultParametersResult": {
      "members": {
        "EngineDefaults": {
          "locationName": "EngineDefaults",
          "shape": "EngineDefaults"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeEngineDefaultParametersResult",
      "type": "structure"
    },
    "DescribeEventCategoriesRequest": {
      "members": {
        "SourceType": {
          "locationName": "SourceType",
          "shape": "SourceTypeOfDescribeEventCategoriesRequest"
        }
      },
      "name": "DescribeEventCategoriesRequest",
      "type": "structure"
    },
    "DescribeEventCategoriesResult": {
      "members": {
        "EventCategoriesMapList": {
          "locationName": "EventCategoriesMapList",
          "shape": "ListOfEventCategoriesMapList"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeEventCategoriesResult",
      "type": "structure"
    },
    "DescribeEventSubscriptionsRequest": {
      "members": {
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        },
        "NIftySortKey": {
          "locationName": "NIftySortKey",
          "shape": "NIftySortKeyOfDescribeEventSubscriptionsRequest"
        },
        "NiftyFilters": {
          "locationName": "NiftyFilters",
          "shape": "RequestNiftyFilters"
        },
        "NiftySortDesc": {
          "locationName": "NiftySortDesc",
          "shape": "Integer"
        },
        "SubscriptionName": {
          "locationName": "SubscriptionName",
          "shape": "String"
        }
      },
      "name": "DescribeEventSubscriptionsRequest",
      "type": "structure"
    },
    "DescribeEventSubscriptionsResult": {
      "members": {
        "EventSubscriptionsList": {
          "locationName": "EventSubscriptionsList",
          "shape": "ListOfEventSubscriptionsList"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeEventSubscriptionsResult",
      "type": "structure"
    },
    "DescribeEventsRequest": {
      "members": {
        "Duration": {
          "locationName": "Duration",
          "shape": "Integer"
        },
        "EndTime": {
          "locationName": "EndTime",
          "shape": "TStamp"
        },
        "EventCategories": {
          "locationName": "EventCategories",
          "shape": "ListOfRequestEventCategories"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        },
        "SourceIdentifier": {
          "locationName": "SourceIdentifier",
          "shape": "String"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "SourceTypeOfDescribeEventsRequest"
        },
        "StartTime": {
          "locationName": "StartTime",
          "shape": "TStamp"
        }
      },
      "name": "DescribeEventsRequest",
      "type": "structure"
    },
    "DescribeEventsResult": {
      "members": {
        "Events": {
          "locationName": "Events",
          "shape": "ListOfEvents"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeEventsResult",
      "type": "structure"
    },
    "DescribeOrderableDBInstanceOptionsRequest": {
      "members": {
        "DBInstanceClass": {
          "locationName": "DBInstanceClass",
          "shape": "DBInstanceClassOfDescribeOrderableDBInstanceOptionsRequest"
        },
        "Engine": {
          "locationName": "Engine",
          "shape": "EngineOfDescribeOrderableDBInstanceOptionsRequest"
        },
        "EngineVersion": {
          "locationName": "EngineVersion",
          "shape": "String"
        },
        "LicenseModel": {
          "locationName": "LicenseModel",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "MaxRecords": {
          "locationName": "MaxRecords",
          "shape": "Integer"
        },
        "Vpc": {
          "locationName": "Vpc",
          "shape": "Boolean"
        }
      },
      "name": "DescribeOrderableDBInstanceOptionsRequest",
      "type": "structure"
    },
    "DescribeOrderableDBInstanceOptionsResult": {
      "members": {
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "OrderableDBInstanceOptions": {
          "locationName": "OrderableDBInstanceOptions",
          "shape": "ListOfOrderableDBInstanceOptions"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeOrderableDBInstanceOptionsResult",
      "type": "structure"
    },
    "Double": {
      "name": "Double",
      "type": "double"
    },
    "DownloadDBLogFilePortionRequest": {
      "members": {
        "DBInstanceIdentifier": {
          "locationName": "DBInstanceIdentifier",
          "shape": "String"
        },
        "LogFileName": {
          "locationName": "LogFileName",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "NumberOfLines": {
          "locationName": "NumberOfLines",
          "shape": "Integer"
        }
      },
      "name": "DownloadDBLogFilePortionRequest",
      "required": [
        "DBInstanceIdentifier"
      ],
      "type": "structure"
    },
    "DownloadDBLogFilePortionResult": {
      "members": {
        "AdditionalDataPending": {
          "locationName": "AdditionalDataPending",
          "shape": "Boolean"
        },
        "LogFileData": {
          "locationName": "LogFileData",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DownloadDBLogFilePortionResult",
      "type": "structure"
    },
    "EC2SecurityGroups": {
      "members": {
        "EC2SecurityGroupName": {
          "locationName": "EC2SecurityGroupName",
          "shape": "String"
        },
        "EC2SecurityGroupOwnerId": {
          "locationName": "EC2SecurityGroupOwnerId",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "EC2SecurityGroups",
      "type": "structure"
    },
    "Endpoint": {
      "members": {
        "Address": {
          "locationName": "Address",
          "shape": "String"
        },
        "NiftyPrivateAddress": {
          "locationName": "NiftyPrivateAddress",
          "shape": "String"
        },
        "Port": {
          "locationName": "Port",
          "shape": "Integer"
        }
      },
      "name": "Endpoint",
      "type": "structure"
    },
    "EngineDefaults": {
      "members": {
        "DBParameterGroupFamily": {
          "locationName": "DBParameterGroupFamily",
          "shape": "String"
        },
        "Marker": {
          "locationName": "Marker",
          "shape": "String"
        },
        "Parameters": {
          "locationName": "Parameters",
          "shape": "ListOfParameters"
        }
      },
      "name": "EngineDefaults",
      "type": "structure"
    },
    "EngineOfCreateDBInstanceRequest": {
      "enum": [
        "MySQL",
        "postgres"
      ],
      "name": "EngineOfCreateDBInstanceRequest",
      "type": "string"
    },
    "EngineOfDescribeDBEngineVersionsRequest": {
      "enum": [
        "MySQL",
        "postgres"
      ],
      "name": "EngineOfDescribeDBEngineVersionsRequest",
      "type": "string"
    },
    "EngineOfDescribeOrderableDBInstanceOptionsRequest": {
      "enum": [
        "MySQL",
        "postgres"
      ],
      "name": "EngineOfDescribeOrderableDBInstanceOptionsRequest",
      "type": "string"
    },
    "EventCategoriesMapList": {
      "members": {
        "EventCategories": {
          "locationName": "EventCategories",
          "shape": "ListOfEventCategories"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "String"
        }
      },
      "name": "EventCategoriesMapList",
      "type": "structure"
    },
    "EventSubscription": {
      "members": {
        "CustSubscriptionId": {
          "locationName": "CustSubscriptionId",
          "shape": "String"
        },
        "Enabled": {
          "locationName": "Enabled",
          "shape": "Boolean"
        },
        "EventCategoriesList": {
          "locationName": "EventCategoriesList",
          "shape": "ListOfEventCategoriesList"
        },
        "NiftyDescription": {
          "locationName": "NiftyDescription",
          "shape": "String"
        },
        "NiftyEmailAddressesList": {
          "locationName": "NiftyEmailAddressesList",
          "shape": "ListOfNiftyEmailAddressesList"
        },
        "SourceIdsList": {
          "locationName": "SourceIdsList",
          "shape": "ListOfSourceIdsList"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        },
        "SubscriptionCreationTime": {
          "locationName": "SubscriptionCreationTime",
          "shape": "String"
        }
      },
      "name": "EventSubscription",
      "type": "structure"
    },
    "EventSubscriptionsList": {
      "members": {
        "CustSubscriptionId": {
          "locationName": "CustSubscriptionId",
          "shape": "String"
        },
        "Enabled": {
          "locationName": "Enabled",
          "shape": "Boolean"
        },
        "EventCategoriesList": {
          "locationName": "EventCategoriesList",
          "shape": "ListOfEventCategoriesList"
        },
        "NiftyDescription": {
          "locationName": "NiftyDescription",
          "shape": "String"
        },
        "NiftyEmailAddressesList": {
          "locationName": "NiftyEmailAddressesList",
          "shape": "ListOfNiftyEmailAddressesList"
        },
        "SourceIdsList": {
          "locationName": "SourceIdsList",
          "shape": "ListOfSourceIdsList"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        },
        "SubscriptionCreationTime": {
          "locationName": "SubscriptionCreationTime",
          "shape": "String"
        }
      },
      "name": "EventSubscriptionsList",
      "type": "structure"
    },
    "Events": {
      "members": {
        "Date": {
          "locationName": "Date",
          "shape": "TStamp"
        },
        "EventCategories": {
          "locationName": "EventCategories",
          "shape": "ListOfEventCategories"
        },
        "Message": {
          "locationName": "Message",
          "shape": "String"
        },
        "SourceIdentifier": {
          "locationName": "SourceIdentifier",
          "shape": "String"
        },
        "SourceType": {
          "locationName": "SourceType",
          "shape": "String"
        }
      },
      "name": "Events",
      "type": "structure"
    },
    "ExternalReplicationInfo": {
      "members": {
        "ExternalMasterAddress": {
          "locationName": "ExternalMasterAddress",
          "shape": "String"
        },
        "ExternalReplicationMessage": {
          "locationName": "ExternalReplicationMessage",
          "shape": "String"
        },
        "ExternalReplicationStatus": {
          "locationName": "ExternalReplicationStatus",
          "shape": "String"
        },
        "ReplicationAddresses": {
          "locationName": "ReplicationAddresses",
          "shape": "ListOfReplicationAddresses"
        },
        "ReplicationPrivateAddresses": {
          "locationName": "ReplicationPrivateAddresses",
          "shape": "ListOfReplicationPrivateAddresses"
        }
      },
      "name": "ExternalReplicationInfo",
      "type": "structure"
    },
    "FilterNameOfNiftyFiltersForDescribeEventSubscriptions": {
      "enum": [
        "SubscriptionName",
        "SourceType",
        "Enabled",
        "NiftyDescription"
      ],
      "name": "FilterNameOfNiftyFiltersForDescribeEventSubscriptions",
      "type": "string"
    },
    "IPRanges": {
      "members": {
        "CIDRIP": {
          "locationName": "CIDRIP",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "IPRanges",
      "type": "structure"
    },
    "Integer": {
      "name": "Integer",
      "type": "integer"
    },
    "ListOfAvailabilityZones": {
      "member": {
        "locationName": "AvailabilityZone",
        "shape": "AvailabilityZones"
      },
      "name": "ListOfAvailabilityZones",
      "type": "list"
    },
[...]
