{
  "metadata": {
    "apiVersion": "N2016-02-24",
    "endpointPrefix": "nas",
    "protocol": "nas",
    "serviceAbbreviation": "nas",
    "serviceFullName": "NIFCLOUD NAS",
    "serviceId": "nas",
    "signatureVersion": "v4",
    "uid": "nas-N2016-02-24",
    "xmlNamespace": "https://nas.api.nifcloud.com/"
  },
  "operations": {
    "AuthorizeNASSecurityGroupIngress": {
      "documentation": "<p>下記どちらかの方法でNASファイアウォールグループへの接続を許可します。</p> <ul> <li><p>ニフクラのサーバーからのプライベートネットワーク経由でNASへアクセスしたい場合、ニフクラのファイアウォールグループからの接続を許可できます。</p></li> <li><p>インターネット経由でNASへアクセスしたい場合、特定のIP帯からの接続を許可できます。</p></li> </ul> <p>NASファイアウォールグループに対して、同一ゾーンのニフクラのファイアウォールグループからの接続許可は可能ですが、別ゾーンのニフクラのファイアウォールグループからの接続許可はできません。</p><p>このAPIアクションではCIDRIP（IP範囲）またはSecurityGroupName（ニフクラのファイアウォールグループ名）を必ず指定する必要があります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AuthorizeNASSecurityGroupIngressRequest"
      },
      "name": "AuthorizeNASSecurityGroupIngress",
      "output": {
        "resultWrapper": "AuthorizeNASSecurityGroupIngressResult",
        "shape": "AuthorizeNASSecurityGroupIngressResult"
      }
    },
    "ClearNASSession": {
      "documentation": "<p>NASのセッションクリアを行います。</p><p>NASのセッションクリアを行うと通信断（目安：5分程度）が発生し、その間NASのステータスはclearing-session（セッションクリア中）となります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ClearNASSessionRequest"
      },
      "name": "ClearNASSession",
      "output": {
        "resultWrapper": "ClearNASSessionResult",
        "shape": "ClearNASSessionResult"
      }
    },
    "CreateNASInstance": {
      "documentation": "<p>NASを新規作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNASInstanceRequest"
      },
      "name": "CreateNASInstance",
      "output": {
        "resultWrapper": "CreateNASInstanceResult",
        "shape": "CreateNASInstanceResult"
      }
    },
    "CreateNASSecurityGroup": {
      "documentation": "<p>NASファイアウォールグループを作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNASSecurityGroupRequest"
      },
      "name": "CreateNASSecurityGroup",
      "output": {
        "resultWrapper": "CreateNASSecurityGroupResult",
        "shape": "CreateNASSecurityGroupResult"
      }
    },
    "DeleteNASInstance": {
      "documentation": "<p>NASを削除します。</p><p>この操作の進捗状況を確認するにはDescribeNASInstancesアクションを利用してください。</p><p>このアクションは一度送信するとキャンセル・取り消しを行うことはできません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNASInstanceRequest"
      },
      "name": "DeleteNASInstance",
      "output": {
        "resultWrapper": "DeleteNASInstanceResult",
        "shape": "DeleteNASInstanceResult"
      }
    },
    "DeleteNASSecurityGroup": {
      "documentation": "<p>NASファイアウォールグループを削除します。</p><p>NASに適用された状態のNASファイアウォールグループを削除することはできません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNASSecurityGroupRequest"
      },
      "name": "DeleteNASSecurityGroup",
      "output": {
        "shape": "DeleteNASSecurityGroupResult"
      }
    },
    "DescribeNASInstances": {
      "documentation": "<p>NASの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNASInstancesRequest"
      },
      "name": "DescribeNASInstances",
      "output": {
        "resultWrapper": "DescribeNASInstancesResult",
        "shape": "DescribeNASInstancesResult"
      }
    },
    "DescribeNASSecurityGroups": {
      "documentation": "<p>NASファイアウォールグループの情報を取得します。</p><p>NASSecurityGroupName（NASファイアウォールグループ名）が指定された場合は該当するNASファイアウォールグループの情報のみが返却されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNASSecurityGroupsRequest"
      },
      "name": "DescribeNASSecurityGroups",
      "output": {
        "resultWrapper": "DescribeNASSecurityGroupsResult",
        "shape": "DescribeNASSecurityGroupsResult"
      }
    },
    "GetMetricStatistics": {
      "documentation": "<p>NASサービスのモニタリング情報を取得します。</p><p>モニタリング要素について、詳しくは下記ヘルプページをご確認ください。</p><p><a href=\"https://docs.nifcloud.com/nas/help/monitoring.htm\">ヘルプ：NAS：モニタリング</a></p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMetricStatisticsRequest"
      },
      "name": "GetMetricStatistics",
      "output": {
        "resultWrapper": "GetMetricStatisticsResult",
        "shape": "GetMetricStatisticsResult"
      }
    },
    "ModifyNASInstance": {
      "documentation": "<p>NASの設定を変更します。</p><p>一度に複数のNAS設定を変更することができます。</p><p>NASに接続した状態でプライベートIPアドレスを変更すると、NASにアクセスできなくなる場合があります。</p><p>NASのプライベートIPアドレスを変更する場合は、NASへの接続がないことをご確認ください。</p><p>NASにアクセスできなくなった場合は、クライアント側のOS強制再起動を行ってください。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyNASInstanceRequest"
      },
      "name": "ModifyNASInstance",
      "output": {
        "resultWrapper": "ModifyNASInstanceResult",
        "shape": "ModifyNASInstanceResult"
      }
    },
    "ModifyNASSecurityGroup": {
      "documentation": "<p>NASファイアウォールグループの設定を変更します。</p><p>一度に複数のNASファイアウォールグループの設定を変更することができます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyNASSecurityGroupRequest"
      },
      "name": "ModifyNASSecurityGroup",
      "output": {
        "resultWrapper": "ModifyNASSecurityGroupResult",
        "shape": "ModifyNASSecurityGroupResult"
      }
    },
    "RevokeNASSecurityGroupIngress": {
      "documentation": "<p>接続を許可したIP範囲またはニフクラのファイアウォールグループ名の設定を取り消します。</p><p>このAPIアクションではCIDRIP（IP帯）またはSecurityGroupName（ニフクラのファイアウォールグループ名）を必ず指定する必要があります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeNASSecurityGroupIngressRequest"
      },
      "name": "RevokeNASSecurityGroupIngress",
      "output": {
        "resultWrapper": "RevokeNASSecurityGroupIngressResult",
        "shape": "RevokeNASSecurityGroupIngressResult"
      }
    },
    "UpgradeNASInstance": {
      "documentation": "<p>NASの基盤アップグレードを行います。</p><p>NASの基盤アップグレード中はNASに接続できない状態となり、その間のNASのステータスはupgrading（アップグレード中）となります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpgradeNASInstanceRequest"
      },
      "name": "UpgradeNASInstance",
      "output": {
        "resultWrapper": "UpgradeNASInstanceResult",
        "shape": "UpgradeNASInstanceResult"
      }
    }
  },
  "shapes": {
    "AuthorizeNASSecurityGroupIngressRequest": {
      "members": {
        "CIDRIP": {
          "locationName": "CIDRIP",
          "shape": "String"
        },
        "NASSecurityGroupName": {
          "locationName": "NASSecurityGroupName",
          "shape": "String"
        },
        "SecurityGroupName": {
          "locationName": "SecurityGroupName",
          "shape": "String"
        }
      },
      "name": "AuthorizeNASSecurityGroupIngressRequest",
      "required": [
        "NASSecurityGroupName"
      ],
      "type": "structure"
    },
    "AuthorizeNASSecurityGroupIngressResult": {
      "members": {
        "NASSecurityGroup": {
          "locationName": "NASSecurityGroup",
          "shape": "NASSecurityGroup"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "AuthorizeNASSecurityGroupIngressResult",
      "type": "structure"
    },
    "Blob": {
      "name": "Blob",
      "type": "blob"
    },
    "Boolean": {
      "name": "Boolean",
      "type": "boolean"
    },
    "ClearNASSessionRequest": {
      "members": {
        "NASInstanceIdentifier": {
          "locationName": "NASInstanceIdentifier",
          "shape": "String"
        },
        "SessionClearType": {
          "locationName": "SessionClearType",
          "shape": "SessionClearTypeOfClearNASSessionRequest"
        }
      },
      "name": "ClearNASSessionRequest",
      "required": [
        "NASInstanceIdentifier"
      ],
      "type": "structure"
    },
    "ClearNASSessionResult": {
      "members": {
        "NASInstance": {
          "locationName": "NASInstance",
          "shape": "NASInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "ClearNASSessionResult",
      "type": "structure"
    },
    "CreateNASInstanceRequest": {
      "members": {
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "MasterPrivateAddress": {
          "locationName": "MasterPrivateAddress",
          "shape": "String"
        },
        "MasterUserPassword": {
          "locationName": "MasterUserPassword",
          "shape": "String"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "NASInstanceDescription": {
          "locationName": "NASInstanceDescription",
          "shape": "String"
        },
        "NASInstanceIdentifier": {
          "locationName": "NASInstanceIdentifier",
          "shape": "String"
        },
        "NASInstanceType": {
          "locationName": "NASInstanceType",
          "shape": "Integer"
        },
        "NASSecurityGroups": {
          "locationName": "NASSecurityGroups",
          "shape": "ListOfRequestNASSecurityGroups"
        },
        "NetworkId": {
          "locationName": "NetworkId",
          "shape": "String"
        },
        "Protocol": {
          "locationName": "Protocol",
          "shape": "ProtocolOfCreateNASInstanceRequest"
        }
      },
      "name": "CreateNASInstanceRequest",
      "required": [
        "AllocatedStorage",
        "NASInstanceIdentifier",
        "Protocol"
      ],
      "type": "structure"
    },
    "CreateNASInstanceResult": {
      "members": {
        "NASInstance": {
          "locationName": "NASInstance",
          "shape": "NASInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateNASInstanceResult",
      "type": "structure"
    },
    "CreateNASSecurityGroupRequest": {
      "members": {
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "NASSecurityGroupDescription": {
          "locationName": "NASSecurityGroupDescription",
          "shape": "String"
        },
        "NASSecurityGroupName": {
          "locationName": "NASSecurityGroupName",
          "shape": "String"
        }
      },
      "name": "CreateNASSecurityGroupRequest",
      "required": [
        "AvailabilityZone",
        "NASSecurityGroupName"
      ],
      "type": "structure"
    },
    "CreateNASSecurityGroupResult": {
      "members": {
        "NASSecurityGroup": {
          "locationName": "NASSecurityGroup",
          "shape": "NASSecurityGroup"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "CreateNASSecurityGroupResult",
      "type": "structure"
    },
    "Datapoints": {
      "members": {
        "SampleCount": {
          "locationName": "SampleCount",
          "shape": "Integer"
        },
        "Sum": {
          "locationName": "Sum",
          "shape": "Double"
        },
        "TargetName": {
          "locationName": "TargetName",
          "shape": "String"
        },
        "Timestamp": {
          "locationName": "Timestamp",
          "shape": "TStamp"
        }
      },
      "name": "Datapoints",
      "type": "structure"
    },
    "DeleteNASInstanceRequest": {
      "members": {
        "NASInstanceIdentifier": {
          "locationName": "NASInstanceIdentifier",
          "shape": "String"
        }
      },
      "name": "DeleteNASInstanceRequest",
      "required": [
        "NASInstanceIdentifier"
      ],
      "type": "structure"
    },
    "DeleteNASInstanceResult": {
      "members": {
        "NASInstance": {
          "locationName": "NASInstance",
          "shape": "NASInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteNASInstanceResult",
      "type": "structure"
    },
    "DeleteNASSecurityGroupRequest": {
      "members": {
        "NASSecurityGroupName": {
          "locationName": "NASSecurityGroupName",
          "shape": "String"
        }
      },
      "name": "DeleteNASSecurityGroupRequest",
      "required": [
        "NASSecurityGroupName"
      ],
      "type": "structure"
    },
    "DeleteNASSecurityGroupResult": {
      "members": {
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DeleteNASSecurityGroupResult",
      "type": "structure"
    },
    "DescribeNASInstancesRequest": {
      "members": {
        "NASInstanceIdentifier": {
          "locationName": "NASInstanceIdentifier",
          "shape": "String"
        }
      },
      "name": "DescribeNASInstancesRequest",
      "type": "structure"
    },
    "DescribeNASInstancesResult": {
      "members": {
        "NASInstances": {
          "locationName": "NASInstances",
          "shape": "ListOfNASInstances"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeNASInstancesResult",
      "type": "structure"
    },
    "DescribeNASSecurityGroupsRequest": {
      "members": {
        "NASSecurityGroupName": {
          "locationName": "NASSecurityGroupName",
          "shape": "String"
        }
      },
      "name": "DescribeNASSecurityGroupsRequest",
      "type": "structure"
    },
    "DescribeNASSecurityGroupsResult": {
      "members": {
        "NASSecurityGroups": {
          "locationName": "NASSecurityGroups",
          "shape": "ListOfNASSecurityGroupsOfDescribeNASSecurityGroups"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "DescribeNASSecurityGroupsResult",
      "type": "structure"
    },
    "Double": {
      "name": "Double",
      "type": "double"
    },
    "Endpoint": {
      "members": {
        "Address": {
          "locationName": "Address",
          "shape": "String"
        },
        "PrivateAddress": {
          "locationName": "PrivateAddress",
          "shape": "String"
        }
      },
      "name": "Endpoint",
      "type": "structure"
    },
    "GetMetricStatisticsRequest": {
      "members": {
        "Dimensions": {
          "locationName": "Dimensions",
          "shape": "ListOfRequestDimensions"
        },
        "EndTime": {
          "locationName": "EndTime",
          "shape": "TStamp"
        },
        "MetricName": {
          "locationName": "MetricName",
          "shape": "MetricNameOfGetMetricStatisticsRequest"
        },
        "StartTime": {
          "locationName": "StartTime",
          "shape": "TStamp"
        }
      },
      "name": "GetMetricStatisticsRequest",
      "required": [
        "Dimensions",
        "MetricName"
      ],
      "type": "structure"
    },
    "GetMetricStatisticsResult": {
      "members": {
        "Datapoints": {
          "locationName": "Datapoints",
          "shape": "ListOfDatapoints"
        },
        "Label": {
          "locationName": "Label",
          "shape": "String"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "GetMetricStatisticsResult",
      "type": "structure"
    },
    "IPRanges": {
      "members": {
        "CIDRIP": {
          "locationName": "CIDRIP",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "IPRanges",
      "type": "structure"
    },
    "Integer": {
      "name": "Integer",
      "type": "integer"
    },
    "ListOfDatapoints": {
      "member": {
        "locationName": "member",
        "shape": "Datapoints"
      },
      "name": "ListOfDatapoints",
      "type": "list"
    },
    "ListOfIPRanges": {
      "member": {
        "locationName": "IPRange",
        "shape": "IPRanges"
      },
      "name": "ListOfIPRanges",
      "type": "list"
    },
    "ListOfNASInstances": {
      "member": {
        "locationName": "NASInstance",
        "shape": "NASInstances"
      },
      "name": "ListOfNASInstances",
      "type": "list"
    },
    "ListOfNASSecurityGroups": {
      "member": {
        "locationName": "NASSecurityGroup",
        "shape": "NASSecurityGroups"
      },
      "name": "ListOfNASSecurityGroups",
      "type": "list"
    },
    "ListOfNASSecurityGroupsOfDescribeNASSecurityGroups": {
      "member": {
        "locationName": "NASSecurityGroup",
        "shape": "NASSecurityGroupsOfDescribeNASSecurityGroups"
      },
      "name": "ListOfNASSecurityGroupsOfDescribeNASSecurityGroups",
      "type": "list"
    },
    "ListOfRequestDimensions": {
      "member": {
        "locationName": "member",
        "shape": "RequestDimensions"
      },
      "name": "ListOfRequestDimensions",
      "type": "list"
    },
    "ListOfRequestNASSecurityGroups": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "ListOfRequestNASSecurityGroups",
      "type": "list"
    },
    "ListOfSecurityGroups": {
      "member": {
        "locationName": "SecurityGroup",
        "shape": "SecurityGroups"
      },
      "name": "ListOfSecurityGroups",
      "type": "list"
    },
    "Long": {
      "name": "Long",
      "type": "long"
    },
    "MetricNameOfGetMetricStatisticsRequest": {
      "enum": [
        "FreeStorageSpace",
        "UsedStorageSpace",
        "ReadIOPS",
        "WriteIOPS",
        "ReadThroughput",
        "WriteThroughput",
        "ActiveConnections",
        "GlobalReadTraffic",
        "PrivateReadTraffic",
        "GlobalWriteTraffic",
        "PrivateWriteTraffic"
      ],
      "name": "MetricNameOfGetMetricStatisticsRequest",
      "type": "string"
    },
    "ModifyNASInstanceRequest": {
      "members": {
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "MasterPrivateAddress": {
          "locationName": "MasterPrivateAddress",
          "shape": "String"
        },
        "MasterUserPassword": {
          "locationName": "MasterUserPassword",
          "shape": "String"
        },
        "NASInstanceDescription": {
          "locationName": "NASInstanceDescription",
          "shape": "String"
        },
        "NASInstanceIdentifier": {
          "locationName": "NASInstanceIdentifier",
          "shape": "String"
        },
        "NASSecurityGroups": {
          "locationName": "NASSecurityGroups",
          "shape": "ListOfRequestNASSecurityGroups"
        },
        "NetworkId": {
          "locationName": "NetworkId",
          "shape": "String"
        },
        "NewNASInstanceIdentifier": {
          "locationName": "NewNASInstanceIdentifier",
          "shape": "String"
        },
        "NoRootSquash": {
          "locationName": "NoRootSquash",
          "shape": "Boolean"
        }
      },
      "name": "ModifyNASInstanceRequest",
      "required": [
        "NASInstanceIdentifier"
      ],
      "type": "structure"
    },
    "ModifyNASInstanceResult": {
      "members": {
        "NASInstance": {
          "locationName": "NASInstance",
          "shape": "NASInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "ModifyNASInstanceResult",
      "type": "structure"
    },
    "ModifyNASSecurityGroupRequest": {
      "members": {
        "NASSecurityGroupDescription": {
          "locationName": "NASSecurityGroupDescription",
          "shape": "String"
        },
        "NASSecurityGroupName": {
          "locationName": "NASSecurityGroupName",
          "shape": "String"
        },
        "NewNASSecurityGroupName": {
          "locationName": "NewNASSecurityGroupName",
          "shape": "String"
        }
      },
      "name": "ModifyNASSecurityGroupRequest",
      "required": [
        "NASSecurityGroupName"
      ],
      "type": "structure"
    },
    "ModifyNASSecurityGroupResult": {
      "members": {
        "NASSecurityGroup": {
          "locationName": "NASSecurityGroup",
          "shape": "NASSecurityGroup"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "ModifyNASSecurityGroupResult",
      "type": "structure"
    },
    "NASInstance": {
      "members": {
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AuthenticationType": {
          "locationName": "AuthenticationType",
          "shape": "Integer"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "Endpoint": {
          "locationName": "Endpoint",
          "shape": "Endpoint"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "NASInstanceClass": {
          "locationName": "NASInstanceClass",
          "shape": "String"
        },
        "NASInstanceDescription": {
          "locationName": "NASInstanceDescription",
          "shape": "String"
        },
        "NASInstanceErrorInfo": {
          "locationName": "NASInstanceErrorInfo",
          "shape": "NASInstanceErrorInfo"
        },
        "NASInstanceIdentifier": {
          "locationName": "NASInstanceIdentifier",
          "shape": "String"
        },
        "NASInstanceStatus": {
          "locationName": "NASInstanceStatus",
          "shape": "String"
        },
        "NASInstanceType": {
          "locationName": "NASInstanceType",
          "shape": "Integer"
        },
        "NASSecurityGroups": {
          "locationName": "NASSecurityGroups",
          "shape": "ListOfNASSecurityGroups"
        },
        "NetworkId": {
          "locationName": "NetworkId",
          "shape": "String"
        },
        "NoRootSquash": {
          "locationName": "NoRootSquash",
          "shape": "Boolean"
        },
        "Protocol": {
          "locationName": "Protocol",
          "shape": "String"
        },
        "StorageType": {
          "locationName": "StorageType",
          "shape": "Integer"
        },
        "UpgradeRequired": {
          "locationName": "UpgradeRequired",
          "shape": "Boolean"
        }
      },
      "name": "NASInstance",
      "type": "structure"
    },
    "NASInstanceErrorInfo": {
      "members": {
        "NASInstanceErrorCode": {
          "locationName": "NASInstanceErrorCode",
          "shape": "String"
        },
        "NASInstanceErrorMessage": {
          "locationName": "NASInstanceErrorMessage",
          "shape": "String"
        }
      },
      "name": "NASInstanceErrorInfo",
      "type": "structure"
    },
    "NASInstances": {
      "members": {
        "AllocatedStorage": {
          "locationName": "AllocatedStorage",
          "shape": "Integer"
        },
        "AuthenticationType": {
          "locationName": "AuthenticationType",
          "shape": "Integer"
        },
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "Endpoint": {
          "locationName": "Endpoint",
          "shape": "Endpoint"
        },
        "MasterUsername": {
          "locationName": "MasterUsername",
          "shape": "String"
        },
        "NASInstanceClass": {
          "locationName": "NASInstanceClass",
          "shape": "String"
        },
        "NASInstanceDescription": {
          "locationName": "NASInstanceDescription",
          "shape": "String"
        },
        "NASInstanceErrorInfo": {
          "locationName": "NASInstanceErrorInfo",
          "shape": "NASInstanceErrorInfo"
        },
        "NASInstanceIdentifier": {
          "locationName": "NASInstanceIdentifier",
          "shape": "String"
        },
        "NASInstanceStatus": {
          "locationName": "NASInstanceStatus",
          "shape": "String"
        },
        "NASInstanceType": {
          "locationName": "NASInstanceType",
          "shape": "Integer"
        },
        "NASSecurityGroups": {
          "locationName": "NASSecurityGroups",
          "shape": "ListOfNASSecurityGroups"
        },
        "NetworkId": {
          "locationName": "NetworkId",
          "shape": "String"
        },
        "NoRootSquash": {
          "locationName": "NoRootSquash",
          "shape": "Boolean"
        },
        "Protocol": {
          "locationName": "Protocol",
          "shape": "String"
        },
        "StorageType": {
          "locationName": "StorageType",
          "shape": "Integer"
        },
        "UpgradeRequired": {
          "locationName": "UpgradeRequired",
          "shape": "Boolean"
        }
      },
      "name": "NASInstances",
      "type": "structure"
    },
    "NASSecurityGroup": {
      "members": {
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "IPRanges": {
          "locationName": "IPRanges",
          "shape": "ListOfIPRanges"
        },
        "NASSecurityGroupDescription": {
          "locationName": "NASSecurityGroupDescription",
          "shape": "String"
        },
        "NASSecurityGroupName": {
          "locationName": "NASSecurityGroupName",
          "shape": "String"
        },
        "OwnerId": {
          "locationName": "OwnerId",
          "shape": "String"
        },
        "SecurityGroups": {
          "locationName": "SecurityGroups",
          "shape": "ListOfSecurityGroups"
        }
      },
      "name": "NASSecurityGroup",
      "type": "structure"
    },
    "NASSecurityGroups": {
      "members": {
        "NASSecurityGroupName": {
          "locationName": "NASSecurityGroupName",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "NASSecurityGroups",
      "type": "structure"
    },
    "NASSecurityGroupsOfDescribeNASSecurityGroups": {
      "members": {
        "AvailabilityZone": {
          "locationName": "AvailabilityZone",
          "shape": "String"
        },
        "IPRanges": {
          "locationName": "IPRanges",
          "shape": "ListOfIPRanges"
        },
        "NASSecurityGroupDescription": {
          "locationName": "NASSecurityGroupDescription",
          "shape": "String"
        },
        "NASSecurityGroupName": {
          "locationName": "NASSecurityGroupName",
          "shape": "String"
        },
        "OwnerId": {
          "locationName": "OwnerId",
          "shape": "String"
        },
        "SecurityGroups": {
          "locationName": "SecurityGroups",
          "shape": "ListOfSecurityGroups"
        }
      },
      "name": "NASSecurityGroupsOfDescribeNASSecurityGroups",
      "type": "structure"
    },
    "ProtocolOfCreateNASInstanceRequest": {
      "enum": [
        "nfs",
        "cifs"
      ],
      "name": "ProtocolOfCreateNASInstanceRequest",
      "type": "string"
    },
    "RequestDimensions": {
      "members": {
        "Name": {
          "locationName": "Name",
          "shape": "String"
        },
        "Value": {
          "locationName": "Value",
          "shape": "String"
        }
      },
      "name": "RequestDimensions",
      "required": [
        "Name",
        "Value"
      ],
      "type": "structure"
    },
    "ResponseMetadata": {
      "members": {
        "RequestId": {
          "locationName": "RequestId",
          "shape": "String"
        }
      },
      "name": "ResponseMetadata",
      "type": "structure"
    },
    "RevokeNASSecurityGroupIngressRequest": {
      "members": {
        "CIDRIP": {
          "locationName": "CIDRIP",
          "shape": "String"
        },
        "NASSecurityGroupName": {
          "locationName": "NASSecurityGroupName",
          "shape": "String"
        },
        "SecurityGroupName": {
          "locationName": "SecurityGroupName",
          "shape": "String"
        }
      },
      "name": "RevokeNASSecurityGroupIngressRequest",
      "required": [
        "NASSecurityGroupName"
      ],
      "type": "structure"
    },
    "RevokeNASSecurityGroupIngressResult": {
      "members": {
        "NASSecurityGroup": {
          "locationName": "NASSecurityGroup",
          "shape": "NASSecurityGroup"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "RevokeNASSecurityGroupIngressResult",
      "type": "structure"
    },
    "SecurityGroups": {
      "members": {
        "SecurityGroupName": {
          "locationName": "SecurityGroupName",
          "shape": "String"
        },
        "SecurityGroupOwnerId": {
          "locationName": "SecurityGroupOwnerId",
          "shape": "String"
        },
        "Status": {
          "locationName": "Status",
          "shape": "String"
        }
      },
      "name": "SecurityGroups",
      "type": "structure"
    },
    "SessionClearTypeOfClearNASSessionRequest": {
      "enum": [
        "0",
        "1"
      ],
      "name": "SessionClearTypeOfClearNASSessionRequest",
      "type": "string"
    },
    "String": {
      "name": "String",
      "type": "string"
    },
    "TStamp": {
      "name": "TStamp",
      "type": "timestamp"
    },
    "UpgradeNASInstanceRequest": {
      "members": {
        "NASInstanceIdentifier": {
          "locationName": "NASInstanceIdentifier",
          "shape": "String"
        }
      },
      "name": "UpgradeNASInstanceRequest",
      "required": [
        "NASInstanceIdentifier"
      ],
      "type": "structure"
    },
    "UpgradeNASInstanceResult": {
      "members": {
        "NASInstance": {
          "locationName": "NASInstance",
          "shape": "NASInstance"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "UpgradeNASInstanceResult",
      "type": "structure"
    }
  },
  "version": "2.0"
}