{
  "metadata": {
    "apiVersion": "3.0",
    "endpointPrefix": "computing",
    "protocol": "computing",
    "serviceAbbreviation": "computing",
    "serviceFullName": "NIFCLOUD Computing",
    "serviceId": "computing",
    "signatureVersion": "v2",
    "uid": "computing-2016-11-15",
    "xmlNamespace": "https://computing.api.nifcloud.com/api/"
  },
  "operations": {
    "AllocateAddress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AllocateAddressRequest"
      },
      "name": "AllocateAddress",
      "output": {
        "shape": "AllocateAddressResult"
      }
    },
    "AssociateAddress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateAddressRequest"
      },
      "name": "AssociateAddress",
      "output": {
        "shape": "AssociateAddressResult"
      }
    },
    "AssociateMultiIpAddressGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateMultiIpAddressGroupRequest"
      },
      "name": "AssociateMultiIpAddressGroup",
      "output": {
        "shape": "AssociateMultiIpAddressGroupResult"
      }
    },
    "AssociateRouteTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateRouteTableRequest"
      },
      "name": "AssociateRouteTable",
      "output": {
        "shape": "AssociateRouteTableResult"
      }
    },
    "AssociateUsers": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateUsersRequest"
      },
      "name": "AssociateUsers",
      "output": {
        "shape": "AssociateUsersResultWrapper"
      }
    },
    "AttachIsoImage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AttachIsoImageRequest"
      },
      "name": "AttachIsoImage",
      "output": {
        "shape": "AttachIsoImageResult"
      }
    },
    "AttachNetworkInterface": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AttachNetworkInterfaceRequest"
      },
      "name": "AttachNetworkInterface",
      "output": {
        "shape": "AttachNetworkInterfaceResult"
      }
    },
    "AttachVolume": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AttachVolumeRequest"
      },
      "name": "AttachVolume",
      "output": {
        "shape": "AttachVolumeResult"
      }
    },
    "AuthorizeSecurityGroupIngress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AuthorizeSecurityGroupIngressRequest"
      },
      "name": "AuthorizeSecurityGroupIngress",
      "output": {
        "shape": "AuthorizeSecurityGroupIngressResult"
      }
    },
    "CancelCopyInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CancelCopyInstancesRequest"
      },
      "name": "CancelCopyInstances",
      "output": {
        "shape": "CancelCopyInstancesResult"
      }
    },
    "CancelUpload": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CancelUploadRequest"
      },
      "name": "CancelUpload",
      "output": {
        "shape": "CancelUploadResult"
      }
    },
    "ClearLoadBalancerSession": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ClearLoadBalancerSessionRequest"
      },
      "name": "ClearLoadBalancerSession",
      "output": {
        "shape": "ClearLoadBalancerSessionResultWrapper"
      }
    },
    "ConfigureHealthCheck": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ConfigureHealthCheckRequest"
      },
      "name": "ConfigureHealthCheck",
      "output": {
        "shape": "ConfigureHealthCheckResultWrapper"
      }
    },
    "CopyFromBackupInstance": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CopyFromBackupInstanceRequest"
      },
      "name": "CopyFromBackupInstance",
      "output": {
        "shape": "CopyFromBackupInstanceResult"
      }
    },
    "CopyInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CopyInstancesRequest"
      },
      "name": "CopyInstances",
      "output": {
        "shape": "CopyInstancesResult"
      }
    },
    "CreateBackupInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateBackupInstancesRequest"
      },
      "name": "CreateBackupInstances",
      "output": {
        "shape": "CreateBackupInstancesResult"
      }
    },
    "CreateCustomerGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateCustomerGatewayRequest"
      },
      "name": "CreateCustomerGateway",
      "output": {
        "shape": "CreateCustomerGatewayResult"
      }
    },
    "CreateDhcpOptions": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateDhcpOptionsRequest"
      },
      "name": "CreateDhcpOptions",
      "output": {
        "shape": "CreateDhcpOptionsResult"
      }
    },
    "CreateImage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateImageRequest"
      },
      "name": "CreateImage",
      "output": {
        "shape": "CreateImageResult"
      }
    },
    "CreateInstanceBackupRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateInstanceBackupRuleRequest"
      },
      "name": "CreateInstanceBackupRule",
      "output": {
        "shape": "CreateInstanceBackupRuleResult"
      }
    },
    "CreateKeyPair": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateKeyPairRequest"
      },
      "name": "CreateKeyPair",
      "output": {
        "shape": "CreateKeyPairResult"
      }
    },
    "CreateLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateLoadBalancerRequest"
      },
      "name": "CreateLoadBalancer",
      "output": {
        "shape": "CreateLoadBalancerResultWrapper"
      }
    },
    "CreateMultiIpAddressGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateMultiIpAddressGroupRequest"
      },
      "name": "CreateMultiIpAddressGroup",
      "output": {
        "shape": "CreateMultiIpAddressGroupResult"
      }
    },
    "CreateNetworkInterface": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateNetworkInterfaceRequest"
      },
      "name": "CreateNetworkInterface",
      "output": {
        "shape": "CreateNetworkInterfaceResult"
      }
    },
    "CreateRoute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateRouteRequest"
      },
      "name": "CreateRoute",
      "output": {
        "shape": "CreateRouteResult"
      }
    },
    "CreateRouteTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateRouteTableRequest"
      },
      "name": "CreateRouteTable",
      "output": {
        "shape": "CreateRouteTableResult"
      }
    },
    "CreateSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateSecurityGroupRequest"
      },
      "name": "CreateSecurityGroup",
      "output": {
        "shape": "CreateSecurityGroupResult"
      }
    },
    "CreateSslCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateSslCertificateRequest"
      },
      "name": "CreateSslCertificate",
      "output": {
        "shape": "CreateSslCertificateResult"
      }
    },
    "CreateVolume": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateVolumeRequest"
      },
      "name": "CreateVolume",
      "output": {
        "shape": "CreateVolumeResult"
      }
    },
    "CreateVpnConnection": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateVpnConnectionRequest"
      },
      "name": "CreateVpnConnection",
      "output": {
        "shape": "CreateVpnConnectionResult"
      }
    },
    "CreateVpnGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateVpnGatewayRequest"
      },
      "name": "CreateVpnGateway",
      "output": {
        "shape": "CreateVpnGatewayResult"
      }
    },
    "DeleteCustomerGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteCustomerGatewayRequest"
      },
      "name": "DeleteCustomerGateway",
      "output": {
        "shape": "DeleteCustomerGatewayResult"
      }
    },
    "DeleteDhcpOptions": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteDhcpOptionsRequest"
      },
      "name": "DeleteDhcpOptions",
      "output": {
        "shape": "DeleteDhcpOptionsResult"
      }
    },
    "DeleteImage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "name": "DeleteImage",
      "output": {
        "shape": "DeleteImageResult"
      }
    },
    "DeleteInstanceBackupRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteInstanceBackupRuleRequest"
      },
      "name": "DeleteInstanceBackupRule",
      "output": {
        "shape": "DeleteInstanceBackupRuleResult"
      }
    },
    "DeleteIsoImage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteIsoImageRequest"
      },
      "name": "DeleteIsoImage",
      "output": {
        "shape": "DeleteIsoImageResult"
      }
    },
    "DeleteKeyPair": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteKeyPairRequest"
      },
      "name": "DeleteKeyPair",
      "output": {
        "shape": "DeleteKeyPairResult"
      }
    },
    "DeleteLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteLoadBalancerRequest"
      },
      "name": "DeleteLoadBalancer",
      "output": {
        "shape": "DeleteLoadBalancerResultWrapper"
      }
    },
    "DeleteMultiIpAddressGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteMultiIpAddressGroupRequest"
      },
      "name": "DeleteMultiIpAddressGroup",
      "output": {
        "shape": "DeleteMultiIpAddressGroupResult"
      }
    },
    "DeleteNetworkInterface": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteNetworkInterfaceRequest"
      },
      "name": "DeleteNetworkInterface",
      "output": {
        "shape": "DeleteNetworkInterfaceResult"
      }
    },
    "DeleteRoute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteRouteRequest"
      },
      "name": "DeleteRoute",
      "output": {
        "shape": "DeleteRouteResult"
      }
    },
    "DeleteRouteTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteRouteTableRequest"
      },
      "name": "DeleteRouteTable",
      "output": {
        "shape": "DeleteRouteTableResult"
      }
    },
    "DeleteSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteSecurityGroupRequest"
      },
      "name": "DeleteSecurityGroup",
      "output": {
        "shape": "DeleteSecurityGroupResult"
      }
    },
    "DeleteSslCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteSslCertificateRequest"
      },
      "name": "DeleteSslCertificate",
      "output": {
        "shape": "DeleteSslCertificateResult"
      }
    },
    "DeleteVolume": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteVolumeRequest"
      },
      "name": "DeleteVolume",
      "output": {
        "shape": "DeleteVolumeResult"
      }
    },
    "DeleteVpnConnection": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteVpnConnectionRequest"
      },
      "name": "DeleteVpnConnection",
      "output": {
        "shape": "DeleteVpnConnectionResult"
      }
    },
    "DeleteVpnGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteVpnGatewayRequest"
      },
      "name": "DeleteVpnGateway",
      "output": {
        "shape": "DeleteVpnGatewayResult"
      }
    },
    "DeregisterInstancesFromLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeregisterInstancesFromLoadBalancerRequest"
      },
      "name": "DeregisterInstancesFromLoadBalancer",
      "output": {
        "shape": "DeregisterInstancesFromLoadBalancerResultWrapper"
      }
    },
    "DeregisterInstancesFromSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeregisterInstancesFromSecurityGroupRequest"
      },
      "name": "DeregisterInstancesFromSecurityGroup",
      "output": {
        "shape": "DeregisterInstancesFromSecurityGroupResult"
      }
    },
    "DescribeAddresses": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeAddressesRequest"
      },
      "name": "DescribeAddresses",
      "output": {
        "shape": "DescribeAddressesResult"
      }
    },
    "DescribeAssociatedUsers": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeAssociatedUsersRequest"
      },
      "name": "DescribeAssociatedUsers",
      "output": {
        "shape": "DescribeAssociatedUsersResultWrapper"
      }
    },
    "DescribeAvailabilityZones": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeAvailabilityZonesRequest"
      },
      "name": "DescribeAvailabilityZones",
      "output": {
        "shape": "DescribeAvailabilityZonesResult"
      }
    },
    "DescribeCustomerGateways": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeCustomerGatewaysRequest"
      },
      "name": "DescribeCustomerGateways",
      "output": {
        "shape": "DescribeCustomerGatewaysResult"
      }
    },
    "DescribeDhcpOptions": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeDhcpOptionsRequest"
      },
      "name": "DescribeDhcpOptions",
      "output": {
        "shape": "DescribeDhcpOptionsResult"
      }
    },
    "DescribeImages": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeImagesRequest"
      },
      "name": "DescribeImages",
      "output": {
        "shape": "DescribeImagesResult"
      }
    },
    "DescribeInstanceAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstanceAttributeRequest"
      },
      "name": "DescribeInstanceAttribute",
      "output": {
        "shape": "DescribeInstanceAttributeResult"
      }
    },
    "DescribeInstanceBackupRuleActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstanceBackupRuleActivitiesRequest"
      },
      "name": "DescribeInstanceBackupRuleActivities",
      "output": {
        "shape": "DescribeInstanceBackupRuleActivitiesResult"
      }
    },
    "DescribeInstanceBackupRules": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstanceBackupRulesRequest"
      },
      "name": "DescribeInstanceBackupRules",
      "output": {
        "shape": "DescribeInstanceBackupRulesResult"
      }
    },
    "DescribeInstanceHealth": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstanceHealthRequest"
      },
      "name": "DescribeInstanceHealth",
      "output": {
        "shape": "DescribeInstanceHealthResultWrapper"
      }
    },
    "DescribeInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstancesRequest"
      },
      "name": "DescribeInstances",
      "output": {
        "shape": "DescribeInstancesResult"
      }
    },
    "DescribeIsoImages": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeIsoImagesRequest"
      },
      "name": "DescribeIsoImages",
      "output": {
        "shape": "DescribeIsoImagesResult"
      }
    },
    "DescribeKeyPairs": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeKeyPairsRequest"
      },
      "name": "DescribeKeyPairs",
      "output": {
        "shape": "DescribeKeyPairsResult"
      }
    },
    "DescribeLoadBalancers": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeLoadBalancersRequest"
      },
      "name": "DescribeLoadBalancers",
      "output": {
        "shape": "DescribeLoadBalancersResultWrapper"
      }
    },
    "DescribeMultiIpAddressGroups": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeMultiIpAddressGroupsRequest"
      },
      "name": "DescribeMultiIpAddressGroups",
      "output": {
        "shape": "DescribeMultiIpAddressGroupsResult"
      }
    },
    "DescribeNetworkInterfaces": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeNetworkInterfacesRequest"
      },
      "name": "DescribeNetworkInterfaces",
      "output": {
        "shape": "DescribeNetworkInterfacesResult"
      }
    },
    "DescribeRegions": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeRegionsRequest"
      },
      "name": "DescribeRegions",
      "output": {
        "shape": "DescribeRegionsResult"
      }
    },
    "DescribeResources": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeResourcesRequest"
      },
      "name": "DescribeResources",
      "output": {
        "shape": "DescribeResourcesResult"
      }
    },
    "DescribeRouteTables": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeRouteTablesRequest"
      },
      "name": "DescribeRouteTables",
      "output": {
        "shape": "DescribeRouteTablesResult"
      }
    },
    "DescribeSecurityActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSecurityActivitiesRequest"
      },
      "name": "DescribeSecurityActivities",
      "output": {
        "shape": "DescribeSecurityActivitiesResult"
      }
    },
    "DescribeSecurityGroups": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSecurityGroupsRequest"
      },
      "name": "DescribeSecurityGroups",
      "output": {
        "shape": "DescribeSecurityGroupsResult"
      }
    },
    "DescribeServiceStatus": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeServiceStatusRequest"
      },
      "name": "DescribeServiceStatus",
      "output": {
        "shape": "DescribeServiceStatusResult"
      }
    },
    "DescribeSslCertificateAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSslCertificateAttributeRequest"
      },
      "name": "DescribeSslCertificateAttribute",
      "output": {
        "shape": "DescribeSslCertificateAttributeResult"
      }
    },
    "DescribeSslCertificates": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSslCertificatesRequest"
      },
      "name": "DescribeSslCertificates",
      "output": {
        "shape": "DescribeSslCertificatesResult"
      }
    },
    "DescribeUploads": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeUploadsRequest"
      },
      "name": "DescribeUploads",
      "output": {
        "shape": "DescribeUploadsResult"
      }
    },
    "DescribeUsage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeUsageRequest"
      },
      "name": "DescribeUsage",
      "output": {
        "shape": "DescribeUsageResult"
      }
    },
    "DescribeUserActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeUserActivitiesRequest"
      },
      "name": "DescribeUserActivities",
      "output": {
        "shape": "DescribeUserActivitiesResult"
      }
    },
    "DescribeVolumes": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeVolumesRequest"
      },
      "name": "DescribeVolumes",
      "output": {
        "shape": "DescribeVolumesResult"
      }
    },
    "DescribeVpnConnections": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeVpnConnectionsRequest"
      },
      "name": "DescribeVpnConnections",
      "output": {
        "shape": "DescribeVpnConnectionsResult"
      }
    },
    "DescribeVpnGateways": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeVpnGatewaysRequest"
      },
      "name": "DescribeVpnGateways",
      "output": {
        "shape": "DescribeVpnGatewaysResult"
      }
    },
    "DetachIsoImage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DetachIsoImageRequest"
      },
      "name": "DetachIsoImage",
      "output": {
        "shape": "DetachIsoImageResult"
      }
    },
    "DetachNetworkInterface": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DetachNetworkInterfaceRequest"
      },
      "name": "DetachNetworkInterface",
      "output": {
        "shape": "DetachNetworkInterfaceResult"
      }
    },
    "DetachVolume": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DetachVolumeRequest"
      },
      "name": "DetachVolume",
      "output": {
        "shape": "DetachVolumeResult"
      }
    },
    "DisassociateAddress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DisassociateAddressRequest"
      },
      "name": "DisassociateAddress",
      "output": {
        "shape": "DisassociateAddressResult"
      }
    },
    "DisassociateMultiIpAddressGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DisassociateMultiIpAddressGroupRequest"
      },
      "name": "DisassociateMultiIpAddressGroup",
      "output": {
        "shape": "DisassociateMultiIpAddressGroupResult"
      }
    },
    "DisassociateRouteTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DisassociateRouteTableRequest"
      },
      "name": "DisassociateRouteTable",
      "output": {
        "shape": "DisassociateRouteTableResult"
      }
    },
    "DissociateUsers": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DissociateUsersRequest"
      },
      "name": "DissociateUsers",
      "output": {
        "shape": "DissociateUsersResultWrapper"
      }
    },
    "DownloadSslCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DownloadSslCertificateRequest"
      },
      "name": "DownloadSslCertificate",
      "output": {
        "shape": "DownloadSslCertificateResult"
      }
    },
    "ExtendVolumeSize": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ExtendVolumeSizeRequest"
      },
      "name": "ExtendVolumeSize",
      "output": {
        "shape": "ExtendVolumeSizeResult"
      }
    },
    "ImportInstance": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ImportInstanceRequest"
      },
      "name": "ImportInstance",
      "output": {
        "shape": "ImportInstanceResult"
      }
    },
    "ImportKeyPair": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ImportKeyPairRequest"
      },
      "name": "ImportKeyPair",
      "output": {
        "shape": "ImportKeyPairResult"
      }
    },
    "IncreaseMultiIpAddressCount": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "IncreaseMultiIpAddressCountRequest"
      },
      "name": "IncreaseMultiIpAddressCount",
      "output": {
        "shape": "IncreaseMultiIpAddressCountResult"
      }
    },
    "ModifyImageAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyImageAttributeRequest"
      },
      "name": "ModifyImageAttribute",
      "output": {
        "shape": "ModifyImageAttributeResult"
      }
    },
    "ModifyInstanceAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyInstanceAttributeRequest"
      },
      "name": "ModifyInstanceAttribute",
      "output": {
        "shape": "ModifyInstanceAttributeResult"
      }
    },
    "ModifyInstanceBackupRuleAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyInstanceBackupRuleAttributeRequest"
      },
      "name": "ModifyInstanceBackupRuleAttribute",
      "output": {
        "shape": "ModifyInstanceBackupRuleAttributeResult"
      }
    },
    "ModifyMultiIpAddressGroupAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyMultiIpAddressGroupAttributeRequest"
      },
      "name": "ModifyMultiIpAddressGroupAttribute",
      "output": {
        "shape": "ModifyMultiIpAddressGroupAttributeResult"
      }
    },
    "ModifyNetworkInterfaceAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyNetworkInterfaceAttributeRequest"
      },
      "name": "ModifyNetworkInterfaceAttribute",
      "output": {
        "shape": "ModifyNetworkInterfaceAttributeResult"
      }
    },
    "ModifySslCertificateAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifySslCertificateAttributeRequest"
      },
      "name": "ModifySslCertificateAttribute",
      "output": {
        "shape": "ModifySslCertificateAttributeResult"
      }
    },
    "ModifyVolumeAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyVolumeAttributeRequest"
      },
      "name": "ModifyVolumeAttribute",
      "output": {
        "shape": "ModifyVolumeAttributeResult"
      }
    },
    "NiftyAssociateImage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateImageRequest"
      },
      "name": "NiftyAssociateImage",
      "output": {
        "shape": "NiftyAssociateImageResult"
      }
    },
    "NiftyAssociateNatTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateNatTableRequest"
      },
      "name": "NiftyAssociateNatTable",
      "output": {
        "shape": "NiftyAssociateNatTableResult"
      }
    },
    "NiftyAssociateRouteTableWithElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateRouteTableWithElasticLoadBalancerRequest"
      },
      "name": "NiftyAssociateRouteTableWithElasticLoadBalancer",
      "output": {
        "shape": "NiftyAssociateRouteTableWithElasticLoadBalancerResult"
      }
    },
    "NiftyAssociateRouteTableWithVpnGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateRouteTableWithVpnGatewayRequest"
      },
      "name": "NiftyAssociateRouteTableWithVpnGateway",
      "output": {
        "shape": "NiftyAssociateRouteTableWithVpnGatewayResult"
      }
    },
    "NiftyConfigureElasticLoadBalancerHealthCheck": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyConfigureElasticLoadBalancerHealthCheckRequest"
      },
      "name": "NiftyConfigureElasticLoadBalancerHealthCheck",
      "output": {
        "shape": "NiftyConfigureElasticLoadBalancerHealthCheckResultWrapper"
      }
    },
    "NiftyCreateAlarm": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateAlarmRequest"
      },
      "name": "NiftyCreateAlarm",
      "output": {
        "shape": "NiftyCreateAlarmResult"
      }
    },
    "NiftyCreateAutoScalingGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateAutoScalingGroupRequest"
      },
      "name": "NiftyCreateAutoScalingGroup",
      "output": {
        "shape": "NiftyCreateAutoScalingGroupResult"
      }
    },
    "NiftyCreateDhcpConfig": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateDhcpConfigRequest"
      },
      "name": "NiftyCreateDhcpConfig",
      "output": {
        "shape": "NiftyCreateDhcpConfigResult"
      }
    },
    "NiftyCreateDhcpIpAddressPool": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateDhcpIpAddressPoolRequest"
      },
      "name": "NiftyCreateDhcpIpAddressPool",
      "output": {
        "shape": "NiftyCreateDhcpIpAddressPoolResult"
      }
    },
    "NiftyCreateDhcpStaticMapping": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateDhcpStaticMappingRequest"
      },
      "name": "NiftyCreateDhcpStaticMapping",
      "output": {
        "shape": "NiftyCreateDhcpStaticMappingResult"
      }
    },
    "NiftyCreateElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateElasticLoadBalancerRequest"
      },
      "name": "NiftyCreateElasticLoadBalancer",
      "output": {
        "shape": "NiftyCreateElasticLoadBalancerResultWrapper"
      }
    },
    "NiftyCreateInstanceSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateInstanceSnapshotRequest"
      },
      "name": "NiftyCreateInstanceSnapshot",
      "output": {
        "shape": "NiftyCreateInstanceSnapshotResult"
      }
    },
    "NiftyCreateNatRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateNatRuleRequest"
      },
      "name": "NiftyCreateNatRule",
      "output": {
        "shape": "NiftyCreateNatRuleResult"
      }
    },
    "NiftyCreateNatTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateNatTableRequest"
      },
      "name": "NiftyCreateNatTable",
      "output": {
        "shape": "NiftyCreateNatTableResult"
      }
    },
    "NiftyCreatePrivateLan": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreatePrivateLanRequest"
      },
      "name": "NiftyCreatePrivateLan",
      "output": {
        "shape": "NiftyCreatePrivateLanResult"
      }
    },
    "NiftyCreateRouter": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateRouterRequest"
      },
      "name": "NiftyCreateRouter",
      "output": {
        "shape": "NiftyCreateRouterResult"
      }
    },
    "NiftyCreateSeparateInstanceRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateSeparateInstanceRuleRequest"
      },
      "name": "NiftyCreateSeparateInstanceRule",
      "output": {
        "shape": "NiftyCreateSeparateInstanceRuleResult"
      }
    },
    "NiftyCreateWebProxy": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateWebProxyRequest"
      },
      "name": "NiftyCreateWebProxy",
      "output": {
        "shape": "NiftyCreateWebProxyResult"
      }
    },
    "NiftyDeleteAlarm": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteAlarmRequest"
      },
      "name": "NiftyDeleteAlarm",
      "output": {
        "shape": "NiftyDeleteAlarmResult"
      }
    },
    "NiftyDeleteAutoScalingGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteAutoScalingGroupRequest"
      },
      "name": "NiftyDeleteAutoScalingGroup",
      "output": {
        "shape": "NiftyDeleteAutoScalingGroupResult"
      }
    },
    "NiftyDeleteDhcpConfig": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpConfigRequest"
      },
      "name": "NiftyDeleteDhcpConfig",
      "output": {
        "shape": "NiftyDeleteDhcpConfigResult"
      }
    },
    "NiftyDeleteDhcpIpAddressPool": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpIpAddressPoolRequest"
      },
      "name": "NiftyDeleteDhcpIpAddressPool",
      "output": {
        "shape": "NiftyDeleteDhcpIpAddressPoolResult"
      }
    },
    "NiftyDeleteDhcpStaticMapping": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpStaticMappingRequest"
      },
      "name": "NiftyDeleteDhcpStaticMapping",
      "output": {
        "shape": "NiftyDeleteDhcpStaticMappingResult"
      }
    },
    "NiftyDeleteElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteElasticLoadBalancerRequest"
      },
      "name": "NiftyDeleteElasticLoadBalancer",
      "output": {
        "shape": "NiftyDeleteElasticLoadBalancerResultWrapper"
      }
    },
    "NiftyDeleteInstanceSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteInstanceSnapshotRequest"
      },
      "name": "NiftyDeleteInstanceSnapshot",
      "output": {
        "shape": "NiftyDeleteInstanceSnapshotResult"
      }
    },
    "NiftyDeleteNatRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteNatRuleRequest"
      },
      "name": "NiftyDeleteNatRule",
      "output": {
        "shape": "NiftyDeleteNatRuleResult"
      }
    },
    "NiftyDeleteNatTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteNatTableRequest"
      },
      "name": "NiftyDeleteNatTable",
      "output": {
        "shape": "NiftyDeleteNatTableResult"
      }
    },
    "NiftyDeletePrivateLan": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeletePrivateLanRequest"
      },
      "name": "NiftyDeletePrivateLan",
      "output": {
        "shape": "NiftyDeletePrivateLanResult"
      }
    },
    "NiftyDeleteRouter": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteRouterRequest"
      },
      "name": "NiftyDeleteRouter",
      "output": {
        "shape": "NiftyDeleteRouterResult"
      }
    },
    "NiftyDeleteSeparateInstanceRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteSeparateInstanceRuleRequest"
      },
      "name": "NiftyDeleteSeparateInstanceRule",
      "output": {
        "shape": "NiftyDeleteSeparateInstanceRuleResult"
      }
    },
    "NiftyDeleteWebProxy": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteWebProxyRequest"
      },
      "name": "NiftyDeleteWebProxy",
      "output": {
        "shape": "NiftyDeleteWebProxyResult"
      }
    },
    "NiftyDeregisterInstancesFromElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterInstancesFromElasticLoadBalancerRequest"
      },
      "name": "NiftyDeregisterInstancesFromElasticLoadBalancer",
      "output": {
        "shape": "NiftyDeregisterInstancesFromElasticLoadBalancerResultWrapper"
      }
    },
    "NiftyDeregisterInstancesFromSeparateInstanceRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterInstancesFromSeparateInstanceRuleRequest"
      },
      "name": "NiftyDeregisterInstancesFromSeparateInstanceRule",
      "output": {
        "shape": "NiftyDeregisterInstancesFromSeparateInstanceRuleResult"
      }
    },
    "NiftyDeregisterRoutersFromSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterRoutersFromSecurityGroupRequest"
      },
      "name": "NiftyDeregisterRoutersFromSecurityGroup",
      "output": {
        "shape": "NiftyDeregisterRoutersFromSecurityGroupResult"
      }
    },
    "NiftyDeregisterVpnGatewaysFromSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterVpnGatewaysFromSecurityGroupRequest"
      },
      "name": "NiftyDeregisterVpnGatewaysFromSecurityGroup",
      "output": {
        "shape": "NiftyDeregisterVpnGatewaysFromSecurityGroupResult"
      }
    },
    "NiftyDescribeAlarmHistory": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmHistoryRequest"
      },
      "name": "NiftyDescribeAlarmHistory",
      "output": {
        "shape": "NiftyDescribeAlarmHistoryResult"
      }
    },
    "NiftyDescribeAlarmRulesActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmRulesActivitiesRequest"
      },
      "name": "NiftyDescribeAlarmRulesActivities",
      "output": {
        "shape": "NiftyDescribeAlarmRulesActivitiesResult"
      }
    },
    "NiftyDescribeAlarms": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsRequest"
      },
      "name": "NiftyDescribeAlarms",
      "output": {
        "shape": "NiftyDescribeAlarmsResult"
      }
    },
    "NiftyDescribeAlarmsPartitions": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsPartitionsRequest"
      },
      "name": "NiftyDescribeAlarmsPartitions",
      "output": {
        "shape": "NiftyDescribeAlarmsPartitionsResult"
      }
    },
    "NiftyDescribeAutoScalingGroups": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAutoScalingGroupsRequest"
      },
      "name": "NiftyDescribeAutoScalingGroups",
      "output": {
        "shape": "NiftyDescribeAutoScalingGroupsResult"
      }
    },
    "NiftyDescribeCorporateInfoForCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeCorporateInfoForCertificateRequest"
      },
      "name": "NiftyDescribeCorporateInfoForCertificate",
      "output": {
        "shape": "NiftyDescribeCorporateInfoForCertificateResult"
      }
    },
    "NiftyDescribeDhcpConfigs": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpConfigsRequest"
      },
      "name": "NiftyDescribeDhcpConfigs",
      "output": {
        "shape": "NiftyDescribeDhcpConfigsResult"
      }
    },
    "NiftyDescribeDhcpStatus": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpStatusRequest"
      },
      "name": "NiftyDescribeDhcpStatus",
      "output": {
        "shape": "NiftyDescribeDhcpStatusResult"
      }
    },
    "NiftyDescribeElasticLoadBalancers": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeElasticLoadBalancersRequest"
      },
      "name": "NiftyDescribeElasticLoadBalancers",
      "output": {
        "shape": "NiftyDescribeElasticLoadBalancersResultWrapper"
      }
    },
    "NiftyDescribeInstanceElasticLoadBalancerHealth": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeInstanceElasticLoadBalancerHealthRequest"
      },
      "name": "NiftyDescribeInstanceElasticLoadBalancerHealth",
      "output": {
        "shape": "NiftyDescribeInstanceElasticLoadBalancerHealthResultWrapper"
      }
    },
    "NiftyDescribeInstanceSnapshots": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeInstanceSnapshotsRequest"
      },
      "name": "NiftyDescribeInstanceSnapshots",
      "output": {
        "shape": "NiftyDescribeInstanceSnapshotsResult"
      }
    },
    "NiftyDescribeLoadBalancerSSLPolicies": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeLoadBalancerSSLPoliciesRequest"
      },
      "name": "NiftyDescribeLoadBalancerSSLPolicies",
      "output": {
        "shape": "NiftyDescribeLoadBalancerSSLPoliciesResultWrapper"
      }
    },
    "NiftyDescribeNatTables": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeNatTablesRequest"
      },
      "name": "NiftyDescribeNatTables",
      "output": {
        "shape": "NiftyDescribeNatTablesResult"
      }
    },
    "NiftyDescribePerformanceChart": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribePerformanceChartRequest"
      },
      "name": "NiftyDescribePerformanceChart",
      "output": {
        "shape": "NiftyDescribePerformanceChartResult"
      }
    },
    "NiftyDescribePrivateLans": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribePrivateLansRequest"
      },
      "name": "NiftyDescribePrivateLans",
      "output": {
        "shape": "NiftyDescribePrivateLansResult"
      }
    },
    "NiftyDescribeRouters": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeRoutersRequest"
      },
      "name": "NiftyDescribeRouters",
      "output": {
        "shape": "NiftyDescribeRoutersResult"
      }
    },
    "NiftyDescribeScalingActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeScalingActivitiesRequest"
      },
      "name": "NiftyDescribeScalingActivities",
      "output": {
        "shape": "NiftyDescribeScalingActivitiesResult"
      }
    },
    "NiftyDescribeSeparateInstanceRules": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeSeparateInstanceRulesRequest"
      },
      "name": "NiftyDescribeSeparateInstanceRules",
      "output": {
        "shape": "NiftyDescribeSeparateInstanceRulesResult"
      }
    },
    "NiftyDescribeVpnGatewayActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeVpnGatewayActivitiesRequest"
      },
      "name": "NiftyDescribeVpnGatewayActivities",
      "output": {
        "shape": "NiftyDescribeVpnGatewayActivitiesResult"
      }
    },
    "NiftyDescribeWebProxies": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeWebProxiesRequest"
      },
      "name": "NiftyDescribeWebProxies",
      "output": {
        "shape": "NiftyDescribeWebProxiesResult"
      }
    },
    "NiftyDisableDhcp": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisableDhcpRequest"
      },
      "name": "NiftyDisableDhcp",
      "output": {
        "shape": "NiftyDisableDhcpResult"
      }
    },
    "NiftyDisassociateNatTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisassociateNatTableRequest"
      },
      "name": "NiftyDisassociateNatTable",
      "output": {
        "shape": "NiftyDisassociateNatTableResult"
      }
    },
    "NiftyDisassociateRouteTableFromElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisassociateRouteTableFromElasticLoadBalancerRequest"
      },
      "name": "NiftyDisassociateRouteTableFromElasticLoadBalancer",
      "output": {
        "shape": "NiftyDisassociateRouteTableFromElasticLoadBalancerResult"
      }
    },
    "NiftyDisassociateRouteTableFromVpnGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisassociateRouteTableFromVpnGatewayRequest"
      },
      "name": "NiftyDisassociateRouteTableFromVpnGateway",
      "output": {
        "shape": "NiftyDisassociateRouteTableFromVpnGatewayResult"
      }
    },
    "NiftyEnableDhcp": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyEnableDhcpRequest"
      },
      "name": "NiftyEnableDhcp",
      "output": {
        "shape": "NiftyEnableDhcpResult"
      }
    },
    "NiftyModifyAddressAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyAddressAttributeRequest"
      },
      "name": "NiftyModifyAddressAttribute",
      "output": {
        "shape": "NiftyModifyAddressAttributeResult"
      }
    },
    "NiftyModifyCustomerGatewayAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyCustomerGatewayAttributeRequest"
      },
      "name": "NiftyModifyCustomerGatewayAttribute",
      "output": {
        "shape": "NiftyModifyCustomerGatewayAttributeResult"
      }
    },
    "NiftyModifyElasticLoadBalancerAttributes": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyElasticLoadBalancerAttributesRequest"
      },
      "name": "NiftyModifyElasticLoadBalancerAttributes",
      "output": {
        "shape": "NiftyModifyElasticLoadBalancerAttributesResult"
      }
    },
    "NiftyModifyInstanceSnapshotAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyInstanceSnapshotAttributeRequest"
      },
      "name": "NiftyModifyInstanceSnapshotAttribute",
      "output": {
        "shape": "NiftyModifyInstanceSnapshotAttributeResult"
      }
    },
    "NiftyModifyKeyPairAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyKeyPairAttributeRequest"
      },
      "name": "NiftyModifyKeyPairAttribute",
      "output": {
        "shape": "NiftyModifyKeyPairAttributeResult"
      }
    },
    "NiftyModifyPrivateLanAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyPrivateLanAttributeRequest"
      },
      "name": "NiftyModifyPrivateLanAttribute",
      "output": {
        "shape": "NiftyModifyPrivateLanAttributeResult"
      }
    },
    "NiftyModifyRouterAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyRouterAttributeRequest"
      },
      "name": "NiftyModifyRouterAttribute",
      "output": {
        "shape": "NiftyModifyRouterAttributeResult"
      }
    },
    "NiftyModifyVpnGatewayAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyVpnGatewayAttributeRequest"
      },
      "name": "NiftyModifyVpnGatewayAttribute",
      "output": {
        "shape": "NiftyModifyVpnGatewayAttributeResult"
      }
    },
    "NiftyModifyWebProxyAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyWebProxyAttributeRequest"
      },
      "name": "NiftyModifyWebProxyAttribute",
      "output": {
        "shape": "NiftyModifyWebProxyAttributeResult"
      }
    },
    "NiftyRebootRouters": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRebootRoutersRequest"
      },
      "name": "NiftyRebootRouters",
      "output": {
        "shape": "NiftyRebootRoutersResult"
      }
    },
    "NiftyRebootVpnGateways": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRebootVpnGatewaysRequest"
      },
      "name": "NiftyRebootVpnGateways",
      "output": {
        "shape": "NiftyRebootVpnGatewaysResult"
      }
    },
    "NiftyRegisterInstancesWithElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterInstancesWithElasticLoadBalancerRequest"
      },
      "name": "NiftyRegisterInstancesWithElasticLoadBalancer",
      "output": {
        "shape": "NiftyRegisterInstancesWithElasticLoadBalancerResultWrapper"
      }
    },
    "NiftyRegisterInstancesWithSeparateInstanceRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterInstancesWithSeparateInstanceRuleRequest"
      },
      "name": "NiftyRegisterInstancesWithSeparateInstanceRule",
      "output": {
        "shape": "NiftyRegisterInstancesWithSeparateInstanceRuleResult"
      }
    },
    "NiftyRegisterPortWithElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterPortWithElasticLoadBalancerRequest"
      },
      "name": "NiftyRegisterPortWithElasticLoadBalancer",
      "output": {
        "shape": "NiftyRegisterPortWithElasticLoadBalancerResultWrapper"
      }
    },
    "NiftyRegisterRoutersWithSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterRoutersWithSecurityGroupRequest"
      },
      "name": "NiftyRegisterRoutersWithSecurityGroup",
      "output": {
        "shape": "NiftyRegisterRoutersWithSecurityGroupResult"
      }
    },
    "NiftyRegisterVpnGatewaysWithSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterVpnGatewaysWithSecurityGroupRequest"
      },
      "name": "NiftyRegisterVpnGatewaysWithSecurityGroup",
      "output": {
        "shape": "NiftyRegisterVpnGatewaysWithSecurityGroupResult"
      }
    },
    "NiftyReleaseRouterBackupState": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReleaseRouterBackupStateRequest"
      },
      "name": "NiftyReleaseRouterBackupState",
      "output": {
        "shape": "NiftyReleaseRouterBackupStateResult"
      }
    },
    "NiftyReleaseVpnGatewayBackupState": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReleaseVpnGatewayBackupStateRequest"
      },
      "name": "NiftyReleaseVpnGatewayBackupState",
      "output": {
        "shape": "NiftyReleaseVpnGatewayBackupStateResult"
      }
    },
    "NiftyReplaceDhcpConfig": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceDhcpConfigRequest"
      },
      "name": "NiftyReplaceDhcpConfig",
      "output": {
        "shape": "NiftyReplaceDhcpConfigResult"
      }
    },
    "NiftyReplaceDhcpOption": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceDhcpOptionRequest"
      },
      "name": "NiftyReplaceDhcpOption",
      "output": {
        "shape": "NiftyReplaceDhcpOptionResult"
      }
    },
    "NiftyReplaceElasticLoadBalancerLatestVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceElasticLoadBalancerLatestVersionRequest"
      },
      "name": "NiftyReplaceElasticLoadBalancerLatestVersion",
      "output": {
        "shape": "NiftyReplaceElasticLoadBalancerLatestVersionResultWrapper"
      }
    },
    "NiftyReplaceElasticLoadBalancerListenerSSLCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceElasticLoadBalancerListenerSSLCertificateRequest"
      },
      "name": "NiftyReplaceElasticLoadBalancerListenerSSLCertificate",
      "output": {
        "shape": "NiftyReplaceElasticLoadBalancerListenerSSLCertificateResultWrapper"
      }
    },
    "NiftyReplaceNatRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceNatRuleRequest"
      },
      "name": "NiftyReplaceNatRule",
      "output": {
        "shape": "NiftyReplaceNatRuleResult"
      }
    },
    "NiftyReplaceNatTableAssociation": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceNatTableAssociationRequest"
      },
      "name": "NiftyReplaceNatTableAssociation",
      "output": {
        "shape": "NiftyReplaceNatTableAssociationResult"
      }
    },
    "NiftyReplaceRouteTableAssociationWithElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceRouteTableAssociationWithElasticLoadBalancerRequest"
      },
      "name": "NiftyReplaceRouteTableAssociationWithElasticLoadBalancer",
      "output": {
        "shape": "NiftyReplaceRouteTableAssociationWithElasticLoadBalancerResult"
      }
    },
    "NiftyReplaceRouteTableAssociationWithVpnGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceRouteTableAssociationWithVpnGatewayRequest"
      },
      "name": "NiftyReplaceRouteTableAssociationWithVpnGateway",
      "output": {
        "shape": "NiftyReplaceRouteTableAssociationWithVpnGatewayResult"
      }
    },
    "NiftyReplaceRouterLatestVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceRouterLatestVersionRequest"
      },
      "name": "NiftyReplaceRouterLatestVersion",
      "output": {
        "shape": "NiftyReplaceRouterLatestVersionResult"
      }
    },
    "NiftyReplaceVpnGatewayLatestVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceVpnGatewayLatestVersionRequest"
      },
      "name": "NiftyReplaceVpnGatewayLatestVersion",
      "output": {
        "shape": "NiftyReplaceVpnGatewayLatestVersionResult"
      }
    },
    "NiftyRestoreInstanceSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRestoreInstanceSnapshotRequest"
      },
      "name": "NiftyRestoreInstanceSnapshot",
      "output": {
        "shape": "NiftyRestoreInstanceSnapshotResult"
      }
    },
    "NiftyRestoreRouterPreviousVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRestoreRouterPreviousVersionRequest"
      },
      "name": "NiftyRestoreRouterPreviousVersion",
      "output": {
        "shape": "NiftyRestoreRouterPreviousVersionResult"
      }
    },
    "NiftyRestoreVpnGatewayPreviousVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRestoreVpnGatewayPreviousVersionRequest"
      },
      "name": "NiftyRestoreVpnGatewayPreviousVersion",
      "output": {
        "shape": "NiftyRestoreVpnGatewayPreviousVersionResult"
      }
    },
    "NiftyRetryImportInstance": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRetryImportInstanceRequest"
      },
      "name": "NiftyRetryImportInstance",
      "output": {
        "shape": "NiftyRetryImportInstanceResult"
      }
    },
    "NiftySetLoadBalancerSSLPoliciesOfListener": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftySetLoadBalancerSSLPoliciesOfListenerRequest"
      },
      "name": "NiftySetLoadBalancerSSLPoliciesOfListener",
      "output": {
        "shape": "NiftySetLoadBalancerSSLPoliciesOfListenerResult"
      }
    },
    "NiftyUnsetLoadBalancerSSLPoliciesOfListener": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUnsetLoadBalancerSSLPoliciesOfListenerRequest"
      },
      "name": "NiftyUnsetLoadBalancerSSLPoliciesOfListener",
      "output": {
        "shape": "NiftyUnsetLoadBalancerSSLPoliciesOfListenerResult"
      }
    },
    "NiftyUpdateAlarm": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateAlarmRequest"
      },
      "name": "NiftyUpdateAlarm",
      "output": {
        "shape": "NiftyUpdateAlarmResult"
      }
    },
    "NiftyUpdateAutoScalingGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateAutoScalingGroupRequest"
      },
      "name": "NiftyUpdateAutoScalingGroup",
      "output": {
        "shape": "NiftyUpdateAutoScalingGroupResult"
      }
    },
    "NiftyUpdateElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateElasticLoadBalancerRequest"
      },
      "name": "NiftyUpdateElasticLoadBalancer",
      "output": {
        "shape": "NiftyUpdateElasticLoadBalancerResult"
      }
    },
    "NiftyUpdateInstanceNetworkInterfaces": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateInstanceNetworkInterfacesRequest"
      },
      "name": "NiftyUpdateInstanceNetworkInterfaces",
      "output": {
        "shape": "NiftyUpdateInstanceNetworkInterfacesResult"
      }
    },
    "NiftyUpdateRouterNetworkInterfaces": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateRouterNetworkInterfacesRequest"
      },
      "name": "NiftyUpdateRouterNetworkInterfaces",
      "output": {
        "shape": "NiftyUpdateRouterNetworkInterfacesResult"
      }
    },
    "NiftyUpdateSeparateInstanceRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateSeparateInstanceRuleRequest"
      },
      "name": "NiftyUpdateSeparateInstanceRule",
      "output": {
        "shape": "NiftyUpdateSeparateInstanceRuleResult"
      }
    },
    "NiftyUpdateVpnGatewayNetworkInterfaces": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateVpnGatewayNetworkInterfacesRequest"
      },
      "name": "NiftyUpdateVpnGatewayNetworkInterfaces",
      "output": {
        "shape": "NiftyUpdateVpnGatewayNetworkInterfacesResult"
      }
    },
    "RebootInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RebootInstancesRequest"
      },
      "name": "RebootInstances",
      "output": {
        "shape": "RebootInstancesResult"
      }
    },
    "RefreshInstanceBackupRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RefreshInstanceBackupRuleRequest"
      },
      "name": "RefreshInstanceBackupRule",
      "output": {
        "shape": "RefreshInstanceBackupRuleResult"
      }
    },
    "RegisterCorporateInfoForCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RegisterCorporateInfoForCertificateRequest"
      },
      "name": "RegisterCorporateInfoForCertificate",
      "output": {
        "shape": "RegisterCorporateInfoForCertificateResult"
      }
    },
    "RegisterInstancesWithLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RegisterInstancesWithLoadBalancerRequest"
      },
      "name": "RegisterInstancesWithLoadBalancer",
      "output": {
        "shape": "RegisterInstancesWithLoadBalancerResultWrapper"
      }
    },
    "RegisterInstancesWithSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RegisterInstancesWithSecurityGroupRequest"
      },
      "name": "RegisterInstancesWithSecurityGroup",
      "output": {
        "shape": "RegisterInstancesWithSecurityGroupResult"
      }
    },
    "RegisterPortWithLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RegisterPortWithLoadBalancerRequest"
      },
      "name": "RegisterPortWithLoadBalancer",
      "output": {
        "shape": "RegisterPortWithLoadBalancerResultWrapper"
      }
    },
    "ReleaseAddress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ReleaseAddressRequest"
      },
      "name": "ReleaseAddress",
      "output": {
        "shape": "ReleaseAddressResult"
      }
    },
    "ReleaseMultiIpAddresses": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ReleaseMultiIpAddressesRequest"
      },
      "name": "ReleaseMultiIpAddresses",
      "output": {
        "shape": "ReleaseMultiIpAddressesResult"
      }
    },
    "ReplaceRoute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ReplaceRouteRequest"
      },
      "name": "ReplaceRoute",
      "output": {
        "shape": "ReplaceRouteResult"
      }
    },
    "ReplaceRouteTableAssociation": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ReplaceRouteTableAssociationRequest"
      },
      "name": "ReplaceRouteTableAssociation",
      "output": {
        "shape": "ReplaceRouteTableAssociationResult"
      }
    },
    "RevokeSecurityGroupIngress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RevokeSecurityGroupIngressRequest"
      },
      "name": "RevokeSecurityGroupIngress",
      "output": {
        "shape": "RevokeSecurityGroupIngressResult"
      }
    },
    "RunInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RunInstancesRequest"
      },
      "name": "RunInstances",
      "output": {
        "shape": "RunInstancesResult"
      }
    },
    "SetFilterForLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "SetFilterForLoadBalancerRequest"
      },
      "name": "SetFilterForLoadBalancer",
      "output": {
        "shape": "SetFilterForLoadBalancerResultWrapper"
      }
    },
    "SetLoadBalancerListenerSSLCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "SetLoadBalancerListenerSSLCertificateRequest"
      },
      "name": "SetLoadBalancerListenerSSLCertificate",
      "output": {
        "shape": "SetLoadBalancerListenerSSLCertificateResultWrapper"
      }
    },
    "StartInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "StartInstancesRequest"
      },
      "name": "StartInstances",
      "output": {
        "shape": "StartInstancesResult"
      }
    },
    "StopInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "StopInstancesRequest"
      },
      "name": "StopInstances",
      "output": {
        "shape": "StopInstancesResult"
      }
    },
    "TerminateInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "TerminateInstancesRequest"
      },
      "name": "TerminateInstances",
      "output": {
        "shape": "TerminateInstancesResult"
      }
    },
    "UnsetLoadBalancerListenerSSLCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UnsetLoadBalancerListenerSSLCertificateRequest"
      },
      "name": "UnsetLoadBalancerListenerSSLCertificate",
      "output": {
        "shape": "UnsetLoadBalancerListenerSSLCertificateResultWrapper"
      }
    },
    "UpdateLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UpdateLoadBalancerRequest"
      },
      "name": "UpdateLoadBalancer",
      "output": {
        "shape": "UpdateLoadBalancerResult"
      }
    },
    "UpdateLoadBalancerOption": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UpdateLoadBalancerOptionRequest"
      },
      "name": "UpdateLoadBalancerOption",
      "output": {
        "shape": "UpdateLoadBalancerOptionResult"
      }
    },
    "UpdateSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UpdateSecurityGroupRequest"
      },
      "name": "UpdateSecurityGroup",
      "output": {
        "shape": "UpdateSecurityGroupResult"
      }
    },
    "UploadIsoImage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UploadIsoImageRequest"
      },
      "name": "UploadIsoImage",
      "output": {
        "shape": "UploadIsoImageResult"
      }
    },
    "UploadSslCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UploadSslCertificateRequest"
      },
      "name": "UploadSslCertificate",
      "output": {
        "shape": "UploadSslCertificateResult"
      }
    }
  },
  "shapes": {
    "AccountingType": {
      "members": {
        "Value": {
          "locationName": "value",
          "shape": "String"
        }
      },
      "name": "AccountingType",
      "type": "structure"
    },
    "AccountingTypeOfCopyFromBackupInstanceRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfCopyFromBackupInstanceRequest",
      "type": "string"
    },
    "AccountingTypeOfCopyInstanceForCopyInstances": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfCopyInstanceForCopyInstances",
      "type": "string"
    },
    "AccountingTypeOfCreateLoadBalancerRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfCreateLoadBalancerRequest",
      "type": "string"
    },
    "AccountingTypeOfCreateVolumeRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfCreateVolumeRequest",
      "type": "string"
    },
    "AccountingTypeOfCreateVpnGatewayRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfCreateVpnGatewayRequest",
      "type": "string"
    },
    "AccountingTypeOfImportInstanceRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfImportInstanceRequest",
      "type": "string"
    },
    "AccountingTypeOfNiftyCreateElasticLoadBalancerRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfNiftyCreateElasticLoadBalancerRequest",
      "type": "string"
    },
    "AccountingTypeOfNiftyCreatePrivateLanRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfNiftyCreatePrivateLanRequest",
      "type": "string"
    },
    "AccountingTypeOfNiftyCreateRouterRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfNiftyCreateRouterRequest",
      "type": "string"
    },
    "AccountingTypeOfRunInstancesRequest": {
      "enum": [
        "1",
        "2"
      ],
      "name": "AccountingTypeOfRunInstancesRequest",
      "type": "string"
    },
    "ActivitiesSet": {
      "members": {
        "BackupInstanceUniqueId": {
          "locationName": "backupInstanceUniqueId",
          "shape": "String"
        },
        "Detail": {
          "locationName": "detail",
          "shape": "String"
        },
        "EndDateTime": {
          "locationName": "endDateTime",
          "shape": "String"
        },
        "InstanceUniqueId": {
          "locationName": "instanceUniqueId",
          "shape": "String"
        },
        "Operation": {
          "locationName": "operation",
          "shape": "String"
        },
        "StartDateTime": {
          "locationName": "startDateTime",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "ActivitiesSet",
      "type": "structure"
    },
    "AddressesSet": {
      "members": {
        "AvailabilityZone": {
          "locationName": "availabilityZone",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceUniqueId": {
          "locationName": "instanceUniqueId",
          "shape": "String"
        },
        "PrivateIpAddress": {
          "locationName": "privateIpAddress",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "publicIp",
          "shape": "String"
        }
      },
      "name": "AddressesSet",
      "type": "structure"
    },
    "AlarmConditionOfNiftyCreateAlarmRequest": {
      "enum": [
        "and",
        "or"
      ],
      "name": "AlarmConditionOfNiftyCreateAlarmRequest",
      "type": "string"
    },
    "AlarmConditionOfNiftyUpdateAlarmRequest": {
      "enum": [
        "and",
        "or"
      ],
      "name": "AlarmConditionOfNiftyUpdateAlarmRequest",
      "type": "string"
    },
    "AlarmDateHistorySet": {
      "members": {
        "AlarmEventHistorySet": {
          "locationName": "alarmEventHistorySet",
          "shape": "ListOfAlarmEventHistorySet"
        },
        "Date": {
          "locationName": "date",
          "shape": "String"
        }
      },
      "name": "AlarmDateHistorySet",
      "type": "structure"
    },
    "AlarmEventHistorySet": {
      "members": {
        "AlarmEvent": {
          "locationName": "alarmEvent",
          "shape": "String"
        },
        "AlarmEventDatetime": {
          "locationName": "alarmEventDatetime",
          "shape": "TStamp"
        }
      },
      "name": "AlarmEventHistorySet",
      "type": "structure"
    },
    "AlarmRulesActivitiesDateSet": {
      "members": {
        "AlarmRulesActivitiesEventSet": {
          "locationName": "alarmRulesActivitiesEventSet",
          "shape": "ListOfAlarmRulesActivitiesEventSet"
        },
        "Date": {
          "locationName": "date",
          "shape": "String"
        }
      },
      "name": "AlarmRulesActivitiesDateSet",
      "type": "structure"
    },
    "AlarmRulesActivitiesEventSet": {
      "members": {
        "AlarmRulesActivitiesEvent": {
          "locationName": "alarmRulesActivitiesEvent",
          "shape": "String"
        },
        "AlarmRulesActivitiesEventDatetime": {
          "locationName": "alarmRulesActivitiesEventDatetime",
          "shape": "TStamp"
        },
        "ResourceName": {
          "locationName": "resourceName",
          "shape": "String"
        },
        "Value": {
          "locationName": "value",
          "shape": "String"
        }
      },
      "name": "AlarmRulesActivitiesEventSet",
      "type": "structure"
    },
    "AlarmRulesActivitiesSet": {
      "members": {
        "AlarmRulesActivitiesDateSet": {
          "locationName": "alarmRulesActivitiesDateSet",
          "shape": "ListOfAlarmRulesActivitiesDateSet"
        },
        "DataType": {
          "locationName": "dataType",
          "shape": "String"
        }
      },
      "name": "AlarmRulesActivitiesSet",
      "type": "structure"
    },
    "AlarmTargetSet": {
      "members": {
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "PartitionsSet": {
          "locationName": "partitionsSet",
          "shape": "ListOfPartitionsSet"
        }
      },
      "name": "AlarmTargetSet",
      "type": "structure"
    },
    "AlarmTargetsSet": {
      "members": {
        "ResourceName": {
          "locationName": "resourceName",
          "shape": "String"
        }
      },
      "name": "AlarmTargetsSet",
      "type": "structure"
    },
    "AllocateAddressRequest": {
      "members": {
        "Domain": {
          "locationName": "Domain",
          "shape": "String"
        },
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        },
        "NiftyPrivateIp": {
          "locationName": "NiftyPrivateIp",
          "shape": "Boolean"
        },
        "Placement": {
          "locationName": "Placement",
          "shape": "RequestPlacementOfAllocateAddress"
        }
      },
      "name": "AllocateAddressRequest",
      "type": "structure"
    },
    "AllocateAddressResult": {
      "members": {
        "Placement": {
          "locationName": "placement",
          "shape": "Placement"
        },
        "PrivateIpAddress": {
          "locationName": "privateIpAddress",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "publicIp",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        }
      },
      "name": "AllocateAddressResult",
      "type": "structure"
    },
    "AnalyzeResultSet": {
      "members": {
        "AnalyzeCode": {
          "locationName": "analyzeCode",
          "shape": "String"
        },
        "Line": {
          "locationName": "line",
          "shape": "String"
        }
      },
      "name": "AnalyzeResultSet",
      "type": "structure"
    },
    "AppCookieStickinessPolicies": {
      "members": {
        "CookieName": {
          "locationName": "CookieName",
          "shape": "String"
        },
        "PolicyName": {
          "locationName": "PolicyName",
          "shape": "String"
        }
      },
      "name": "AppCookieStickinessPolicies",
      "type": "structure"
    },
    "AssociateAddressRequest": {
      "members": {
        "AllocationId": {
          "locationName": "AllocationId",
          "shape": "String"
        },
        "AllowReassociation": {
          "locationName": "AllowReassociation",
          "shape": "Boolean"
        },
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        },
        "NetworkInterfaceId": {
          "locationName": "NetworkInterfaceId",
          "shape": "String"
        },
        "NiftyReboot": {
          "locationName": "NiftyReboot",
          "shape": "NiftyRebootOfAssociateAddressRequest"
        },
        "PrivateIpAddress": {
          "locationName": "PrivateIpAddress",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "PublicIp",
          "shape": "String"
        }
      },
      "name": "AssociateAddressRequest",
      "required": [
        "InstanceId"
      ],
      "type": "structure"
    },
    "AssociateAddressResult": {
      "members": {
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        },
        "Return": {
          "locationName": "return",
          "shape": "Boolean"
        }
      },
      "name": "AssociateAddressResult",
      "type": "structure"
    },
    "AssociateMultiIpAddressGroupRequest": {
      "members": {
        "InstanceUniqueId": {
          "locationName": "InstanceUniqueId",
          "shape": "String"
        },
        "MultiIpAddressGroupId": {
          "locationName": "MultiIpAddressGroupId",
          "shape": "String"
        },
        "NiftyReboot": {
          "locationName": "NiftyReboot",
          "shape": "NiftyRebootOfAssociateMultiIpAddressGroupRequest"
        }
      },
      "name": "AssociateMultiIpAddressGroupRequest",
      "required": [
        "InstanceUniqueId",
        "MultiIpAddressGroupId"
      ],
      "type": "structure"
    },
    "AssociateMultiIpAddressGroupResult": {
      "members": {
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        },
        "Return": {
          "locationName": "return",
          "shape": "Boolean"
        }
      },
      "name": "AssociateMultiIpAddressGroupResult",
      "type": "structure"
    },
    "AssociateRouteTableRequest": {
      "members": {
        "Agreement": {
          "locationName": "Agreement",
          "shape": "Boolean"
        },
        "RouteTableId": {
          "locationName": "RouteTableId",
          "shape": "String"
        },
        "RouterId": {
          "locationName": "RouterId",
          "shape": "String"
        },
        "RouterName": {
          "locationName": "RouterName",
          "shape": "String"
        },
        "SubnetId": {
          "locationName": "SubnetId",
          "shape": "String"
        }
      },
      "name": "AssociateRouteTableRequest",
      "required": [
        "RouteTableId"
      ],
      "type": "structure"
    },
    "AssociateRouteTableResult": {
      "members": {
        "AssociationId": {
          "locationName": "associationId",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        }
      },
      "name": "AssociateRouteTableResult",
      "type": "structure"
    },
    "AssociateUsersRequest": {
      "members": {
        "FunctionName": {
          "locationName": "FunctionName",
          "shape": "FunctionNameOfAssociateUsersRequest"
        },
        "Users": {
          "locationName": "Users",
          "shape": "ListOfRequestUsers"
        }
      },
      "name": "AssociateUsersRequest",
      "required": [
        "FunctionName",
        "Users"
      ],
      "type": "structure"
    },
    "AssociateUsersResult": {
      "members": {
        "Users": {
          "locationName": "Users",
          "shape": "ListOfUsers"
        }
      },
      "name": "AssociateUsersResult",
      "type": "structure"
    },
    "AssociateUsersResultWrapper": {
      "members": {
        "AssociateUsersResult": {
          "locationName": "AssociateUsersResult",
          "shape": "AssociateUsersResult"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "AssociateUsersResultWrapper",
      "type": "structure"
    },
    "Association": {
      "members": {
        "IpOwnerId": {
          "locationName": "ipOwnerId",
          "shape": "String"
        },
        "PublicDnsName": {
          "locationName": "publicDnsName",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "publicIp",
          "shape": "String"
        },
        "PublicIpV6": {
          "locationName": "publicIpV6",
          "shape": "String"
        }
      },
      "name": "Association",
      "type": "structure"
    },
    "AssociationOfCopyFromBackupInstance": {
      "members": {
        "AllocationId": {
          "locationName": "allocationId",
          "shape": "String"
        },
        "AssociationId": {
          "locationName": "associationId",
          "shape": "String"
        },
        "IpOwnerId": {
          "locationName": "ipOwnerId",
          "shape": "String"
        },
        "PublicDnsName": {
          "locationName": "publicDnsName",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "publicIp",
          "shape": "String"
        },
        "PublicIpV6": {
          "locationName": "publicIpV6",
          "shape": "String"
        }
      },
      "name": "AssociationOfCopyFromBackupInstance",
      "type": "structure"
    },
    "AssociationOfCreateNetworkInterface": {
      "members": {
        "AllocationId": {
          "locationName": "allocationId",
          "shape": "String"
        },
        "AssociationId": {
          "locationName": "associationId",
          "shape": "String"
        },
        "IpOwnerId": {
          "locationName": "ipOwnerId",
          "shape": "String"
        },
        "PublicDnsName": {
          "locationName": "publicDnsName",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "publicIp",
          "shape": "String"
        },
        "PublicIpV6": {
          "locationName": "publicIpV6",
          "shape": "String"
        }
      },
      "name": "AssociationOfCreateNetworkInterface",
      "type": "structure"
    },
    "AssociationOfDescribeNetworkInterfaces": {
      "members": {
        "AllocationId": {
          "locationName": "allocationId",
          "shape": "String"
        },
        "AssociationId": {
          "locationName": "associationId",
          "shape": "String"
        },
        "IpOwnerId": {
          "locationName": "ipOwnerId",
          "shape": "String"
        },
        "PublicDnsName": {
          "locationName": "publicDnsName",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "publicIp",
          "shape": "String"
        },
        "PublicIpV6": {
          "locationName": "publicIpV6",
          "shape": "String"
        }
      },
      "name": "AssociationOfDescribeNetworkInterfaces",
      "type": "structure"
    },
    "AssociationOfImportInstance": {
      "members": {
        "IpOwnerId": {
          "locationName": "ipOwnerId",
          "shape": "String"
        },
        "PublicDnsName": {
          "locationName": "publicDnsName",
          "shape": "String"
        }
      },
      "name": "AssociationOfImportInstance",
      "type": "structure"
    },
    "AssociationOfRunInstances": {
      "members": {
        "IpOwnerId": {
          "locationName": "ipOwnerId",
          "shape": "String"
        },
        "PublicDnsName": {
          "locationName": "publicDnsName",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "publicIp",
          "shape": "String"
        }
      },
      "name": "AssociationOfRunInstances",
      "type": "structure"
    },
    "AssociationSet": {
      "members": {
        "Main": {
          "locationName": "main",
          "shape": "Boolean"
        },
        "RouteTableAssociationId": {
          "locationName": "routeTableAssociationId",
          "shape": "String"
        },
        "RouteTableId": {
          "locationName": "routeTableId",
          "shape": "String"
        },
        "RouterId": {
          "locationName": "routerId",
          "shape": "String"
        },
        "RouterName": {
          "locationName": "routerName",
          "shape": "String"
        }
      },
      "name": "AssociationSet",
      "type": "structure"
    },
    "AssociationSetOfNiftyDescribeNatTables": {
      "members": {
        "AssociationId": {
          "locationName": "associationId",
          "shape": "String"
        },
        "NatTableId": {
          "locationName": "natTableId",
          "shape": "String"
        },
        "RouterId": {
          "locationName": "routerId",
          "shape": "String"
        },
        "RouterName": {
          "locationName": "routerName",
          "shape": "String"
        }
      },
      "name": "AssociationSetOfNiftyDescribeNatTables",
      "type": "structure"
    },
    "AttachIsoImageRequest": {
      "members": {
        "InstanceUniqueId": {
          "locationName": "InstanceUniqueId",
          "shape": "String"
        },
        "IsoImageId": {
          "locationName": "IsoImageId",
          "shape": "String"
        }
      },
      "name": "AttachIsoImageRequest",
      "required": [
        "InstanceUniqueId",
        "IsoImageId"
      ],
      "type": "structure"
    },
    "AttachIsoImageResult": {
      "members": {
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        },
        "Return": {
          "locationName": "return",
          "shape": "Boolean"
        }
      },
      "name": "AttachIsoImageResult",
      "type": "structure"
    },
    "AttachNetworkInterfaceRequest": {
      "members": {
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        },
        "InstanceUniqueId": {
          "locationName": "InstanceUniqueId",
          "shape": "String"
        },
        "NetworkInterfaceId": {
          "locationName": "NetworkInterfaceId",
          "shape": "String"
        },
        "NiftyReboot": {
          "locationName": "NiftyReboot",
          "shape": "NiftyRebootOfAttachNetworkInterfaceRequest"
        }
      },
      "name": "AttachNetworkInterfaceRequest",
      "required": [
        "NetworkInterfaceId"
      ],
      "type": "structure"
    },
    "AttachNetworkInterfaceResult": {
      "members": {
        "AttachmentId": {
          "locationName": "attachmentId",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        },
        "Return": {
          "locationName": "return",
          "shape": "Boolean"
        }
      },
      "name": "AttachNetworkInterfaceResult",
      "type": "structure"
    },
    "AttachVolumeRequest": {
      "members": {
        "Device": {
          "locationName": "Device",
          "shape": "String"
        },
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        },
        "VolumeId": {
          "locationName": "VolumeId",
          "shape": "String"
        }
      },
      "name": "AttachVolumeRequest",
      "required": [
        "InstanceId",
        "VolumeId"
      ],
      "type": "structure"
    },
    "AttachVolumeResult": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "Device": {
          "locationName": "device",
          "shape": "String"
        },
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceUniqueId": {
          "locationName": "instanceUniqueId",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        },
        "VolumeId": {
          "locationName": "volumeId",
          "shape": "String"
        }
      },
      "name": "AttachVolumeResult",
      "type": "structure"
    },
    "Attachment": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "AttachmentId": {
          "locationName": "attachmentId",
          "shape": "String"
        },
        "DeleteOnTermination": {
          "locationName": "deleteOnTermination",
          "shape": "Boolean"
        },
        "DeviceIndex": {
          "locationName": "deviceIndex",
          "shape": "Integer"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "Attachment",
      "type": "structure"
    },
    "AttachmentOfCopyFromBackupInstance": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "AttachmentId": {
          "locationName": "attachmentId",
          "shape": "String"
        },
        "DeleteOnTermination": {
          "locationName": "deleteOnTermination",
          "shape": "Boolean"
        },
        "DeviceIndex": {
          "locationName": "deviceIndex",
          "shape": "Integer"
        },
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceOwnerId": {
          "locationName": "instanceOwnerId",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "AttachmentOfCopyFromBackupInstance",
      "type": "structure"
    },
    "AttachmentOfCreateNetworkInterface": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "AttachmentId": {
          "locationName": "attachmentId",
          "shape": "String"
        },
        "DeleteOnTermination": {
          "locationName": "deleteOnTermination",
          "shape": "Boolean"
        },
        "DeviceIndex": {
          "locationName": "deviceIndex",
          "shape": "Integer"
        },
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceOwnerId": {
          "locationName": "instanceOwnerId",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "AttachmentOfCreateNetworkInterface",
      "type": "structure"
    },
    "AttachmentOfDescribeNetworkInterfaces": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "AttachmentId": {
          "locationName": "attachmentId",
          "shape": "String"
        },
        "DeleteOnTermination": {
          "locationName": "deleteOnTermination",
          "shape": "Boolean"
        },
        "DeviceIndex": {
          "locationName": "deviceIndex",
          "shape": "Integer"
        },
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceOwnerId": {
          "locationName": "instanceOwnerId",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "AttachmentOfDescribeNetworkInterfaces",
      "type": "structure"
    },
    "AttachmentOfImportInstance": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "AttachmentID": {
          "locationName": "attachmentID",
          "shape": "String"
        },
        "DeleteOnTermination": {
          "locationName": "deleteOnTermination",
          "shape": "Boolean"
        },
        "DeviceIndex": {
          "locationName": "deviceIndex",
          "shape": "Integer"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "AttachmentOfImportInstance",
      "type": "structure"
    },
    "AttachmentOfRunInstances": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "AttachmentID": {
          "locationName": "attachmentID",
          "shape": "String"
        },
        "DeleteOnTermination": {
          "locationName": "deleteOnTermination",
          "shape": "Boolean"
        },
        "DeviceIndex": {
          "locationName": "deviceIndex",
          "shape": "Integer"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "AttachmentOfRunInstances",
      "type": "structure"
    },
    "AttachmentSet": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "DeleteOnTermination": {
          "locationName": "deleteOnTermination",
          "shape": "Boolean"
        },
        "Device": {
          "locationName": "device",
          "shape": "String"
        },
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceUniqueId": {
          "locationName": "instanceUniqueId",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        },
        "VolumeId": {
          "locationName": "volumeId",
          "shape": "String"
        }
      },
      "name": "AttachmentSet",
      "type": "structure"
    },
    "AttributeOfDescribeInstanceAttributeRequest": {
      "enum": [
        "instanceType",
        "disableApiTermination",
        "blockDeviceMapping",
        "accountingType",
        "nextMonthAccountingType",
        "loadbalancing",
        "copyInfo",
        "autoscaling",
        "ipType",
        "niftyPrivateIpType",
        "groupId",
        "description",
        "networkInterfaceSet",
        "elasticloadbalancing"
      ],
      "name": "AttributeOfDescribeInstanceAttributeRequest",
      "type": "string"
    },
    "AttributeOfDescribeSslCertificateAttributeRequest": {
      "enum": [
        "certAuthority",
        "count",
        "certState",
        "period",
        "validityTerm",
        "keyLength",
        "uploadState",
        "description",
        "certInfo",
        "caState"
      ],
      "name": "AttributeOfDescribeSslCertificateAttributeRequest",
      "type": "string"
    },
    "AttributeOfModifyImageAttributeRequest": {
      "enum": [
        "description",
        "imageName",
        "niftyContactUrl",
        "detailDescription"
      ],
      "name": "AttributeOfModifyImageAttributeRequest",
      "type": "string"
    },
    "AttributeOfModifyInstanceAttributeRequest": {
      "enum": [
        "instanceType",
        "disableApiTermination",
        "instanceName",
        "description",
        "ipType",
        "groupId",
        "accountingType"
      ],
      "name": "AttributeOfModifyInstanceAttributeRequest",
      "type": "string"
[...]
