{
  "metadata": {
    "apiVersion": "3.0",
    "endpointPrefix": "computing",
    "protocol": "computing",
    "serviceAbbreviation": "computing",
    "serviceFullName": "NIFCLOUD Computing",
    "serviceId": "computing",
    "signatureVersion": "v2",
    "uid": "computing-2016-11-15",
    "xmlNamespace": "https://computing.api.nifcloud.com/api/"
  },
  "operations": {
    "AllocateAddress": {
      "documentation": "<p>付替IPアドレスを割り当てます。1回のリクエストで、１つのグローバルIPアドレスまたはプライベートIPアドレスが割り当てられます。</p><p>割り当てられるIPアドレスは、ニフクラにより決定されます。</p><p>サーバーを指定した場合、共通グローバル/共通プライベートの固定IPアドレスが付替IPアドレスに変更されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AllocateAddressRequest"
      },
      "name": "AllocateAddress",
      "output": {
        "shape": "AllocateAddressResult"
      }
    },
    "AssociateAddress": {
      "documentation": "<p>指定したサーバーへ付替IPアドレスを追加します。</p><p>元々サーバーに割り当てられていたIPアドレスは、付替IPアドレス設定中は確保された状態となり、付替IPアドレス解除時に再設定されます。</p><p>また付替IPアドレスの反映には、サーバーの再起動が必要になります。</p><p>再起動オプションをfalseで指定する場合はサーバー停止時のみ選択可能です。</p><p>付替IPアドレスをサーバーへ追加するには、サーバーの再起動もあり時間がかかることがあります。</p><p>サーバーのステータスは、API「DescribeInstances」のレスポンス値「instanceState」で確認できます。</p><p>また、付替IPアドレスが正しくサーバーに反映されているかの確認が必要です。</p><p>同じくAPI「DescribeInstances」のレスポンス値「ipType」もしくはAPI「DescribeAddresses」のレスポンス値「instanceId」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateAddressRequest"
      },
      "name": "AssociateAddress",
      "output": {
        "shape": "AssociateAddressResult"
      }
    },
    "AssociateMultiIpAddressGroup": {
      "documentation": "<p>指定したサーバーへマルチIPアドレスグループを割り当てます。</p><p>サーバーへの反映には、再起動が必要になります。</p><p>再起動オプションをfalseで指定する場合はサーバー停止時のみ選択可能です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateMultiIpAddressGroupRequest"
      },
      "name": "AssociateMultiIpAddressGroup",
      "output": {
        "shape": "AssociateMultiIpAddressGroupResult"
      }
    },
    "AssociateRouteTable": {
      "documentation": "<p>指定したルーターへルートテーブルを設定する。</p><p>ルートテーブルを指定するためには、ルートテーブルIDが必要です。</p><p>また、ルーターを指定するためには、ルーターユニークIDまたはルーター名が必要です。</p><p>ルーターがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateRouteTableRequest"
      },
      "name": "AssociateRouteTable",
      "output": {
        "shape": "AssociateRouteTableResult"
      }
    },
    "AssociateUsers": {
      "documentation": "<p>指定した機能を指定したユーザーに共有します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateUsersRequest"
      },
      "name": "AssociateUsers",
      "output": {
        "shape": "AssociateUsersResultWrapper"
      }
    },
    "AttachIsoImage": {
      "documentation": "<p>ISOイメージをサーバーに設定します。</p><p>ISOイメージ・サーバーを指定するためには、それぞれISOイメージID・サーバーユニークIDが必要です。</p><p>設定するサーバーは、ISOイメージと同一ゾーンである必要があります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AttachIsoImageRequest"
      },
      "name": "AttachIsoImage",
      "output": {
        "shape": "AttachIsoImageResult"
      }
    },
    "AttachNetworkInterface": {
      "documentation": "<p>指定したサーバーに追加NICを接続します。</p><p>追加NICを指定するためには、追加NICのネットワークインターフェースIDが必要です。</p><p>また追加NICの接続の反映には、サーバーの再起動が必要になります。再起動オプションをfalseで指定する場合はサーバー停止時のみ選択可能です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AttachNetworkInterfaceRequest"
      },
      "name": "AttachNetworkInterface",
      "output": {
        "shape": "AttachNetworkInterfaceResult"
      }
    },
    "AttachVolume": {
      "documentation": "<p>指定したディスクをサーバーへ接続します。</p><p>ディスクを指定するためには、ディスク名が必要です。</p><p>また、サーバーを指定するためにはサーバー名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AttachVolumeRequest"
      },
      "name": "AttachVolume",
      "output": {
        "shape": "AttachVolumeResult"
      }
    },
    "AuthorizeSecurityGroupIngress": {
      "documentation": "<p>指定したファイアウォールグループへ許可ルールを追加します。</p><p>ファイアウォールグループを指定するためには、ファイアウォールグループ名が必要です。</p><p>許可ルールの許可プロトコルがTCPかUDPの場合、許可ポートの指定が必要です。ポートを単一指定する際は、許可開始ポートのみを指定します。ポートを範囲指定する際は、許可終了ポートには許可開始ポートの値以上を指定します。</p><p>許可ルールの追加には、時間がかかることがあります。API「DescribeSecurityGroups」のレスポンス値「groupStatus」でファイアウォールグループのステータスを確認できます。</p><p>また、ファイアウォールグループのステータスが「適用済み」の場合、追加した許可ルールが正しくファイアウォールグループに反映されているかの確認が必要です。</p><p>同じくAPI「DescribeSecurityGroups」のレスポンス値「ipPermissions」または「groups」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AuthorizeSecurityGroupIngressRequest"
      },
      "name": "AuthorizeSecurityGroupIngress",
      "output": {
        "shape": "AuthorizeSecurityGroupIngressResult"
      }
    },
    "CancelCopyInstances": {
      "documentation": "<p>指定したサーバーの作成（コピーによる作成）をキャンセルします。</p><p>作成待ちのサーバーのみ指定ができます。</p><p>サーバーを指定するためには、サーバー名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CancelCopyInstancesRequest"
      },
      "name": "CancelCopyInstances",
      "output": {
        "shape": "CancelCopyInstancesResult"
      }
    },
    "CancelUpload": {
      "documentation": "<p>サーバーインポートの処理をキャンセルします。</p><p>アップロード済みのVMDKファイルは削除されます。</p><p>アップロードタスクを指定するためには、タスクIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CancelUploadRequest"
      },
      "name": "CancelUpload",
      "output": {
        "shape": "CancelUploadResult"
      }
    },
    "ClearLoadBalancerSession": {
      "documentation": "<p>セッション固定オプションが設定されているロードバランサーのセッション情報を削除します。</p><p>ロードバランサーを指定するためには、ロードバランサー名・ポート番号が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ClearLoadBalancerSessionRequest"
      },
      "name": "ClearLoadBalancerSession",
      "output": {
        "shape": "ClearLoadBalancerSessionResultWrapper"
      }
    },
    "ConfigureHealthCheck": {
      "documentation": "<p>指定したロードバランサーのヘルスチェックの設定を変更します。</p><p>ロードバランサーを指定するためには、ロードバランサー名・ポート番号が必要です。</p><p>ヘルスチェックの実行結果は、API「DescribeInstanceHealth」で確認できます。</p> <h5 id=\"ヘルスチェックの際のサーバー切り離し時間について\">ヘルスチェックの際のサーバー切り離し時間について</h5> <ul> <li>サーバーからの応答時間がタイムアウトを超えた場合にサーバーをロードバランサーから切り離します。</li> <li>設定されるヘルスチェックのタイムアウト時間については、<a href=\"https://docs.nifcloud.com/network/spec/lb/index.htm#lb_healthcheck\">ロードバランサー（L4）のヘルスチェックについて</a>をご確認ください。</li> <li>設定されたヘルスチェックのタイムアウト時間は、「DescribeLoadBalancers」の Timeout で確認ができます。</li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ConfigureHealthCheckRequest"
      },
      "name": "ConfigureHealthCheck",
      "output": {
        "shape": "ConfigureHealthCheckResultWrapper"
      }
    },
    "CopyFromBackupInstance": {
      "documentation": "<p>増分バックアップで作成されたバックアップサーバーからコピーを作成します。</p><p>コピーを行うためには、バックアップサーバーユニークIDが必要です。</p><p>コピーで作成されたサーバーは、停止状態で作成されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CopyFromBackupInstanceRequest"
      },
      "name": "CopyFromBackupInstance",
      "output": {
        "shape": "CopyFromBackupInstanceResult"
      }
    },
    "CopyInstances": {
      "documentation": "<p>指定したサーバーのコピーを作成します。</p><p>停止中もしくは起動中のサーバーのみ指定ができます。コピー後のサーバー名は、指定したコピー後のサーバー名の後ろに「-連番」が付加された名称になります。</p><p>サーバーを指定するためには、サーバー名が必要です。</p><p>ディスクが接続しているサーバーのコピーは、指定したサーバーと同一ゾーンでのみ実行可能です。</p><p>一部のサーバータイプは一度に指定できるコピー台数が1台のみです。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CopyInstancesRequest"
      },
      "name": "CopyInstances",
      "output": {
        "shape": "CopyInstancesResult"
      }
    },
    "CreateBackupInstances": {
      "documentation": "<p>バックアップルールに設定されているサーバーの、増分バックアップを作成します。</p><p>増分バックアップを作成するためには、バックアップルールIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateBackupInstancesRequest"
      },
      "name": "CreateBackupInstances",
      "output": {
        "shape": "CreateBackupInstancesResult"
      }
    },
    "CreateCustomerGateway": {
      "documentation": "<p>カスタマーゲートウェイを新規作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateCustomerGatewayRequest"
      },
      "name": "CreateCustomerGateway",
      "output": {
        "shape": "CreateCustomerGatewayResult"
      }
    },
    "CreateDhcpOptions": {
      "documentation": "<p>DHCPオプションの設定情報を新規作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateDhcpOptionsRequest"
      },
      "name": "CreateDhcpOptions",
      "output": {
        "shape": "CreateDhcpOptionsResult"
      }
    },
    "CreateImage": {
      "documentation": "<p>指定したサーバーをイメージ化し、カスタマイズイメージとして保存します。</p><p>サーバーをイメージ化するためには、サーバーが停止中もしくは起動中である必要があります。</p><p>カスタマイズイメージの作成には、時間がかかることがあります。このAPIのレスポンス「imageState」を確認し「pending」が返ってきた、またはタイムアウトした場合は、API「DescribeImages」のレスポンス値「imageState」でカスタマイズイメージのステータスを確認できます。</p><p>ディスクが接続しているサーバーのイメージ化は、指定したサーバーと同一ゾーンでのみ実行可能です。 イメージ化元サーバーを残さない場合は、関連する付替IPアドレス設定もあわせて解除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateImageRequest"
      },
      "name": "CreateImage",
      "output": {
        "shape": "CreateImageResult"
      }
    },
    "CreateInstanceBackupRule": {
      "documentation": "<p>バックアップルールを新規作成します。</p><p>バックアップルールを作成するためには、サーバーユニークIDが必要です。</p><p>バックアップルール作成時に1つの増分バックアップが作成されます。2つ目以降の増分バックアップは「TimeSlotId」で指定した実行時間帯に作成されます。</p><p>手動で増分バックアップを作成する場合は、<a href=\"https://docs.nifcloud.com/cp/api/CreateBackupInstances.htm\">CreateBackupInstances</a>を実施することで作成できます。</p><p>2回目以降の増分バックアップの作成は、初回バックアップの作成完了後に可能となります。</p><p>「BackupInstanceMaxCount」で指定した保持する最大世代数を超えた増分バックアップが作成された場合、最も古い増分バックアップは削除されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateInstanceBackupRuleRequest"
      },
      "name": "CreateInstanceBackupRule",
      "output": {
        "shape": "CreateInstanceBackupRuleResult"
      }
    },
    "CreateKeyPair": {
      "documentation": "<p>SSHキーを新規作成します。</p><p>SSHキーには、SSHキー名およびパスワードを設定します。SSHキー名には、同じユーザーが作るキーのうち、一意となる文字列を指定します。</p><p>作成したSSHキーペアのフィンガープリントが一致しているかどうかの確認方法は、<a href=\"https://docs.nifcloud.com/cp/api/DescribeKeyPairs.htm\">DescribeKeyPairs</a>の処理概要をご確認ください。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateKeyPairRequest"
      },
      "name": "CreateKeyPair",
      "output": {
        "shape": "CreateKeyPairResult"
      }
    },
    "CreateLoadBalancer": {
      "documentation": "<p>ロードバランサーの定義を作成します。1回のリクエストで、1つのポート定義を作成できます。</p><p>ロードバランサーの定義の作成に成功した場合は、以下のAPIを実行する必要があります。</p> <ul> <li>API「RegisterInstancesWithLoadBalancer」（サーバー設定）</li> <li>API「ConfigureHealthCheck」（ヘルスチェック設定）</li> </ul> <p>フィルターの設定は、「すべてのアクセスを許可する」になっています。変更を行う場合は以下のAPIを実行する必要があります。</p> <ul> <li>API「SetFilterForLoadBalancer」（フィルター設定）</li> </ul> <p>Listeners.member.n.ProtocolとListeners.member.n.LoadBalancerPortを両方指定した場合は、Listeners.member.n.LoadBalancerPortの指定が優先されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateLoadBalancerRequest"
      },
      "name": "CreateLoadBalancer",
      "output": {
        "shape": "CreateLoadBalancerResultWrapper"
      }
    },
    "CreateMultiIpAddressGroup": {
      "documentation": "<p>マルチIPアドレスグループを作成します。</p><p>マルチIPアドレスグループ作成後、サーバーに割り当てる場合は、以下のAPIを実行する必要があります。</p> <ul> <li>API「<a href=\"https://docs.nifcloud.com/cp/api/AssociateMultiIpAddressGroup.htm\">AssociateMultiIpAddressGroup</a>」</li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateMultiIpAddressGroupRequest"
      },
      "name": "CreateMultiIpAddressGroup",
      "output": {
        "shape": "CreateMultiIpAddressGroupResult"
      }
    },
    "CreateNetworkInterface": {
      "documentation": "<p>追加NICを新規作成します。1回のリクエストで、1つの追加NICを作成できます。</p><p>追加NICの作成には時間がかかることがあります。このAPIのレスポンス「status」を確認し「processing」が返ってきた、またはタイムアウトした場合はAPI「DescribeNetworkInterfaces」のレスポンス値「status」で追加NICのステータスを確認できます。</p><p>APIのパラメーター「NiftyNetworkId」の指定できるのは、プライベートLANのネットワークユニークIDです。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateNetworkInterfaceRequest"
      },
      "name": "CreateNetworkInterface",
      "output": {
        "shape": "CreateNetworkInterfaceResult"
      }
    },
    "CreateRemoteAccessVpnGateway": {
      "documentation": "<p>リモートアクセスVPNゲートウェイを新規作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateRemoteAccessVpnGatewayRequest"
      },
      "name": "CreateRemoteAccessVpnGateway",
      "output": {
        "shape": "CreateRemoteAccessVpnGatewayResult"
      }
    },
    "CreateRemoteAccessVpnGatewayUsers": {
      "documentation": "<p>リモートアクセスVPNゲートウェイにユーザーを作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateRemoteAccessVpnGatewayUsersRequest"
      },
      "name": "CreateRemoteAccessVpnGatewayUsers",
      "output": {
        "shape": "CreateRemoteAccessVpnGatewayUsersResult"
      }
    },
    "CreateRoute": {
      "documentation": "<p>ルートテーブルに適用するルート情報を作成します。</p><p>ルートテーブルを指定するためには、ルートテーブルIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateRouteRequest"
      },
      "name": "CreateRoute",
      "output": {
        "shape": "CreateRouteResult"
      }
    },
    "CreateRouteTable": {
      "documentation": "<p>ルーターに設定するルートテーブルを新規作成をします。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateRouteTableRequest"
      },
      "name": "CreateRouteTable",
      "output": {
        "shape": "CreateRouteTableResult"
      }
    },
    "CreateSecurityGroup": {
      "documentation": "<p>ファイアウォールグループを新規作成します。</p><p>ファイアウォールグループの作成には、時間がかかることがあります。</p><p>API「DescribeSecurityGroups」のレスポンス値「groupStatus」でファイアウォールグループのステータスを確認できます。</p><p>ブロードキャスト通信ログの抑止状態は、true（抑止）で作成されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateSecurityGroupRequest"
      },
      "name": "CreateSecurityGroup",
      "output": {
        "shape": "CreateSecurityGroupResult"
      }
    },
    "CreateSslCertificate": {
      "documentation": "<p>SSL証明書の新規作成または更新を行います。</p><p>パラメーター「fqdnId」を指定した場合、指定したSSL証明書を更新します。</p><p>パラメーター「fqdnId」を指定しない場合、SSL証明書を新規作成します。</p><p>また申請法人情報を登録するには、API「RegisterCorporateInfoForCertificate」を実行します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateSslCertificateRequest"
      },
      "name": "CreateSslCertificate",
      "output": {
        "shape": "CreateSslCertificateResult"
      }
    },
    "CreateVolume": {
      "documentation": "<p>ディスクを新規作成します。</p><p>サーバーを指定するためには、サーバー名が必要です。</p><p>削除済みのサーバーを指定した、管理外のサーバーを指定した、起動中･停止中以外のサーバーを指定したなど、無効なサーバーを指定した場合は、エラーが返されます。 同様に、ディスクサイズおよびディスクタイプに規定外の値を指定した、すでに存在するディスク名を指定した、利用料金タイプに無効な値を指定したなどの場合は、エラーが返されます。</p><p>作成したディスクのゾーンは指定したサーバーと同一のゾーンになります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateVolumeRequest"
      },
      "name": "CreateVolume",
      "output": {
        "shape": "CreateVolumeResult"
      }
    },
    "CreateVpnConnection": {
      "documentation": "<p>VPNコネクションを新規作成します。</p><p>拠点間VPN設定（拠点間VPNゲートウェイとカスタマーゲートウェイ間）を行います。</p><p>トンネルモードを「Managed」に指定した場合、以下の項目は指定ができません。</p> <ul> <li>NiftyTunnel.TunnelId、NiftyTunnel.PeerTunnelId、NiftyTunnel.SessionId、NiftyTunnel.PeerSessionId、NiftyTunnel.SourcePort、NiftyTunnel.DestinationPort</li> </ul> <p>またトンネルモードが「Unmanaged」でかつカプセル化が「IP」の場合は、以下の項目は指定ができません。</p> <ul> <li>NiftyTunnel.SourcePort、NiftyTunnel.DestinationPort</li> </ul> <p>またトンネルタイプが設定されていない場合は、MTUサイズは指定ができません。</p><p>指定した拠点間VPNゲートウェイがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「DescribeVpnGateways」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateVpnConnectionRequest"
      },
      "name": "CreateVpnConnection",
      "output": {
        "shape": "CreateVpnConnectionResult"
      }
    },
    "CreateVpnGateway": {
      "documentation": "<p>拠点間VPNゲートウェイを新規作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateVpnGatewayRequest"
      },
      "name": "CreateVpnGateway",
      "output": {
        "shape": "CreateVpnGatewayResult"
      }
    },
    "DeleteCustomerGateway": {
      "documentation": "<p>指定されたカスタマーゲートウェイを削除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteCustomerGatewayRequest"
      },
      "name": "DeleteCustomerGateway",
      "output": {
        "shape": "DeleteCustomerGatewayResult"
      }
    },
    "DeleteDhcpOptions": {
      "documentation": "<p>DHCPオプションの設定情報を削除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteDhcpOptionsRequest"
      },
      "name": "DeleteDhcpOptions",
      "output": {
        "shape": "DeleteDhcpOptionsResult"
      }
    },
    "DeleteImage": {
      "documentation": "<p>指定したカスタマイズイメージを削除します。</p><p>カスタマイズイメージを選択して作成されたサーバーのOSイメージ名は、カスタマイズイメージの削除が完了すると、イメージ化したサーバーのOS名が返されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "name": "DeleteImage",
      "output": {
        "shape": "DeleteImageResult"
      }
    },
    "DeleteInstanceBackupRule": {
      "documentation": "<p>指定したバックアップルールを削除します。</p><p>バックアップルールを指定するためには、バックアップルールIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteInstanceBackupRuleRequest"
      },
      "name": "DeleteInstanceBackupRule",
      "output": {
        "shape": "DeleteInstanceBackupRuleResult"
      }
    },
    "DeleteIsoImage": {
      "documentation": "<p>ISOイメージを削除します。</p><p>サーバーに設定している場合は、削除できないためサーバーから解除したのち削除してください。</p><p>ISOイメージを指定するためには、ISOイメージIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteIsoImageRequest"
      },
      "name": "DeleteIsoImage",
      "output": {
        "shape": "DeleteIsoImageResult"
      }
    },
    "DeleteKeyPair": {
      "documentation": "<p>SSHキーの情報を削除します。</p><p>SSHキーを指定するためには、SSHキー名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteKeyPairRequest"
      },
      "name": "DeleteKeyPair",
      "output": {
        "shape": "DeleteKeyPairResult"
      }
    },
    "DeleteLoadBalancer": {
      "documentation": "<p>指定したロードバランサーのポート定義を削除します。</p><p>関連するフィルター設定・サーバー設定・ヘルスチェック設定もあわせて削除します。</p><p>ロードバランサーを指定するためには、ロードバランサー名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteLoadBalancerRequest"
      },
      "name": "DeleteLoadBalancer",
      "output": {
        "shape": "DeleteLoadBalancerResultWrapper"
      }
    },
    "DeleteMultiIpAddressGroup": {
      "documentation": "<p>マルチIPアドレスグループを削除します。</p><p>マルチIPアドレスグループを指定するためには、マルチIPアドレスグループユニークIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteMultiIpAddressGroupRequest"
      },
      "name": "DeleteMultiIpAddressGroup",
      "output": {
        "shape": "DeleteMultiIpAddressGroupResult"
      }
    },
    "DeleteNetworkInterface": {
      "documentation": "<p>追加NICの削除を行います。</p><p>追加NICを指定するためには、追加NICのネットワークインターフェースIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteNetworkInterfaceRequest"
      },
      "name": "DeleteNetworkInterface",
      "output": {
        "shape": "DeleteNetworkInterfaceResult"
      }
    },
    "DeleteRemoteAccessVpnGateway": {
      "documentation": "<p>指定したリモートアクセスVPNゲートウェイを削除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteRemoteAccessVpnGatewayRequest"
      },
      "name": "DeleteRemoteAccessVpnGateway",
      "output": {
        "shape": "DeleteRemoteAccessVpnGatewayResult"
      }
    },
    "DeleteRemoteAccessVpnGatewayConnections": {
      "documentation": "<p>リモートアクセスVPNゲートウェイのコネクションを削除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteRemoteAccessVpnGatewayConnectionsRequest"
      },
      "name": "DeleteRemoteAccessVpnGatewayConnections",
      "output": {
        "shape": "DeleteRemoteAccessVpnGatewayConnectionsResult"
      }
    },
    "DeleteRemoteAccessVpnGatewayUsers": {
      "documentation": "<p>リモートアクセスVPNゲートウェイからユーザーを削除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteRemoteAccessVpnGatewayUsersRequest"
      },
      "name": "DeleteRemoteAccessVpnGatewayUsers",
      "output": {
        "shape": "DeleteRemoteAccessVpnGatewayUsersResult"
      }
    },
    "DeleteRoute": {
      "documentation": "<p>ルートテーブルに適用されたルート情報を削除します。</p><p>ルートテーブルを指定するためには、ルートテーブルIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteRouteRequest"
      },
      "name": "DeleteRoute",
      "output": {
        "shape": "DeleteRouteResult"
      }
    },
    "DeleteRouteTable": {
      "documentation": "<p>ルーターに設定するルートテーブルの削除を行います。</p><p>ルートテーブルを指定するためには、ルートテーブルIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteRouteTableRequest"
      },
      "name": "DeleteRouteTable",
      "output": {
        "shape": "DeleteRouteTableResult"
      }
    },
    "DeleteSecurityGroup": {
      "documentation": "<p>指定したファイアウォールグループを削除します。</p><p>ファイアウォールグループを指定するためには、ファイアウォールグループ名が必要です。</p><p>ファイアウォールグループの削除には、時間がかかることがあります。API「DescribeSecurityGroups」のレスポンス値「groupStatus」でファイアウォールグループのステータスを確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteSecurityGroupRequest"
      },
      "name": "DeleteSecurityGroup",
      "output": {
        "shape": "DeleteSecurityGroupResult"
      }
    },
    "DeleteSslCertificate": {
      "documentation": "<p>指定したSSL証明書を削除します。</p><p>SSL証明書を指定するためには、SSL証明書の発行識別子（fqdnId）が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteSslCertificateRequest"
      },
      "name": "DeleteSslCertificate",
      "output": {
        "shape": "DeleteSslCertificateResult"
      }
    },
    "DeleteVolume": {
      "documentation": "<p>指定したディスクを削除します。</p><p>ディスクを指定するためには、ディスク名が必要です。</p><p>削除には、時間がかかることがあります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteVolumeRequest"
      },
      "name": "DeleteVolume",
      "output": {
        "shape": "DeleteVolumeResult"
      }
    },
    "DeleteVpnConnection": {
      "documentation": "<p>指定されたVPNコネクションを削除します。</p><p>接続されている拠点間VPNゲートウェイがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「DescribeVpnGateways」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteVpnConnectionRequest"
      },
      "name": "DeleteVpnConnection",
      "output": {
        "shape": "DeleteVpnConnectionResult"
      }
    },
    "DeleteVpnGateway": {
      "documentation": "<p>指定された拠点間VPNゲートウェイを削除します。</p><p>拠点間VPNゲートウェイを指定するためには、拠点間VPNゲートウェイユニークIDまたは拠点間VPNゲートウェイ名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteVpnGatewayRequest"
      },
      "name": "DeleteVpnGateway",
      "output": {
        "shape": "DeleteVpnGatewayResult"
      }
    },
    "DeregisterInstancesFromLoadBalancer": {
      "documentation": "<p>指定したロードバランサーから、指定したサーバーを解除します。</p><p>ロードバランサーを指定するためには、ロードバランサー名・ポート番号が必要です。自分が所有していないロードバランサーを指定する場合は、「ニフクラID.ロードバランサー名」の形式で指定する必要があります。</p><p>またサーバーを指定するためには、サーバー名が必要です。自分が所有していないサーバーを指定する場合は、「ニフクラID.サーバー名」の形式で指定する必要があります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeregisterInstancesFromLoadBalancerRequest"
      },
      "name": "DeregisterInstancesFromLoadBalancer",
      "output": {
        "shape": "DeregisterInstancesFromLoadBalancerResultWrapper"
      }
    },
    "DeregisterInstancesFromSecurityGroup": {
      "documentation": "<p>指定したファイアウォールグループから、指定したサーバーをはずします。</p><p>ファイアウォールグループを指定するためには、ファイアウォールグループ名が必要です。</p><p>またサーバーを指定するためには、サーバー名が必要です。</p><p>ファイアウォールグループからサーバーをはずすには、時間がかかることがあります。</p><p>API「DescribeSecurityGroups」のレスポンス値「groupStatus」でファイアウォールグループのステータスを確認できます。</p><p>また、ファイアウォールグループのステータスが「適用済み」の場合、はずしたサーバーが正しくファイアウォールグループに反映されているかの確認が必要です。</p><p>同じくAPI「DescribeSecurityGroups」のレスポンス値「instancesSet」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeregisterInstancesFromSecurityGroupRequest"
      },
      "name": "DeregisterInstancesFromSecurityGroup",
      "output": {
        "shape": "DeregisterInstancesFromSecurityGroupResult"
      }
    },
    "DescribeAddresses": {
      "documentation": "<p>付替IPアドレスの情報を取得します。</p><p>付替IPアドレスを指定しない場合は、取得可能なすべての付替グローバルIPアドレス・プライベートIPアドレス情報を取得します。</p><p>また付替IPアドレスを指定する際、ワイルドカード文字（曖昧検索）指定可能です。「*」は0個以上任意文字、 「?」は1個任意文字となります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeAddressesRequest"
      },
      "name": "DescribeAddresses",
      "output": {
        "shape": "DescribeAddressesResult"
      }
    },
    "DescribeAssociatedUsers": {
      "documentation": "<p>指定した機能の共有ユーザー情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeAssociatedUsersRequest"
      },
      "name": "DescribeAssociatedUsers",
      "output": {
        "shape": "DescribeAssociatedUsersResultWrapper"
      }
    },
    "DescribeAvailabilityZones": {
      "documentation": "<p>利用可能なゾーンの情報を取得します。</p><p>ファイアウォールが利用可能なゾーンでは、securityGroupSupportedタグにtrueが返ります。</p><p>サーバー、ロードバランサー、ファイアウォール作成時にゾーンを省略した場合、isDefaultタグがtrueのゾーンに作成されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeAvailabilityZonesRequest"
      },
      "name": "DescribeAvailabilityZones",
      "output": {
        "shape": "DescribeAvailabilityZonesResult"
      }
    },
    "DescribeCustomerGateways": {
      "documentation": "<p>指定したカスタマーゲートウェイの情報を取得します。</p><p>カスタマーゲートウェイを指定するためには、カスタマーゲートウェイユニークIDまたはカスタマーゲートウェイ名が必要です。</p><p>カスタマーゲートウェイを指定しない場合、取得できるすべてのカスタマーゲートウェイ情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。「∗」は0個以上任意文字、「?」は1個任意文字、「¥」はエスケープ変換文字（「∗niftycloud¥?¥¥」は「∗niftycloud?¥」を検索）となります。</p><p>曖昧検索が指定可能な絞り込み条件の項目名は、下記の通りです。</p> <ul> <li>ip-address</li> <li>nifty-customer-gateway-name</li> <li>nifty-customer-gateway-description</li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeCustomerGatewaysRequest"
      },
      "name": "DescribeCustomerGateways",
      "output": {
        "shape": "DescribeCustomerGatewaysResult"
      }
    },
    "DescribeDhcpOptions": {
      "documentation": "<p>DHCPオプションの設定情報を取得します。</p><p>DHCPオプションを指定するためには、DHCPオプションが必要です。</p><p>DHCPオプションを指定しない場合は、取得可能なすべてのDHCPオプション情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。「∗」は0個以上任意文字、 「?」は1個任意文字、「¥」はエスケープ変換文字（「∗niftycloud¥?¥¥」は「∗niftycloud?¥」を検索）となります。</p><p>曖昧検索が指定可能な絞り込み条件の項目名は、key、valueになります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeDhcpOptionsRequest"
      },
      "name": "DescribeDhcpOptions",
      "output": {
        "shape": "DescribeDhcpOptionsResult"
      }
    },
    "DescribeImages": {
      "documentation": "<p>OSイメージの情報を取得します。</p><p>特定のOSイメージを指定するためには、OSイメージIDまたはOSイメージ名が必要です。OSイメージを指定しない場合は、取得可能なすべてのOSイメージ情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeImagesRequest"
      },
      "name": "DescribeImages",
      "output": {
        "shape": "DescribeImagesResult"
      }
    },
    "DescribeInstanceAttribute": {
      "documentation": "<p>指定したサーバーの詳細情報を取得します。1回のリクエストで、1つのサーバーの1つの詳細情報を取得できます。</p><p>サーバーを指定するためには、サーバー名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstanceAttributeRequest"
      },
      "name": "DescribeInstanceAttribute",
      "output": {
        "shape": "DescribeInstanceAttributeResult"
      }
    },
    "DescribeInstanceBackupRuleActivities": {
      "documentation": "<p>指定したバックアップルールのイベントログ情報を取得します。</p><p>バックアップルールを指定するためには、バックアップルールIDが必要です。</p><p>取得するイベントログ情報は、イベント開始日時の降順となります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstanceBackupRuleActivitiesRequest"
      },
      "name": "DescribeInstanceBackupRuleActivities",
      "output": {
        "shape": "DescribeInstanceBackupRuleActivitiesResult"
      }
    },
    "DescribeInstanceBackupRules": {
      "documentation": "<p>バックアップルールの情報を取得します。1回のリクエストで複数のバックアップルールの情報を取得できます。</p><p>バックアップルールの情報を指定するためには、バックアップルールIDが必要です。指定しない場合は、取得可能なすべてのバックアップルールの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstanceBackupRulesRequest"
      },
      "name": "DescribeInstanceBackupRules",
      "output": {
        "shape": "DescribeInstanceBackupRulesResult"
      }
    },
    "DescribeInstanceHealth": {
      "documentation": "<p>指定したロードバランサーに設定されている、サーバーのヘルスチェック結果を取得します。ヘルスチェックは、API「ConfigureHealthCheck」で設定します。</p><p>ロードバランサーを指定するためには、ロードバランサー名が必要です。</p><p>またサーバーを指定するためには、サーバー名が必要です。自分が所有していないサーバーを指定する場合は、「ニフクラID.サーバー名」の形式で指定する必要があります。サーバーを指定しない場合は、指定したロードバランサーに設定されているすべてのサーバーを対象として、ヘルスチェック結果を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstanceHealthRequest"
      },
      "name": "DescribeInstanceHealth",
      "output": {
        "shape": "DescribeInstanceHealthResultWrapper"
      }
    },
    "DescribeInstances": {
      "documentation": "<p>指定したサーバーの情報を取得します。1回のリクエストで、複数のサーバー情報を取得できます。</p><p>サーバーを指定するためには、サーバー名が必要です。サーバーを指定しない場合は、取得可能なすべてのサーバー情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstancesRequest"
      },
      "name": "DescribeInstances",
      "output": {
        "shape": "DescribeInstancesResult"
      }
    },
    "DescribeIsoImages": {
      "documentation": "<p>ISOイメージの情報を取得します。</p><p>ISOイメージIDを指定しない場合は、取得可能なすべてのISOイメージ情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。「∗」は0 個以上任意文字、「?」は1 個任意文字、「¥」はエスケープ変換文字（「¥∗niftycloud¥?¥¥ 」は「∗niftycloud?¥」を検索）となります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeIsoImagesRequest"
      },
      "name": "DescribeIsoImages",
      "output": {
        "shape": "DescribeIsoImagesResult"
      }
    },
    "DescribeKeyPairs": {
      "documentation": "<p>指定したSSHキーの情報を取得します。</p><p>SSHキーを指定するためには、SSHキー名が必要です。SSHキーを指定しない場合は、取得できるすべてのSSHキー情報を取得します。</p><p>キーペアのフィンガープリントが一致しているかどうかはレスポンス値「keyFingerprint」で確認できます。</p><p>秘密鍵に対し、以下のコマンドを実行した場合に取得するfingerprintの値とDescribeKeyPairsで返却されるKeyFingerprintの値が同一であれば、キーペアのフィンガープリントが一致していることが確認できます。</p><p>CreateKeyPairで作成した場合：</p><p>「openssl rsa -in <span class=\"math inline\"><em>秘</em><em>密</em><em>鍵</em><em>フ</em><em>ァ</em><em>イ</em><em>ル</em> − <em>p</em><em>u</em><em>b</em><em>o</em><em>u</em><em>t</em> − <em>o</em><em>u</em><em>t</em><em>f</em><em>o</em><em>r</em><em>m</em><em>D</em><em>E</em><em>R</em> − <em>p</em><em>a</em><em>s</em><em>s</em><em>i</em><em>n</em><em>p</em><em>a</em><em>s</em><em>s</em>:</span>{パスフレーズ} | openssl md5 -c」</p><p>ImportKeyPairを利用した際は、鍵形式にあわせて確認できます。</p><p>SSH-RSAの場合：「openssl rsa -in <span class=\"math inline\"><em>秘</em><em>密</em><em>鍵</em><em>フ</em><em>ァ</em><em>イ</em><em>ル</em> − <em>p</em><em>u</em><em>b</em><em>o</em><em>u</em><em>t</em> − <em>o</em><em>u</em><em>t</em><em>f</em><em>o</em><em>r</em><em>m</em><em>D</em><em>E</em><em>R</em> − <em>p</em><em>a</em><em>s</em><em>s</em><em>i</em><em>n</em><em>p</em><em>a</em><em>s</em><em>s</em>:</span>{パスフレーズ} | openssl md5 ?c」</p><p>SSH-DSAの場合：「openssl dsa -in <span class=\"math inline\"><em>秘</em><em>密</em><em>鍵</em><em>フ</em><em>ァ</em><em>イ</em><em>ル</em> − <em>p</em><em>u</em><em>b</em><em>o</em><em>u</em><em>t</em> − <em>o</em><em>u</em><em>t</em><em>f</em><em>o</em><em>r</em><em>m</em><em>D</em><em>E</em><em>R</em> − <em>p</em><em>a</em><em>s</em><em>s</em><em>i</em><em>n</em><em>p</em><em>a</em><em>s</em><em>s</em>:</span>{パスフレーズ} | openssl md5 ?c」</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeKeyPairsRequest"
      },
      "name": "DescribeKeyPairs",
      "output": {
        "shape": "DescribeKeyPairsResult"
      }
    },
    "DescribeLoadBalancers": {
      "documentation": "<p>指定したロードバランサーの情報を取得します。</p><p>ロードバランサーを指定するためには、ロードバランサー名が必要です。ロードバランサーを指定しない場合は、取得可能なすべてのロードバランサー情報を取得します。</p> <h5 id=\"ヘルスチェックの際のサーバー切り離し時間について\">ヘルスチェックの際のサーバー切り離し時間について</h5> <ul> <li>サーバーからの応答時間がタイムアウトを超えた場合にサーバーをロードバランサーから切り離します。</li> <li>設定されるヘルスチェックのタイムアウト時間については、<a href=\"https://docs.nifcloud.com/network/spec/lb/index.htm#lb_healthcheck\">ロードバランサー（L4）のヘルスチェックについて</a>をご確認ください。</li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeLoadBalancersRequest"
      },
      "name": "DescribeLoadBalancers",
      "output": {
        "shape": "DescribeLoadBalancersResultWrapper"
      }
    },
    "DescribeMultiIpAddressGroups": {
      "documentation": "<p>マルチIPアドレスグループの情報を取得します。1回のリクエストで、複数のマルチIPアドレスグループ情報を取得できます。</p><p>マルチIPアドレスグループの情報を指定するためには、マルチIPアドレスグループユニークIDが必要です。指定しない場合は、取得可能なすべてのマルチIPアドレスグループの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeMultiIpAddressGroupsRequest"
      },
      "name": "DescribeMultiIpAddressGroups",
      "output": {
        "shape": "DescribeMultiIpAddressGroupsResult"
      }
    },
    "DescribeNetworkInterfaces": {
      "documentation": "<p>追加NICの情報を取得します。1回のリクエストで複数の追加NICの情報を取得できます。</p><p>追加NICの情報を指定するためには、追加NICのネットワークインターフェースIDが必要です。指定しない場合は、取得可能なすべての追加NICの情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。「∗」は0個以上任意文字、「?」は1個任意文字、「\\」はエスケープ変換文字（「¥∗niftycloud¥?¥¥ 」は「∗niftycloud?¥」を検索）となります。</p><p>曖昧検索が指定可能な絞り込み条件の項目名は、attachment.instance-id、description、nifty-network-nameになります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeNetworkInterfacesRequest"
      },
      "name": "DescribeNetworkInterfaces",
      "output": {
        "shape": "DescribeNetworkInterfacesResult"
      }
    },
    "DescribeRegions": {
      "documentation": "<p>利用可能なリージョンの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeRegionsRequest"
      },
      "name": "DescribeRegions",
      "output": {
        "shape": "DescribeRegionsResult"
      }
    },
    "DescribeRemoteAccessVpnGatewayActivities": {
      "documentation": "<p>リモートアクセスVPNゲートウェイのログ情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeRemoteAccessVpnGatewayActivitiesRequest"
      },
      "name": "DescribeRemoteAccessVpnGatewayActivities",
      "output": {
        "shape": "DescribeRemoteAccessVpnGatewayActivitiesResult"
      }
    },
    "DescribeRemoteAccessVpnGatewayClientConfig": {
      "documentation": "<p>指定したリモートアクセスVPNゲートウェイのクライアント設定ファイルを取得します。<br> リモートアクセスVPNゲートウェイのバージョンが v2.0.0 未満の場合、利用できません</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeRemoteAccessVpnGatewayClientConfigRequest"
      },
      "name": "DescribeRemoteAccessVpnGatewayClientConfig",
      "output": {
        "shape": "DescribeRemoteAccessVpnGatewayClientConfigResult"
      }
    },
    "DescribeRemoteAccessVpnGatewayConnections": {
      "documentation": "<p>リモートアクセスVPNゲートウェイのコネクション情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeRemoteAccessVpnGatewayConnectionsRequest"
      },
      "name": "DescribeRemoteAccessVpnGatewayConnections",
      "output": {
        "shape": "DescribeRemoteAccessVpnGatewayConnectionsResult"
      }
    },
    "DescribeRemoteAccessVpnGateways": {
      "documentation": "<p>リモートアクセスVPNゲートウェイの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeRemoteAccessVpnGatewaysRequest"
      },
      "name": "DescribeRemoteAccessVpnGateways",
      "output": {
        "shape": "DescribeRemoteAccessVpnGatewaysResult"
      }
    },
    "DescribeResources": {
      "documentation": "<p>リソースの利用状況を返却します。</p><p>コントロールパネル画面のダッシュボードに当たります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeResourcesRequest"
      },
      "name": "DescribeResources",
      "output": {
        "shape": "DescribeResourcesResult"
      }
    },
    "DescribeRouteTables": {
      "documentation": "<p>指定したルートテーブルの情報を取得します。</p><p>ルートテーブルを指定するためには、ルートテーブルID が必要です。</p><p>ルートテーブルを指定しない場合は、取得可能なすべてのルートテーブル情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。「∗」は0 個以上任意文字、「?」は1 個任意文字、「¥」はエスケープ変換文字（「¥∗niftycloud¥?¥¥ 」は「∗niftycloud?¥」を検索）となります。 曖昧検索が指定可能な絞り込み条件の項目名は、association.router-name、route.destination-cidr-block、route.ip-address になります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeRouteTablesRequest"
      },
      "name": "DescribeRouteTables",
      "output": {
        "shape": "DescribeRouteTablesResult"
      }
    },
    "DescribeSecurityActivities": {
      "documentation": "<p>指定したファイアウォールグループのログ情報を取得します。</p><p>ファイアウォールグループを指定するためには、ファイアウォールグループ名が必要です。</p><p>ActivityDateに”all”を指定した場合は、Range設定を無視し保存されているログを全件取得します。</p><p>(この場合に返却されるログの件数については <a href=\"https://docs.nifcloud.com/cp/spec/fw/log.htm#%E3%83%AD%E3%82%B0%E4%BF%9D%E5%AD%98%E6%9C%9F%E9%96%93%E3%81%AB%E3%81%A4%E3%81%84%E3%81%A6\">技術仕様/制限値 ファイアウォール：ログ</a> をご参照ください。)</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSecurityActivitiesRequest"
      },
      "name": "DescribeSecurityActivities",
      "output": {
        "shape": "DescribeSecurityActivitiesResult"
      }
    },
    "DescribeSecurityGroups": {
      "documentation": "<p>指定したファイアウォールグループの設定情報を取得します。</p><p>ファイアウォールグループを指定するためには、ファイアウォールグループ名が必要です。指定しない場合は、取得可能なすべてのファイアウォールグループの設定情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSecurityGroupsRequest"
      },
      "name": "DescribeSecurityGroups",
      "output": {
        "shape": "DescribeSecurityGroupsResult"
      }
    },
    "DescribeServiceStatus": {
      "documentation": "<p>サービスの稼働情報を返却します。</p><p>コントロールパネル画面のダッシュボードに当たります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeServiceStatusRequest"
      },
      "name": "DescribeServiceStatus",
      "output": {
        "shape": "DescribeServiceStatusResult"
      }
    },
    "DescribeSslCertificateAttribute": {
      "documentation": "<p>指定したSSL証明書の詳細情報を取得します。1回のリクエストで、1つのSSL証明書の1つの詳細情報を取得できます。</p><p>SSL証明書を指定するためには、SSL証明書の発行識別子（fqdnId）が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSslCertificateAttributeRequest"
      },
      "name": "DescribeSslCertificateAttribute",
      "output": {
        "shape": "DescribeSslCertificateAttributeResult"
      }
    },
    "DescribeSslCertificates": {
      "documentation": "<p>指定したSSL証明書の情報を取得します。</p><p>SSL証明書を指定するためには、SSL証明書の発行識別子（fqdnId）またはFQDNが必要です。指定しない場合は、取得可能なすべてのSSL証明書の情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSslCertificatesRequest"
      },
      "name": "DescribeSslCertificates",
      "output": {
        "shape": "DescribeSslCertificatesResult"
      }
    },
    "DescribeUploads": {
      "documentation": "<p>アップロード中のタスク情報を返却します。</p><p>アップロードタスクを指定するためには、タスクIDが必要です。</p><p>タスクIDを指定した場合、指定したIDのアップロードタスクの情報が返されます。</p><p>タスクIDを指定しなかった場合は、現在アップロード・インポート中のすべてのタスクが返されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeUploadsRequest"
      },
      "name": "DescribeUploads",
      "output": {
        "shape": "DescribeUploadsResult"
      }
    },
    "DescribeUsage": {
      "documentation": "<p>リソースの利用状況を返却します。</p><p>存在する情報のみ、レスポンス内にタグが生成されます。</p><p>取得対象リージョンを設定した場合はサーバー利用情報などそのリージョンに属する個別情報を、指定しなかった場合はSSL証明書利用情報などリージョン共通情報と東日本リージョンの個別情報を返却します。</p><p>IsCharge=trueを指定した場合、レスポンスの各リソースに対して利用料金が返却されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeUsageRequest"
      },
      "name": "DescribeUsage",
      "output": {
        "shape": "DescribeUsageResult"
      }
    },
    "DescribeUserActivities": {
      "documentation": "<p>APIおよびコントロールパネルの利用履歴を返却します。コントロールパネル画面のログ取得に当たります。</p><p>マルチアカウントの子アカウントでは、自身の利用履歴のみ返却されます。</p><p>取得開始位置は1が最新レコードとなります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeUserActivitiesRequest"
      },
      "name": "DescribeUserActivities",
      "output": {
        "shape": "DescribeUserActivitiesResult"
      }
    },
    "DescribeVolumes": {
      "documentation": "<p>指定したディスクの情報を取得します。</p><p>ディスクを指定するためには、ディスク名が必要です。<br> 削除済みのディスクを指定した、管理外のディスクを指定したなど、無効なディスクを指定した場合は、エラーが返されます。</p><p>ディスクを指定しない場合、取得できるすべてのディスク情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeVolumesRequest"
      },
      "name": "DescribeVolumes",
      "output": {
        "shape": "DescribeVolumesResult"
      }
    },
    "DescribeVpnConnections": {
      "documentation": "<p>指定されたVPNコネクションの情報を取得します。</p><p>VPNコネクションを指定するためには、VPNコネクションユニークIDが必要です。</p><p>VPNコネクションを指定しない場合、取得できるすべてのVPNコネクション情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。</p><p>「*」は0個以上任意文字、 「?」は1個任意文字、「」はエスケープ変換文字（「∗niftycloud¥?¥¥」は「∗niftycloud?¥」を検索）となります。</p><p>曖昧検索が指定可能な絞り込み条件の項目名は、下記の通りです。</p> <ul> <li>customer-gateway-configuration</li> <li>nifty-customer-gateway-name</li> <li>route.destination-cidr-block</li> <li>nifty-vpn-gateway-name</li> <li>nifty-vpn-connection-description</li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeVpnConnectionsRequest"
      },
      "name": "DescribeVpnConnections",
      "output": {
        "shape": "DescribeVpnConnectionsResult"
      }
    },
    "DescribeVpnGateways": {
      "documentation": "<p>指定した拠点間VPNゲートウェイの情報を取得します。</p><p>拠点間VPNゲートウェイを指定するためには、拠点間VPNゲートウェイユニークIDまたは拠点間VPNゲートウェイ名が必要です。</p><p>拠点間VPNゲートウェイを指定しない場合、取得できるすべての拠点間VPNゲートウェイ情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。「∗」は0個以上任意文字、「?」は1個任意文字、「¥」はエスケープ変換文字（「∗niftycloud¥?¥¥」は「∗niftycloud?¥」を検索）となります。</p><p>曖昧検索が指定可能な絞り込み条件の項目名は、下記の通りです。</p> <ul> <li>nifty-vpn-gateway-name</li> <li>nifty-vpn-gateway-description</li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeVpnGatewaysRequest"
      },
      "name": "DescribeVpnGateways",
      "output": {
        "shape": "DescribeVpnGatewaysResult"
      }
    },
    "DetachIsoImage": {
      "documentation": "<p>ISOイメージをサーバーから解除します。</p><p>ISOイメージ・サーバーを指定するためには、それぞれISOイメージID・サーバーユニークIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DetachIsoImageRequest"
      },
      "name": "DetachIsoImage",
      "output": {
        "shape": "DetachIsoImageResult"
      }
    },
    "DetachNetworkInterface": {
      "documentation": "<p>サーバーに接続した追加NICを解除します。</p><p>追加NICの解除の反映には、サーバーの再起動が必要になります。再起動オプションをfalseで指定する場合はサーバー停止時のみ選択可能です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DetachNetworkInterfaceRequest"
      },
      "name": "DetachNetworkInterface",
      "output": {
        "shape": "DetachNetworkInterfaceResult"
      }
    },
    "DetachVolume": {
      "documentation": "<p>指定したディスクとサーバーの接続を解除します。</p><p>ディスクを指定するためには、ディスク名が必要です。</p><p>また、サーバーを指定するためにはサーバー名が必要です。サーバー名を指定せずに解除すると、指定したディスクのすべての接続情報を解除します。</p><p>起動中のサーバーからディスクを解除する場合、OS上で必ず対象ディスクの認識を外してから実行してください。</p><p>OSが対象ディスクを認識したまま解除すると、サーバーが異常な状態になります。</p><p>ディスクの認識を外すには、下記ページの手順をご確認ください。</p><p><a href=\"https://docs.nifcloud.com/cp/guide/index.htm#mount\">ユーザーガイド：ディスクの認識を外す設定方法（アンマウント手順）：Linux系OSの場合</a></p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DetachVolumeRequest"
      },
      "name": "DetachVolume",
      "output": {
        "shape": "DetachVolumeResult"
      }
    },
    "DisassociateAddress": {
      "documentation": "<p>サーバーから付替IPアドレスを解除します。</p><p>サーバーから付替IPアドレスを解除するには、サーバーの再起動もあり時間がかかることがあります。</p><p>付替IPアドレスの解除には、サーバーの再起動が必要になります。再起動オプションをfalseで指定する場合はサーバー停止時のみ選択可能です。</p><p>サーバーのステータスは、API「DescribeInstances」のレスポンス値「instanceState」で確認できます。また、付替IPアドレスが正しくサーバーから解除されているかの確認が必要です。</p><p>同じくAPI「DescribeInstances」のレスポンス値「ipType」もしくはAPI「DescribeAddresses」のレスポンス値「instanceId」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DisassociateAddressRequest"
      },
      "name": "DisassociateAddress",
      "output": {
        "shape": "DisassociateAddressResult"
      }
    },
    "DisassociateMultiIpAddressGroup": {
      "documentation": "<p>指定したサーバーからマルチIPアドレスグループの割り当てを解除します。</p><p>サーバーへの反映には、再起動が必要になります。</p><p>再起動オプションをfalseで指定する場合はサーバー停止時のみ選択可能です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DisassociateMultiIpAddressGroupRequest"
      },
      "name": "DisassociateMultiIpAddressGroup",
      "output": {
        "shape": "DisassociateMultiIpAddressGroupResult"
      }
    },
    "DisassociateRouteTable": {
      "documentation": "<p>ルーターに設定されたルートテーブルを解除します。</p><p>ルーターがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DisassociateRouteTableRequest"
      },
      "name": "DisassociateRouteTable",
      "output": {
        "shape": "DisassociateRouteTableResult"
      }
    },
    "DissociateUsers": {
      "documentation": "<p>指定した機能から、指定したユーザーの共有を解除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DissociateUsersRequest"
      },
      "name": "DissociateUsers",
      "output": {
        "shape": "DissociateUsersResultWrapper"
      }
    },
    "DownloadSslCertificate": {
      "documentation": "<p>指定したSSL証明書をダウンロードします。1回のリクエストで、SSL証明書のキー・CA・証明書のいずれかを取得できます。</p><p>SSL証明書を指定するためには、SSL証明書の発行識別子（FqdnId）が必要です。</p><p>またSSL証明書の発行状況により、指定したファイルがダウンロードできない場合があります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DownloadSslCertificateRequest"
      },
      "name": "DownloadSslCertificate",
      "output": {
        "shape": "DownloadSslCertificateResult"
      }
    },
    "ExtendVolumeSize": {
      "documentation": "<p>指定したディスクのサイズを100GB拡張します。</p><p>ディスクはサーバーに接続している必要があります。</p><p>このAPIを実行した後、ゲストOS側でファイルシステムの拡張を行う必要があります。</p><p>ディスクのサイズを縮小することはできません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ExtendVolumeSizeRequest"
      },
      "name": "ExtendVolumeSize",
      "output": {
        "shape": "ExtendVolumeSizeResult"
      }
    },
    "ImportInstance": {
      "documentation": "<p>指定したOVFファイルの情報に基づいて、サーバーインポートを予約します。</p><p>1回のリクエストで1台のサーバーが予約可能です。</p><p>イメージ（VMDKファイル）は、別途アップロード領域へアップロードしてください（このAPIのレスポンスに含まれるタスクIDを指定します）。</p><p>サーバーの作成には、時間がかかることがあります。</p><p>API「DescribeInstances」のレスポンス値「instanceState」でサーバーのステータスを確認できます。</p><p>インポートしたサーバーは通常ほかのサーバー作成と同様に課金されますが、ニフクラの基本ディスク容量（Linux:30GB、Windows:80GB）を超えるディスクを持つ場合は100GB単位で追加料金が発生します。</p><p>インポートしたサーバーは、APIからの削除が可能です。</p><p>APIからの削除を禁止したい場合は、インポート完了後にAPI「ModifyInstanceAttribute」を実行してください。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ImportInstanceRequest"
      },
      "name": "ImportInstance",
      "output": {
        "shape": "ImportInstanceResult"
      }
    },
    "ImportKeyPair": {
      "documentation": "<p>指定したSSH公開鍵をアップロードして登録します。SSHキー名には、同じユーザーが作るキーのうち、一意となる文字列を指定します。</p><p>SSH-RSAおよびSSH-DSAの公開鍵形式に対応しています。</p><p>推奨する公開鍵方式は　SSH-RSA 2048bit鍵です。</p><p>アップロードしたSSHキーペアのフィンガープリントが一致しているかどうかの確認方法は、<a href=\"https://docs.nifcloud.com/cp/api/DescribeKeyPairs.htm\">DescribeKeyPairs</a>の処理概要をご確認ください。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ImportKeyPairRequest"
      },
      "name": "ImportKeyPair",
      "output": {
        "shape": "ImportKeyPairResult"
      }
    },
    "IncreaseMultiIpAddressCount": {
      "documentation": "<p>マルチIPアドレスグループで利用できるIPアドレスを追加します。</p><p>以下の場合、エラーが返されます。</p> <ul> <li>処理中のマルチIPアドレスグループを指定した、管理外のマルチIPアドレスグループを指定したなど、無効なマルチIPアドレスグループを指定した場合</li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "IncreaseMultiIpAddressCountRequest"
      },
      "name": "IncreaseMultiIpAddressCount",
      "output": {
        "shape": "IncreaseMultiIpAddressCountResult"
      }
    },
    "ModifyImageAttribute": {
      "documentation": "<p>指定したカスタマイズイメージの詳細情報を更新します。1回のリクエストで、1つのカスタマイズイメージの情報を更新できます。</p><p>カスタマイズイメージを指定するためには、イメージIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyImageAttributeRequest"
      },
      "name": "ModifyImageAttribute",
      "output": {
        "shape": "ModifyImageAttributeResult"
      }
    },
    "ModifyInstanceAttribute": {
      "documentation": "<p>指定したサーバーの詳細情報を更新します。1回のリクエストで、1つのサーバーの情報を更新できます。</p><p>サーバーを指定するためには、サーバー名が必要です。</p><p>サーバータイプの更新について、ホットスケールアップが可能なサーバーであれば、リクエスト「NiftyReboot=false、Force=true」を指定することで、起動中の状態のまま、更新が可能です。ホットスケールアップが可能なサーバーかどうかはAPI「DescribeInstances」のレスポンス値「hotAdd」で確認できます。ただしサーバータイプの値によっては、「hotAdd」が可能となっていても更新できないサーバータイプがあります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyInstanceAttributeRequest"
      },
      "name": "ModifyInstanceAttribute",
      "output": {
        "shape": "ModifyInstanceAttributeResult"
      }
    },
    "ModifyInstanceBackupRuleAttribute": {
      "documentation": "<p>バックアップルールの属性情報の更新を行います。1回のリクエストで1つの属性情報を更新できます。</p><p>バックアップルールを指定するためには、バックアップルールIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyInstanceBackupRuleAttributeRequest"
      },
      "name": "ModifyInstanceBackupRuleAttribute",
      "output": {
        "shape": "ModifyInstanceBackupRuleAttributeResult"
      }
    },
    "ModifyMultiIpAddressGroupAttribute": {
      "documentation": "<p>マルチIPアドレスグループの情報更新を行います。1回のリクエストで1つの属性情報を更新できます。</p><p>マルチIPアドレスグループを指定するためには、マルチIPアドレスグループユニークIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyMultiIpAddressGroupAttributeRequest"
      },
      "name": "ModifyMultiIpAddressGroupAttribute",
      "output": {
        "shape": "ModifyMultiIpAddressGroupAttributeResult"
      }
    },
    "ModifyNetworkInterfaceAttribute": {
      "documentation": "<p>追加NICの属性情報の更新を行います。1回のリクエストで、追加NICの1つの属性情報を更新できます。</p><p>追加NICを指定するためには、追加NICのネットワークインターフェースIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyNetworkInterfaceAttributeRequest"
      },
      "name": "ModifyNetworkInterfaceAttribute",
      "output": {
        "shape": "ModifyNetworkInterfaceAttributeResult"
      }
    },
    "ModifyRemoteAccessVpnGatewayAttribute": {
      "documentation": "<p>リモートアクセスVPNゲートウェイの情報を更新します。1回のリクエストで、1つのリモートアクセスVPNゲートウェイの1つの属性情報を更新できます。</p><p>リモートアクセスVPNゲートウェイを指定するためには、リモートアクセスVPNゲートウェイユニークIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyRemoteAccessVpnGatewayAttributeRequest"
      },
      "name": "ModifyRemoteAccessVpnGatewayAttribute",
      "output": {
        "shape": "ModifyRemoteAccessVpnGatewayAttributeResult"
      }
    },
    "ModifyRemoteAccessVpnGatewayUserAttribute": {
      "documentation": "<p>リモートアクセスVPNゲートウェイにユーザー情報を更新します。 リモートアクセスVPNゲートウェイのバージョンが v1.0.0 の場合、利用できません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyRemoteAccessVpnGatewayUserAttributeRequest"
      },
      "name": "ModifyRemoteAccessVpnGatewayUserAttribute",
      "output": {
        "shape": "ModifyRemoteAccessVpnGatewayUserAttributeResult"
      }
    },
    "ModifySslCertificateAttribute": {
      "documentation": "<p>指定したSSL証明書の詳細情報を更新します。1回のリクエストで、1つのSSL証明書の1つの詳細情報を更新できます。</p><p>SSL証明書を指定するためには、SSL証明書の発行識別子（fqdnId）が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifySslCertificateAttributeRequest"
      },
      "name": "ModifySslCertificateAttribute",
      "output": {
        "shape": "ModifySslCertificateAttributeResult"
      }
    },
    "ModifyVolumeAttribute": {
      "documentation": "<p>指定したディスクの詳細情報を更新します。1回のリクエストで、1つのディスクの情報を更新できます。</p><p>利用料金タイプの更新は次月から適用されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyVolumeAttributeRequest"
      },
      "name": "ModifyVolumeAttribute",
      "output": {
        "shape": "ModifyVolumeAttributeResult"
      }
    },
    "NiftyAssociateImage": {
      "documentation": "<p>指定したカスタマイズイメージに対して配布先設定を行います。</p><p>指定した配布先の内容は上書き更新されますので、適用したいすべての「ニフクラID」を設定してください。</p><p>カスタマイズイメージを指定するためには、イメージIDが必要です。</p><p>IsRedistributeはisPublicをfalseで指定したときのみ指定可能です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateImageRequest"
      },
      "name": "NiftyAssociateImage",
      "output": {
        "shape": "NiftyAssociateImageResult"
      }
    },
    "NiftyAssociateNatTable": {
      "documentation": "<p>指定したルーターへNATテーブルを設定する。</p><p>NATテーブルを指定するためには、NATテーブルIDが必要です。</p><p>またルーターを指定するためには、ルーターユニークIDまたはルーター名が必要です。</p><p>ルーターがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateNatTableRequest"
      },
      "name": "NiftyAssociateNatTable",
      "output": {
        "shape": "NiftyAssociateNatTableResult"
      }
    },
    "NiftyAssociateRouteTableWithElasticLoadBalancer": {
      "documentation": "<p>マルチロードバランサーにルートテーブルを設定します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateRouteTableWithElasticLoadBalancerRequest"
      },
      "name": "NiftyAssociateRouteTableWithElasticLoadBalancer",
      "output": {
        "shape": "NiftyAssociateRouteTableWithElasticLoadBalancerResult"
      }
    },
    "NiftyAssociateRouteTableWithVpnGateway": {
      "documentation": "<p>指定した拠点間VPNゲートウェイへルートテーブル設定する。</p><p>ルートテーブルを指定するためには、ルートテーブルIDが必要です。また拠点間VPNゲートウェイを指定するためには、拠点間VPNゲートウェイユニークIDまたは拠点間VPNゲートウェイ名が必要です。</p><p>拠点間VPNゲートウェイがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「DescribeVpnGateways」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateRouteTableWithVpnGatewayRequest"
      },
      "name": "NiftyAssociateRouteTableWithVpnGateway",
      "output": {
        "shape": "NiftyAssociateRouteTableWithVpnGatewayResult"
      }
    },
    "NiftyConfigureElasticLoadBalancerHealthCheck": {
      "documentation": "<p>指定したマルチロードバランサーのヘルスチェックの設定を変更します。</p><p>マルチロードバランサーを指定するためには、マルチロードバランサー名または、マルチロードバランサーユニークID・プロトコル・待ち受けポート番号・宛先ポート番号が必要です。</p><p>ヘルスチェックパス、およびヘルスチェック期待値を指定するためには、ヘルスチェックプロトコルが「HTTP」もしくは「HTTPS」である必要があります。</p><p>設定したマルチロードバランサーのヘルスチェックの内容は、API「<a href=\"https://docs.nifcloud.com/cp/api/NiftyDescribeElasticLoadBalancers.htm\">NiftyDescribeElasticLoadBalancers</a>」で確認できます。</p><p>ヘルスチェックの実行結果は、API「<a href=\"https://docs.nifcloud.com/cp/api/NiftyDescribeInstanceElasticLoadBalancerHealth.htm\">NiftyDescribeInstanceElasticLoadBalancerHealth</a>」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyConfigureElasticLoadBalancerHealthCheckRequest"
      },
      "name": "NiftyConfigureElasticLoadBalancerHealthCheck",
      "output": {
        "shape": "NiftyConfigureElasticLoadBalancerHealthCheckResultWrapper"
      }
    },
    "NiftyCreateAlarm": {
      "documentation": "<p>基本監視ルールを新規作成します。</p><p>FunctionNameに機能名を指定することでサーバー、ロードバランサー、ディスクパーティション、マルチロードバランサーに対して監視するルールを作成されます。ロードバランサー以外の監視ルールはゾーン毎の作成になります。作成されたルールの設定からアラートが上がった場合、EmailAddressのメールアドレスにアラートメールが送信されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateAlarmRequest"
      },
      "name": "NiftyCreateAlarm",
      "output": {
        "shape": "NiftyCreateAlarmResult"
      }
    },
    "NiftyCreateAutoScalingGroup": {
      "documentation": "<p>オートスケール定義を新規作成します。</p><p>オートスケール定義を新規作成するには、自身で作成したイメージ（追加ディスクなし）が必要です。</p><p>指定したイメージが存在するゾーンに対してオートスケール定義が作成されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateAutoScalingGroupRequest"
      },
      "name": "NiftyCreateAutoScalingGroup",
      "output": {
        "shape": "NiftyCreateAutoScalingGroupResult"
      }
    },
    "NiftyCreateDhcpConfig": {
      "documentation": "<p>DHCPコンフィグを新規作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateDhcpConfigRequest"
      },
      "name": "NiftyCreateDhcpConfig",
      "output": {
        "shape": "NiftyCreateDhcpConfigResult"
      }
    },
    "NiftyCreateDhcpIpAddressPool": {
      "documentation": "<p>指定したDHCPコンフィグに、自動割り当てIPアドレスの設定を追加します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateDhcpIpAddressPoolRequest"
      },
      "name": "NiftyCreateDhcpIpAddressPool",
      "output": {
        "shape": "NiftyCreateDhcpIpAddressPoolResult"
      }
    },
    "NiftyCreateDhcpStaticMapping": {
      "documentation": "<p>指定したDHCPコンフィグに、手動割り当てIPアドレスの設定を追加します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateDhcpStaticMappingRequest"
      },
      "name": "NiftyCreateDhcpStaticMapping",
      "output": {
        "shape": "NiftyCreateDhcpStaticMappingResult"
      }
    },
    "NiftyCreateElasticLoadBalancer": {
      "documentation": "<p>マルチロードバランサーを作成します。</p><p>1回のリクエストで、1つのポート定義を作成できます。</p><p>マルチロードバランサーの作成後、サーバーを追加する場合は、以下のAPIを実行する必要があります。</p> <ul> <li>API「<a href=\"https://docs.nifcloud.com/cp/api/NiftyRegisterInstancesWithElasticLoadBalancer.htm\">NiftyRegisterInstancesWithElasticLoadBalancer</a>」（サーバー設定）</li> </ul> <p>マルチロードバランサーでSSLアクセラレーター設定をする場合は、プロトコル「HTTPS」とSSL証明書の発行識別子を指定して作成してください。SSLアクセラレーター設定しない場合は、プロトコル「TCP」で必要ポートを指定して作成していただく必要があります。</p><p>ヘルスチェックの設定でヘルスチェックパス、およびヘルスチェック期待値を指定するためには、ヘルスチェックプロトコルが「HTTP」もしくは「HTTPS」である必要があります。</p><p>作成したマルチロードバランサーの内容は、API「<a href=\"https://docs.nifcloud.com/cp/api/NiftyDescribeElasticLoadBalancers.htm\">NiftyDescribeElasticLoadBalancers</a>」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateElasticLoadBalancerRequest"
      },
      "name": "NiftyCreateElasticLoadBalancer",
      "output": {
        "shape": "NiftyCreateElasticLoadBalancerResultWrapper"
      }
    },
    "NiftyCreateInstanceSnapshot": {
      "documentation": "<p>指定したサーバーに対して、ワンデイスナップショットを作成します。</p><p>ワンデイスナップショット作成には時間がかかる場合があります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateInstanceSnapshotRequest"
      },
      "name": "NiftyCreateInstanceSnapshot",
      "output": {
        "shape": "NiftyCreateInstanceSnapshotResult"
      }
    },
    "NiftyCreateNatRule": {
      "documentation": "<p>NATテーブルに適用するNATルール情報を作成する。</p><p>NATテーブルを指定するためには、NATテーブルIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateNatRuleRequest"
      },
      "name": "NiftyCreateNatRule",
      "output": {
        "shape": "NiftyCreateNatRuleResult"
      }
    },
    "NiftyCreateNatTable": {
      "documentation": "<p>ルーターに設定するNATテーブルを新規作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateNatTableRequest"
      },
      "name": "NiftyCreateNatTable",
      "output": {
        "shape": "NiftyCreateNatTableResult"
      }
    },
    "NiftyCreatePrivateLan": {
      "documentation": "<p>プライベートLANを新規作成します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreatePrivateLanRequest"
      },
      "name": "NiftyCreatePrivateLan",
      "output": {
        "shape": "NiftyCreatePrivateLanResult"
      }
    },
    "NiftyCreateRouter": {
      "documentation": "<p>ルーターを新規作成します。</p><p>ルーターに割り当てるネットワークを指定するためには、ネットワークIDまたはネットワーク名が必要です。</p><p>作成したルーターのゾーンは指定したネットワークと同一のゾーンになります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateRouterRequest"
      },
      "name": "NiftyCreateRouter",
      "output": {
        "shape": "NiftyCreateRouterResult"
      }
    },
    "NiftyCreateSeparateInstanceRule": {
      "documentation": "<p>サーバーセパレートを新規作成します。サーバーセパレートを作成する際には、ゾーンの指定が必要です。</p><p>また、1つのサーバーセパレートに適用可能なサーバーの上限数は、2台となります。サーバーセパレートの作成には、時間がかかることがあります。<br> API「NiftyDescribeSeparateInstanceRules」のレスポンス値「separateInstanceRuleStatus」でサーバーセパレートのステータスを確認できます。</p><p>サーバー名とサーバーユニークIDが両方指定された場合は、サーバーユニークIDが優先されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateSeparateInstanceRuleRequest"
      },
      "name": "NiftyCreateSeparateInstanceRule",
      "output": {
        "shape": "NiftyCreateSeparateInstanceRuleResult"
      }
    },
    "NiftyCreateWebProxy": {
      "documentation": "<p>指定したルーターに対してWebプロキシを新規作成します。</p><p>受け側／迂回先ネットワークは、ルーターと紐付きのあるネットワークを指定する必要があります。</p><p>ルーターがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateWebProxyRequest"
      },
      "name": "NiftyCreateWebProxy",
      "output": {
        "shape": "NiftyCreateWebProxyResult"
      }
    },
    "NiftyDeleteAlarm": {
      "documentation": "<p>基本監視ルールを削除します。</p><p>監視ルールを指定するには、監視ルール名および機能名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteAlarmRequest"
      },
      "name": "NiftyDeleteAlarm",
      "output": {
        "shape": "NiftyDeleteAlarmResult"
      }
    },
    "NiftyDeleteAutoScalingGroup": {
      "documentation": "<p>指定したオートスケールの定義を削除します。</p><p>オートスケールを指定するには、オートスケール名が必要です。</p><p>オートスケール定義を削除すると、作成されたスケールアウトサーバーも削除されます。スケールアウトサーバーが存在するオートスケールを削除する場合、オートスケール削除が完了するまで時間がかかることがあります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteAutoScalingGroupRequest"
      },
      "name": "NiftyDeleteAutoScalingGroup",
      "output": {
        "shape": "NiftyDeleteAutoScalingGroupResult"
      }
    },
    "NiftyDeleteDhcpConfig": {
      "documentation": "<p>指定したDHCPコンフィグを削除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpConfigRequest"
      },
      "name": "NiftyDeleteDhcpConfig",
      "output": {
        "shape": "NiftyDeleteDhcpConfigResult"
      }
    },
    "NiftyDeleteDhcpIpAddressPool": {
      "documentation": "<p>指定したDHCPコンフィグから、自動割り当てIPアドレスの設定を削除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpIpAddressPoolRequest"
      },
      "name": "NiftyDeleteDhcpIpAddressPool",
      "output": {
        "shape": "NiftyDeleteDhcpIpAddressPoolResult"
      }
    },
    "NiftyDeleteDhcpStaticMapping": {
      "documentation": "<p>指定したDHCPコンフィグから、手動割り当てIPアドレスの設定を削除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpStaticMappingRequest"
      },
      "name": "NiftyDeleteDhcpStaticMapping",
      "output": {
        "shape": "NiftyDeleteDhcpStaticMappingResult"
      }
    },
    "NiftyDeleteElasticLoadBalancer": {
      "documentation": "<p>指定したマルチロードバランサーのポートを削除します。</p><p>関連するサーバー設定・ヘルスチェック設定などもあわせて削除します。</p><p>マルチロードバランサーを指定するためには、マルチロードバランサー名または、マルチロードバランサーユニークID・プロトコル・待ち受けポート番号・宛先ポート番号が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteElasticLoadBalancerRequest"
      },
      "name": "NiftyDeleteElasticLoadBalancer",
      "output": {
        "shape": "NiftyDeleteElasticLoadBalancerResultWrapper"
      }
    },
    "NiftyDeleteInstanceSnapshot": {
      "documentation": "<p>作成済ワンデイスナップショットを削除します。</p><p>削除するワンデイスナップショットを指定するには、スナップショットIDもしくはスナップショット名の指定が必要です。</p><p>スナップショット取得後に発生した差分をマージするため、スナップショットの削除には時間がかかる場合があります。</p><p>スナップショット削除処理状況は、API「NiftyDescribeInstanceSnapshots」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteInstanceSnapshotRequest"
      },
      "name": "NiftyDeleteInstanceSnapshot",
      "output": {
        "shape": "NiftyDeleteInstanceSnapshotResult"
      }
    },
    "NiftyDeleteNatRule": {
      "documentation": "<p>NATテーブルに適用されたNATルール情報を削除する。</p><p>NATテーブルを指定するためには、NATテーブルIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteNatRuleRequest"
      },
      "name": "NiftyDeleteNatRule",
      "output": {
        "shape": "NiftyDeleteNatRuleResult"
      }
    },
    "NiftyDeleteNatTable": {
      "documentation": "<p>ルーターに設定するNATテーブルの削除を行います。</p><p>NATテーブルを指定するためには、NATテーブルIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteNatTableRequest"
      },
      "name": "NiftyDeleteNatTable",
      "output": {
        "shape": "NiftyDeleteNatTableResult"
      }
    },
    "NiftyDeletePrivateLan": {
      "documentation": "<p>プライベートLANの削除を行います。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeletePrivateLanRequest"
      },
      "name": "NiftyDeletePrivateLan",
      "output": {
        "shape": "NiftyDeletePrivateLanResult"
      }
    },
    "NiftyDeleteRouter": {
      "documentation": "<p>指定したルーターを削除します。</p><p>ルーターを指定するためには、ルーターユニークIDまたはルーター名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteRouterRequest"
      },
      "name": "NiftyDeleteRouter",
      "output": {
        "shape": "NiftyDeleteRouterResult"
      }
    },
    "NiftyDeleteSeparateInstanceRule": {
      "documentation": "<p>指定したサーバーセパレートを削除します。</p><p>サーバーセパレートを指定するためには、サーバーセパレート名が必要です。</p><p>サーバーセパレートの削除には、時間がかかることがあります。API「<a href=\"https://docs.nifcloud.com/cp/api/NiftyDescribeSeparateInstanceRules.htm\">NiftyDescribeSeparateInstanceRules</a>」のレスポンス値「separateInstanceRuleStatus」でサーバーセパレートのステータスを確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteSeparateInstanceRuleRequest"
      },
      "name": "NiftyDeleteSeparateInstanceRule",
      "output": {
        "shape": "NiftyDeleteSeparateInstanceRuleResult"
      }
    },
    "NiftyDeleteWebProxy": {
      "documentation": "<p>ルーターに設定されたWebプロキシを削除します。</p><p>ルーターを指定するためには、ルーターユニークIDまたはルーター名が必要です。</p><p>ルーターがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteWebProxyRequest"
      },
      "name": "NiftyDeleteWebProxy",
      "output": {
        "shape": "NiftyDeleteWebProxyResult"
      }
    },
    "NiftyDeregisterInstancesFromElasticLoadBalancer": {
      "documentation": "<p>指定したマルチロードバランサーから、指定したサーバーを解除します。</p><p>マルチロードバランサーを指定するためには、マルチロードバランサー名または、マルチロードバランサーユニークID・プロトコル・待ち受けポート番号・宛先ポート番号が必要です。また、サーバーを指定するためには、サーバー名または、サーバーユニークIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterInstancesFromElasticLoadBalancerRequest"
      },
      "name": "NiftyDeregisterInstancesFromElasticLoadBalancer",
      "output": {
        "shape": "NiftyDeregisterInstancesFromElasticLoadBalancerResultWrapper"
      }
    },
    "NiftyDeregisterInstancesFromSeparateInstanceRule": {
      "documentation": "<p>指定したサーバーセパレートから、指定したサーバーをはずします。</p><p>サーバーセパレートを指定するためには、サーバーセパレート名が必要です。</p><p>またサーバーを指定するためには、サーバー名またはサーバーユニークIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterInstancesFromSeparateInstanceRuleRequest"
      },
      "name": "NiftyDeregisterInstancesFromSeparateInstanceRule",
      "output": {
        "shape": "NiftyDeregisterInstancesFromSeparateInstanceRuleResult"
      }
    },
    "NiftyDeregisterRoutersFromSecurityGroup": {
      "documentation": "<p>指定したファイアウォールグループからルーターをはずします。</p><p>ファイアウォールグループからはずすためには、ルーター名またはルーターユニークIDを指定します。</p><p>ファイアウォールグループからルーターをはずす処理には、時間がかかる場合があります。</p><p>「DescribeSecurityGroups」のレスポンス「groupStatus」でファイアウォールグループのステータスを確認することができます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterRoutersFromSecurityGroupRequest"
      },
      "name": "NiftyDeregisterRoutersFromSecurityGroup",
      "output": {
        "shape": "NiftyDeregisterRoutersFromSecurityGroupResult"
      }
    },
    "NiftyDeregisterVpnGatewaysFromSecurityGroup": {
      "documentation": "<p>指定したファイアウォールグループから拠点間VPNゲートウェイをはずします。</p><p>ファイアウォールからはずすためには、拠点間VPNゲートウェイ名または拠点間VPNゲートウェイIDを指定します。</p><p>ファイアウォールグループから拠点間VPNゲートウェイをはずす処理には、時間がかかる場合があります。</p><p>「DescribeSecurityGroups」のレスポンス「groupStatus」でファイアウォールグループのステータスを確認することができます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterVpnGatewaysFromSecurityGroupRequest"
      },
      "name": "NiftyDeregisterVpnGatewaysFromSecurityGroup",
      "output": {
        "shape": "NiftyDeregisterVpnGatewaysFromSecurityGroupResult"
      }
    },
    "NiftyDescribeAlarmHistory": {
      "documentation": "<p>アラート履歴一覧を取得します。</p><p>リージョン/ゾーン/セルに利用制限がかかっている監視ルールのアラーム履歴は返却されません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmHistoryRequest"
      },
      "name": "NiftyDescribeAlarmHistory",
      "output": {
        "shape": "NiftyDescribeAlarmHistoryResult"
      }
    },
    "NiftyDescribeAlarmRulesActivities": {
      "documentation": "<p>監視ルールの監視項目毎に、リソース異常発生と解除のログ情報を取得します。</p><p>リージョン/ゾーン/セルに利用制限がかかっている監視ルールログ情報は返却しません。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmRulesActivitiesRequest"
      },
      "name": "NiftyDescribeAlarmRulesActivities",
      "output": {
        "shape": "NiftyDescribeAlarmRulesActivitiesResult"
      }
    },
    "NiftyDescribeAlarms": {
      "documentation": "<p>指定した基本監視ルールの情報を取得します。</p><p>監視ルールを指定するには、監視ルール名および機能名が必要です。</p><p>監視ルールを指定しない場合、取得できるすべての監視ルールの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsRequest"
      },
      "name": "NiftyDescribeAlarms",
      "output": {
        "shape": "NiftyDescribeAlarmsResult"
      }
    },
    "NiftyDescribeAlarmsPartitions": {
      "documentation": "<p>監視ルールに設定されているパーティション情報を取得します。</p><p>サーバーが指定された場合は、指定されたサーバーが割り当てられている監視ルールに設定されているパーティション情報のみを取得します。</p><p>すべてのパーティションを監視対象にした場合、当APIでパーティション情報が取得されるようになるまで、最大で10分かかります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsPartitionsRequest"
      },
      "name": "NiftyDescribeAlarmsPartitions",
      "output": {
        "shape": "NiftyDescribeAlarmsPartitionsResult"
      }
    },
    "NiftyDescribeAutoScalingGroups": {
      "documentation": "<p>指定したオートスケールの定義情報を取得します。</p><p>オートスケールを指定するためには、オートスケール名が必要です。</p><p>オートスケールを指定しない場合、取得できるすべてのオートスケールの定義情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAutoScalingGroupsRequest"
      },
      "name": "NiftyDescribeAutoScalingGroups",
      "output": {
        "shape": "NiftyDescribeAutoScalingGroupsResult"
      }
    },
    "NiftyDescribeCorporateInfoForCertificate": {
      "documentation": "<p>登録されている申請法人情報を取得します。</p><p>申請法人情報が未登録の場合は、空の情報が返却されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeCorporateInfoForCertificateRequest"
      },
      "name": "NiftyDescribeCorporateInfoForCertificate",
      "output": {
        "shape": "NiftyDescribeCorporateInfoForCertificateResult"
      }
    },
    "NiftyDescribeDhcpConfigs": {
      "documentation": "<p>DHCPコンフィグ情報を取得します。</p><p>DHCPコンフィグを指定するためには、DHCPコンフィグIDが必要です。DHCPコンフィグを指定しない場合は、取得可能なすべてのDHCPコンフィグ情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。</p><p>「∗」は0個以上任意文字、「?」は1個任意文字、「\\」はエスケープ変換文字（「∗niftycloud¥?¥¥」は「∗niftycloud?¥」を検索）となります。</p><p>曖昧検索が指定可能な絞り込み条件の項目名は、ipaddress-pool-start, ipaddress-pool-stop, ipaddress-pool-description, static-mapping-ipaddress, static-mapping-macaddress, static-mapping-descriptionになります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpConfigsRequest"
      },
      "name": "NiftyDescribeDhcpConfigs",
      "output": {
        "shape": "NiftyDescribeDhcpConfigsResult"
      }
    },
    "NiftyDescribeDhcpStatus": {
      "documentation": "<p>DHCPでのIP払い出し状態を表示します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpStatusRequest"
      },
      "name": "NiftyDescribeDhcpStatus",
      "output": {
        "shape": "NiftyDescribeDhcpStatusResult"
      }
    },
    "NiftyDescribeElasticLoadBalancers": {
      "documentation": "<p>指定したマルチロードバランサーの情報を取得します。</p><p>マルチロードバランサーを指定するためには、マルチロードバランサー名または、マルチロードバランサーユニークID・プロトコル・待ち受けポート番号・宛先ポート番号が必要です。マルチロードバランサーを指定しない場合は、取得可能なすべてのマルチロードバランサー情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeElasticLoadBalancersRequest"
      },
      "name": "NiftyDescribeElasticLoadBalancers",
      "output": {
        "shape": "NiftyDescribeElasticLoadBalancersResultWrapper"
      }
    },
    "NiftyDescribeInstanceElasticLoadBalancerHealth": {
      "documentation": "<p>指定したマルチロードバランサーに設定されている、サーバーのヘルスチェック結果を取得します。ヘルスチェックは、API 「<a href=\"https://docs.nifcloud.com/cp/api/NiftyConfigureElasticLoadBalancerHealthCheck.htm\">NiftyConfigureElasticLoadBalancerHealthCheck</a>」で設定します。</p><p>マルチロードバランサーを指定するためには、マルチロードバランサー名または、マルチロードバランサーユニークID・プロトコル・待ち受けポート番号・宛先ポート番号が必要です。</p><p>また、サーバーを指定するためには、サーバー名または、サーバーユニークIDが必要です。サーバーを指定しない場合は、指定したマルチロードバランサーに設定されているすべてのサーバーを対象として、ヘルスチェック結果を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeInstanceElasticLoadBalancerHealthRequest"
      },
      "name": "NiftyDescribeInstanceElasticLoadBalancerHealth",
      "output": {
        "shape": "NiftyDescribeInstanceElasticLoadBalancerHealthResultWrapper"
      }
    },
    "NiftyDescribeInstanceSnapshots": {
      "documentation": "<p>作成済ワンデイスナップショットの情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeInstanceSnapshotsRequest"
      },
      "name": "NiftyDescribeInstanceSnapshots",
      "output": {
        "shape": "NiftyDescribeInstanceSnapshotsResult"
      }
    },
    "NiftyDescribeLoadBalancerSSLPolicies": {
      "documentation": "<p>指定したロードバランサーに対して適用可能なSSLセキュリティポリシーのテンプレート一覧を返却します。</p><p>ロードバランサーを指定するためには、ロードバランサー名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeLoadBalancerSSLPoliciesRequest"
      },
      "name": "NiftyDescribeLoadBalancerSSLPolicies",
      "output": {
        "shape": "NiftyDescribeLoadBalancerSSLPoliciesResultWrapper"
      }
    },
    "NiftyDescribeNatTables": {
      "documentation": "<p>指定したNATテーブルの情報を取得します。</p><p>NATテーブルを指定するためには、NATテーブルIDが必要です。NATテーブルを指定しない場合は、取得可能なすべてのNATテーブル情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。</p><p>「∗」は0個以上任意文字、 「?」は1個任意文字、「¥」はエスケープ変換文字（「¥∗niftycloud¥?¥¥」は「∗niftycloud?¥」を検索）となります。</p><p>曖昧検索が指定可能な絞り込み条件の項目名は、下記の通りです。</p> <ul> <li>nat-rule.description</li> <li>nat-rule.destination.address</li> <li>nat-rule.source.address</li> <li>nat-rule.translation.address</li> <li>nt-rule.outbound-interface.network-name</li> <li>nat-rule.inbound-interface.network-name</li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeNatTablesRequest"
      },
      "name": "NiftyDescribeNatTables",
      "output": {
        "shape": "NiftyDescribeNatTablesResult"
      }
    },
    "NiftyDescribePerformanceChart": {
      "documentation": "<p>サーバー、ディスクパーティション、ロードバランサー、マルチロードバランサーの稼働状況を表示したチャートのデータを取得します。</p><p>対象サーバーが停止されている場合は、以下の情報を取得されません。<br> ・CPU使用率<br> ・メモリ使用率<br> ・ディスク使用率<br> ・ディスクパーティション使用率</p><p>チャート出力を期間指定しない場合、最新24時間の10分間隔のデータが返されます。</p><p>チャート出力を期間指定する場合、期間が7日間までなら30分間隔のデータ、それ以降は1日間隔のデータが返されます。</p><p>指定可能な開始日は、当月から５カ月前の月初日まで指定可能となります。</p><p>例. 2020/08/11 の場合、 2020/03/01 を開始日として指定できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribePerformanceChartRequest"
      },
      "name": "NiftyDescribePerformanceChart",
      "output": {
        "shape": "NiftyDescribePerformanceChartResult"
      }
    },
    "NiftyDescribePrivateLans": {
      "documentation": "<p>指定されたプライベートLANの情報を取得します。</p><p>プライベートLANを指定するためには、ネットワークユニークIDまたはプライベートLAN名が必要です。</p><p>プライベートLANを指定しない場合、取得できるすべてのプライベートLAN情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。「∗」は0個以上任意文字、「?」は1個任意文字、「¥」はエスケープ変換文字（「¥∗nifty¥?¥¥」は「∗nifty?¥」を検索）となります。</p><p>曖昧検索が指定可能な絞り込み条件の項目名は、private-lan-name、descriptionになります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribePrivateLansRequest"
      },
      "name": "NiftyDescribePrivateLans",
      "output": {
        "shape": "NiftyDescribePrivateLansResult"
      }
    },
    "NiftyDescribeRouters": {
      "documentation": "<p>指定したルーターの情報の取得をします。</p><p>ルーターを指定するためには、ルーターユニークIDまたはルーター名が必要です。</p><p>ルーターを指定しない場合、取得できるすべてのルーター情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。「∗」は0 個以上任意文字、「?」は1 個任意文字、「¥」はエスケープ変換文字（「¥∗niftycloud¥?¥¥ 」は「∗niftycloud?¥」を検索）となります。曖昧検索が指定可能な絞り込み条件の項目名、router-name、description になります。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeRoutersRequest"
      },
      "name": "NiftyDescribeRouters",
      "output": {
        "shape": "NiftyDescribeRoutersResult"
      }
    },
    "NiftyDescribeScalingActivities": {
      "documentation": "<p>指定したオートスケール定義のログを取得します。</p><p>オートスケールを指定するためには、オートスケール名が必要です。</p><p>オートスケールを指定しない場合、取得できるすべてのオートスケール定義のログ情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeScalingActivitiesRequest"
      },
      "name": "NiftyDescribeScalingActivities",
      "output": {
        "shape": "NiftyDescribeScalingActivitiesResult"
      }
    },
    "NiftyDescribeSeparateInstanceRules": {
      "documentation": "<p>指定したサーバーセパレートの設定情報を取得します。</p><p>サーバーセパレートを指定するためには、サーバーセパレート名が必要です。指定しない場合は、取得可能なサーバーセパレートの設定情報を取得します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeSeparateInstanceRulesRequest"
      },
      "name": "NiftyDescribeSeparateInstanceRules",
      "output": {
        "shape": "NiftyDescribeSeparateInstanceRulesResult"
      }
    },
    "NiftyDescribeVpnGatewayActivities": {
      "documentation": "<p>拠点間VPNゲートウェイの接続ログ情報を取得します。</p><p>接続ログのエラーについては、該当箇所の行数とエラーコードが返却されます。</p><p>拠点間VPNゲートウェイを指定するためには、拠点間VPNゲートウェイIDまたは拠点間VPNゲートウェイ名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeVpnGatewayActivitiesRequest"
      },
      "name": "NiftyDescribeVpnGatewayActivities",
      "output": {
        "shape": "NiftyDescribeVpnGatewayActivitiesResult"
      }
    },
    "NiftyDescribeWebProxies": {
      "documentation": "<p>ルーターに設定されているWebプロキシの設定情報を取得します。</p><p>ルーターを指定するためには、ルーターユニークIDまたはルーター名が必要です。</p><p>ルーターを指定しない場合、取得できるすべてのルーター情報を取得します。</p><p>絞り込み条件の項目の値「Filter.n.Value.m」を指定する際、ワイルドカード文字（曖昧検索）指定可能です。「∗」は0個以上任意文字、 「?」は1個任意文字、「¥」はエスケープ変換文字（「∗niftycloud¥?¥¥」は「∗niftycloud?¥」を検索）となります。</p><p>曖昧検索が指定可能な絞り込み条件の項目名は、下記の通りです。</p> <ul> <li>router-name</li> <li>listen-network-name</li> <li>listen-port</li> <li>proxy-bypass-network-name</li> <li>option-name-server</li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeWebProxiesRequest"
      },
      "name": "NiftyDescribeWebProxies",
      "output": {
        "shape": "NiftyDescribeWebProxiesResult"
      }
    },
    "NiftyDisableDhcp": {
      "documentation": "<p>ルーターに設定されたプライベートLANに対してDHCP機能を無効化します。</p><p>ルーターがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisableDhcpRequest"
      },
      "name": "NiftyDisableDhcp",
      "output": {
        "shape": "NiftyDisableDhcpResult"
      }
    },
    "NiftyDisassociateNatTable": {
      "documentation": "<p>ルーターに設定されたNATテーブルを解除します。</p><p>ルーターがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisassociateNatTableRequest"
      },
      "name": "NiftyDisassociateNatTable",
      "output": {
        "shape": "NiftyDisassociateNatTableResult"
      }
    },
    "NiftyDisassociateRouteTableFromElasticLoadBalancer": {
      "documentation": "<p>マルチロードバランサーからルートテーブル設定を解除します。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisassociateRouteTableFromElasticLoadBalancerRequest"
      },
      "name": "NiftyDisassociateRouteTableFromElasticLoadBalancer",
      "output": {
        "shape": "NiftyDisassociateRouteTableFromElasticLoadBalancerResult"
      }
    },
    "NiftyDisassociateRouteTableFromVpnGateway": {
      "documentation": "<p>拠点間VPNゲートウェイに設定されたルートテーブルを解除します。</p><p>拠点間VPNゲートウェイがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「DescribeVpnGateways」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisassociateRouteTableFromVpnGatewayRequest"
      },
      "name": "NiftyDisassociateRouteTableFromVpnGateway",
      "output": {
        "shape": "NiftyDisassociateRouteTableFromVpnGatewayResult"
      }
    },
    "NiftyEnableDhcp": {
      "documentation": "<p>ルーターに設定されたプライベートLANに対して、DHCP機能を有効化します。</p><p>ルーターがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyEnableDhcpRequest"
      },
      "name": "NiftyEnableDhcp",
      "output": {
        "shape": "NiftyEnableDhcpResult"
      }
    },
    "NiftyModifyAddressAttribute": {
      "documentation": "<p>付替IPアドレスの基本情報を更新します。</p><p>1回のリクエストで、1つの付替IPアドレスの情報を更新できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyAddressAttributeRequest"
      },
      "name": "NiftyModifyAddressAttribute",
      "output": {
        "shape": "NiftyModifyAddressAttributeResult"
      }
    },
    "NiftyModifyCustomerGatewayAttribute": {
      "documentation": "<p>指定されたカスタマーゲートウェイの詳細情報を更新します。1回のリクエストで1つのカスタマーゲートウェイの情報を更新できます。</p><p>カスタマーゲートウェイを指定するためには、カスタマーゲートウェイユニークIDまたはカスタマーゲートウェイ名が必要です。</p><p>メモの変更において、更新値に何も指定しない場合、空の情報で更新されます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyCustomerGatewayAttributeRequest"
      },
      "name": "NiftyModifyCustomerGatewayAttribute",
      "output": {
        "shape": "NiftyModifyCustomerGatewayAttributeResult"
      }
    },
    "NiftyModifyElasticLoadBalancerAttributes": {
      "documentation": "<p>指定したマルチロードバランサーの詳細情報を更新します。1回のリクエストで、1つのマルチロードバランサーの情報を更新できます。</p><p>マルチロードバランサーを指定するためには、マルチロードバランサー名または、マルチロードバランサーユニークID・プロトコル・待ち受けポート番号・宛先ポート番号が必要です。</p><p>Sorryページオプションは、プロトコル「HTTP」または「HTTPS」の場合に利用が可能です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyElasticLoadBalancerAttributesRequest"
      },
      "name": "NiftyModifyElasticLoadBalancerAttributes",
      "output": {
        "shape": "NiftyModifyElasticLoadBalancerAttributesResult"
      }
    },
    "NiftyModifyInstanceSnapshotAttribute": {
      "documentation": "<p>作成済ワンデイスナップショットに対するメモを更新します。</p><p>メモを更新するワンデイスナップショットを指定するには、スナップショットIDまたはスナップショット名の指定が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyInstanceSnapshotAttributeRequest"
      },
      "name": "NiftyModifyInstanceSnapshotAttribute",
      "output": {
        "shape": "NiftyModifyInstanceSnapshotAttributeResult"
      }
    },
    "NiftyModifyKeyPairAttribute": {
      "documentation": "<p>指定したSSHキーの情報を更新します。</p><p>SSHキーを指定するためには、SSHキー名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyKeyPairAttributeRequest"
      },
      "name": "NiftyModifyKeyPairAttribute",
      "output": {
        "shape": "NiftyModifyKeyPairAttributeResult"
      }
    },
    "NiftyModifyPrivateLanAttribute": {
      "documentation": "<p>プライベートLANの基本情報の変更を行います。1回のリクエストで、1つのプライベートLANの情報を更新できます。</p><p>プライベートLANを指定するためには、ネットワークユニークIDまたはプライベートLAN名が必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyPrivateLanAttributeRequest"
      },
      "name": "NiftyModifyPrivateLanAttribute",
      "output": {
        "shape": "NiftyModifyPrivateLanAttributeResult"
      }
    },
    "NiftyModifyRouterAttribute": {
      "documentation": "<p>指定したルーターの詳細情報を更新します。1回のリクエストで、1つのルーターサーバーの情報を更新できます。ルーターを指定するためには、ルーターユニークIDまたはルーター名が必要です。</p><p>ルーター名もしくはルータータイプを更新時、ルーターがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyRouterAttributeRequest"
      },
      "name": "NiftyModifyRouterAttribute",
      "output": {
        "shape": "NiftyModifyRouterAttributeResult"
      }
    },
    "NiftyModifyVpnGatewayAttribute": {
      "documentation": "<p>指定された拠点間VPNゲートウェイの詳細情報を更新します。1回のリクエストで、1つの拠点間VPNゲートウェイの情報を更新できます。</p><p>拠点間VPNゲートウェイを指定するためには、拠点間VPNゲートウェイIDまたは拠点間VPNゲートウェイ名が必要です。</p><p>拠点間VPNゲートウェイ名、拠点間VPNゲートウェイタイプの更新時、拠点間VPNゲートウェイがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「DescribeVpnGateways」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyVpnGatewayAttributeRequest"
      },
      "name": "NiftyModifyVpnGatewayAttribute",
      "output": {
        "shape": "NiftyModifyVpnGatewayAttributeResult"
      }
    },
    "NiftyModifyWebProxyAttribute": {
      "documentation": "<p>ルーターに設定されたWebプロキシの詳細情報を更新します。1回のリクエストで、1つのWebプロキシの情報を更新できます。</p><p>ルーターを指定するためには、ルーターユニークIDまたはルーター名が必要です。</p><p>受け側／迂回先ネットワークは、ルーターと紐付きのあるネットワークを指定する必要があります。</p><p>受け側／迂回先ネットワーク、受け側ポート、DNSサーバーのアドレスの更新時、ルーターがバックアップを保持している場合は、パラメーター「Agreement」に「true」を設定し、バックアップを解除する必要があります。バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyWebProxyAttributeRequest"
      },
      "name": "NiftyModifyWebProxyAttribute",
      "output": {
        "shape": "NiftyModifyWebProxyAttributeResult"
      }
    },
    "NiftyRebootRouters": {
      "documentation": "<p>指定したルーターを再起動をします。</p><p>ルーターを指定するためには、ルーターユニークID またはルーター名が必要です。</p><p>ルーターの再起動には、時間がかかることがあります。ルーターのステータスは、API「NiftyDescribeRouters」のレスポンス値「state」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRebootRoutersRequest"
      },
      "name": "NiftyRebootRouters",
      "output": {
        "shape": "NiftyRebootRoutersResult"
      }
    },
    "NiftyRebootVpnGateways": {
      "documentation": "<p>指定した拠点間VPNゲートウェイを再起動します。</p><p>拠点間VPNゲートウェイを指定するためには、拠点間VPNゲートウェイユニークIDまたは拠点間VPNゲートウェイ名が必要です。</p><p>拠点間VPNゲートウェイの再起動には、時間がかかることがあります。拠点間VPNゲートウェイのステータスは、API「DescribeVpnGateways」のレスポンス値「state」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRebootVpnGatewaysRequest"
      },
      "name": "NiftyRebootVpnGateways",
      "output": {
        "shape": "NiftyRebootVpnGatewaysResult"
      }
    },
    "NiftyRegisterInstancesWithElasticLoadBalancer": {
      "documentation": "<p>指定したマルチロードバランサーにサーバーを追加します。</p><p>マルチロードバランサーを指定するためには、マルチロードバランサー名または、マルチロードバランサーユニークID・プロトコル・待ち受けポート番号・宛先ポート番号が必要です。</p><p>また、サーバーを指定するためには、サーバー名または、サーバーユニークIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterInstancesWithElasticLoadBalancerRequest"
      },
      "name": "NiftyRegisterInstancesWithElasticLoadBalancer",
      "output": {
        "shape": "NiftyRegisterInstancesWithElasticLoadBalancerResultWrapper"
      }
    },
    "NiftyRegisterInstancesWithSeparateInstanceRule": {
      "documentation": "<p>指定したサーバーセパレートを、指定したサーバーへ適用します。1つのサーバーセパレートに適用可能なサーバーの上限数は、2台となります。</p><p>サーバーセパレートを指定するためには、サーバーセパレート名が必要です。</p><p>またサーバーを指定するためには、サーバー名またはサーバーユニークIDが必要です。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterInstancesWithSeparateInstanceRuleRequest"
      },
      "name": "NiftyRegisterInstancesWithSeparateInstanceRule",
      "output": {
        "shape": "NiftyRegisterInstancesWithSeparateInstanceRuleResult"
      }
    },
    "NiftyRegisterPortWithElasticLoadBalancer": {
      "documentation": "<p>指定したマルチロードバランサーにポートを追加します。</p><p>マルチロードバランサーを指定するためには、マルチロードバランサー名または、マルチロードバランサーユニークID・プロトコル・待ち受けポート番号・宛先ポート番号が必要です。</p><p>ポートの追加に成功した場合は、以下のAPI を実行する必要があります。</p> <ul> <li>API「<a href=\"https://docs.nifcloud.com/cp/api/NiftyRegisterInstancesWithElasticLoadBalancer.htm\">NiftyRegisterInstancesWithElasticLoadBalancer</a>」（サーバー設定）</li> <li>API「<a href=\"https://docs.nifcloud.com/cp/api/NiftyConfigureElasticLoadBalancerHealthCheck.htm\">NiftyConfigureElasticLoadBalancerHealthCheck</a>」（ヘルスチェック設定）</li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterPortWithElasticLoadBalancerRequest"
      },
      "name": "NiftyRegisterPortWithElasticLoadBalancer",
      "output": {
        "shape": "NiftyRegisterPortWithElasticLoadBalancerResultWrapper"
      }
    },
    "NiftyRegisterRoutersWithSecurityGroup": {
      "documentation": "<p>指定したファイアウォールグループを、ルーターへ適用します。</p><p>ルーターへ適用するには、ルーター名またはルーターユニークIDを指定します。</p><p>ファイアウォールグループのルーター適用には、時間がかかることがあります。</p><p>「DescribeSecurityGroups」のレスポンス「groupStatus」にて適用ステータスを確認することができます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterRoutersWithSecurityGroupRequest"
      },
      "name": "NiftyRegisterRoutersWithSecurityGroup",
      "output": {
        "shape": "NiftyRegisterRoutersWithSecurityGroupResult"
      }
    },
    "NiftyRegisterVpnGatewaysWithSecurityGroup": {
      "documentation": "<p>指定したファイアウォールグループを拠点間VPNゲートウェイへ適用します。</p><p>拠点間VPNゲートウェイへ適用するには、拠点間VPNゲートウェイ名または拠点間VPNゲートウェイユニークIDを指定します。</p><p>ファイアウォールグループの拠点間VPNゲートウェイ適用には、時間がかかる場合があります。</p><p>「DescribeSecurityGroups」のレスポンス「groupStatus」にて適用ステータスを確認することができます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterVpnGatewaysWithSecurityGroupRequest"
      },
      "name": "NiftyRegisterVpnGatewaysWithSecurityGroup",
      "output": {
        "shape": "NiftyRegisterVpnGatewaysWithSecurityGroupResult"
      }
    },
    "NiftyReleaseRouterBackupState": {
      "documentation": "<p>ルーターのバックアップ状態を解除します。</p><p>ルーターを指定するためには、ルーターユニークIDまたはルーター名が必要です。</p><p>バックアップを保持しているかどうかはAPI「NiftyDescribeRouters」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReleaseRouterBackupStateRequest"
      },
      "name": "NiftyReleaseRouterBackupState",
      "output": {
        "shape": "NiftyReleaseRouterBackupStateResult"
      }
    },
    "NiftyReleaseVpnGatewayBackupState": {
      "documentation": "<p>指定した拠点間VPNゲートウェイのバックアップ状態を解除します。</p><p>拠点間VPNゲートウェイを指定するためには、拠点間VPNゲートウェイユニークIDまたは拠点間VPNゲートウェイ名が必要です。</p><p>バックアップを保持しているかどうかはAPI「DescribeVpnGateways」のレスポンス値「isBackup」で確認できます。</p>",
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReleaseVpnGatewayBackupStateRequest"
      },
      "name": "NiftyReleaseVpnGatewayBackupState",
      "output": {
        "shape": "NiftyReleaseVpnGatewayBackupStateResult"
      }
    },
    "NiftyReplaceDhcpConfig": {
[...]
