{
  "metadata": {
    "apiVersion": "3.0",
    "endpointPrefix": "computing",
    "protocol": "computing",
    "serviceAbbreviation": "computing",
    "serviceFullName": "NIFCLOUD Computing",
    "serviceId": "computing",
    "signatureVersion": "v2-computing",
    "uid": "computing-2.2",
    "xmlNamespace": "https://cp.cloud.nifty.com/api/"
  },
  "operations": {
    "AllocateAddress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AllocateAddressRequest"
      },
      "name": "AllocateAddress",
      "output": {
        "shape": "AllocateAddressResult"
      }
    },
    "AssociateAddress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateAddressRequest"
      },
      "name": "AssociateAddress",
      "output": {
        "shape": "AssociateAddressResult"
      }
    },
    "AssociateRouteTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateRouteTableRequest"
      },
      "name": "AssociateRouteTable",
      "output": {
        "shape": "AssociateRouteTableResult"
      }
    },
    "AssociateUsers": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AssociateUsersRequest"
      },
      "name": "AssociateUsers",
      "output": {
        "shape": "AssociateUsersResult"
      }
    },
    "AttachNetworkInterface": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AttachNetworkInterfaceRequest"
      },
      "name": "AttachNetworkInterface",
      "output": {
        "shape": "AttachNetworkInterfaceResult"
      }
    },
    "AttachVolume": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AttachVolumeRequest"
      },
      "name": "AttachVolume",
      "output": {
        "shape": "AttachVolumeResult"
      }
    },
    "AuthorizeSecurityGroupIngress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "AuthorizeSecurityGroupIngressRequest"
      },
      "name": "AuthorizeSecurityGroupIngress",
      "output": {
        "shape": "AuthorizeSecurityGroupIngressResult"
      }
    },
    "CancelCopyInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CancelCopyInstancesRequest"
      },
      "name": "CancelCopyInstances",
      "output": {
        "shape": "CancelCopyInstancesResult"
      }
    },
    "CancelUpload": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CancelUploadRequest"
      },
      "name": "CancelUpload",
      "output": {
        "shape": "CancelUploadResult"
      }
    },
    "ClearLoadBalancerSession": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ClearLoadBalancerSessionRequest"
      },
      "name": "ClearLoadBalancerSession",
      "output": {
        "shape": "ClearLoadBalancerSessionResult"
      }
    },
    "ConfigureHealthCheck": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ConfigureHealthCheckRequest"
      },
      "name": "ConfigureHealthCheck",
      "output": {
        "shape": "ConfigureHealthCheckResult"
      }
    },
    "CopyInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CopyInstancesRequest"
      },
      "name": "CopyInstances",
      "output": {
        "shape": "CopyInstancesResult"
      }
    },
    "CreateCustomerGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateCustomerGatewayRequest"
      },
      "name": "CreateCustomerGateway",
      "output": {
        "shape": "CreateCustomerGatewayResult"
      }
    },
    "CreateDhcpOptions": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateDhcpOptionsRequest"
      },
      "name": "CreateDhcpOptions",
      "output": {
        "shape": "CreateDhcpOptionsResult"
      }
    },
    "CreateImage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateImageRequest"
      },
      "name": "CreateImage",
      "output": {
        "shape": "CreateImageResult"
      }
    },
    "CreateKeyPair": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateKeyPairRequest"
      },
      "name": "CreateKeyPair",
      "output": {
        "shape": "CreateKeyPairResult"
      }
    },
    "CreateLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateLoadBalancerRequest"
      },
      "name": "CreateLoadBalancer",
      "output": {
        "shape": "CreateLoadBalancerResult"
      }
    },
    "CreateNetworkInterface": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateNetworkInterfaceRequest"
      },
      "name": "CreateNetworkInterface",
      "output": {
        "shape": "CreateNetworkInterfaceResult"
      }
    },
    "CreateRoute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateRouteRequest"
      },
      "name": "CreateRoute",
      "output": {
        "shape": "CreateRouteResult"
      }
    },
    "CreateRouteTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateRouteTableRequest"
      },
      "name": "CreateRouteTable",
      "output": {
        "shape": "CreateRouteTableResult"
      }
    },
    "CreateSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateSecurityGroupRequest"
      },
      "name": "CreateSecurityGroup",
      "output": {
        "shape": "CreateSecurityGroupResult"
      }
    },
    "CreateSslCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateSslCertificateRequest"
      },
      "name": "CreateSslCertificate",
      "output": {
        "shape": "CreateSslCertificateResult"
      }
    },
    "CreateVolume": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateVolumeRequest"
      },
      "name": "CreateVolume",
      "output": {
        "shape": "CreateVolumeResult"
      }
    },
    "CreateVpnConnection": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateVpnConnectionRequest"
      },
      "name": "CreateVpnConnection",
      "output": {
        "shape": "CreateVpnConnectionResult"
      }
    },
    "CreateVpnGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "CreateVpnGatewayRequest"
      },
      "name": "CreateVpnGateway",
      "output": {
        "shape": "CreateVpnGatewayResult"
      }
    },
    "DeleteCustomerGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteCustomerGatewayRequest"
      },
      "name": "DeleteCustomerGateway",
      "output": {
        "shape": "DeleteCustomerGatewayResult"
      }
    },
    "DeleteDhcpOptions": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteDhcpOptionsRequest"
      },
      "name": "DeleteDhcpOptions",
      "output": {
        "shape": "DeleteDhcpOptionsResult"
      }
    },
    "DeleteImage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "name": "DeleteImage",
      "output": {
        "shape": "DeleteImageResult"
      }
    },
    "DeleteKeyPair": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteKeyPairRequest"
      },
      "name": "DeleteKeyPair",
      "output": {
        "shape": "DeleteKeyPairResult"
      }
    },
    "DeleteLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteLoadBalancerRequest"
      },
      "name": "DeleteLoadBalancer",
      "output": {
        "shape": "DeleteLoadBalancerResult"
      }
    },
    "DeleteNetworkInterface": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteNetworkInterfaceRequest"
      },
      "name": "DeleteNetworkInterface",
      "output": {
        "shape": "DeleteNetworkInterfaceResult"
      }
    },
    "DeleteRoute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteRouteRequest"
      },
      "name": "DeleteRoute",
      "output": {
        "shape": "DeleteRouteResult"
      }
    },
    "DeleteRouteTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteRouteTableRequest"
      },
      "name": "DeleteRouteTable",
      "output": {
        "shape": "DeleteRouteTableResult"
      }
    },
    "DeleteSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteSecurityGroupRequest"
      },
      "name": "DeleteSecurityGroup",
      "output": {
        "shape": "DeleteSecurityGroupResult"
      }
    },
    "DeleteSslCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteSslCertificateRequest"
      },
      "name": "DeleteSslCertificate",
      "output": {
        "shape": "DeleteSslCertificateResult"
      }
    },
    "DeleteVolume": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteVolumeRequest"
      },
      "name": "DeleteVolume",
      "output": {
        "shape": "DeleteVolumeResult"
      }
    },
    "DeleteVpnConnection": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteVpnConnectionRequest"
      },
      "name": "DeleteVpnConnection",
      "output": {
        "shape": "DeleteVpnConnectionResult"
      }
    },
    "DeleteVpnGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeleteVpnGatewayRequest"
      },
      "name": "DeleteVpnGateway",
      "output": {
        "shape": "DeleteVpnGatewayResult"
      }
    },
    "DeregisterInstancesFromLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeregisterInstancesFromLoadBalancerRequest"
      },
      "name": "DeregisterInstancesFromLoadBalancer",
      "output": {
        "shape": "DeregisterInstancesFromLoadBalancerResult"
      }
    },
    "DeregisterInstancesFromSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DeregisterInstancesFromSecurityGroupRequest"
      },
      "name": "DeregisterInstancesFromSecurityGroup",
      "output": {
        "shape": "DeregisterInstancesFromSecurityGroupResult"
      }
    },
    "DescribeAddresses": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeAddressesRequest"
      },
      "name": "DescribeAddresses",
      "output": {
        "shape": "DescribeAddressesResult"
      }
    },
    "DescribeAssociatedUsers": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeAssociatedUsersRequest"
      },
      "name": "DescribeAssociatedUsers",
      "output": {
        "shape": "DescribeAssociatedUsersResult"
      }
    },
    "DescribeAvailabilityZones": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeAvailabilityZonesRequest"
      },
      "name": "DescribeAvailabilityZones",
      "output": {
        "shape": "DescribeAvailabilityZonesResult"
      }
    },
    "DescribeCustomerGateways": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeCustomerGatewaysRequest"
      },
      "name": "DescribeCustomerGateways",
      "output": {
        "shape": "DescribeCustomerGatewaysResult"
      }
    },
    "DescribeDhcpOptions": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeDhcpOptionsRequest"
      },
      "name": "DescribeDhcpOptions",
      "output": {
        "shape": "DescribeDhcpOptionsResult"
      }
    },
    "DescribeImages": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeImagesRequest"
      },
      "name": "DescribeImages",
      "output": {
        "shape": "DescribeImagesResult"
      }
    },
    "DescribeInstanceAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstanceAttributeRequest"
      },
      "name": "DescribeInstanceAttribute",
      "output": {
        "shape": "DescribeInstanceAttributeResult"
      }
    },
    "DescribeInstanceHealth": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstanceHealthRequest"
      },
      "name": "DescribeInstanceHealth",
      "output": {
        "shape": "DescribeInstanceHealthResult"
      }
    },
    "DescribeInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeInstancesRequest"
      },
      "name": "DescribeInstances",
      "output": {
        "shape": "DescribeInstancesResult"
      }
    },
    "DescribeKeyPairs": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeKeyPairsRequest"
      },
      "name": "DescribeKeyPairs",
      "output": {
        "shape": "DescribeKeyPairsResult"
      }
    },
    "DescribeLoadBalancers": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeLoadBalancersRequest"
      },
      "name": "DescribeLoadBalancers",
      "output": {
        "shape": "DescribeLoadBalancersResult"
      }
    },
    "DescribeNetworkInterfaces": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeNetworkInterfacesRequest"
      },
      "name": "DescribeNetworkInterfaces",
      "output": {
        "shape": "DescribeNetworkInterfacesResult"
      }
    },
    "DescribeRegions": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeRegionsRequest"
      },
      "name": "DescribeRegions",
      "output": {
        "shape": "DescribeRegionsResult"
      }
    },
    "DescribeResources": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeResourcesRequest"
      },
      "name": "DescribeResources",
      "output": {
        "shape": "DescribeResourcesResult"
      }
    },
    "DescribeRouteTables": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeRouteTablesRequest"
      },
      "name": "DescribeRouteTables",
      "output": {
        "shape": "DescribeRouteTablesResult"
      }
    },
    "DescribeSecurityActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSecurityActivitiesRequest"
      },
      "name": "DescribeSecurityActivities",
      "output": {
        "shape": "DescribeSecurityActivitiesResult"
      }
    },
    "DescribeSecurityGroupOption": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSecurityGroupOptionRequest"
      },
      "name": "DescribeSecurityGroupOption",
      "output": {
        "shape": "DescribeSecurityGroupOptionResult"
      }
    },
    "DescribeSecurityGroups": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSecurityGroupsRequest"
      },
      "name": "DescribeSecurityGroups",
      "output": {
        "shape": "DescribeSecurityGroupsResult"
      }
    },
    "DescribeServiceStatus": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeServiceStatusRequest"
      },
      "name": "DescribeServiceStatus",
      "output": {
        "shape": "DescribeServiceStatusResult"
      }
    },
    "DescribeSslCertificateAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSslCertificateAttributeRequest"
      },
      "name": "DescribeSslCertificateAttribute",
      "output": {
        "shape": "DescribeSslCertificateAttributeResult"
      }
    },
    "DescribeSslCertificates": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeSslCertificatesRequest"
      },
      "name": "DescribeSslCertificates",
      "output": {
        "shape": "DescribeSslCertificatesResult"
      }
    },
    "DescribeUploads": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeUploadsRequest"
      },
      "name": "DescribeUploads",
      "output": {
        "shape": "DescribeUploadsResult"
      }
    },
    "DescribeUsage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeUsageRequest"
      },
      "name": "DescribeUsage",
      "output": {
        "shape": "DescribeUsageResult"
      }
    },
    "DescribeUserActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeUserActivitiesRequest"
      },
      "name": "DescribeUserActivities",
      "output": {
        "shape": "DescribeUserActivitiesResult"
      }
    },
    "DescribeVolumes": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeVolumesRequest"
      },
      "name": "DescribeVolumes",
      "output": {
        "shape": "DescribeVolumesResult"
      }
    },
    "DescribeVpnConnections": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeVpnConnectionsRequest"
      },
      "name": "DescribeVpnConnections",
      "output": {
        "shape": "DescribeVpnConnectionsResult"
      }
    },
    "DescribeVpnGateways": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DescribeVpnGatewaysRequest"
      },
      "name": "DescribeVpnGateways",
      "output": {
        "shape": "DescribeVpnGatewaysResult"
      }
    },
    "DetachNetworkInterface": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DetachNetworkInterfaceRequest"
      },
      "name": "DetachNetworkInterface",
      "output": {
        "shape": "DetachNetworkInterfaceResult"
      }
    },
    "DetachVolume": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DetachVolumeRequest"
      },
      "name": "DetachVolume",
      "output": {
        "shape": "DetachVolumeResult"
      }
    },
    "DisassociateAddress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DisassociateAddressRequest"
      },
      "name": "DisassociateAddress",
      "output": {
        "shape": "DisassociateAddressResult"
      }
    },
    "DisassociateRouteTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DisassociateRouteTableRequest"
      },
      "name": "DisassociateRouteTable",
      "output": {
        "shape": "DisassociateRouteTableResult"
      }
    },
    "DissociateUsers": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DissociateUsersRequest"
      },
      "name": "DissociateUsers",
      "output": {
        "shape": "DissociateUsersResult"
      }
    },
    "DownloadSslCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "DownloadSslCertificateRequest"
      },
      "name": "DownloadSslCertificate",
      "output": {
        "shape": "DownloadSslCertificateResult"
      }
    },
    "ImportInstance": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ImportInstanceRequest"
      },
      "name": "ImportInstance",
      "output": {
        "shape": "ImportInstanceResult"
      }
    },
    "ImportKeyPair": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ImportKeyPairRequest"
      },
      "name": "ImportKeyPair",
      "output": {
        "shape": "ImportKeyPairResult"
      }
    },
    "ModifyImageAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyImageAttributeRequest"
      },
      "name": "ModifyImageAttribute",
      "output": {
        "shape": "ModifyImageAttributeResult"
      }
    },
    "ModifyInstanceAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyInstanceAttributeRequest"
      },
      "name": "ModifyInstanceAttribute",
      "output": {
        "shape": "ModifyInstanceAttributeResult"
      }
    },
    "ModifyNetworkInterfaceAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyNetworkInterfaceAttributeRequest"
      },
      "name": "ModifyNetworkInterfaceAttribute",
      "output": {
        "shape": "ModifyNetworkInterfaceAttributeResult"
      }
    },
    "ModifySslCertificateAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifySslCertificateAttributeRequest"
      },
      "name": "ModifySslCertificateAttribute",
      "output": {
        "shape": "ModifySslCertificateAttributeResult"
      }
    },
    "ModifyVolumeAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ModifyVolumeAttributeRequest"
      },
      "name": "ModifyVolumeAttribute",
      "output": {
        "shape": "ModifyVolumeAttributeResult"
      }
    },
    "NiftyAssociateImage": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateImageRequest"
      },
      "name": "NiftyAssociateImage",
      "output": {
        "shape": "NiftyAssociateImageResult"
      }
    },
    "NiftyAssociateNatTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateNatTableRequest"
      },
      "name": "NiftyAssociateNatTable",
      "output": {
        "shape": "NiftyAssociateNatTableResult"
      }
    },
    "NiftyAssociateRouteTableWithVpnGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyAssociateRouteTableWithVpnGatewayRequest"
      },
      "name": "NiftyAssociateRouteTableWithVpnGateway",
      "output": {
        "shape": "NiftyAssociateRouteTableWithVpnGatewayResult"
      }
    },
    "NiftyConfigureElasticLoadBalancerHealthCheck": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyConfigureElasticLoadBalancerHealthCheckRequest"
      },
      "name": "NiftyConfigureElasticLoadBalancerHealthCheck",
      "output": {
        "shape": "NiftyConfigureElasticLoadBalancerHealthCheckResult"
      }
    },
    "NiftyCreateAlarm": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateAlarmRequest"
      },
      "name": "NiftyCreateAlarm",
      "output": {
        "shape": "NiftyCreateAlarmResult"
      }
    },
    "NiftyCreateAutoScalingGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateAutoScalingGroupRequest"
      },
      "name": "NiftyCreateAutoScalingGroup",
      "output": {
        "shape": "NiftyCreateAutoScalingGroupResult"
      }
    },
    "NiftyCreateDhcpConfig": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateDhcpConfigRequest"
      },
      "name": "NiftyCreateDhcpConfig",
      "output": {
        "shape": "NiftyCreateDhcpConfigResult"
      }
    },
    "NiftyCreateDhcpIpAddressPool": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateDhcpIpAddressPoolRequest"
      },
      "name": "NiftyCreateDhcpIpAddressPool",
      "output": {
        "shape": "NiftyCreateDhcpIpAddressPoolResult"
      }
    },
    "NiftyCreateDhcpStaticMapping": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateDhcpStaticMappingRequest"
      },
      "name": "NiftyCreateDhcpStaticMapping",
      "output": {
        "shape": "NiftyCreateDhcpStaticMappingResult"
      }
    },
    "NiftyCreateElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateElasticLoadBalancerRequest"
      },
      "name": "NiftyCreateElasticLoadBalancer",
      "output": {
        "shape": "NiftyCreateElasticLoadBalancerResult"
      }
    },
    "NiftyCreateInstanceSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateInstanceSnapshotRequest"
      },
      "name": "NiftyCreateInstanceSnapshot",
      "output": {
        "shape": "NiftyCreateInstanceSnapshotResult"
      }
    },
    "NiftyCreateNatRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateNatRuleRequest"
      },
      "name": "NiftyCreateNatRule",
      "output": {
        "shape": "NiftyCreateNatRuleResult"
      }
    },
    "NiftyCreateNatTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateNatTableRequest"
      },
      "name": "NiftyCreateNatTable",
      "output": {
        "shape": "NiftyCreateNatTableResult"
      }
    },
    "NiftyCreatePrivateLan": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreatePrivateLanRequest"
      },
      "name": "NiftyCreatePrivateLan",
      "output": {
        "shape": "NiftyCreatePrivateLanResult"
      }
    },
    "NiftyCreateRouter": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateRouterRequest"
      },
      "name": "NiftyCreateRouter",
      "output": {
        "shape": "NiftyCreateRouterResult"
      }
    },
    "NiftyCreateSeparateInstanceRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateSeparateInstanceRuleRequest"
      },
      "name": "NiftyCreateSeparateInstanceRule",
      "output": {
        "shape": "NiftyCreateSeparateInstanceRuleResult"
      }
    },
    "NiftyCreateWebProxy": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyCreateWebProxyRequest"
      },
      "name": "NiftyCreateWebProxy",
      "output": {
        "shape": "NiftyCreateWebProxyResult"
      }
    },
    "NiftyDeleteAlarm": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteAlarmRequest"
      },
      "name": "NiftyDeleteAlarm",
      "output": {
        "shape": "NiftyDeleteAlarmResult"
      }
    },
    "NiftyDeleteAutoScalingGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteAutoScalingGroupRequest"
      },
      "name": "NiftyDeleteAutoScalingGroup",
      "output": {
        "shape": "NiftyDeleteAutoScalingGroupResult"
      }
    },
    "NiftyDeleteDhcpConfig": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpConfigRequest"
      },
      "name": "NiftyDeleteDhcpConfig",
      "output": {
        "shape": "NiftyDeleteDhcpConfigResult"
      }
    },
    "NiftyDeleteDhcpIpAddressPool": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpIpAddressPoolRequest"
      },
      "name": "NiftyDeleteDhcpIpAddressPool",
      "output": {
        "shape": "NiftyDeleteDhcpIpAddressPoolResult"
      }
    },
    "NiftyDeleteDhcpStaticMapping": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteDhcpStaticMappingRequest"
      },
      "name": "NiftyDeleteDhcpStaticMapping",
      "output": {
        "shape": "NiftyDeleteDhcpStaticMappingResult"
      }
    },
    "NiftyDeleteElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteElasticLoadBalancerRequest"
      },
      "name": "NiftyDeleteElasticLoadBalancer",
      "output": {
        "shape": "NiftyDeleteElasticLoadBalancerResult"
      }
    },
    "NiftyDeleteInstanceSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteInstanceSnapshotRequest"
      },
      "name": "NiftyDeleteInstanceSnapshot",
      "output": {
        "shape": "NiftyDeleteInstanceSnapshotResult"
      }
    },
    "NiftyDeleteNatRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteNatRuleRequest"
      },
      "name": "NiftyDeleteNatRule",
      "output": {
        "shape": "NiftyDeleteNatRuleResult"
      }
    },
    "NiftyDeleteNatTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteNatTableRequest"
      },
      "name": "NiftyDeleteNatTable",
      "output": {
        "shape": "NiftyDeleteNatTableResult"
      }
    },
    "NiftyDeletePrivateLan": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeletePrivateLanRequest"
      },
      "name": "NiftyDeletePrivateLan",
      "output": {
        "shape": "NiftyDeletePrivateLanResult"
      }
    },
    "NiftyDeleteRouter": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteRouterRequest"
      },
      "name": "NiftyDeleteRouter",
      "output": {
        "shape": "NiftyDeleteRouterResult"
      }
    },
    "NiftyDeleteSeparateInstanceRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteSeparateInstanceRuleRequest"
      },
      "name": "NiftyDeleteSeparateInstanceRule",
      "output": {
        "shape": "NiftyDeleteSeparateInstanceRuleResult"
      }
    },
    "NiftyDeleteWebProxy": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeleteWebProxyRequest"
      },
      "name": "NiftyDeleteWebProxy",
      "output": {
        "shape": "NiftyDeleteWebProxyResult"
      }
    },
    "NiftyDeregisterInstancesFromElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterInstancesFromElasticLoadBalancerRequest"
      },
      "name": "NiftyDeregisterInstancesFromElasticLoadBalancer",
      "output": {
        "shape": "NiftyDeregisterInstancesFromElasticLoadBalancerResult"
      }
    },
    "NiftyDeregisterInstancesFromSeparateInstanceRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterInstancesFromSeparateInstanceRuleRequest"
      },
      "name": "NiftyDeregisterInstancesFromSeparateInstanceRule",
      "output": {
        "shape": "NiftyDeregisterInstancesFromSeparateInstanceRuleResult"
      }
    },
    "NiftyDeregisterRoutersFromSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterRoutersFromSecurityGroupRequest"
      },
      "name": "NiftyDeregisterRoutersFromSecurityGroup",
      "output": {
        "shape": "NiftyDeregisterRoutersFromSecurityGroupResult"
      }
    },
    "NiftyDeregisterVpnGatewaysFromSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDeregisterVpnGatewaysFromSecurityGroupRequest"
      },
      "name": "NiftyDeregisterVpnGatewaysFromSecurityGroup",
      "output": {
        "shape": "NiftyDeregisterVpnGatewaysFromSecurityGroupResult"
      }
    },
    "NiftyDescribeAlarmHistory": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmHistoryRequest"
      },
      "name": "NiftyDescribeAlarmHistory",
      "output": {
        "shape": "NiftyDescribeAlarmHistoryResult"
      }
    },
    "NiftyDescribeAlarmRulesActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmRulesActivitiesRequest"
      },
      "name": "NiftyDescribeAlarmRulesActivities",
      "output": {
        "shape": "NiftyDescribeAlarmRulesActivitiesResult"
      }
    },
    "NiftyDescribeAlarms": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsRequest"
      },
      "name": "NiftyDescribeAlarms",
      "output": {
        "shape": "NiftyDescribeAlarmsResult"
      }
    },
    "NiftyDescribeAlarmsPartitions": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAlarmsPartitionsRequest"
      },
      "name": "NiftyDescribeAlarmsPartitions",
      "output": {
        "shape": "NiftyDescribeAlarmsPartitionsResult"
      }
    },
    "NiftyDescribeAutoScalingGroups": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeAutoScalingGroupsRequest"
      },
      "name": "NiftyDescribeAutoScalingGroups",
      "output": {
        "shape": "NiftyDescribeAutoScalingGroupsResult"
      }
    },
    "NiftyDescribeCorporateInfoForCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeCorporateInfoForCertificateRequest"
      },
      "name": "NiftyDescribeCorporateInfoForCertificate",
      "output": {
        "shape": "NiftyDescribeCorporateInfoForCertificateResult"
      }
    },
    "NiftyDescribeDhcpConfigs": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpConfigsRequest"
      },
      "name": "NiftyDescribeDhcpConfigs",
      "output": {
        "shape": "NiftyDescribeDhcpConfigsResult"
      }
    },
    "NiftyDescribeDhcpStatus": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeDhcpStatusRequest"
      },
      "name": "NiftyDescribeDhcpStatus",
      "output": {
        "shape": "NiftyDescribeDhcpStatusResult"
      }
    },
    "NiftyDescribeElasticLoadBalancers": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeElasticLoadBalancersRequest"
      },
      "name": "NiftyDescribeElasticLoadBalancers",
      "output": {
        "shape": "NiftyDescribeElasticLoadBalancersResult"
      }
    },
    "NiftyDescribeInstanceElasticLoadBalancerHealth": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeInstanceElasticLoadBalancerHealthRequest"
      },
      "name": "NiftyDescribeInstanceElasticLoadBalancerHealth",
      "output": {
        "shape": "NiftyDescribeInstanceElasticLoadBalancerHealthResult"
      }
    },
    "NiftyDescribeInstanceSnapshots": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeInstanceSnapshotsRequest"
      },
      "name": "NiftyDescribeInstanceSnapshots",
      "output": {
        "shape": "NiftyDescribeInstanceSnapshotsResult"
      }
    },
    "NiftyDescribeNatTables": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeNatTablesRequest"
      },
      "name": "NiftyDescribeNatTables",
      "output": {
        "shape": "NiftyDescribeNatTablesResult"
      }
    },
    "NiftyDescribePerformanceChart": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribePerformanceChartRequest"
      },
      "name": "NiftyDescribePerformanceChart",
      "output": {
        "shape": "NiftyDescribePerformanceChartResult"
      }
    },
    "NiftyDescribePrivateLans": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribePrivateLansRequest"
      },
      "name": "NiftyDescribePrivateLans",
      "output": {
        "shape": "NiftyDescribePrivateLansResult"
      }
    },
    "NiftyDescribeRouters": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeRoutersRequest"
      },
      "name": "NiftyDescribeRouters",
      "output": {
        "shape": "NiftyDescribeRoutersResult"
      }
    },
    "NiftyDescribeScalingActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeScalingActivitiesRequest"
      },
      "name": "NiftyDescribeScalingActivities",
      "output": {
        "shape": "NiftyDescribeScalingActivitiesResult"
      }
    },
    "NiftyDescribeSeparateInstanceRules": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeSeparateInstanceRulesRequest"
      },
      "name": "NiftyDescribeSeparateInstanceRules",
      "output": {
        "shape": "NiftyDescribeSeparateInstanceRulesResult"
      }
    },
    "NiftyDescribeVpnGatewayActivities": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeVpnGatewayActivitiesRequest"
      },
      "name": "NiftyDescribeVpnGatewayActivities",
      "output": {
        "shape": "NiftyDescribeVpnGatewayActivitiesResult"
      }
    },
    "NiftyDescribeWebProxies": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDescribeWebProxiesRequest"
      },
      "name": "NiftyDescribeWebProxies",
      "output": {
        "shape": "NiftyDescribeWebProxiesResult"
      }
    },
    "NiftyDisableDhcp": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisableDhcpRequest"
      },
      "name": "NiftyDisableDhcp",
      "output": {
        "shape": "NiftyDisableDhcpResult"
      }
    },
    "NiftyDisassociateNatTable": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisassociateNatTableRequest"
      },
      "name": "NiftyDisassociateNatTable",
      "output": {
        "shape": "NiftyDisassociateNatTableResult"
      }
    },
    "NiftyDisassociateRouteTableFromVpnGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyDisassociateRouteTableFromVpnGatewayRequest"
      },
      "name": "NiftyDisassociateRouteTableFromVpnGateway",
      "output": {
        "shape": "NiftyDisassociateRouteTableFromVpnGatewayResult"
      }
    },
    "NiftyEnableDhcp": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyEnableDhcpRequest"
      },
      "name": "NiftyEnableDhcp",
      "output": {
        "shape": "NiftyEnableDhcpResult"
      }
    },
    "NiftyModifyAddressAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyAddressAttributeRequest"
      },
      "name": "NiftyModifyAddressAttribute",
      "output": {
        "shape": "NiftyModifyAddressAttributeResult"
      }
    },
    "NiftyModifyCustomerGatewayAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyCustomerGatewayAttributeRequest"
      },
      "name": "NiftyModifyCustomerGatewayAttribute",
      "output": {
        "shape": "NiftyModifyCustomerGatewayAttributeResult"
      }
    },
    "NiftyModifyElasticLoadBalancerAttributes": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyElasticLoadBalancerAttributesRequest"
      },
      "name": "NiftyModifyElasticLoadBalancerAttributes",
      "output": {
        "shape": "NiftyModifyElasticLoadBalancerAttributesResult"
      }
    },
    "NiftyModifyInstanceSnapshotAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyInstanceSnapshotAttributeRequest"
      },
      "name": "NiftyModifyInstanceSnapshotAttribute",
      "output": {
        "shape": "NiftyModifyInstanceSnapshotAttributeResult"
      }
    },
    "NiftyModifyKeyPairAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyKeyPairAttributeRequest"
      },
      "name": "NiftyModifyKeyPairAttribute",
      "output": {
        "shape": "NiftyModifyKeyPairAttributeResult"
      }
    },
    "NiftyModifyPrivateLanAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyPrivateLanAttributeRequest"
      },
      "name": "NiftyModifyPrivateLanAttribute",
      "output": {
        "shape": "NiftyModifyPrivateLanAttributeResult"
      }
    },
    "NiftyModifyRouterAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyRouterAttributeRequest"
      },
      "name": "NiftyModifyRouterAttribute",
      "output": {
        "shape": "NiftyModifyRouterAttributeResult"
      }
    },
    "NiftyModifyVpnGatewayAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyVpnGatewayAttributeRequest"
      },
      "name": "NiftyModifyVpnGatewayAttribute",
      "output": {
        "shape": "NiftyModifyVpnGatewayAttributeResult"
      }
    },
    "NiftyModifyWebProxyAttribute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyModifyWebProxyAttributeRequest"
      },
      "name": "NiftyModifyWebProxyAttribute",
      "output": {
        "shape": "NiftyModifyWebProxyAttributeResult"
      }
    },
    "NiftyRebootRouters": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRebootRoutersRequest"
      },
      "name": "NiftyRebootRouters",
      "output": {
        "shape": "NiftyRebootRoutersResult"
      }
    },
    "NiftyRebootVpnGateways": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRebootVpnGatewaysRequest"
      },
      "name": "NiftyRebootVpnGateways",
      "output": {
        "shape": "NiftyRebootVpnGatewaysResult"
      }
    },
    "NiftyRegisterInstancesWithElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterInstancesWithElasticLoadBalancerRequest"
      },
      "name": "NiftyRegisterInstancesWithElasticLoadBalancer",
      "output": {
        "shape": "NiftyRegisterInstancesWithElasticLoadBalancerResult"
      }
    },
    "NiftyRegisterInstancesWithSeparateInstanceRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterInstancesWithSeparateInstanceRuleRequest"
      },
      "name": "NiftyRegisterInstancesWithSeparateInstanceRule",
      "output": {
        "shape": "NiftyRegisterInstancesWithSeparateInstanceRuleResult"
      }
    },
    "NiftyRegisterPortWithElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterPortWithElasticLoadBalancerRequest"
      },
      "name": "NiftyRegisterPortWithElasticLoadBalancer",
      "output": {
        "shape": "NiftyRegisterPortWithElasticLoadBalancerResult"
      }
    },
    "NiftyRegisterRoutersWithSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterRoutersWithSecurityGroupRequest"
      },
      "name": "NiftyRegisterRoutersWithSecurityGroup",
      "output": {
        "shape": "NiftyRegisterRoutersWithSecurityGroupResult"
      }
    },
    "NiftyRegisterVpnGatewaysWithSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRegisterVpnGatewaysWithSecurityGroupRequest"
      },
      "name": "NiftyRegisterVpnGatewaysWithSecurityGroup",
      "output": {
        "shape": "NiftyRegisterVpnGatewaysWithSecurityGroupResult"
      }
    },
    "NiftyReleaseRouterBackupState": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReleaseRouterBackupStateRequest"
      },
      "name": "NiftyReleaseRouterBackupState",
      "output": {
        "shape": "NiftyReleaseRouterBackupStateResult"
      }
    },
    "NiftyReleaseVpnGatewayBackupState": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReleaseVpnGatewayBackupStateRequest"
      },
      "name": "NiftyReleaseVpnGatewayBackupState",
      "output": {
        "shape": "NiftyReleaseVpnGatewayBackupStateResult"
      }
    },
    "NiftyReplaceDhcpConfig": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceDhcpConfigRequest"
      },
      "name": "NiftyReplaceDhcpConfig",
      "output": {
        "shape": "NiftyReplaceDhcpConfigResult"
      }
    },
    "NiftyReplaceDhcpOption": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceDhcpOptionRequest"
      },
      "name": "NiftyReplaceDhcpOption",
      "output": {
        "shape": "NiftyReplaceDhcpOptionResult"
      }
    },
    "NiftyReplaceElasticLoadBalancerLatestVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceElasticLoadBalancerLatestVersionRequest"
      },
      "name": "NiftyReplaceElasticLoadBalancerLatestVersion",
      "output": {
        "shape": "NiftyReplaceElasticLoadBalancerLatestVersionResult"
      }
    },
    "NiftyReplaceNatRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceNatRuleRequest"
      },
      "name": "NiftyReplaceNatRule",
      "output": {
        "shape": "NiftyReplaceNatRuleResult"
      }
    },
    "NiftyReplaceNatTableAssociation": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceNatTableAssociationRequest"
      },
      "name": "NiftyReplaceNatTableAssociation",
      "output": {
        "shape": "NiftyReplaceNatTableAssociationResult"
      }
    },
    "NiftyReplaceRouteTableAssociationWithVpnGateway": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceRouteTableAssociationWithVpnGatewayRequest"
      },
      "name": "NiftyReplaceRouteTableAssociationWithVpnGateway",
      "output": {
        "shape": "NiftyReplaceRouteTableAssociationWithVpnGatewayResult"
      }
    },
    "NiftyReplaceRouterLatestVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceRouterLatestVersionRequest"
      },
      "name": "NiftyReplaceRouterLatestVersion",
      "output": {
        "shape": "NiftyReplaceRouterLatestVersionResult"
      }
    },
    "NiftyReplaceVpnGatewayLatestVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyReplaceVpnGatewayLatestVersionRequest"
      },
      "name": "NiftyReplaceVpnGatewayLatestVersion",
      "output": {
        "shape": "NiftyReplaceVpnGatewayLatestVersionResult"
      }
    },
    "NiftyRestoreInstanceSnapshot": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRestoreInstanceSnapshotRequest"
      },
      "name": "NiftyRestoreInstanceSnapshot",
      "output": {
        "shape": "NiftyRestoreInstanceSnapshotResult"
      }
    },
    "NiftyRestoreRouterPreviousVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRestoreRouterPreviousVersionRequest"
      },
      "name": "NiftyRestoreRouterPreviousVersion",
      "output": {
        "shape": "NiftyRestoreRouterPreviousVersionResult"
      }
    },
    "NiftyRestoreVpnGatewayPreviousVersion": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRestoreVpnGatewayPreviousVersionRequest"
      },
      "name": "NiftyRestoreVpnGatewayPreviousVersion",
      "output": {
        "shape": "NiftyRestoreVpnGatewayPreviousVersionResult"
      }
    },
    "NiftyRetryImportInstance": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyRetryImportInstanceRequest"
      },
      "name": "NiftyRetryImportInstance",
      "output": {
        "shape": "NiftyRetryImportInstanceResult"
      }
    },
    "NiftyUpdateAlarm": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateAlarmRequest"
      },
      "name": "NiftyUpdateAlarm",
      "output": {
        "shape": "NiftyUpdateAlarmResult"
      }
    },
    "NiftyUpdateAutoScalingGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateAutoScalingGroupRequest"
      },
      "name": "NiftyUpdateAutoScalingGroup",
      "output": {
        "shape": "NiftyUpdateAutoScalingGroupResult"
      }
    },
    "NiftyUpdateElasticLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateElasticLoadBalancerRequest"
      },
      "name": "NiftyUpdateElasticLoadBalancer",
      "output": {
        "shape": "NiftyUpdateElasticLoadBalancerResult"
      }
    },
    "NiftyUpdateInstanceNetworkInterfaces": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateInstanceNetworkInterfacesRequest"
      },
      "name": "NiftyUpdateInstanceNetworkInterfaces",
      "output": {
        "shape": "NiftyUpdateInstanceNetworkInterfacesResult"
      }
    },
    "NiftyUpdateRouterNetworkInterfaces": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateRouterNetworkInterfacesRequest"
      },
      "name": "NiftyUpdateRouterNetworkInterfaces",
      "output": {
        "shape": "NiftyUpdateRouterNetworkInterfacesResult"
      }
    },
    "NiftyUpdateSeparateInstanceRule": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateSeparateInstanceRuleRequest"
      },
      "name": "NiftyUpdateSeparateInstanceRule",
      "output": {
        "shape": "NiftyUpdateSeparateInstanceRuleResult"
      }
    },
    "NiftyUpdateVpnGatewayNetworkInterfaces": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "NiftyUpdateVpnGatewayNetworkInterfacesRequest"
      },
      "name": "NiftyUpdateVpnGatewayNetworkInterfaces",
      "output": {
        "shape": "NiftyUpdateVpnGatewayNetworkInterfacesResult"
      }
    },
    "RebootInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RebootInstancesRequest"
      },
      "name": "RebootInstances",
      "output": {
        "shape": "RebootInstancesResult"
      }
    },
    "RegisterCorporateInfoForCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RegisterCorporateInfoForCertificateRequest"
      },
      "name": "RegisterCorporateInfoForCertificate",
      "output": {
        "shape": "RegisterCorporateInfoForCertificateResult"
      }
    },
    "RegisterInstancesWithLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RegisterInstancesWithLoadBalancerRequest"
      },
      "name": "RegisterInstancesWithLoadBalancer",
      "output": {
        "shape": "RegisterInstancesWithLoadBalancerResult"
      }
    },
    "RegisterInstancesWithSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RegisterInstancesWithSecurityGroupRequest"
      },
      "name": "RegisterInstancesWithSecurityGroup",
      "output": {
        "shape": "RegisterInstancesWithSecurityGroupResult"
      }
    },
    "RegisterPortWithLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RegisterPortWithLoadBalancerRequest"
      },
      "name": "RegisterPortWithLoadBalancer",
      "output": {
        "shape": "RegisterPortWithLoadBalancerResult"
      }
    },
    "ReleaseAddress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ReleaseAddressRequest"
      },
      "name": "ReleaseAddress",
      "output": {
        "shape": "ReleaseAddressResult"
      }
    },
    "ReplaceRoute": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ReplaceRouteRequest"
      },
      "name": "ReplaceRoute",
      "output": {
        "shape": "ReplaceRouteResult"
      }
    },
    "ReplaceRouteTableAssociation": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "ReplaceRouteTableAssociationRequest"
      },
      "name": "ReplaceRouteTableAssociation",
      "output": {
        "shape": "ReplaceRouteTableAssociationResult"
      }
    },
    "RevokeSecurityGroupIngress": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RevokeSecurityGroupIngressRequest"
      },
      "name": "RevokeSecurityGroupIngress",
      "output": {
        "shape": "RevokeSecurityGroupIngressResult"
      }
    },
    "RunInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "RunInstancesRequest"
      },
      "name": "RunInstances",
      "output": {
        "shape": "RunInstancesResult"
      }
    },
    "SetFilterForLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "SetFilterForLoadBalancerRequest"
      },
      "name": "SetFilterForLoadBalancer",
      "output": {
        "shape": "SetFilterForLoadBalancerResult"
      }
    },
    "StartInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "StartInstancesRequest"
      },
      "name": "StartInstances",
      "output": {
        "shape": "StartInstancesResult"
      }
    },
    "StopInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "StopInstancesRequest"
      },
      "name": "StopInstances",
      "output": {
        "shape": "StopInstancesResult"
      }
    },
    "TerminateInstances": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "TerminateInstancesRequest"
      },
      "name": "TerminateInstances",
      "output": {
        "shape": "TerminateInstancesResult"
      }
    },
    "UpdateLoadBalancer": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UpdateLoadBalancerRequest"
      },
      "name": "UpdateLoadBalancer",
      "output": {
        "shape": "UpdateLoadBalancerResult"
      }
    },
    "UpdateLoadBalancerOption": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UpdateLoadBalancerOptionRequest"
      },
      "name": "UpdateLoadBalancerOption",
      "output": {
        "shape": "UpdateLoadBalancerOptionResult"
      }
    },
    "UpdateSecurityGroup": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UpdateSecurityGroupRequest"
      },
      "name": "UpdateSecurityGroup",
      "output": {
        "shape": "UpdateSecurityGroupResult"
      }
    },
    "UpdateSecurityGroupOption": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UpdateSecurityGroupOptionRequest"
      },
      "name": "UpdateSecurityGroupOption",
      "output": {
        "shape": "UpdateSecurityGroupOptionResult"
      }
    },
    "UploadSslCertificate": {
      "http": {
        "method": "POST",
        "requestUri": "/api/"
      },
      "input": {
        "shape": "UploadSslCertificateRequest"
      },
      "name": "UploadSslCertificate",
      "output": {
        "shape": "UploadSslCertificateResult"
      }
    }
  },
  "shapes": {
    "AccountingType": {
      "members": {
        "Value": {
          "locationName": "value",
          "shape": "String"
        }
      },
      "name": "AccountingType",
      "type": "structure"
    },
    "AddressesSet": {
      "member": {
        "locationName": "item",
        "shape": "AddressesSetItem"
      },
      "name": "AddressesSet",
      "type": "list"
    },
    "AddressesSetItem": {
      "members": {
        "AllocationId": {
          "locationName": "allocationId",
          "shape": "String"
        },
        "AssociationId": {
          "locationName": "associationId",
          "shape": "String"
        },
        "AvailabilityZone": {
          "locationName": "availabilityZone",
          "shape": "String"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "Domain": {
          "locationName": "domain",
          "shape": "String"
        },
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceUniqueId": {
          "locationName": "instanceUniqueId",
          "shape": "String"
        },
        "NetworkInterfaceId": {
          "locationName": "networkInterfaceId",
          "shape": "String"
        },
        "NetworkInterfaceOwnerId": {
          "locationName": "networkInterfaceOwnerId",
          "shape": "String"
        },
        "PrivateIpAddress": {
          "locationName": "privateIpAddress",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "publicIp",
          "shape": "String"
        }
      },
      "name": "AddressesSetItem",
      "type": "structure"
    },
    "AlarmDateHistorySet": {
      "member": {
        "locationName": "item",
        "shape": "AlarmDateHistorySetItem"
      },
      "name": "AlarmDateHistorySet",
      "type": "list"
    },
    "AlarmDateHistorySetItem": {
      "members": {
        "AlarmEventHistorySet": {
          "locationName": "alarmEventHistorySet",
          "shape": "AlarmEventHistorySet"
        },
        "Date": {
          "locationName": "date",
          "shape": "String"
        }
      },
      "name": "AlarmDateHistorySetItem",
      "type": "structure"
    },
    "AlarmEventHistorySet": {
      "member": {
        "locationName": "item",
        "shape": "AlarmEventHistorySetItem"
      },
      "name": "AlarmEventHistorySet",
      "type": "list"
    },
    "AlarmEventHistorySetItem": {
      "members": {
        "AlarmEvent": {
          "locationName": "alarmEvent",
          "shape": "String"
        },
        "AlarmEventDatetime": {
          "locationName": "alarmEventDatetime",
          "shape": "TStamp"
        }
      },
      "name": "AlarmEventHistorySetItem",
      "type": "structure"
    },
    "AlarmRulesActivitiesDateSet": {
      "member": {
        "locationName": "item",
        "shape": "AlarmRulesActivitiesDateSetItem"
      },
      "name": "AlarmRulesActivitiesDateSet",
      "type": "list"
    },
    "AlarmRulesActivitiesDateSetItem": {
      "members": {
        "AlarmRulesActivitiesEventSet": {
          "locationName": "alarmRulesActivitiesEventSet",
          "shape": "AlarmRulesActivitiesEventSet"
        },
        "Date": {
          "locationName": "date",
          "shape": "String"
        }
      },
      "name": "AlarmRulesActivitiesDateSetItem",
      "type": "structure"
    },
    "AlarmRulesActivitiesEventSet": {
      "member": {
        "locationName": "item",
        "shape": "AlarmRulesActivitiesEventSetItem"
      },
      "name": "AlarmRulesActivitiesEventSet",
      "type": "list"
    },
    "AlarmRulesActivitiesEventSetItem": {
      "members": {
        "AlarmRulesActivitiesEvent": {
          "locationName": "alarmRulesActivitiesEvent",
          "shape": "String"
        },
        "AlarmRulesActivitiesEventDatetime": {
          "locationName": "alarmRulesActivitiesEventDatetime",
          "shape": "TStamp"
        },
        "ResourceName": {
          "locationName": "resourceName",
          "shape": "String"
        },
        "Value": {
          "locationName": "value",
          "shape": "String"
        }
      },
      "name": "AlarmRulesActivitiesEventSetItem",
      "type": "structure"
    },
    "AlarmRulesActivitiesSet": {
      "member": {
        "locationName": "item",
        "shape": "AlarmRulesActivitiesSetItem"
      },
      "name": "AlarmRulesActivitiesSet",
      "type": "list"
    },
    "AlarmRulesActivitiesSetItem": {
      "members": {
        "AlarmRulesActivitiesDateSet": {
          "locationName": "alarmRulesActivitiesDateSet",
          "shape": "AlarmRulesActivitiesDateSet"
        },
        "DataType": {
          "locationName": "dataType",
          "shape": "String"
        }
      },
      "name": "AlarmRulesActivitiesSetItem",
      "type": "structure"
    },
    "AlarmTargetSet": {
      "member": {
        "locationName": "item",
        "shape": "AlarmTargetSetItem"
      },
      "name": "AlarmTargetSet",
      "type": "list"
    },
    "AlarmTargetSetItem": {
      "members": {
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "PartitionsSet": {
          "locationName": "partitionsSet",
          "shape": "PartitionsSet"
        }
      },
      "name": "AlarmTargetSetItem",
      "type": "structure"
    },
    "AlarmTargetsSet": {
      "member": {
        "locationName": "item",
        "shape": "AlarmTargetsSetItem"
      },
      "name": "AlarmTargetsSet",
      "type": "list"
    },
    "AlarmTargetsSetItem": {
      "members": {
        "ResourceName": {
          "locationName": "resourceName",
          "shape": "String"
        }
      },
      "name": "AlarmTargetsSetItem",
      "type": "structure"
    },
    "AllocateAddressRequest": {
      "members": {
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        },
        "NiftyPrivateIp": {
          "locationName": "NiftyPrivateIp",
          "shape": "Boolean"
        },
        "Placement": {
          "locationName": "Placement",
          "shape": "RequestPlacementStruct"
        }
      },
      "name": "AllocateAddressRequest",
      "type": "structure"
    },
    "AllocateAddressResult": {
      "members": {
        "AllocationId": {
          "locationName": "allocationId",
          "shape": "String"
        },
        "Domain": {
          "locationName": "domain",
          "shape": "String"
        },
        "Placement": {
          "locationName": "placement",
          "shape": "Placement"
        },
        "PrivateIpAddress": {
          "locationName": "privateIpAddress",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "publicIp",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        }
      },
      "name": "AllocateAddressResult",
      "type": "structure"
    },
    "AnalyzeResultSet": {
      "member": {
        "locationName": "item",
        "shape": "AnalyzeResultSetItem"
      },
      "name": "AnalyzeResultSet",
      "type": "list"
    },
    "AnalyzeResultSetItem": {
      "members": {
        "AnalyzeCode": {
          "locationName": "analyzeCode",
          "shape": "String"
        },
        "Line": {
          "locationName": "line",
          "shape": "String"
        }
      },
      "name": "AnalyzeResultSetItem",
      "type": "structure"
    },
    "AppCookieStickinessPoliciesMember": {
      "member": {
        "locationName": "member",
        "shape": "AppCookieStickinessPoliciesMemberItem"
      },
      "name": "AppCookieStickinessPoliciesMember",
      "type": "list"
    },
    "AppCookieStickinessPoliciesMemberItem": {
      "members": {
        "CookieName": {
          "locationName": "CookieName",
          "shape": "String"
        },
        "PolicyName": {
          "locationName": "PolicyName",
          "shape": "String"
        }
      },
      "name": "AppCookieStickinessPoliciesMemberItem",
      "type": "structure"
    },
    "AssociateAddressRequest": {
      "members": {
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        },
        "NiftyReboot": {
          "locationName": "NiftyReboot",
          "shape": "String"
        },
        "PrivateIpAddress": {
          "locationName": "PrivateIpAddress",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "PublicIp",
          "shape": "String"
        }
      },
      "name": "AssociateAddressRequest",
      "type": "structure"
    },
    "AssociateAddressResult": {
      "members": {
        "AssociationId": {
          "locationName": "associationId",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        },
        "Return": {
          "locationName": "return",
          "shape": "Boolean"
        }
      },
      "name": "AssociateAddressResult",
      "type": "structure"
    },
    "AssociateRouteTableRequest": {
      "members": {
        "Agreement": {
          "locationName": "Agreement",
          "shape": "Boolean"
        },
        "RouteTableId": {
          "locationName": "RouteTableId",
          "shape": "String"
        },
        "RouterId": {
          "locationName": "RouterId",
          "shape": "String"
        },
        "RouterName": {
          "locationName": "RouterName",
          "shape": "String"
        }
      },
      "name": "AssociateRouteTableRequest",
      "type": "structure"
    },
    "AssociateRouteTableResult": {
      "members": {
        "AssociationId": {
          "locationName": "associationId",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        }
      },
      "name": "AssociateRouteTableResult",
      "type": "structure"
    },
    "AssociateUsersRequest": {
      "members": {
        "FunctionName": {
          "locationName": "FunctionName",
          "shape": "String"
        },
        "Users": {
          "locationName": "Users",
          "shape": "RequestUsers"
        }
      },
      "name": "AssociateUsersRequest",
      "type": "structure"
    },
    "AssociateUsersResult": {
      "members": {
        "AssociateUsersResult": {
          "locationName": "AssociateUsersResult",
          "shape": "AssociateUsersResult"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        },
        "Users": {
          "locationName": "Users",
          "shape": "UsersMember"
        }
      },
      "name": "AssociateUsersResult",
      "type": "structure"
    },
    "Association": {
      "members": {
        "AllocationId": {
          "locationName": "allocationId",
          "shape": "String"
        },
        "AssociationId": {
          "locationName": "associationId",
          "shape": "String"
        },
        "IpOwnerId": {
          "locationName": "ipOwnerId",
          "shape": "String"
        },
        "PublicDnsName": {
          "locationName": "publicDnsName",
          "shape": "String"
        },
        "PublicIp": {
          "locationName": "publicIp",
          "shape": "String"
        },
        "PublicIpV6": {
          "locationName": "publicIpV6",
          "shape": "String"
        }
      },
      "name": "Association",
      "type": "structure"
    },
    "AssociationSet": {
      "member": {
        "locationName": "item",
        "shape": "AssociationSetItem"
      },
      "name": "AssociationSet",
      "type": "list"
    },
    "AssociationSetItem": {
      "members": {
        "AssociationId": {
          "locationName": "associationId",
          "shape": "String"
        },
        "Main": {
          "locationName": "main",
          "shape": "Boolean"
        },
        "NatTableId": {
          "locationName": "natTableId",
          "shape": "String"
        },
        "RouteTableAssociationId": {
          "locationName": "routeTableAssociationId",
          "shape": "String"
        },
        "RouteTableId": {
          "locationName": "routeTableId",
          "shape": "String"
        },
        "RouterId": {
          "locationName": "routerId",
          "shape": "String"
        },
        "RouterName": {
          "locationName": "routerName",
          "shape": "String"
        },
        "SubnetId": {
          "locationName": "subnetId",
          "shape": "String"
        }
      },
      "name": "AssociationSetItem",
      "type": "structure"
    },
    "AttachNetworkInterfaceRequest": {
      "members": {
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        },
        "InstanceUniqueId": {
          "locationName": "InstanceUniqueId",
          "shape": "String"
        },
        "NetworkInterfaceId": {
          "locationName": "NetworkInterfaceId",
          "shape": "String"
        },
        "NiftyReboot": {
          "locationName": "NiftyReboot",
          "shape": "String"
        }
      },
      "name": "AttachNetworkInterfaceRequest",
      "type": "structure"
    },
    "AttachNetworkInterfaceResult": {
      "members": {
        "AttachmentId": {
          "locationName": "attachmentId",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        },
        "Return": {
          "locationName": "return",
          "shape": "Boolean"
        }
      },
      "name": "AttachNetworkInterfaceResult",
      "type": "structure"
    },
    "AttachVolumeRequest": {
      "members": {
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        },
        "VolumeId": {
          "locationName": "VolumeId",
          "shape": "String"
        }
      },
      "name": "AttachVolumeRequest",
      "type": "structure"
    },
    "AttachVolumeResult": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "Device": {
          "locationName": "device",
          "shape": "String"
        },
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceUniqueId": {
          "locationName": "instanceUniqueId",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        },
        "VolumeId": {
          "locationName": "volumeId",
          "shape": "String"
        }
      },
      "name": "AttachVolumeResult",
      "type": "structure"
    },
    "Attachment": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "AttachmentID": {
          "locationName": "attachmentID",
          "shape": "String"
        },
        "AttachmentId": {
          "locationName": "attachmentId",
          "shape": "String"
        },
        "DeleteOnTermination": {
          "locationName": "deleteOnTermination",
          "shape": "Boolean"
        },
        "DeviceIndex": {
          "locationName": "deviceIndex",
          "shape": "Integer"
        },
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceOwnerId": {
          "locationName": "instanceOwnerId",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        }
      },
      "name": "Attachment",
      "type": "structure"
    },
    "AttachmentSet": {
      "member": {
        "locationName": "item",
        "shape": "AttachmentSetItem"
      },
      "name": "AttachmentSet",
      "type": "list"
    },
    "AttachmentSetItem": {
      "members": {
        "AttachTime": {
          "locationName": "attachTime",
          "shape": "TStamp"
        },
        "DeleteOnTermination": {
          "locationName": "deleteOnTermination",
          "shape": "Boolean"
        },
        "Device": {
          "locationName": "device",
          "shape": "String"
        },
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceUniqueId": {
          "locationName": "instanceUniqueId",
          "shape": "String"
        },
        "Status": {
          "locationName": "status",
          "shape": "String"
        },
        "VolumeId": {
          "locationName": "volumeId",
          "shape": "String"
        }
      },
      "name": "AttachmentSetItem",
      "type": "structure"
    },
    "AttachmentsSet": {
      "member": {
        "locationName": "item",
        "shape": "AttachmentsSetItem"
      },
      "name": "AttachmentsSet",
      "type": "list"
    },
    "AttachmentsSetItem": {
      "members": {
        "State": {
          "locationName": "state",
          "shape": "String"
        },
        "VpcId": {
          "locationName": "vpcId",
          "shape": "String"
        }
      },
      "name": "AttachmentsSetItem",
      "type": "structure"
    },
    "AuthorizeSecurityGroupIngressRequest": {
      "members": {
        "GroupName": {
          "locationName": "GroupName",
          "shape": "String"
        },
        "IpPermissions": {
          "locationName": "IpPermissions",
          "shape": "RequestIpPermissions"
        }
      },
      "name": "AuthorizeSecurityGroupIngressRequest",
      "type": "structure"
    },
    "AuthorizeSecurityGroupIngressResult": {
      "members": {
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        },
        "Return": {
          "locationName": "return",
          "shape": "Boolean"
        }
      },
      "name": "AuthorizeSecurityGroupIngressResult",
      "type": "structure"
    },
    "AutoScaleCount": {
      "members": {
        "Charge": {
          "locationName": "charge",
          "shape": "Integer"
        },
        "Type": {
          "locationName": "type",
          "shape": "String"
        },
        "Unit": {
          "locationName": "unit",
          "shape": "String"
        },
        "Value": {
          "locationName": "value",
          "shape": "Integer"
        }
      },
      "name": "AutoScaleCount",
      "type": "structure"
    },
    "AutoScaleInfo": {
      "members": {
        "AutoScaleCount": {
          "locationName": "autoScaleCount",
          "shape": "AutoScaleCount"
        },
        "RunningScaleOutInstanceSet": {
          "locationName": "runningScaleOutInstanceSet",
          "shape": "RunningScaleOutInstanceSet"
        },
        "RunningScaleOutOsSet": {
          "locationName": "runningScaleOutOsSet",
          "shape": "RunningScaleOutOsSet"
        },
        "StoppedScaleOutInstanceSet": {
          "locationName": "stoppedScaleOutInstanceSet",
          "shape": "StoppedScaleOutInstanceSet"
        },
        "StoppedScaleOutOsSet": {
          "locationName": "stoppedScaleOutOsSet",
          "shape": "StoppedScaleOutOsSet"
        }
      },
      "name": "AutoScaleInfo",
      "type": "structure"
    },
    "AutoScalingReservationSet": {
      "member": {
        "locationName": "item",
        "shape": "AutoScalingReservationSetItem"
      },
      "name": "AutoScalingReservationSet",
      "type": "list"
    },
    "AutoScalingReservationSetItem": {
      "members": {
        "Alarm": {
          "locationName": "alarm",
          "shape": "String"
        },
        "AutoScalingGroupName": {
          "locationName": "autoScalingGroupName",
          "shape": "String"
        },
        "ChangeInCapacity": {
          "locationName": "changeInCapacity",
          "shape": "Integer"
        },
        "CreatedTime": {
          "locationName": "createdTime",
          "shape": "TStamp"
        },
        "DefaultCooldown": {
          "locationName": "defaultCooldown",
          "shape": "Integer"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "GroupSet": {
          "locationName": "groupSet",
          "shape": "GroupSet"
        },
        "ImageId": {
          "locationName": "imageId",
          "shape": "String"
        },
        "InstanceLifecycleLimit": {
          "locationName": "instanceLifecycleLimit",
          "shape": "Integer"
        },
        "InstanceType": {
          "locationName": "instanceType",
          "shape": "String"
        },
        "InstancesSet": {
          "locationName": "instancesSet",
          "shape": "InstancesSet"
        },
        "LoadBalancing": {
          "locationName": "loadBalancing",
          "shape": "LoadBalancingSet"
        },
        "MaxSize": {
          "locationName": "maxSize",
          "shape": "Integer"
        },
        "MinSize": {
          "locationName": "minSize",
          "shape": "Integer"
        },
        "Placement": {
          "locationName": "placement",
          "shape": "Placement"
        },
        "Scaleout": {
          "locationName": "scaleout",
          "shape": "Integer"
        },
        "ScaleoutCondition": {
          "locationName": "scaleoutCondition",
          "shape": "String"
        },
        "ScheduleSet": {
          "locationName": "scheduleSet",
          "shape": "ScheduleSet"
        },
        "TriggerSet": {
          "locationName": "triggerSet",
          "shape": "TriggerSet"
        }
      },
      "name": "AutoScalingReservationSetItem",
      "type": "structure"
    },
    "Autoscaling": {
      "members": {
        "AutoScalingGroupName": {
          "locationName": "autoScalingGroupName",
          "shape": "String"
        },
        "ExpireTime": {
          "locationName": "expireTime",
          "shape": "TStamp"
        }
      },
      "name": "Autoscaling",
      "type": "structure"
    },
    "AvailabilityZoneInfoSet": {
      "member": {
        "locationName": "item",
        "shape": "AvailabilityZoneInfoSetItem"
      },
      "name": "AvailabilityZoneInfoSet",
      "type": "list"
    },
    "AvailabilityZoneInfoSetItem": {
      "members": {
        "MessageSet": {
          "locationName": "messageSet",
          "shape": "MessageSet"
        },
        "RegionName": {
          "locationName": "regionName",
          "shape": "String"
        },
        "ZoneName": {
          "locationName": "zoneName",
          "shape": "String"
        },
        "ZoneState": {
          "locationName": "zoneState",
          "shape": "String"
        }
      },
      "name": "AvailabilityZoneInfoSetItem",
      "type": "structure"
    },
    "AvailabilityZonesMember": {
      "member": {
        "locationName": "member",
        "shape": "String"
      },
      "name": "AvailabilityZonesMember",
      "type": "list"
    },
    "BackupInformation": {
      "members": {
        "ExpirationDate": {
          "locationName": "expirationDate",
          "shape": "TStamp"
        },
        "IsBackup": {
          "locationName": "isBackup",
          "shape": "Boolean"
        }
      },
      "name": "BackupInformation",
      "type": "structure"
    },
    "BlockDeviceMappingSet": {
      "member": {
        "locationName": "item",
        "shape": "BlockDeviceMappingSetItem"
      },
      "name": "BlockDeviceMappingSet",
      "type": "list"
    },
    "BlockDeviceMappingSetItem": {
      "members": {
        "DeviceName": {
          "locationName": "deviceName",
          "shape": "String"
        },
        "Ebs": {
          "locationName": "ebs",
          "shape": "Ebs"
        },
        "NoDevice": {
          "locationName": "noDevice",
          "shape": "String"
        },
        "VirtualName": {
          "locationName": "virtualName",
          "shape": "String"
        }
      },
      "name": "BlockDeviceMappingSetItem",
      "type": "structure"
    },
    "Boolean": {
      "name": "Boolean",
      "type": "boolean"
    },
    "BypassInterface": {
      "members": {
        "NetworkId": {
          "locationName": "networkId",
          "shape": "String"
        },
        "NetworkName": {
          "locationName": "networkName",
          "shape": "String"
        }
      },
      "name": "BypassInterface",
      "type": "structure"
    },
    "CaState": {
      "members": {
        "Value": {
          "locationName": "value",
          "shape": "String"
        }
      },
      "name": "CaState",
      "type": "structure"
    },
    "CancelCopyInstancesRequest": {
      "members": {
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        }
      },
      "name": "CancelCopyInstancesRequest",
      "type": "structure"
    },
    "CancelCopyInstancesResult": {
      "members": {
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        }
      },
      "name": "CancelCopyInstancesResult",
      "type": "structure"
    },
    "CancelUploadRequest": {
      "members": {
        "ConversionTaskId": {
          "locationName": "ConversionTaskId",
          "shape": "String"
        }
      },
      "name": "CancelUploadRequest",
      "type": "structure"
    },
    "CancelUploadResult": {
      "members": {
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        },
        "Return": {
          "locationName": "return",
          "shape": "Boolean"
        }
      },
      "name": "CancelUploadResult",
      "type": "structure"
    },
    "CertAuthority": {
      "members": {
        "Value": {
          "locationName": "value",
          "shape": "String"
        }
      },
      "name": "CertAuthority",
      "type": "structure"
    },
    "CertInfo": {
      "members": {
        "CountryName": {
          "locationName": "countryName",
          "shape": "String"
        },
        "EmailAddress": {
          "locationName": "emailAddress",
          "shape": "String"
        },
        "LocationName": {
          "locationName": "locationName",
          "shape": "String"
        },
        "OrganizationName": {
          "locationName": "organizationName",
          "shape": "String"
        },
        "OrganizationUnitName": {
          "locationName": "organizationUnitName",
          "shape": "String"
        },
        "StateName": {
          "locationName": "stateName",
          "shape": "String"
        }
      },
      "name": "CertInfo",
      "type": "structure"
    },
    "CertState": {
      "members": {
        "Value": {
          "locationName": "value",
          "shape": "String"
        }
      },
      "name": "CertState",
      "type": "structure"
    },
    "CertsSet": {
      "member": {
        "locationName": "item",
        "shape": "CertsSetItem"
      },
      "name": "CertsSet",
      "type": "list"
    },
    "CertsSetItem": {
      "members": {
        "CaState": {
          "locationName": "caState",
          "shape": "Boolean"
        },
        "CertAuthority": {
          "locationName": "certAuthority",
          "shape": "String"
        },
        "CertInfo": {
          "locationName": "certInfo",
          "shape": "CertInfo"
        },
        "CertState": {
          "locationName": "certState",
          "shape": "String"
        },
        "Count": {
          "locationName": "count",
          "shape": "Integer"
        },
        "Description": {
          "locationName": "description",
          "shape": "String"
        },
        "Fqdn": {
          "locationName": "fqdn",
          "shape": "String"
        },
        "FqdnId": {
          "locationName": "fqdnId",
          "shape": "String"
        },
        "KeyLength": {
          "locationName": "keyLength",
          "shape": "Integer"
        },
        "Period": {
          "locationName": "period",
          "shape": "Period"
        },
        "UploadState": {
          "locationName": "uploadState",
          "shape": "Boolean"
        }
      },
      "name": "CertsSetItem",
      "type": "structure"
    },
    "ChargeDetail": {
      "members": {
        "Charge": {
          "locationName": "charge",
          "shape": "Integer"
        },
        "Type": {
          "locationName": "type",
          "shape": "String"
        },
        "Unit": {
          "locationName": "unit",
          "shape": "String"
        },
        "Value": {
          "locationName": "value",
          "shape": "Integer"
        }
      },
      "name": "ChargeDetail",
      "type": "structure"
    },
    "ChargeDetailInfo": {
      "members": {
        "ChargeDetail": {
          "locationName": "chargeDetail",
          "shape": "ChargeDetail"
        }
      },
      "name": "ChargeDetailInfo",
      "type": "structure"
    },
    "ClearLoadBalancerSessionRequest": {
      "members": {
        "InstancePort": {
          "locationName": "InstancePort",
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "locationName": "LoadBalancerName",
          "shape": "String"
        },
        "LoadBalancerPort": {
          "locationName": "LoadBalancerPort",
          "shape": "Integer"
        }
      },
      "name": "ClearLoadBalancerSessionRequest",
      "type": "structure"
    },
    "ClearLoadBalancerSessionResult": {
      "members": {
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "ClearLoadBalancerSessionResult",
      "type": "structure"
    },
    "ConfigureHealthCheckRequest": {
      "members": {
        "HealthCheck": {
          "locationName": "HealthCheck",
          "shape": "RequestHealthCheckStruct"
        },
        "InstancePort": {
          "locationName": "InstancePort",
          "shape": "Integer"
        },
        "LoadBalancerName": {
          "locationName": "LoadBalancerName",
          "shape": "String"
        },
        "LoadBalancerPort": {
          "locationName": "LoadBalancerPort",
          "shape": "Integer"
        }
      },
      "name": "ConfigureHealthCheckRequest",
      "type": "structure"
    },
    "ConfigureHealthCheckResult": {
      "members": {
        "ConfigureHealthCheckResult": {
          "locationName": "ConfigureHealthCheckResult",
          "shape": "ConfigureHealthCheckResult"
        },
        "HealthCheck": {
          "locationName": "HealthCheck",
          "shape": "HealthCheck"
        },
        "ResponseMetadata": {
          "locationName": "ResponseMetadata",
          "shape": "ResponseMetadata"
        }
      },
      "name": "ConfigureHealthCheckResult",
      "type": "structure"
    },
    "ConversionTask": {
      "members": {
        "ConversionTaskId": {
          "locationName": "conversionTaskId",
          "shape": "String"
        },
        "ExpirationTime": {
          "locationName": "expirationTime",
          "shape": "String"
        },
        "ImportInstance": {
          "locationName": "importInstance",
          "shape": "ImportInstance"
        },
        "NetworkInterfaceSet": {
          "locationName": "networkInterfaceSet",
          "shape": "NetworkInterfaceSet"
        },
        "State": {
          "locationName": "state",
          "shape": "String"
        },
        "StatusMessage": {
          "locationName": "statusMessage",
          "shape": "String"
        },
        "TagSet": {
          "locationName": "tagSet",
          "shape": "TagSet"
        }
      },
      "name": "ConversionTask",
      "type": "structure"
    },
    "CopyInfo": {
      "members": {
        "InstanceCopy": {
          "locationName": "instanceCopy",
          "shape": "InstanceCopy"
        },
        "Value": {
          "locationName": "value",
          "shape": "String"
        }
      },
      "name": "CopyInfo",
      "type": "structure"
    },
    "CopyInstanceSet": {
      "member": {
        "locationName": "item",
        "shape": "CopyInstanceSetItem"
      },
      "name": "CopyInstanceSet",
      "type": "list"
    },
    "CopyInstanceSetItem": {
      "members": {
        "InstanceId": {
          "locationName": "instanceId",
          "shape": "String"
        },
        "InstanceState": {
          "locationName": "instanceState",
          "shape": "String"
        },
        "InstanceUniqueId": {
          "locationName": "instanceUniqueId",
          "shape": "String"
        }
      },
      "name": "CopyInstanceSetItem",
      "type": "structure"
    },
    "CopyInstancesRequest": {
      "members": {
        "CopyCount": {
          "locationName": "CopyCount",
          "shape": "Integer"
        },
        "CopyInstance": {
          "locationName": "CopyInstance",
          "shape": "RequestCopyInstanceStruct"
        },
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        },
        "NetworkInterface": {
          "locationName": "NetworkInterface",
          "shape": "RequestNetworkInterface"
        }
      },
      "name": "CopyInstancesRequest",
      "type": "structure"
    },
    "CopyInstancesResult": {
      "members": {
        "CopyInstanceSet": {
          "locationName": "copyInstanceSet",
          "shape": "CopyInstanceSet"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        }
      },
      "name": "CopyInstancesResult",
      "type": "structure"
    },
    "Count": {
      "members": {
        "Value": {
          "locationName": "value",
          "shape": "String"
        }
      },
      "name": "Count",
      "type": "structure"
    },
    "CreateCustomerGatewayRequest": {
      "members": {
        "IpAddress": {
          "locationName": "IpAddress",
          "shape": "String"
        },
        "NiftyCustomerGatewayDescription": {
          "locationName": "NiftyCustomerGatewayDescription",
          "shape": "String"
        },
        "NiftyCustomerGatewayName": {
          "locationName": "NiftyCustomerGatewayName",
          "shape": "String"
        },
        "NiftyLanSideCidrBlock": {
          "locationName": "NiftyLanSideCidrBlock",
          "shape": "String"
        },
        "NiftyLanSideIpAddress": {
          "locationName": "NiftyLanSideIpAddress",
          "shape": "String"
        }
      },
      "name": "CreateCustomerGatewayRequest",
      "type": "structure"
    },
    "CreateCustomerGatewayResult": {
      "members": {
        "CustomerGateway": {
          "locationName": "customerGateway",
          "shape": "CustomerGateway"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        }
      },
      "name": "CreateCustomerGatewayResult",
      "type": "structure"
    },
    "CreateDhcpOptionsRequest": {
      "members": {
        "DhcpConfiguration": {
          "locationName": "DhcpConfiguration",
          "shape": "RequestDhcpConfiguration"
        }
      },
      "name": "CreateDhcpOptionsRequest",
      "type": "structure"
    },
    "CreateDhcpOptionsResult": {
      "members": {
        "DhcpOptions": {
          "locationName": "dhcpOptions",
          "shape": "DhcpOptions"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        }
      },
      "name": "CreateDhcpOptionsResult",
      "type": "structure"
    },
    "CreateImage": {
      "members": {
        "Charge": {
          "locationName": "charge",
          "shape": "Integer"
        },
        "Type": {
          "locationName": "type",
          "shape": "String"
        },
        "Unit": {
          "locationName": "unit",
          "shape": "String"
        },
        "Value": {
          "locationName": "value",
          "shape": "Integer"
        }
      },
      "name": "CreateImage",
      "type": "structure"
    },
    "CreateImageRequest": {
      "members": {
        "Description": {
          "locationName": "Description",
          "shape": "String"
        },
        "InstanceId": {
          "locationName": "InstanceId",
          "shape": "String"
        },
        "LeftInstance": {
          "locationName": "LeftInstance",
          "shape": "Boolean"
        },
        "Name": {
          "locationName": "Name",
          "shape": "String"
        },
        "Placement": {
          "locationName": "Placement",
          "shape": "RequestPlacementStruct"
        }
      },
      "name": "CreateImageRequest",
      "type": "structure"
    },
    "CreateImageResult": {
      "members": {
        "ImageId": {
          "locationName": "imageId",
          "shape": "String"
        },
        "ImageState": {
          "locationName": "imageState",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        }
      },
      "name": "CreateImageResult",
      "type": "structure"
    },
    "CreateKeyPairRequest": {
      "members": {
        "Description": {
          "locationName": "Description",
          "shape": "String"
        },
        "KeyName": {
          "locationName": "KeyName",
          "shape": "String"
        },
        "Password": {
          "locationName": "Password",
          "shape": "String"
        }
      },
      "name": "CreateKeyPairRequest",
      "type": "structure"
    },
    "CreateKeyPairResult": {
      "members": {
        "KeyFingerprint": {
          "locationName": "keyFingerprint",
          "shape": "String"
        },
        "KeyMaterial": {
          "locationName": "keyMaterial",
          "shape": "String"
        },
        "KeyName": {
          "locationName": "keyName",
          "shape": "String"
        },
        "RequestId": {
          "locationName": "requestId",
          "shape": "String"
        }
      },
[...]
